In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
ls

Astros_reg-Copy1.ipynb*  Astros_reg-Copy4.ipynb*  beat_geojson/  plot_func.py*
Astros_reg-Copy2.ipynb*  Astros_reg.ipynb*        data/          __pycache__/
Astros_reg-Copy3.ipynb*  Astros_viz.ipynb*        kmeans.ipynb*

In [3]:
path ='data/crime_astros_final.csv'

In [8]:
df = pd.read_csv(path)
df=df.rename(columns = {'Unnamed: 0':'date',
                       'Hour':'hour'})
df.hour = df.hour.astype(int)
df.day = df.day.astype(int)
df.year = df.year.astype(int)
df.date = pd.to_datetime(df.date)  # datetime index
df = df.set_index('date').sort_index(ascending=True)
df['game_on'] = np.where(df.game =='No Game',0,1)
df.drop(['game'],axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23947 entries, 2010-01-01 to 2017-12-31
Data columns (total 14 columns):
Beat            23947 non-null object
OffenseType     23947 non-null object
Premise         23947 non-null object
NumOffenses     23947 non-null float64
hour            23947 non-null int64
day             23947 non-null int64
weekday         23947 non-null object
month           23947 non-null object
year            23947 non-null int64
lat             23947 non-null float64
lon             23947 non-null float64
add             23947 non-null object
dist_stadium    23947 non-null float64
game_on         23947 non-null int64
dtypes: float64(4), int64(4), object(6)
memory usage: 3.4+ MB

In [19]:
df.head()

,Beat,OffenseType,Premise,NumOffenses,hour,day,weekday,month,year,lat,lon,add,dist_stadium,game_on
date,,,,,,,,,,,,,,
2010-01-01,1A10,Auto Theft,bar/night club parking lot,1.0,0,1,Friday,Jan,2010,29.757212,-95.353294,"350 Hamilton St, Houston, TX 77002, USA",0.137184,0
2010-01-01,1A10,Theft,bar/night club,1.0,0,1,Friday,Jan,2010,29.753512,-95.363811,"1250 Caroline St, Houston, TX 77002, USA",0.549562,0
2010-01-01,1A10,Burglary,office building,1.0,0,1,Friday,Jan,2010,29.760954,-95.362089,"450 S Main St, Houston, TX 77002, USA",0.480008,0
2010-01-01,1A10,Theft,other/unknown,1.0,0,1,Friday,Jan,2010,29.755595,-95.367677,"1250 Travis St, Houston, TX 77002, USA",0.734357,0
2010-01-01,1A10,Theft,convention center/exhibit halls,1.0,0,1,Friday,Jan,2010,29.752015,-95.359181,"1050 Avenida De Las Americas, Houston, TX 7701...",0.403381,0

In [23]:
games = df[['game_on']]
games.head()

            game_on
date
2010-01-01        0
2010-01-01        0
2010-01-01        0
2010-01-01        0
2010-01-01        0

In [49]:
games = 'sports_scores/astros_1A10.csv'

In [57]:
df = pd.read_csv(games,index_col='date').sort_index(ascending=True)

## win column
df['win'] =  np.where(df['team_score'] > df['opp_score'],1,0)

# only oposing name and win boolean
#df = df[['opposing','win']]
df = df[['win']]


# show

df.head()

            win
date
2010-04-05    0
2010-04-06    0
2010-04-07    0
2010-04-09    0
2010-04-10    0

## merge

In [61]:
 ww = pd.merge(test,df,  left_index=True, right_index=True, how='left')
ww.head()

            OffenseType  win
date
2010-01-01           18  NaN
2010-01-02           13  NaN
2010-01-03           12  NaN
2010-01-04            9  NaN
2010-01-05            8  NaN

In [62]:
ww.win.unique()

array([nan,  0.,  1.])

In [63]:
test = df.groupby(df.index)['OffenseType',].count()
test.info()
# wkday,win/lost/
# rand for/reg

# next time 17 next

KeyError: "Columns not found: 'OffenseType'"

In [64]:
test

            OffenseType
date
2010-01-01           18
2010-01-02           13
2010-01-03           12
2010-01-04            9
2010-01-05            8
2010-01-06            8
2010-01-07           10
2010-01-08           11
2010-01-09           15
2010-01-10           11
2010-01-11           10
2010-01-12            6
2010-01-13           10
2010-01-14            4
2010-01-15           15
2010-01-16            9
2010-01-17            9
2010-01-18           11
2010-01-19            5
2010-01-20            6
2010-01-21           11
2010-01-22           11
2010-01-23           12
2010-01-24           13
2010-01-25            9
2010-01-26           13
2010-01-27           10
2010-01-28            8
2010-01-29            8
2010-01-30            9
...                 ...
2017-12-02            9
2017-12-03            3
2017-12-04            7
2017-12-05            8
2017-12-06            9
2017-12-07            6
2017-12-08            9
2017-12-09            6
2017-12-10            5
2017-12-11           11
2017-12-12            3
2017-12-13            8
2017-12-14            5
2017-12-15           11
2017-12-16           14
2017-12-17           17
2017-12-18           11
2017-12-19           17
2017-12-20            9
2017-12-21           10
2017-12-22            9
2017-12-23            4
2017-12-24           12
2017-12-25            3
2017-12-26            8
2017-12-27            7
2017-12-28            7
2017-12-29            7
2017-12-30            4
2017-12-31            8

[2916 rows x 1 columns]

## Trim df

In [ ]:
print(list(df.columns))

In [ ]:
#df= df[[ 'OffenseType', 'hour', 'weekday', 'dist_stadium', 'game_on']]
df = df[[ 'OffenseType', 'hour', 'dist_stadium', 'game_on']]

In [ ]:
df.head()

In [ ]:
df.describe()

## TEST1

In [ ]:
one_mile =  df.dist_stadium <= 3.0
df = df[one_mile]

In [ ]:

# find distribution of target column / trying to predict
sns.distplot(df['dist_stadium'])

In [ ]:
df.corr()

In [ ]:

sns.heatmap(df.corr(),annot=True)

## Get dummies

In [ ]:
pd.get_dummies?

In [ ]:
dfdm = pd.get_dummies(df, drop_first=True)

In [ ]:
sns.heatmap(dfdm.corr(),annot=False)

In [ ]:
dfdm.head()

In [ ]:
df.head()

## Pairplot

In [ ]:
#sns.pairplot(dfdm)

In [ ]:
#dfdm.drop(['dist_stadium'],axis=1)
#dfdm['game_on']

In [ ]:
sns.lmplot(x='game_on',y='dist_stadium', data=dfdm)

In [ ]:
from sklearn.cross_validation import train_test_split

X = dfdm.drop(['dist_stadium'],axis=1)

y = dfdm['dist_stadium']

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                test_size=0.3,
                                random_state=42)

# train model

In [ ]:
from sklearn.linear_model import LinearRegression

# create a linear regression object
model =  LinearRegression()


# train fit model
model.fit(X_train,y_train)

# Evalueate model

In [ ]:
print(model.intercept_)
print(model.coef_)

## Create a dataframe from coeff

In [ ]:
coeff_df = pd.DataFrame(model.coef_,X.columns,columns=['Coefficient'])
coeff_df

## Predictions from our test

In [ ]:
predictions = model.predict(X_test)

## Pefrorm scatteplot

In [ ]:
plt.scatter(y_test,predictions)
plt.xlabel('Y Test (True Values)')
plt.ylabel('Predicted Y')
plt.show()

In [ ]:
# histogram of the residuals
sns.distplot((y_test - predictions),bins='auto')

## Calculate metrics

In [ ]:
from sklearn import metrics

## MAE
**Mean Absolute Error** (MAE) is the mean of the absolute value of the errors:
- mean of the absolute error
- take your error and take the absolute value of it and average it out.

$$\frac 1n\sum_{i=1}^n|y_i-\hat{y}_i|$$

In [ ]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))

In [ ]:
def L1(yHat, y):
    return np.sum(np.absolute(yHat - y))

L1(y_test,predictions)

# MSE

**Mean Squared Error** (MSE) is the mean of the squared errors:

- mean of the squared errors
- popular b/c it punish larger errors
- more usefull in the real world  because it takes into account larger b/c its square them.


$$\frac 1n\sum_{i=1}^n(y_i-\hat{y}_i)^2$$

In [ ]:
print('MSE:', metrics.mean_squared_error(y_test, predictions))

In [ ]:
def MSE(yHat, y):
    return np.sum((yHat - y)**2) / y.size

MSE(y_test,predictions)

# RMSE
**Root Mean Squared Error** (RMSE) is the square root of the mean of the squared errors:

$$\sqrt{\frac 1n\sum_{i=1}^n(y_i-\hat{y}_i)^2}$$

In [ ]:
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

## RSQ

In [ ]:
print('RSQ:', metrics.explained_variance_score(y_test, predictions))

In [ ]:
params = pd.Series(model.coef_, index=X.columns)
params

In [ ]:
from sklearn.utils import resample
np.random.seed(1)
err = np.std([model.fit(*resample(X, y)).coef_
              for i in range(1000)], 0)

In [ ]:
print(pd.DataFrame({'effect': params.round(0),
                    'error': err.round(0)}))