In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
ls

Astros_reg-Copy2.ipynb*  Astros_reg.ipynb*      beat_geojson/  plot_func.py*
Astros_reg-Copy3.ipynb*  Astros_viz.ipynb*      data/          __pycache__/
Astros_reg-Copy4.ipynb*  Astros_WORKINg.ipynb*  kmeans.ipynb*  sports_scores/

In [3]:
ls

Astros_reg-Copy2.ipynb*  Astros_reg.ipynb*      beat_geojson/  plot_func.py*
Astros_reg-Copy3.ipynb*  Astros_viz.ipynb*      data/          __pycache__/
Astros_reg-Copy4.ipynb*  Astros_WORKINg.ipynb*  kmeans.ipynb*  sports_scores/

In [4]:
path ='data/crime_astros_final.csv'

In [5]:
df = pd.read_csv(path)
df=df.rename(columns = {'Unnamed: 0':'date',
                       'Hour':'hour'})
df.hour = df.hour.astype(int)
df.day = df.day.astype(int)
df.year = df.year.astype(int)
df.date = pd.to_datetime(df.date)  # datetime index
#df = df.set_index('date').sort_index(ascending=True)
df['game_on'] = np.where(df.game =='No Game',0,1)
df.drop(['game'],axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23947 entries, 0 to 23946
Data columns (total 15 columns):
date            23947 non-null datetime64[ns]
Beat            23947 non-null object
OffenseType     23947 non-null object
Premise         23947 non-null object
NumOffenses     23947 non-null float64
hour            23947 non-null int64
day             23947 non-null int64
weekday         23947 non-null object
month           23947 non-null object
year            23947 non-null int64
lat             23947 non-null float64
lon             23947 non-null float64
add             23947 non-null object
dist_stadium    23947 non-null float64
game_on         23947 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(4), object(6)
memory usage: 2.7+ MB

In [6]:
df.head(2)

,date,Beat,OffenseType,Premise,NumOffenses,hour,day,weekday,month,year,lat,lon,add,dist_stadium,game_on
0,2010-01-01,1A10,Auto Theft,bar/night club parking lot,1.0,0,1,Friday,Jan,2010,29.757212,-95.353294,"350 Hamilton St, Houston, TX 77002, USA",0.137184,0
1,2010-01-01,1A10,Theft,bar/night club,1.0,0,1,Friday,Jan,2010,29.753512,-95.363811,"1250 Caroline St, Houston, TX 77002, USA",0.549562,0

## Trim df

In [7]:
print(list(df.columns))

['date', 'Beat', 'OffenseType', 'Premise', 'NumOffenses', 'hour', 'day', 'weekday', 'month', 'year', 'lat', 'lon', 'add', 'dist_stadium', 'game_on']

In [8]:
df1 = df[['dist_stadium', 'game_on']]

In [9]:
df1

       dist_stadium  game_on
0          0.137184        0
1          0.549562        0
2          0.480008        0
3          0.734357        0
4          0.403381        0
5          0.617517        0
6          0.513569        0
7          0.286270        0
8          0.734357        0
9          0.513569        0
10         0.688051        0
11         1.646844        0
12         0.464100        0
13         0.484864        0
14         0.484864        0
15         1.293373        0
16         0.352089        0
17         0.833475        0
18         0.770779        0
19         0.589988        0
20         0.734357        0
21         0.484539        0
22         0.734357        0
23         0.403381        0
24         0.479434        0
25         0.856047        0
26         0.301551        0
27         0.399452        0
28         0.560088        0
29         1.150279        0
...             ...      ...
23917     18.910601        0
23918      2.628923        0
23919      0.902945        0
23920      0.315227        0
23921      0.209963        0
23922      0.537568        0
23923      1.079949        0
23924      1.463465        0
23925      0.852013        0
23926      7.236403        0
23927      0.833475        0
23928      0.856047        0
23929      0.592771        0
23930      7.348322        0
23931      5.751672        0
23932      0.547409        0
23933      1.044944        0
23934      0.735014        0
23935     22.639994        0
23936      0.896988        0
23937      0.852013        0
23938     12.171158        0
23939      0.470373        0
23940      1.049378        0
23941     11.425112        0
23942      0.704084        0
23943      0.839089        0
23944      0.477558        0
23945     13.060760        0
23946      1.853094        0

[23947 rows x 2 columns]

## TEST1

In [ ]:
one_mile =  df1.dist_stadium <= 1.0
df1m = df1[one_mile]

In [ ]:

# find distribution of target column / trying to predict

sns.distplot(df1m['dist_stadium'])

In [ ]:
df1m.corr()

In [ ]:
sns.heatmap(df1m.corr(),annot=True)

## Pairplot

In [ ]:
sns.pairplot(df1m)

In [ ]:
sns.lmplot(x='game_on',y='dist_stadium', data=df1m)

In [ ]:
from sklearn.cross_validation import train_test_split

X = df1m[['dist_stadium']]

y = df1m['game_on']

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                test_size=0.3,
                                random_state=42)

# train model

In [ ]:
from sklearn.linear_model import LinearRegression

# create a linear regression object
model =  LinearRegression()


# train fit model
model.fit(X_train,y_train)

# Evalueate model

In [ ]:
print(model.intercept_)
print(model.coef_)

## Create a dataframe from coeff

In [ ]:
coeff_df = pd.DataFrame(model.coef_,X.columns,columns=['Coefficient'])
coeff_df

## Predictions from our test

In [ ]:
predictions = model.predict(X_test)

## Pefrorm scatteplot

In [ ]:
plt.scatter(y_test,predictions)
plt.xlabel('Y Test (True Values)')
plt.ylabel('Predicted Y')
plt.show()

In [ ]:
# histogram of the residuals
sns.distplot((y_test - predictions),bins='auto')

## Calculate metrics

In [ ]:
from sklearn import metrics

## MAE
**Mean Absolute Error** (MAE) is the mean of the absolute value of the errors:
- mean of the absolute error
- take your error and take the absolute value of it and average it out.

$$\frac 1n\sum_{i=1}^n|y_i-\hat{y}_i|$$

In [ ]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))

In [ ]:
def L1(yHat, y):
    return np.sum(np.absolute(yHat - y))

L1(predictions,y_test)

# MSE

**Mean Squared Error** (MSE) is the mean of the squared errors:

- mean of the squared errors
- popular b/c it punish larger errors
- more usefull in the real world  because it takes into account larger b/c its square them.


$$\frac 1n\sum_{i=1}^n(y_i-\hat{y}_i)^2$$

In [ ]:
print('MSE:', metrics.mean_squared_error(y_test, predictions))

In [ ]:
def MSE(yHat, y):
    return np.sum((yHat - y)**2) / y.size

MSE(y_test,predictions)

# RMSE
**Root Mean Squared Error** (RMSE) is the square root of the mean of the squared errors:

$$\sqrt{\frac 1n\sum_{i=1}^n(y_i-\hat{y}_i)^2}$$

In [ ]:
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

## RSQ

In [ ]:
print('RSQ:', metrics.explained_variance_score(y_test, predictions))