In [1]:
import pandas as pd
import glob, os
import numpy as np
import datetime as dt
import seaborn as sns

In [2]:
ls

crime_clean/  Crime_years_merge.ipynb*

In [3]:
ls crime_clean/

crime10_clean.csv*  crime12_clean.csv*  crime14_clean.csv*  crime16_clean.csv*
crime11_clean.csv*  crime13_clean.csv*  crime15_clean.csv*  crime17_clean.csv*

In [4]:
path = 'crime_clean/'

In [5]:
all_files = glob.glob(os.path.join(path, "*.csv")) 

df_from_each_file = (pd.read_csv(f) for f in all_files)
df   = pd.concat(df_from_each_file, ignore_index=True)

In [6]:
df.Date = pd.to_datetime(df.Date)
df = df.set_index('Date').sort_index(ascending=True)

In [7]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date,,,,,,,,,,,
1914-09-08,24C60,12700-12799,lake houston,Burglary,restaurant or cafeteria,1.0,7.0,8,Tuesday,Sep,1914
1914-11-02,18F60,8800-8899,bellaire,Burglary,miscellaneous business (non-specific),1.0,3.0,2,Monday,Nov,1914
1914-12-03,12D20,12800-12899,gulf,Auto Theft,none,1.0,19.0,3,Thursday,Dec,1914
1915-01-05,3B10,3200-3299,mangum rd 180,Theft,other parking lot,1.0,22.0,5,Tuesday,Jan,1915
1915-01-14,5F10,7000-7099,westview,Auto Theft,apartment parking lot,1.0,23.0,14,Thursday,Jan,1915

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1006326 entries, 1914-09-08 to 2033-04-21
Data columns (total 11 columns):
Beat           1006326 non-null object
BlockRange     1006326 non-null object
StreetName     1006319 non-null object
OffenseType    1006326 non-null object
Premise        1006326 non-null object
NumOffenses    1006326 non-null float64
Hour           1006326 non-null float64
day            1006326 non-null int64
weekday        1006326 non-null object
month          1006326 non-null object
year           1006326 non-null int64
dtypes: float64(2), int64(2), object(7)
memory usage: 92.1+ MB

## Check for null values

In [ ]:
sns.heatmap(df.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
df.apply(lambda x: sum(x.isnull()))

## year column

In [ ]:
df.year.unique()

## Slice year from 2010 - 2017

In [11]:
df = df['1/1/2010':'12/31/2017']

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1003745 entries, 2010-01-01 to 2017-12-31
Data columns (total 11 columns):
Beat           1003745 non-null object
BlockRange     1003745 non-null object
StreetName     1003738 non-null object
OffenseType    1003745 non-null object
Premise        1003745 non-null object
NumOffenses    1003745 non-null float64
Hour           1003745 non-null float64
day            1003745 non-null int64
weekday        1003745 non-null object
month          1003745 non-null object
year           1003745 non-null int64
dtypes: float64(2), int64(2), object(7)
memory usage: 91.9+ MB

In [ ]:
df.head()

In [ ]:
df.apply(lambda x: sum(x.isnull()))

In [ ]:
df.dtypes

## Select Beats

- 10H10
- 10H30
- 10H40
- 10H50
- 10H60
- 10H70
- 10H80
- 15E40
- 1A10

In [13]:
beats = ['10H10','10H30', '10H40', '10H50', '10H60','10H70', '10H80', '15E40', '1A10']

In [14]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date,,,,,,,,,,,
2010-01-01,15E30,4200-4299,willowbend,Theft,field/woods,1.0,0.0,1,Friday,Jan,2010
2010-01-01,6B20,3700-3799,pinemont,Rape,apartment,1.0,12.0,1,Friday,Jan,2010
2010-01-01,4F20,2900-2999,gessner,Theft,apartment,1.0,10.0,1,Friday,Jan,2010
2010-01-01,20G30,3400-3499,walnut bend,Theft,apartment,1.0,14.0,1,Friday,Jan,2010
2010-01-01,17E30,9700-9799,gessner,Burglary,apartment,1.0,22.0,1,Friday,Jan,2010

In [15]:
df.Beat.value_counts(dropna=False)

19G10    21422
12D10    21242
1A20     20938
6B60     20067
13D20    19135
3B10     18199
18F20    17541
17E10    17454
5F30     16491
18F30    16482
18F40    16452
15E40    16386
1A30     16375
14D20    16076
20G30    15623
20G50    15479
2A50     15379
1A10     15325
17E40    15253
1A50     14919
6B10     14378
18F50    14308
5F40     14063
7C20     13873
9C40     13373
3B50     12889
6B30     12852
2A30     12800
20G10    12780
19G40    11925
         ...
24C10     2564
24C50     2463
24C30     2412
1A40      2344
24C20     2338
9C10      2270
12D50     2142
18F10     2070
11H40     2022
21I50     1976
21I10     1202
13D30     1022
24C40     1003
23J50      935
24C60      745
21I30      525
21I60      386
21I20      266
21I70      155
21I40      106
HCSO        68
OOJ         41
23J40       27
Theft       16
23J30       12
UH-3P        6
23J20        3
23J10        2
3B20         1
7C60         1
Name: Beat, Length: 128, dtype: int64

In [16]:
selected_beats = df.Beat.isin(beats)

In [ ]:
selected_beats.head()

## Split selected beats and save

In [20]:
df_sb = df[selected_beatsected_beats]

In [21]:
df_sb.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85259 entries, 2010-01-01 to 2017-12-31
Data columns (total 11 columns):
Beat           85259 non-null object
BlockRange     85259 non-null object
StreetName     85259 non-null object
OffenseType    85259 non-null object
Premise        85259 non-null object
NumOffenses    85259 non-null float64
Hour           85259 non-null float64
day            85259 non-null int64
weekday        85259 non-null object
month          85259 non-null object
year           85259 non-null int64
dtypes: float64(2), int64(2), object(7)
memory usage: 7.8+ MB

In [22]:
df_sb.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date,,,,,,,,,,,
2010-01-01,10H30,1700-1799,hutchins,Theft,residence/house,1.0,20.0,1,Friday,Jan,2010
2010-01-01,10H10,500-599,eastwood,Burglary,misc. business (non-specific),1.0,0.0,1,Friday,Jan,2010
2010-01-01,10H10,1900-1999,runnels,Burglary,apartment,1.0,17.0,1,Friday,Jan,2010
2010-01-01,1A10,700-799,main,Theft,bar/night club parking lot,1.0,2.0,1,Friday,Jan,2010
2010-01-01,1A10,1200-1299,caroline,Theft,bar/night club,1.0,0.0,1,Friday,Jan,2010

In [23]:
df_sb.Beat.value_counts()

15E40    16386
1A10     15325
10H70    11423
10H40    10460
10H50     8017
10H60     7697
10H80     7481
10H30     4398
10H10     4072
Name: Beat, dtype: int64

In [26]:
print(list(df_sb.Beat.unique()))

['10H30', '10H10', '1A10', '10H40', '10H60', '10H50', '15E40', '10H70', '10H80']

In [42]:
beat_10H30 = df_sb[df_sb.Beat == '10H30']
beat_10H10 = df_sb[df_sb.Beat == '10H10']
beat_1A10 = df_sb[df_sb.Beat == '1A10']
beat_10H40 = df_sb[df_sb.Beat == '10H40']
beat_15E40 = df_sb[df_sb.Beat == '15H40']
beat_10H50 = df_sb[df_sb.Beat == '10H50']
beat_10H60 = df_sb[df_sb.Beat == '10H60']
beat_10H70 = df_sb[df_sb.Beat == '10H70']
beat_10H80 =  df_sb[df_sb.Beat == '10H80']

In [47]:
beat_10H10.to_csv('crime_clean/beat_10H10.csv')

In [43]:
beat_10H30.to_csv('crime_clean/beat_10H30.csv')

In [44]:
beat_10H40.to_csv('crime_clean/beat_10H40.csv')

In [45]:
beat_10H50.to_csv('crime_clean/beat_10H50.csv')

In [46]:
beat_10H60.to_csv('crime_clean/beat_10H60.csv')

In [48]:
beat_10H70.to_csv('crime_clean/beat_10H70.csv')

In [49]:
beat_10H80.to_csv('crime_clean/beat_10H80.csv')

In [50]:
beat_15E40.to_csv('crime_clean/beat_15E40.csv')

In [51]:
beat_1A10.to_csv('crime_clean/beat_1A10.csv')

In [52]:
ls crime_clean/

beat_10H10.csv*  beat_10H70.csv*     crime11_clean.csv*  crime16_clean.csv*
beat_10H30.csv*  beat_10H80.csv*     crime12_clean.csv*  crime17_clean.csv*
beat_10H40.csv*  beat_15E40.csv*     crime13_clean.csv*
beat_10H50.csv*  beat_1A10.csv*      crime14_clean.csv*
beat_10H60.csv*  crime10_clean.csv*  crime15_clean.csv*