## Sports Crime merge

In [9]:
import pandas as pd
import numpy as np
import glob, os


import warnings
warnings.filterwarnings('ignore')

In [3]:
ls beat_crime/

beat_10H10.csv*  beat_10H50.csv*  beat_10H80.csv*
beat_10H30.csv*  beat_10H60.csv*  beat_15E40.csv*
beat_10H40.csv*  beat_10H70.csv*  beat_1A10.csv*

In [5]:
ls sports_clean/

astros_clean.csv*  Rice_clean.csv*     texans_clean.csv*
dynamo_clean.csv*  rockets_clean.csv*  UH_clean.csv*

## Toyotoa Center

### beats
    - 1A10
    - 10H30
    - 10H40
    - 10H50

In [11]:
path = 'beat_crime/'

In [15]:
## load all beat files
# combine all files into one df
all_files = glob.glob(os.path.join(path, "*.csv")) 
df_from_each_file = (pd.read_csv(f) for f in all_files)
df   = pd.concat(df_from_each_file, ignore_index=True)
df = df.set_index('Date').sort_index(ascending=True)
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date,,,,,,,,,,,
2010-01-01,10H10,1900-1999,runnels,Theft,road/street/sidewalk,1.0,20.0,1,Friday,Jan,2010
2010-01-01,10H40,2400-2499,san jacinto,Theft,bar/night club,1.0,1.0,1,Friday,Jan,2010
2010-01-01,10H60,3500-3599,macgregor,Theft,apartment,1.0,0.0,1,Friday,Jan,2010
2010-01-01,10H60,3700-3799,odin,Theft,apartment,1.0,6.0,1,Friday,Jan,2010
2010-01-01,10H60,2500-2599,southmore,Burglary,apartment,1.0,0.0,1,Friday,Jan,2010

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 137746 entries, 2010-01-01 to 2017-12-31
Data columns (total 11 columns):
Beat           137746 non-null object
BlockRange     137746 non-null object
StreetName     137746 non-null object
OffenseType    137746 non-null object
Premise        137746 non-null object
NumOffenses    137746 non-null float64
Hour           137746 non-null float64
day            137746 non-null object
weekday        137746 non-null object
month          137746 non-null object
year           137746 non-null object
dtypes: float64(2), object(9)
memory usage: 12.6+ MB

## Split crime  based on beats surrounding stadium

In [30]:
toyota_center = ['1A10', '10H30', '10H40', '10H50']
tdecu = ['10H50','10H60']
rice = ['10H80','10H70']
nrg = ['15E40']
mm_park = ['1A10', '10H30', '10H10']
bbva =  ['1A10', '10H30', '10H10']  # share beats with  mm park

filters for each stadium and police beat

In [31]:
toyota_center_crime = df.Beat.isin(toyota_center)
tdecu_crime = df.Beat.isin(tdecu)
rice_stadium_crime = df.Beat.isin(rice)
nrg_crime = df.Beat.isin(nrg)
mm_park_crime = df.Beat.isin(mm_park)
bbva_crime = df.Beat.isin(bbva)

## Basketball team: Houston Rockets,
## Stadium : Toyota Center

In [37]:
tc_df = df[toyota_center_crime]

In [39]:
tc_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76400 entries, 2010-01-01 to 2017-12-31
Data columns (total 11 columns):
Beat           76400 non-null object
BlockRange     76400 non-null object
StreetName     76400 non-null object
OffenseType    76400 non-null object
Premise        76400 non-null object
NumOffenses    76400 non-null float64
Hour           76400 non-null float64
day            76400 non-null object
weekday        76400 non-null object
month          76400 non-null object
year           76400 non-null object
dtypes: float64(2), object(9)
memory usage: 7.0+ MB

In [40]:
tc_df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date,,,,,,,,,,,
2010-01-01,10H40,2400-2499,san jacinto,Theft,bar/night club,1.0,1.0,1,Friday,Jan,2010
2010-01-01,10H50,3100-3199,ennis,Aggravated Assault,road/street/sidewalk,1.0,18.0,1,Friday,Jan,2010
2010-01-01,10H50,3400-3499,rosalie,Aggravated Assault,"multi-plex hme(duplex,triplex etc)",1.0,21.0,1,Friday,Jan,2010
2010-01-01,10H50,3100-3199,ennis,Aggravated Assault,road/street/sidewalk,1.0,18.0,1,Friday,Jan,2010
2010-01-01,10H50,3400-3499,rosalie,Theft,residence/house,1.0,12.0,1,Friday,Jan,2010

In [44]:
games = 'sports_clean/rockets_clean.csv'

In [52]:
df = pd.read_csv(games,index_col='Date').sort_index(ascending=True)


## filter days between 2010 and 2017
df = df.ix['2010-01-01':'2017-12-31']

## win column
df['win'] =  np.where(df['Team_score'] > df['Opponent_score'],1,0)

# only oposing name and win boolean
df = df[['win']]

# show

df.head()

            win
Date
2010-01-09    1
2010-01-13    1
2010-01-15    0
2010-01-18    1
2010-01-23    0

## Days Dataframe

Create a df with dates from 2010 to 2017

In [53]:
days = pd.date_range(start='01/01/2010', end='12/30/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)

days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]