In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
ls data/sports_scores/

In [ ]:
ls data/crime_beat/

In [ ]:
# # Astros
# games = 'data/sports_scores/astros_1A10.csv'
# crime = 'data/crime_beat/crime_1A10_10_17.csv'
# sport = 'MLB'

In [ ]:
# # Dynamo
# games = 'data/sports_scores/dynamo_10H30.csv'
# crime = 'data/crime_beat/crime_10H30_10_17.csv'
# sport = 'MLS'

In [ ]:
# # Rice
# games = 'data/sports_scores/Rice_10H80.csv'
# crime = 'data/crime_beat/crime_10H80_10_17.csv'
# sport = 'CFB'

In [ ]:
# # Rockets
# games = 'data/sports_scores/rockets_1A10.csv'
# crime = 'data/crime_beat/crime_1A10_10_17.csv'
# sport = 'NBA'

In [ ]:
# # Texans
# games = 'data/sports_scores/Tex_15E40.csv'
# crime = 'data/crime_beat/crime_15E40_10_17.csv'
# sport = 'NFL'

In [2]:
# UH
games = 'data/sports_scores/UH_10H50.csv'

crime = 'data/crime_beat/crime_10H50_10_17.csv'
sport = 'CFB'

# scores df

In [5]:
# # df = pd.read_csv(games,index_col=0,parse_dates=True).sort_index(ascending=True)



# # ## win column
# # df['win'] =  np.where(df['team_score'] > df['opp_score'],1,0)

# # # only oposing name and win boolean
# # df = df[['win','beat']]

# # # bb = str(df['beat'].unique()[0])
# # # # show

# # # df.head()
# # ## win column
# # # df['win'] =  np.where(df['home_score'] > df['away_score'],1,0)

# # # # only oposing name and win boolean
# # # df = df[['win','beat']]

# # # # show

# # df.head()
# df = pd.read_csv(games,index_col='Date').sort_index(ascending=True)

# ## win column
# df['win'] =  np.where(df['Pts'] > df['Opp'],1,0)

# # only oposing name and win boolean
# # df = df[['Opponent','win','beat']]
# df = df[['win','beat']]

# # show

# # df.head()
# df = pd.read_csv(games,index_col='Date').sort_index(ascending=True)

# ## win column
# df['win'] =  np.where(df['Team_score'] > df['Opponent_score'],1,0)

# # only oposing name and win boolean
# df = df[['win','beat']]

# # show

# df.head()

df = pd.read_csv(games)


# ## split date and time from column scheduled
# s_date = pd.DatetimeIndex(df['scheduled'])
# df['Date'] = s_date.date
# df['time'] = s_date.time
# del df['scheduled']

# # set date as datetime and index
# df.Date = pd.to_datetime(df.Date)
# df = df.set_index('Date').sort_index(ascending=True)






# ## win column
# df['win'] =  np.where(df['scoring.home_points'] > df['scoring.away_points'],1,0)

# # only oposing name and win boolean
# df = df[['win','beat']]
# df['beat'] = '15E40'
# # show

# df.head()

df = pd.read_csv(games,index_col='Date').sort_index(ascending=True)

## win column
df['win'] =  np.where(df['Pts'] > df['Opp'],1,0)

# only oposing name and win boolean
df = df[['win','beat']]

# show

df.head()

            win   beat
Date
2010-09-04    1  10H50
2010-09-10    1  10H50
2010-09-25    1  10H50
2010-10-09    0  10H50
2010-11-05    0  10H50

In [6]:
bb = str(df['beat'].unique()[0])
bb

'10H50'

# Crime df

In [7]:
crime_df = pd.read_csv(crime).sort_index(ascending=True)

crime_df['Date_Hour'] = pd.to_datetime(crime_df['Date_Hour'])
crime_df['Date_Hour'] = crime_df['Date_Hour'].dt.date

crime_df = crime_df.set_index('Date_Hour')


# # selectd columns
crime_df = crime_df[['OffenseType']]

# count Offense type given date
date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()

## show
date_crimes.head()

            OffenseType
Date_Hour
2010-01-01            5
2010-01-03            1
2010-01-04            6
2010-01-05            1
2010-01-06            2

# Days Df
- create a df with everyday timestamp from Jan 2010 to Dec 2017

In [8]:
days = pd.date_range(start='01/01/2010', end='12/31/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)
days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

# Merge days df with crimes_df

In [9]:
calendar_crimes = pd.merge(days,date_crimes,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

            OffenseType
days
2010-01-01          5.0
2010-01-02          NaN
2010-01-03          1.0
2010-01-04          6.0
2010-01-05          1.0

In [10]:
calendar_crimes.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 1 columns):
OffenseType    2714 non-null float64
dtypes: float64(1)
memory usage: 125.7 KB

In [11]:
calendar_crimes.OffenseType.value_counts(dropna=False)[:10]

 2.0     707
 3.0     598
 1.0     551
 4.0     416
 5.0     224
NaN      208
 6.0     129
 7.0      46
 8.0      28
 9.0       7
 12.0      3
 10.0      3
Name: OffenseType, dtype: int64

## Change nans with 0

In [12]:
calendar_crimes.OffenseType.replace( np.nan,0, inplace=True)

In [13]:
calendar_crimes.OffenseType.value_counts(dropna=False)[:10]

2.0     707
3.0     598
1.0     551
4.0     416
5.0     224
0.0     208
6.0     129
7.0      46
8.0      28
9.0       7
12.0      3
10.0      3
Name: OffenseType, dtype: int64

In [14]:
calendar_crimes.head()

            OffenseType
days
2010-01-01          5.0
2010-01-02          0.0
2010-01-03          1.0
2010-01-04          6.0
2010-01-05          1.0

# merge calendar_crimes with score

In [15]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')
merge_data.index.rename('days', inplace=True)

In [16]:
merge_data.head()

            OffenseType  win beat
days
2010-01-01          5.0  NaN  NaN
2010-01-02          0.0  NaN  NaN
2010-01-03          1.0  NaN  NaN
2010-01-04          6.0  NaN  NaN
2010-01-05          1.0  NaN  NaN

## Change nan value on beat to beat value

In [17]:
merge_data.beat.value_counts(dropna=False)

NaN      2873
10H50      49
Name: beat, dtype: int64

In [18]:
merge_data.beat.replace( np.nan,bb, inplace=True)

In [19]:
merge_data.beat.value_counts(dropna=False)

10H50    2922
Name: beat, dtype: int64

## Cleanup colums

In [20]:
merge_data.columns  = ['crime', 'win','beat']

In [21]:
merge_data.head()

            crime  win   beat
days
2010-01-01    5.0  NaN  10H50
2010-01-02    0.0  NaN  10H50
2010-01-03    1.0  NaN  10H50
2010-01-04    6.0  NaN  10H50
2010-01-05    1.0  NaN  10H50

In [22]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 3 columns):
crime    2922 non-null float64
win      49 non-null float64
beat     2922 non-null object
dtypes: float64(2), object(1)
memory usage: 171.3+ KB

In [23]:
merge_data.crime.value_counts(dropna=False)[:10]

2.0     707
3.0     598
1.0     551
4.0     416
5.0     224
0.0     208
6.0     129
7.0      46
8.0      28
9.0       7
12.0      3
10.0      3
Name: crime, dtype: int64

In [24]:
merge_data.crime = merge_data.crime.astype(int)

In [25]:
merge_data.crime.value_counts(dropna=False)[:10]

2    707
3    598
1    551
4    416
5    224
0    208
6    129
7     46
8     28
9      7
Name: crime, dtype: int64

In [26]:
merge_data.head()

            crime  win   beat
days
2010-01-01      5  NaN  10H50
2010-01-02      0  NaN  10H50
2010-01-03      1  NaN  10H50
2010-01-04      6  NaN  10H50
2010-01-05      1  NaN  10H50

In [27]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 3 columns):
crime    2922 non-null int64
win      49 non-null float64
beat     2922 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 171.3+ KB

# Display non-nans

In [28]:
#merge_data.dropna(subset=['win'])

## Add sport col

In [29]:
merge_data['sport'] = sport

In [30]:
merge_data.head()

            crime  win   beat sport
days
2010-01-01      5  NaN  10H50   CFB
2010-01-02      0  NaN  10H50   CFB
2010-01-03      1  NaN  10H50   CFB
2010-01-04      6  NaN  10H50   CFB
2010-01-05      1  NaN  10H50   CFB

In [31]:
#merge_data = merge_data[['crime','won','beat', 'sport']]

In [32]:
def game_feature(df,*args):
    if df.win == 1:
        val = 'Won_{}'.format(sport)
    elif df.win == 0:
        val = 'Lost_{}'.format(sport)
    else:
        val = 'None_{}'.format(sport)
    return val

merge_data['game'] = merge_data.apply(game_feature,args=(sport,),axis=1)

In [33]:
merge_data.head()

            crime  win   beat sport      game
days
2010-01-01      5  NaN  10H50   CFB  None_CFB
2010-01-02      0  NaN  10H50   CFB  None_CFB
2010-01-03      1  NaN  10H50   CFB  None_CFB
2010-01-04      6  NaN  10H50   CFB  None_CFB
2010-01-05      1  NaN  10H50   CFB  None_CFB

In [34]:
merge_data.win.value_counts(dropna=False)

NaN     2873
 1.0      37
 0.0      12
Name: win, dtype: int64

In [35]:
merge_data.game.value_counts(dropna=False)

None_CFB    2873
Won_CFB       37
Lost_CFB      12
Name: game, dtype: int64

In [36]:
merge_data = merge_data[['crime','beat','sport','game']]

In [37]:
#merge_data.to_csv('data/final/redo_Astros1017_final.csv')

In [38]:
merge_data.head()
merge_data.columns = ['crime','beat','sports','game']

In [39]:
merge_data.head()

            crime   beat sports      game
days
2010-01-01      5  10H50    CFB  None_CFB
2010-01-02      0  10H50    CFB  None_CFB
2010-01-03      1  10H50    CFB  None_CFB
2010-01-04      6  10H50    CFB  None_CFB
2010-01-05      1  10H50    CFB  None_CFB

In [40]:
mlb = merge_data.add_prefix('{}_'.format(bb))
mlb.head()

            10H50_crime 10H50_beat 10H50_sports 10H50_game
days
2010-01-01            5      10H50          CFB   None_CFB
2010-01-02            0      10H50          CFB   None_CFB
2010-01-03            1      10H50          CFB   None_CFB
2010-01-04            6      10H50          CFB   None_CFB
2010-01-05            1      10H50          CFB   None_CFB

In [41]:
#pd.get_dummies(dd)
mlb.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 4 columns):
10H50_crime     2922 non-null int64
10H50_beat      2922 non-null object
10H50_sports    2922 non-null object
10H50_game      2922 non-null object
dtypes: int64(1), object(3)
memory usage: 114.1+ KB

In [46]:
#merge_data.add_prefix('1A10_')
#pd.get_dummies(mlb)

In [42]:
mlb.head()

            10H50_crime 10H50_beat 10H50_sports 10H50_game
days
2010-01-01            5      10H50          CFB   None_CFB
2010-01-02            0      10H50          CFB   None_CFB
2010-01-03            1      10H50          CFB   None_CFB
2010-01-04            6      10H50          CFB   None_CFB
2010-01-05            1      10H50          CFB   None_CFB

In [43]:
save = 'data/ready/UH{}.csv'.format(sport)
save

'data/ready/UHCFB.csv'

In [47]:
mlb.to_csv(save)

In [48]:
ls data/ready/

Astros_clean.csv*        DUMMY_Rockets_final.csv*  NFL.csv*
bas.csv*                 DUMMY_Texans_final.csv*   Rice_clean.csv*
bkb.csv*                 DUMMY_UH_final.csv*       Rockets_clean.csv*
cfbRU.csv*               dynamo_clean.csv*         soc.csv*
cfbUH.csv*               fb.csv*                   Texans_clean.csv*
DUMMY_Astros_final.csv*  MLB.csv*                  UHCFB.csv*
DUMMY_Dynamo_final.csv*  MLS.csv*                  UH_clean.csv*
DUMMY_Rice_final.csv*    NBA.csv*

In [49]:
tt = pd.read_csv(save, index_col='days',parse_dates=True).head()
tt

            10H50_crime 10H50_beat 10H50_sports 10H50_game
days
2010-01-01            5      10H50          CFB   None_CFB
2010-01-02            0      10H50          CFB   None_CFB
2010-01-03            1      10H50          CFB   None_CFB
2010-01-04            6      10H50          CFB   None_CFB
2010-01-05            1      10H50          CFB   None_CFB