In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns

In [2]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [3]:
ls data/crime_beat/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [4]:
games = 'data/sports_scores/astros_1A10.csv'
crime = 'data/crime_beat/crime_1A10_10_17.csv'

# scores df

In [5]:
df = pd.read_csv(games,index_col='date').sort_index(ascending=True)

## win column
df['win'] =  np.where(df['team_score'] > df['opp_score'],1,0)

# only oposing name and win boolean
df = df[['win','beat']]

# show

df.head()

            win  beat
date
2010-04-05    0  1A10
2010-04-06    0  1A10
2010-04-07    0  1A10
2010-04-09    0  1A10
2010-04-10    0  1A10

In [ ]:
df[df.win.isnull()]

In [ ]:
df[df.beat.isnull()]

# Crime df

In [6]:
# crime_df = pd.read_csv(crime).sort_index(ascending=True)

# crime_df['Date_Hour'] = pd.to_datetime(crime_df['Date_Hour'])
# crime_df['Date_Hour'] = crime_df['Date_Hour'].dt.date

# crime_df = crime_df.set_index('Date_Hour')


# # selectd columns
# crime_df = crime_df[['OffenseType']]

# # count Offense type given date
# date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()

# ## show
# date_crimes.head()




crime_df = pd.read_csv(crime).sort_index(ascending=True)

crime_df['Date_Hour'] = pd.to_datetime(crime_df['Date_Hour'])
crime_df['Date_Hour'] = crime_df['Date_Hour'].dt.date

crime_df = crime_df.set_index('Date_Hour')


# # selectd columns
crime_df = crime_df[['OffenseType','Hour']]

# # count Offense type given date
# date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()

# ## show
# date_crimes.head()












crime_df.head()

           OffenseType  Hour
Date_Hour
2010-01-01  Auto Theft     0
2010-01-01       Theft     0
2010-01-01    Burglary     0
2010-01-01       Theft     0
2010-01-01       Theft     0

In [7]:
crime_df[crime_df.OffenseType.isnull()]

Empty DataFrame
Columns: [OffenseType, Hour]
Index: []

In [8]:
crime_df[crime_df.Hour.isnull()]

Empty DataFrame
Columns: [OffenseType, Hour]
Index: []

In [ ]:
crime_dum = pd.get_dummies(crime_df)

In [ ]:
crime_dum.head()

# Days Df
- create a df with everyday timestamp from Jan 2010 to Dec 2017

In [9]:
days = pd.date_range(start='01/01/2010', end='12/31/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)
days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

In [10]:
365 * 8

2920

In [11]:
len(days)/365

8.005479452054795

In [12]:
days.tail()

Empty DataFrame
Columns: []
Index: [2017-12-27 00:00:00, 2017-12-28 00:00:00, 2017-12-29 00:00:00, 2017-12-30 00:00:00, 2017-12-31 00:00:00]

# Merge days df with crimes_df

In [13]:
calendar_crimes = pd.merge(days,crime_dum,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

NameError: name 'crime_dum' is not defined

In [14]:
calendar_crimes.info()

NameError: name 'calendar_crimes' is not defined

In [ ]:
    len(calendar_crimes[calendar_crimes.Hour.isnull()])

In [ ]:
calendar_crimes[calendar_crimes.Hour.isnull()][:10]

In [ ]:
calendar_crimes.OffenseType.value_counts(dropna=False)

## Change nans with 0

In [ ]:
calendar_crimes.OffenseType.replace( np.nan,0, inplace=True)

In [ ]:
calendar_crimes.OffenseType.value_counts(dropna=False)

In [ ]:
calendar_crimes

# merge calendar_crimes with score

In [ ]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')

# change column names
#merge_data.columns = ['offenses','away_team','win']

merge_data.info()

In [ ]:
merge_data.head()

## Change nan value on beat to beat value

In [ ]:
merge_data.beat.value_counts(dropna=False)

In [ ]:
merge_data.beat.replace( np.nan,'1A10', inplace=True)

In [ ]:
merge_data.beat.value_counts(dropna=False)

## Cleanup colums

In [ ]:
merge_data.head()

In [ ]:
merge_data.win.value_counts(dropna=False)

In [ ]:
def game_feature(df):
    if df.win == 1:
        val = 'Won Game'
    elif df.win == 0:
        val = 'Lost Game'
    else:
        val = 'No Game'
    return val

merge_data['game'] = merge_data.apply(game_feature,axis=1)

In [ ]:
merge_data['game'] = merge_data.apply(game_feature,axis=1)

In [ ]:
merge_data.game.value_counts()

In [ ]:
merge_data.head()

In [ ]:
merge_data.info()

In [ ]:
merge_data[merge_data.Hour.isnull()]

# Display non-nans

## Add sport col

In [ ]:
merge_data['sport'] = 'bas'

In [ ]:
merge_data.head()

In [ ]:
merge_data.info()

In [ ]:
merge_data.dtypes

In [ ]:
print(list(merge_data.columns))

In [ ]:
merge_data.game.value_counts(dropna=False)

In [ ]:
merge_data.Hour.value_counts(dropna=False)

In [ ]:
merge_data.to_csv('data/final/DUMMY_Astros1017_final.csv')

In [ ]:
merge_data.info()

In [ ]:
merge_data[merge_data.Hour.isnull()]