In [1]:
import pandas as pd
import numpy as np

In [2]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [3]:
ls data/crime_beat/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [4]:
games = 'data/sports_scores/dynamo_10H30.csv'

crime = 'data/crime_beat/crime_10H30_10_17.csv'

# scores df

In [5]:
df = pd.read_csv(games,index_col='full_date').sort_index(ascending=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 137 entries, 2010-04-01 to 2017-11-21
Data columns (total 7 columns):
Unnamed: 0    137 non-null int64
home_team     137 non-null object
home_score    137 non-null int64
away_team     137 non-null object
away_score    137 non-null int64
season        137 non-null object
beat          137 non-null object
dtypes: int64(3), object(4)
memory usage: 8.6+ KB

In [7]:
## win column
df['win'] =  np.where(df['home_score'] > df['away_score'],1,0)

# only oposing name and win boolean
df = df[['away_team','win']]

# show

df.head()

                 away_team  win
full_date
2010-04-01  Real Salt Lake    1
2010-04-10       LA Galaxy    0
2010-04-17      Chivas USA    1
2010-05-01     Sporting KC    1
2010-05-05       FC Dallas    0

# Crime df

In [8]:
crime_df = pd.read_csv(crime,index_col='Date_Hour').sort_index(ascending=True)

# selectd columns
crime_df = crime_df[['OffenseType']]

# count Offense type given date
date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()

## show
date_crimes.head()

                     OffenseType
Date_Hour
2010-01-01 00:00:00            1
2010-01-01 19:00:00            1
2010-01-01 20:00:00            1
2010-01-02 01:00:00            1
2010-01-03 04:00:00            1

In [9]:
#crime_df = pd.get_dummies(crime_df,drop_first=True)

In [10]:
#crime_df.info()

# Days Df
- create a df with everyday timestamp from Jan 2010 to Dec 2017

In [11]:
days = pd.date_range(start='01/01/2010', end='12/31/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)
days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

In [12]:
365 * 8

2920

In [13]:
len(days)/365

8.005479452054795

In [14]:
days.tail()

Empty DataFrame
Columns: []
Index: [2017-12-27 00:00:00, 2017-12-28 00:00:00, 2017-12-29 00:00:00, 2017-12-30 00:00:00, 2017-12-31 00:00:00]

# Merge days df with crimes_df

In [15]:
calendar_crimes = pd.merge(days,date_crimes,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

            OffenseType
days
2010-01-01          1.0
2010-01-02          NaN
2010-01-03          NaN
2010-01-04          NaN
2010-01-05          NaN

In [16]:
calendar_crimes.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 1 columns):
OffenseType    294 non-null float64
dtypes: float64(1)
memory usage: 125.7 KB

In [17]:
calendar_crimes.OffenseType.value_counts(dropna=False)

NaN     2628
 1.0     260
 2.0      26
 3.0       8
Name: OffenseType, dtype: int64

## Change nans with 0

In [18]:
calendar_crimes.OffenseType.replace( np.nan,0, inplace=True)

In [19]:
calendar_crimes.OffenseType.value_counts(dropna=False)

0.0    2628
1.0     260
2.0      26
3.0       8
Name: OffenseType, dtype: int64

# merge calendar_crimes with score

In [20]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')

# change column names
#merge_data.columns = ['offenses','away_team','win']

merge_data.head()

            OffenseType away_team  win
days
2010-01-01          1.0       NaN  NaN
2010-01-02          0.0       NaN  NaN
2010-01-03          0.0       NaN  NaN
2010-01-04          0.0       NaN  NaN
2010-01-05          0.0       NaN  NaN

In [21]:
merge_data.away_team.value_counts(dropna=False)

NaN                        2785
Sporting KC                  10
Columbus                      8
FC Dallas                     8
San Jose                      8
Chicago                       8
D.C. United                   8
LA Galaxy                     8
NY Red Bulls                  8
New England                   7
Montreal                      7
Colorado                      7
Philadelphia                  7
Toronto FC                    7
Real Salt Lake                7
Portland                      6
Vancouver                     5
Chivas USA                    3
Seattle                       2
Minnesota                     2
Orlando                       2
Sporting Kansas City          2
NYCFC                         1
New York Red Bulls            1
Philadelphia Union            1
Kansas City                   1
Montreal Impact               1
 Washington D.C. United       1
Portland Tumbers              1
Name: away_team, dtype: int64

## Cleanup colums

In [22]:
merge_data.columns  = ['crime', 'away_team', 'won']

In [23]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 3 columns):
crime        2922 non-null float64
away_team    137 non-null object
won          137 non-null float64
dtypes: float64(2), object(1)
memory usage: 171.3+ KB

In [24]:
merge_data.crime.value_counts(dropna=False)

0.0    2628
1.0     260
2.0      26
3.0       8
Name: crime, dtype: int64

In [25]:
merge_data.crime = merge_data.crime.astype(int)

In [26]:
merge_data.crime.value_counts(dropna=False)

0    2628
1     260
2      26
3       8
Name: crime, dtype: int64

In [27]:
merge_data

            crime away_team  won
days
2010-01-01      1       NaN  NaN
2010-01-02      0       NaN  NaN
2010-01-03      0       NaN  NaN
2010-01-04      0       NaN  NaN
2010-01-05      0       NaN  NaN
2010-01-06      1       NaN  NaN
2010-01-07      0       NaN  NaN
2010-01-08      0       NaN  NaN
2010-01-09      1       NaN  NaN
2010-01-10      0       NaN  NaN
2010-01-11      0       NaN  NaN
2010-01-12      0       NaN  NaN
2010-01-13      0       NaN  NaN
2010-01-14      0       NaN  NaN
2010-01-15      0       NaN  NaN
2010-01-16      0       NaN  NaN
2010-01-17      0       NaN  NaN
2010-01-18      0       NaN  NaN
2010-01-19      0       NaN  NaN
2010-01-20      0       NaN  NaN
2010-01-21      0       NaN  NaN
2010-01-22      0       NaN  NaN
2010-01-23      1       NaN  NaN
2010-01-24      0       NaN  NaN
2010-01-25      0       NaN  NaN
2010-01-26      0       NaN  NaN
2010-01-27      0       NaN  NaN
2010-01-28      0       NaN  NaN
2010-01-29      0       NaN  NaN
2010-01-30      0       NaN  NaN
...           ...       ...  ...
2017-12-02      0       NaN  NaN
2017-12-03      0       NaN  NaN
2017-12-04      0       NaN  NaN
2017-12-05      1       NaN  NaN
2017-12-06      0       NaN  NaN
2017-12-07      0       NaN  NaN
2017-12-08      0       NaN  NaN
2017-12-09      0       NaN  NaN
2017-12-10      0       NaN  NaN
2017-12-11      0       NaN  NaN
2017-12-12      0       NaN  NaN
2017-12-13      0       NaN  NaN
2017-12-14      0       NaN  NaN
2017-12-15      0       NaN  NaN
2017-12-16      0       NaN  NaN
2017-12-17      0       NaN  NaN
2017-12-18      0       NaN  NaN
2017-12-19      0       NaN  NaN
2017-12-20      0       NaN  NaN
2017-12-21      0       NaN  NaN
2017-12-22      0       NaN  NaN
2017-12-23      0       NaN  NaN
2017-12-24      2       NaN  NaN
2017-12-25      0       NaN  NaN
2017-12-26      0       NaN  NaN
2017-12-27      0       NaN  NaN
2017-12-28      0       NaN  NaN
2017-12-29      0       NaN  NaN
2017-12-30      0       NaN  NaN
2017-12-31      0       NaN  NaN

[2922 rows x 3 columns]

# Display non-nans

In [28]:
merge_data.dropna(subset=['away_team', 'won'])

            crime         away_team  won
days
2010-04-01      0    Real Salt Lake  1.0
2010-04-10      0         LA Galaxy  0.0
2010-04-17      0        Chivas USA  1.0
2010-05-01      1       Sporting KC  1.0
2010-05-05      0         FC Dallas  0.0
2010-05-22      1       D.C. United  1.0
2010-05-29      0      Philadelphia  0.0
2010-06-26      1          Colorado  0.0
2010-07-10      0          Columbus  0.0
2010-07-31      0      NY Red Bulls  0.0
2010-08-21      0           Chicago  1.0
2010-09-05      0          San Jose  0.0
2010-09-18      0        Toronto FC  0.0
2010-10-10      0       New England  0.0
2011-03-19      1      Philadelphia  0.0
2011-04-10      0         Vancouver  1.0
2011-04-17      0       New England  1.0
2011-04-29      0       D.C. United  1.0
2011-05-04      0          Colorado  0.0
2011-05-21      0      NY Red Bulls  0.0
2011-05-28      0         FC Dallas  0.0
2011-06-11      0        Chivas USA  1.0
2011-06-18      0          Columbus  0.0
2011-07-09      2        Toronto FC  1.0
2011-07-16      0       Sporting KC  0.0
2011-08-14      1          Portland  1.0
2011-08-20      0    Real Salt Lake  1.0
2011-09-17      1          San Jose  1.0
2011-10-01      0           Chicago  0.0
2011-10-23      0         LA Galaxy  1.0
...           ...               ...  ...
2016-06-18      0       D.C. United  0.0
2016-07-02      0      Philadelphia  1.0
2016-07-23      1         Vancouver  0.0
2016-07-31      0          San Jose  0.0
2016-08-14      0        Toronto FC  0.0
2016-08-27      0         FC Dallas  0.0
2016-09-24      0          Portland  1.0
2016-09-30      0             NYCFC  0.0
2016-10-08      1          Colorado  0.0
2016-10-16      0         LA Galaxy  0.0
2017-03-04      0           Seattle  1.0
2017-03-11      0          Columbus  1.0
2017-04-01      0      NY Red Bulls  1.0
2017-04-15      0         Minnesota  0.0
2017-04-22      0          San Jose  1.0
2017-05-06      1           Orlando  1.0
2017-05-12      0         Vancouver  1.0
2017-05-31      0    Real Salt Lake  1.0
2017-06-23      0         FC Dallas  0.0
2017-07-05      0          Montreal  1.0
2017-07-29      0          Portland  0.0
2017-08-12      0          San Jose  1.0
2017-09-09      0          Colorado  0.0
2017-09-27      0         LA Galaxy  0.0
2017-09-30      0         Minnesota  1.0
2017-10-11      1       Sporting KC  1.0
2017-10-22      0           Chicago  1.0
2017-10-26      0       Kansas City  1.0
2017-10-30      0  Portland Tumbers  0.0
2017-11-21      0           Seattle  0.0

[137 rows x 3 columns]

In [29]:
merge_data.to_csv('data/final/Dynamo1017_final.csv')

In [30]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 3 columns):
crime        2922 non-null int64
away_team    137 non-null object
won          137 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 171.3+ KB