In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [3]:
ls data/crime_beat/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [4]:
games = 'data/sports_scores/dynamo_10H30.csv'

crime = 'data/crime_beat/crime_10H30_10_17.csv'

# scores df

In [5]:
df = pd.read_csv(games,index_col='full_date').sort_index(ascending=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 137 entries, 2010-04-01 to 2017-11-21
Data columns (total 7 columns):
Unnamed: 0    137 non-null int64
home_team     137 non-null object
home_score    137 non-null int64
away_team     137 non-null object
away_score    137 non-null int64
season        137 non-null object
beat          137 non-null object
dtypes: int64(3), object(4)
memory usage: 8.6+ KB

In [7]:
## win column
df['win'] =  np.where(df['home_score'] > df['away_score'],1,0)

# only oposing name and win boolean
df = df[['away_team','win','beat']]

# show

df.head()

                 away_team  win   beat
full_date
2010-04-01  Real Salt Lake    1  10H30
2010-04-10       LA Galaxy    0  10H30
2010-04-17      Chivas USA    1  10H30
2010-05-01     Sporting KC    1  10H30
2010-05-05       FC Dallas    0  10H30

# Crime df

In [14]:
crime_df = pd.read_csv(crime).sort_index(ascending=True)

crime_df['Date_Hour'] = pd.to_datetime(crime_df['Date_Hour'])
crime_df['Date_Hour'] = crime_df['Date_Hour'].dt.date

crime_df = crime_df.set_index('Date_Hour')


# # selectd columns
# crime_df = crime_df[['OffenseType']]

# # count Offense type given date
# date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()

# ## show
# date_crimes.head()

In [18]:
crime_df = crime_df[['OffenseType','Hour']]
crime_df.head()

           OffenseType  Hour
Date_Hour
2010-01-01       Theft     0
2010-01-01       Theft    19
2010-01-01       Theft    20
2010-01-02       Theft     1
2010-01-03       Theft     4

In [21]:
crime_dum = pd.get_dummies(crime_df)

In [22]:
crime_dum.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft
Date_Hour,,,,,,,,
2010-01-01,0,0,0,0,0,0,0,1
2010-01-01,19,0,0,0,0,0,0,1
2010-01-01,20,0,0,0,0,0,0,1
2010-01-02,1,0,0,0,0,0,0,1
2010-01-03,4,0,0,0,0,0,0,1

# Days Df
- create a df with everyday timestamp from Jan 2010 to Dec 2017

In [23]:
days = pd.date_range(start='01/01/2010', end='12/31/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)
days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

In [ ]:
365 * 8

In [ ]:
len(days)/365

In [ ]:
days.tail()

# Merge days df with crimes_df

In [24]:
# calendar_crimes = pd.merge(days,date_crimes,  left_index=True, right_index=True, how='left')
# calendar_crimes.head()
calendar_crimes = pd.merge(days,crime_dum,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2010-01-01,19.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2010-01-01,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2010-01-02,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2010-01-03,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [25]:
calendar_crimes.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5206 entries, 2010-01-01 to 2017-12-31
Data columns (total 8 columns):
Hour                              4398 non-null float64
OffenseType_Aggravated Assault    4398 non-null float64
OffenseType_Auto Theft            4398 non-null float64
OffenseType_Burglary              4398 non-null float64
OffenseType_Murder                4398 non-null float64
OffenseType_Rape                  4398 non-null float64
OffenseType_Robbery               4398 non-null float64
OffenseType_Theft                 4398 non-null float64
dtypes: float64(8)
memory usage: 366.0 KB

In [27]:
len(calendar_crimes[calendar_crimes.Hour.isnull()])

808

## Change nans with 0

In [28]:
calendar_crimes.OffenseType.replace( np.nan,0, inplace=True)

AttributeError: 'DataFrame' object has no attribute 'OffenseType'

In [ ]:
calendar_crimes.OffenseType.value_counts(dropna=False)

# merge calendar_crimes with score

In [29]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')

# change column names
#merge_data.columns = ['offenses','away_team','win']

merge_data.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft,away_team,win,beat
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
2010-01-01,19.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
2010-01-01,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
2010-01-02,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
2010-01-03,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN

In [ ]:
merge_data.away_team.value_counts(dropna=False)

## Change nan values on beat col

In [ ]:
merge_data.beat.value_counts(dropna=False)

In [ ]:
merge_data.beat.replace( np.nan,'10H30', inplace=True)

In [ ]:
merge_data.beat.value_counts(dropna=False)

## Cleanup colums

In [ ]:
merge_data.columns  = ['crime', 'away_team', 'won','beat']

In [30]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5206 entries, 2010-01-01 to 2017-12-31
Data columns (total 11 columns):
Hour                              4398 non-null float64
OffenseType_Aggravated Assault    4398 non-null float64
OffenseType_Auto Theft            4398 non-null float64
OffenseType_Burglary              4398 non-null float64
OffenseType_Murder                4398 non-null float64
OffenseType_Rape                  4398 non-null float64
OffenseType_Robbery               4398 non-null float64
OffenseType_Theft                 4398 non-null float64
away_team                         344 non-null object
win                               344 non-null float64
beat                              344 non-null object
dtypes: float64(9), object(2)
memory usage: 488.1+ KB

In [ ]:
merge_data.crime.value_counts(dropna=False)

In [ ]:
merge_data.crime = merge_data.crime.astype(int)

In [ ]:
merge_data.crime.value_counts(dropna=False)

In [ ]:
merge_data

# Display non-nans

In [ ]:
merge_data.dropna(subset=['away_team', 'won'])

## Add sports col

In [ ]:
merge_data['sport'] = 'soc'

In [31]:
merge_data.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft,away_team,win,beat
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
2010-01-01,19.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
2010-01-01,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
2010-01-02,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
2010-01-03,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN

In [32]:
def game_feature(df):
    if df.win == 1:
        val = 'Won Game'
    elif df.win == 0:
        val = 'Lost Game'
    else:
        val = 'No Game'
    return val

In [33]:
merge_data['game'] = merge_data.apply(game_feature,axis=1)

In [35]:
merge_data.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft,away_team,win,beat,game
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game
2010-01-01,19.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game
2010-01-01,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game
2010-01-02,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game
2010-01-03,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game

In [ ]:
#merge_data.to_csv('data/final/Dynamo1017_final.csv')

In [36]:
merge_data.to_csv('data/final/DUMMY_Dynamo1017_final.csv')