In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [3]:
ls data/crime_beat/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [4]:
games = 'data/sports_scores/Tex_15E40.csv'
crime = 'data/crime_beat/crime_15E40_10_17.csv'

# scores df

In [5]:
df = pd.read_csv(games)


## split date and time from column scheduled
s_date = pd.DatetimeIndex(df['scheduled'])
df['Date'] = s_date.date
df['time'] = s_date.time
del df['scheduled']

# set date as datetime and index
df.Date = pd.to_datetime(df.Date)
df = df.set_index('Date').sort_index(ascending=True)






## win column
df['win'] =  np.where(df['scoring.home_points'] > df['scoring.away_points'],1,0)

# only oposing name and win boolean
df = df[['away.alias','win']]

# show

df.head()

           away.alias  win
Date
2010-01-03         NE    1
2010-09-12        IND    1
2010-09-26        DAL    0
2010-10-10        NYG    0
2010-10-17         KC    1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 69 entries, 2010-01-03 to 2017-12-25
Data columns (total 2 columns):
away.alias    69 non-null object
win           69 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.6+ KB

# Crime df

In [7]:
crime_df = pd.read_csv(crime).sort_index(ascending=True)

crime_df['Date_Hour'] = pd.to_datetime(crime_df['Date_Hour'])
crime_df['Date_Hour'] = crime_df['Date_Hour'].dt.date

crime_df = crime_df.set_index('Date_Hour')


# selectd columns
crime_df = crime_df[['OffenseType']]

# count Offense type given date
date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()

## show
date_crimes.head()

            OffenseType
Date_Hour
2010-01-01            2
2010-01-02            2
2010-01-03            5
2010-01-04            2
2010-01-05            4

In [8]:
#crime_df = pd.get_dummies(crime_df,drop_first=True)

In [9]:
#crime_df.info()

# Days Df
- create a df with everyday timestamp from Jan 2010 to Dec 2017

In [10]:
days = pd.date_range(start='01/01/2010', end='12/31/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)
days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

In [11]:
365 * 8

2920

In [12]:
len(days)/365

8.005479452054795

In [13]:
days.tail()

Empty DataFrame
Columns: []
Index: [2017-12-27 00:00:00, 2017-12-28 00:00:00, 2017-12-29 00:00:00, 2017-12-30 00:00:00, 2017-12-31 00:00:00]

# Merge days df with crimes_df

In [14]:
calendar_crimes = pd.merge(days,date_crimes,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

            OffenseType
days
2010-01-01          2.0
2010-01-02          2.0
2010-01-03          5.0
2010-01-04          2.0
2010-01-05          4.0

In [15]:
calendar_crimes.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 1 columns):
OffenseType    2886 non-null float64
dtypes: float64(1)
memory usage: 125.7 KB

In [16]:
calendar_crimes.OffenseType.value_counts(dropna=False)

 5.0     420
 4.0     403
 6.0     393
 3.0     366
 7.0     322
 2.0     229
 8.0     220
 9.0     161
 1.0     105
 10.0     84
 11.0     72
 12.0     42
NaN       36
 13.0     28
 14.0     12
 16.0      7
 15.0      6
 19.0      5
 17.0      4
 20.0      2
 21.0      1
 26.0      1
 32.0      1
 18.0      1
 22.0      1
Name: OffenseType, dtype: int64

## Change nans with 0

In [17]:
calendar_crimes.OffenseType.replace( np.nan,0, inplace=True)

In [18]:
calendar_crimes.OffenseType.value_counts(dropna=False)

5.0     420
4.0     403
6.0     393
3.0     366
7.0     322
2.0     229
8.0     220
9.0     161
1.0     105
10.0     84
11.0     72
12.0     42
0.0      36
13.0     28
14.0     12
16.0      7
15.0      6
19.0      5
17.0      4
20.0      2
21.0      1
26.0      1
32.0      1
18.0      1
22.0      1
Name: OffenseType, dtype: int64

# merge calendar_crimes with score

In [19]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')

# change column names
#merge_data.columns = ['offenses','away_team','win']

merge_data.head()

            OffenseType away.alias  win
days
2010-01-01          2.0        NaN  NaN
2010-01-02          2.0        NaN  NaN
2010-01-03          5.0         NE  1.0
2010-01-04          2.0        NaN  NaN
2010-01-05          4.0        NaN  NaN

In [20]:
merge_data['away.alias'].value_counts(dropna=False)

NaN    2853
TEN       8
IND       8
JAC       8
KC        5
CIN       4
BAL       3
NE        3
OAK       3
SD        2
PIT       2
BUF       2
CLE       2
ARI       1
TB        1
CHI       1
MIA       1
NO        1
CAR       1
ATL       1
SF        1
MIN       1
GB        1
NYJ       1
STL       1
PHI       1
NYG       1
DET       1
DAL       1
SEA       1
WAS       1
DEN       1
Name: away.alias, dtype: int64

## Cleanup colums

In [21]:
merge_data.columns  = ['crime', 'away_team', 'won']

In [22]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 3 columns):
crime        2922 non-null float64
away_team    69 non-null object
won          69 non-null float64
dtypes: float64(2), object(1)
memory usage: 171.3+ KB

In [23]:
merge_data.crime.value_counts(dropna=False)

5.0     420
4.0     403
6.0     393
3.0     366
7.0     322
2.0     229
8.0     220
9.0     161
1.0     105
10.0     84
11.0     72
12.0     42
0.0      36
13.0     28
14.0     12
16.0      7
15.0      6
19.0      5
17.0      4
20.0      2
21.0      1
26.0      1
32.0      1
18.0      1
22.0      1
Name: crime, dtype: int64

In [24]:
merge_data.crime = merge_data.crime.astype(int)

In [25]:
merge_data.crime.value_counts(dropna=False)

5     420
4     403
6     393
3     366
7     322
2     229
8     220
9     161
1     105
10     84
11     72
12     42
0      36
13     28
14     12
16      7
15      6
19      5
17      4
20      2
21      1
18      1
22      1
32      1
26      1
Name: crime, dtype: int64

In [26]:
merge_data

            crime away_team  won
days
2010-01-01      2       NaN  NaN
2010-01-02      2       NaN  NaN
2010-01-03      5        NE  1.0
2010-01-04      2       NaN  NaN
2010-01-05      4       NaN  NaN
2010-01-06      6       NaN  NaN
2010-01-07      3       NaN  NaN
2010-01-08      6       NaN  NaN
2010-01-09      5       NaN  NaN
2010-01-10     10       NaN  NaN
2010-01-11      5       NaN  NaN
2010-01-12      8       NaN  NaN
2010-01-13      5       NaN  NaN
2010-01-14      6       NaN  NaN
2010-01-15      1       NaN  NaN
2010-01-16      6       NaN  NaN
2010-01-17      8       NaN  NaN
2010-01-18      7       NaN  NaN
2010-01-19     13       NaN  NaN
2010-01-20     11       NaN  NaN
2010-01-21      3       NaN  NaN
2010-01-22      7       NaN  NaN
2010-01-23      8       NaN  NaN
2010-01-24      7       NaN  NaN
2010-01-25      9       NaN  NaN
2010-01-26      5       NaN  NaN
2010-01-27     10       NaN  NaN
2010-01-28      5       NaN  NaN
2010-01-29      5       NaN  NaN
2010-01-30      2       NaN  NaN
...           ...       ...  ...
2017-12-02      7       NaN  NaN
2017-12-03      7       NaN  NaN
2017-12-04     11       NaN  NaN
2017-12-05      7       NaN  NaN
2017-12-06      2       NaN  NaN
2017-12-07      8       NaN  NaN
2017-12-08      7       NaN  NaN
2017-12-09      9       NaN  NaN
2017-12-10      7        SF  0.0
2017-12-11     13       NaN  NaN
2017-12-12      9       NaN  NaN
2017-12-13      7       NaN  NaN
2017-12-14      9       NaN  NaN
2017-12-15     10       NaN  NaN
2017-12-16      1       NaN  NaN
2017-12-17      6       NaN  NaN
2017-12-18      6       NaN  NaN
2017-12-19      7       NaN  NaN
2017-12-20      5       NaN  NaN
2017-12-21      7       NaN  NaN
2017-12-22      9       NaN  NaN
2017-12-23      4       NaN  NaN
2017-12-24      6       NaN  NaN
2017-12-25      6       PIT  0.0
2017-12-26      7       NaN  NaN
2017-12-27      9       NaN  NaN
2017-12-28      9       NaN  NaN
2017-12-29      9       NaN  NaN
2017-12-30      6       NaN  NaN
2017-12-31      4       NaN  NaN

[2922 rows x 3 columns]

# Display non-nans

In [27]:
merge_data.dropna(subset=['away_team', 'won'])

            crime away_team  won
days
2010-01-03      5        NE  1.0
2010-09-12      7       IND  1.0
2010-09-26     13       DAL  0.0
2010-10-10      5       NYG  0.0
2010-10-17      6        KC  1.0
2010-11-07      4        SD  0.0
2010-11-28      9       TEN  1.0
2010-12-14      5       BAL  0.0
2011-01-02      6       JAC  1.0
2011-09-11      6       IND  1.0
2011-10-02      8       PIT  1.0
2011-10-09     14       OAK  0.0
2011-10-30      6       JAC  1.0
2011-11-06      9       CLE  1.0
2011-12-04     10       ATL  1.0
2011-12-18      4       CAR  0.0
2012-01-01     12       TEN  0.0
2012-01-07      6       CIN  1.0
2012-09-09     11       MIA  1.0
2012-09-30     12       TEN  1.0
2012-10-15      6        GB  0.0
2012-10-21     13       BAL  1.0
2012-11-04      8       BUF  1.0
2012-11-18      7       JAC  1.0
2012-12-16     11       IND  1.0
2012-12-23      2       MIN  0.0
2013-01-05     11       CIN  1.0
2013-09-15      3       TEN  1.0
2013-09-29      8       SEA  0.0
2013-10-13      3       STL  0.0
...           ...       ...  ...
2014-11-23      7       CIN  0.0
2014-11-30      9       TEN  1.0
2014-12-21      8       BAL  1.0
2014-12-28      5       JAC  1.0
2015-09-13      8        KC  0.0
2015-09-27      6        TB  1.0
2015-10-09      4       IND  0.0
2015-11-01      7       TEN  1.0
2015-11-22      5       NYJ  1.0
2015-11-29      7        NO  1.0
2015-12-14      2        NE  0.0
2016-01-03      6       JAC  1.0
2016-01-09     10        KC  0.0
2016-09-11      4       CHI  1.0
2016-09-18      5        KC  1.0
2016-10-02      6       TEN  1.0
2016-10-17      8       IND  1.0
2016-10-30     13       DET  1.0
2016-11-27      6        SD  0.0
2016-12-18      6       JAC  1.0
2016-12-25      1       CIN  1.0
2017-01-07      9       OAK  1.0
2017-09-10      2       JAC  0.0
2017-10-01      8       TEN  1.0
2017-10-09      9        KC  0.0
2017-10-15      7       CLE  1.0
2017-11-05      4       IND  0.0
2017-11-19      4       ARI  1.0
2017-12-10      7        SF  0.0
2017-12-25      6       PIT  0.0

[69 rows x 3 columns]

In [28]:
merge_data.to_csv('data/final/Texans1017_final.csv')

In [29]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 3 columns):
crime        2922 non-null int64
away_team    69 non-null object
won          69 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 171.3+ KB