In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [3]:
ls data/crime_beat/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [4]:
games = 'data/sports_scores/UH_10H50.csv'

crime = 'data/crime_beat/crime_10H50_10_17.csv'

# scores df

In [5]:
df = pd.read_csv(games,index_col='Date').sort_index(ascending=True)

## win column
df['win'] =  np.where(df['Pts'] > df['Opp'],1,0)

# only oposing name and win boolean
df = df[['Opponent','win']]

# show

df.head()

                     Opponent  win
Date
2010-09-04        Texas State    1
2010-09-10               UTEP    1
2010-09-25             Tulane    1
2010-10-09  Mississippi State    0
2010-11-05                UCF    0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49 entries, 2010-09-04 to 2017-11-24
Data columns (total 2 columns):
Opponent    49 non-null object
win         49 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

# Crime df

In [7]:
crime_df = pd.read_csv(crime).sort_index(ascending=True)

crime_df['Date_Hour'] = pd.to_datetime(crime_df['Date_Hour'])
crime_df['Date_Hour'] = crime_df['Date_Hour'].dt.date

crime_df = crime_df.set_index('Date_Hour')


# selectd columns
crime_df = crime_df[['OffenseType']]

# count Offense type given date
date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()

## show
date_crimes.head()

            OffenseType
Date_Hour
2010-01-01            5
2010-01-03            1
2010-01-04            6
2010-01-05            1
2010-01-06            2

In [8]:
#crime_df = pd.get_dummies(crime_df,drop_first=True)

In [9]:
#crime_df.info()

# Days Df
- create a df with everyday timestamp from Jan 2010 to Dec 2017

In [10]:
days = pd.date_range(start='01/01/2010', end='12/31/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)
days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

In [11]:
365 * 8

2920

In [12]:
len(days)/365

8.005479452054795

In [13]:
days.tail()

Empty DataFrame
Columns: []
Index: [2017-12-27 00:00:00, 2017-12-28 00:00:00, 2017-12-29 00:00:00, 2017-12-30 00:00:00, 2017-12-31 00:00:00]

# Merge days df with crimes_df

In [14]:
calendar_crimes = pd.merge(days,date_crimes,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

            OffenseType
days
2010-01-01          5.0
2010-01-02          NaN
2010-01-03          1.0
2010-01-04          6.0
2010-01-05          1.0

In [15]:
calendar_crimes.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 1 columns):
OffenseType    2714 non-null float64
dtypes: float64(1)
memory usage: 125.7 KB

In [16]:
calendar_crimes.OffenseType.value_counts(dropna=False)

 2.0     707
 3.0     598
 1.0     551
 4.0     416
 5.0     224
NaN      208
 6.0     129
 7.0      46
 8.0      28
 9.0       7
 12.0      3
 10.0      3
 14.0      1
 11.0      1
Name: OffenseType, dtype: int64

## Change nans with 0

In [17]:
calendar_crimes.OffenseType.replace( np.nan,0, inplace=True)

In [18]:
calendar_crimes.OffenseType.value_counts(dropna=False)

2.0     707
3.0     598
1.0     551
4.0     416
5.0     224
0.0     208
6.0     129
7.0      46
8.0      28
9.0       7
12.0      3
10.0      3
14.0      1
11.0      1
Name: OffenseType, dtype: int64

# merge calendar_crimes with score

In [19]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')

# change column names
#merge_data.columns = ['offenses','away_team','win']

merge_data.head()

            OffenseType Opponent  win
days
2010-01-01          5.0      NaN  NaN
2010-01-02          0.0      NaN  NaN
2010-01-03          1.0      NaN  NaN
2010-01-04          6.0      NaN  NaN
2010-01-05          1.0      NaN  NaN

In [20]:
merge_data['Opponent'].value_counts(dropna=False)

NaN                     2873
Tulsa                      4
Tulane                     4
Texas State                3
UCF                        3
SMU                        3
Rice                       2
Temple                     2
UTEP                       2
Memphis                    2
East Carolina              2
Navy                       2
Cincinnati                 1
Nevada-Las Vegas           1
South Florida              1
Lamar                      1
Vanderbilt                 1
Louisville                 1
Southern Mississippi       1
Connecticut                1
Grambling State            1
UTSA                       1
UCLA                       1
UAB                        1
Tennessee Tech             1
Georgia State              1
Marshall                   1
Mississippi State          1
Louisiana Tech             1
North Texas                1
Southern                   1
Texas Tech                 1
Name: Opponent, dtype: int64

## Cleanup colums

In [21]:
merge_data.columns  = ['crime', 'away_team', 'won']

In [22]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 3 columns):
crime        2922 non-null float64
away_team    49 non-null object
won          49 non-null float64
dtypes: float64(2), object(1)
memory usage: 171.3+ KB

In [23]:
merge_data.crime.value_counts(dropna=False)

2.0     707
3.0     598
1.0     551
4.0     416
5.0     224
0.0     208
6.0     129
7.0      46
8.0      28
9.0       7
12.0      3
10.0      3
14.0      1
11.0      1
Name: crime, dtype: int64

In [24]:
merge_data.crime = merge_data.crime.astype(int)

In [25]:
merge_data.crime.value_counts(dropna=False)

2     707
3     598
1     551
4     416
5     224
0     208
6     129
7      46
8      28
9       7
12      3
10      3
11      1
14      1
Name: crime, dtype: int64

In [26]:
merge_data

            crime away_team  won
days
2010-01-01      5       NaN  NaN
2010-01-02      0       NaN  NaN
2010-01-03      1       NaN  NaN
2010-01-04      6       NaN  NaN
2010-01-05      1       NaN  NaN
2010-01-06      2       NaN  NaN
2010-01-07      5       NaN  NaN
2010-01-08      2       NaN  NaN
2010-01-09      1       NaN  NaN
2010-01-10      3       NaN  NaN
2010-01-11      5       NaN  NaN
2010-01-12      4       NaN  NaN
2010-01-13      1       NaN  NaN
2010-01-14      4       NaN  NaN
2010-01-15      2       NaN  NaN
2010-01-16      4       NaN  NaN
2010-01-17      2       NaN  NaN
2010-01-18      4       NaN  NaN
2010-01-19      5       NaN  NaN
2010-01-20      4       NaN  NaN
2010-01-21      4       NaN  NaN
2010-01-22      2       NaN  NaN
2010-01-23      6       NaN  NaN
2010-01-24      0       NaN  NaN
2010-01-25      0       NaN  NaN
2010-01-26      1       NaN  NaN
2010-01-27      6       NaN  NaN
2010-01-28      3       NaN  NaN
2010-01-29      1       NaN  NaN
2010-01-30      0       NaN  NaN
...           ...       ...  ...
2017-12-02      3       NaN  NaN
2017-12-03      0       NaN  NaN
2017-12-04      4       NaN  NaN
2017-12-05      3       NaN  NaN
2017-12-06      3       NaN  NaN
2017-12-07      2       NaN  NaN
2017-12-08      1       NaN  NaN
2017-12-09      2       NaN  NaN
2017-12-10      1       NaN  NaN
2017-12-11      2       NaN  NaN
2017-12-12      4       NaN  NaN
2017-12-13      1       NaN  NaN
2017-12-14      5       NaN  NaN
2017-12-15      0       NaN  NaN
2017-12-16      1       NaN  NaN
2017-12-17      1       NaN  NaN
2017-12-18      2       NaN  NaN
2017-12-19      1       NaN  NaN
2017-12-20      5       NaN  NaN
2017-12-21      4       NaN  NaN
2017-12-22      0       NaN  NaN
2017-12-23      1       NaN  NaN
2017-12-24      3       NaN  NaN
2017-12-25      4       NaN  NaN
2017-12-26      3       NaN  NaN
2017-12-27      1       NaN  NaN
2017-12-28      2       NaN  NaN
2017-12-29      2       NaN  NaN
2017-12-30      3       NaN  NaN
2017-12-31      0       NaN  NaN

[2922 rows x 3 columns]

# Display non-nans

In [27]:
merge_data.dropna(subset=['away_team', 'won'])

            crime             away_team  won
days
2010-09-04      2           Texas State  1.0
2010-09-10      6                  UTEP  1.0
2010-09-25      5                Tulane  1.0
2010-10-09      3     Mississippi State  0.0
2010-11-05      5                   UCF  0.0
2010-11-13      9                 Tulsa  0.0
2011-09-03      3                  UCLA  1.0
2011-09-24      4         Georgia State  1.0
2011-10-08      3         East Carolina  1.0
2011-10-22      3              Marshall  1.0
2011-10-27      1                  Rice  1.0
2011-11-19      3                   SMU  1.0
2011-12-03     12  Southern Mississippi  0.0
2012-09-01      4           Texas State  0.0
2012-09-08      5        Louisiana Tech  0.0
2012-10-06      1           North Texas  1.0
2012-10-13      4                   UAB  1.0
2012-10-27      0                  UTEP  1.0
2012-11-10      0                 Tulsa  0.0
2012-11-24      2                Tulane  1.0
2013-08-30      3              Southern  1.0
2013-10-31      3         South Florida  1.0
2014-08-29     11                  UTSA  0.0
2014-09-06      4       Grambling State  1.0
2014-09-20      1      Nevada-Las Vegas  1.0
2014-10-02      5                   UCF  0.0
2014-10-17      2                Temple  1.0
2014-11-08      4                Tulane  0.0
2014-11-22      2                 Tulsa  1.0
2015-09-05      3        Tennessee Tech  1.0
2015-09-26      3           Texas State  1.0
2015-10-08      4                   SMU  1.0
2015-10-31      0            Vanderbilt  1.0
2015-11-07      2            Cincinnati  1.0
2015-11-14      5               Memphis  1.0
2015-11-27      3                  Navy  1.0
2015-12-05      4                Temple  1.0
2016-09-10      2                 Lamar  1.0
2016-09-29      8           Connecticut  1.0
2016-10-15      5                 Tulsa  1.0
2016-10-29      5                   UCF  1.0
2016-11-12      4                Tulane  1.0
2016-11-17     14            Louisville  1.0
2017-09-16      6                  Rice  1.0
2017-09-23      5            Texas Tech  0.0
2017-10-07      6                   SMU  1.0
2017-10-19      5               Memphis  0.0
2017-11-04      5         East Carolina  1.0
2017-11-24      1                  Navy  1.0

In [28]:
merge_data.to_csv('data/final/UH1017_final.csv')

In [29]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 2010-01-01 to 2017-12-31
Data columns (total 3 columns):
crime        2922 non-null int64
away_team    49 non-null object
won          49 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 171.3+ KB