In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path = 'data/final/DUMMY_Dynamo1017_final.csv'

In [3]:
df = pd.read_csv(path, index_col='Unnamed: 0', parse_dates=True)

In [4]:
df.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft,away_team,win,beat,game
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game
2010-01-01,19.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game
2010-01-01,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game
2010-01-02,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game
2010-01-03,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game

In [5]:
len(df[df.Hour.isnull()])

808

## Drop nans

In [6]:
df = df.dropna(subset=['Hour'])

In [7]:
len(df[df.Hour.isnull()])

0

In [8]:
df.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft,away_team,win,beat,game
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game
2010-01-01,19.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game
2010-01-01,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game
2010-01-02,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game
2010-01-03,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,No Game

## Drop unwanted cols

In [9]:
df.drop(['win','beat','away_team'],axis=1, inplace=True)

In [10]:
df.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft,game
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,No Game
2010-01-01,19.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,No Game
2010-01-01,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,No Game
2010-01-02,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,No Game
2010-01-03,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,No Game

In [11]:
df.Hour = df.Hour.astype('int')

In [12]:
df.dtypes

Hour                                int64
OffenseType_Aggravated Assault    float64
OffenseType_Auto Theft            float64
OffenseType_Burglary              float64
OffenseType_Murder                float64
OffenseType_Rape                  float64
OffenseType_Robbery               float64
OffenseType_Theft                 float64
game                               object
dtype: object

In [13]:
print(list(df.columns))

['Hour', 'OffenseType_Aggravated Assault', 'OffenseType_Auto Theft', 'OffenseType_Burglary', 'OffenseType_Murder', 'OffenseType_Rape', 'OffenseType_Robbery', 'OffenseType_Theft', 'game']

In [14]:
df[['Hour', 'OffenseType_Aggravated Assault', 'OffenseType_Auto Theft', 'OffenseType_Burglary', 'OffenseType_Murder', 'OffenseType_Rape', 'OffenseType_Robbery', 'OffenseType_Theft']] = df[['Hour', 'OffenseType_Aggravated Assault', 'OffenseType_Auto Theft', 'OffenseType_Burglary', 'OffenseType_Murder', 'OffenseType_Rape', 'OffenseType_Robbery', 'OffenseType_Theft']].apply(lambda x: x.astype('int'))

In [15]:
df.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft,game
2010-01-01,0,0,0,0,0,0,0,1,No Game
2010-01-01,19,0,0,0,0,0,0,1,No Game
2010-01-01,20,0,0,0,0,0,0,1,No Game
2010-01-02,1,0,0,0,0,0,0,1,No Game
2010-01-03,4,0,0,0,0,0,0,1,No Game

In [16]:
df.dtypes

Hour                               int64
OffenseType_Aggravated Assault     int64
OffenseType_Auto Theft             int64
OffenseType_Burglary               int64
OffenseType_Murder                 int64
OffenseType_Rape                   int64
OffenseType_Robbery                int64
OffenseType_Theft                  int64
game                              object
dtype: object

In [17]:
# path = 'data/ready/DUMMY_Dynamo_final.csv'
# df.to_csv(path)