# Source

#### sports-reference.com
https://www.sports-reference.com/cfb/schools/houston/2017-schedule.html

- saved games to  csv files from 2008 - 2017
- `uh08_17.csv`

In [20]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [8]:
path = 'data/NCAA/uh08_17.csv'

In [9]:
df = pd.read_csv(path)

In [11]:
df.head()

,G,Date,Time,Day,School,Unnamed: 5,Opponent,Conf,Unnamed: 8,Pts,Opp,W,L,Streak,TV,Notes
0,1,Sep 9 2017,10:30 PM,Sat,Houston,@,Arizona,Pac-12,W,19,16,1,0,W 1,NaN,NaN
1,2,Sep 16 2017,8:00 PM,Sat,Houston,NaN,Rice,CUSA,W,38,3,2,0,W 2,NaN,NaN
2,3,Sep 23 2017,12:00 PM,Sat,Houston,NaN,Texas Tech,Big 12,L,24,27,2,1,L 1,NaN,NaN
3,4,Sep 30 2017,12:00 PM,Sat,Houston,@,Temple,American,W,20,13,3,1,W 1,NaN,NaN
4,5,Oct 7 2017,7:00 PM,Sat,Houston,NaN,SMU,American,W,35,22,4,1,W 2,NaN,NaN

## Slice cols

In [12]:
uh = df[['Date','Day','School','Pts','Unnamed: 5','Opponent','Opp','Unnamed: 8','Notes']]

In [13]:
uh.head()

          Date  Day   School  Pts Unnamed: 5    Opponent  Opp Unnamed: 8 Notes
0   Sep 9 2017  Sat  Houston   19          @     Arizona   16          W   NaN
1  Sep 16 2017  Sat  Houston   38        NaN        Rice    3          W   NaN
2  Sep 23 2017  Sat  Houston   24        NaN  Texas Tech   27          L   NaN
3  Sep 30 2017  Sat  Houston   20          @      Temple   13          W   NaN
4   Oct 7 2017  Sat  Houston   35        NaN         SMU   22          W   NaN

## Check for missing vals

In [14]:
uh.apply(lambda x: sum(x.isnull()))

Date            0
Day             0
School          0
Pts             0
Unnamed: 5     61
Opponent        0
Opp             0
Unnamed: 8      0
Notes         124
dtype: int64

## Cleanup

In [18]:
uh['School'].value_counts()

Houston         93
(18) Houston     5
(6) Houston      5
(13) Houston     4
(11) Houston     3
(21) Houston     3
(17) Houston     3
(23) Houston     2
(14) Houston     2
(15) Houston     2
(24) Houston     2
(20) Houston     1
(25) Houston     1
(7) Houston      1
(8) Houston      1
(12) Houston     1
(16) Houston     1
Name: School, dtype: int64

In [19]:
uh['School'] = 'Houston'

/home/frank/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## rename column
- Unnamed: 5 : win_lost

In [21]:
uh.rename(columns={'Unnamed: 8':'win_lost',
                  'Unnamed: 5':'home_away'}, inplace=True)

## Change values of '@` to 'Away
- create boolean mask to find rows whose value is '@`m

In [23]:
uh['home_away'].unique()

array(['@', nan, 'N'], dtype=object)

In [25]:
uh['home_away'] = uh['home_away'].replace('@','away')

In [27]:
uh['home_away'] = uh['home_away'].fillna('home')

In [28]:
uh['home_away'].value_counts()

home    61
away    53
N       16
Name: home_away, dtype: int64

## Show values of 'N'

- create boolean mask to find rows whose value is 'N

In [29]:
n_val = uh['home_away']  =='N'
uh[n_val]

,Date,Day,School,Pts,home_away,Opponent,Opp,win_lost,Notes
11,Dec 24 2017,Sun,Houston,27,N,Fresno State,33,L,Hawaii Bowl
12,Sep 3 2016,Sat,Houston,33,N,(3) Oklahoma,23,W,NaN
24,Dec 17 2016,Sat,Houston,10,N,San Diego State,34,L,Las Vegas Bowl
38,Dec 31 2015,Thu,Houston,38,N,(9) Florida State,24,W,Peach Bowl (Atlanta GA)
50,Dec 6 2014,Sat,Houston,31,N,Cincinnati,38,L,Paul Brown Stadium - Cincinnati OH
51,Jan 2 2015,Fri,Houston,35,N,Pitt,34,W,Armed Forces Bowl (Fort Worth TX)
54,Sep 21 2013,Sat,Houston,31,N,Rice,26,W,NaN
56,Oct 12 2013,Sat,Houston,25,N,Memphis,15,W,NaN
57,Oct 19 2013,Sat,Houston,46,N,Brigham Young,47,L,NaN
62,Nov 23 2013,Sat,Houston,17,N,Cincinnati,24,L,NaN
63,Nov 29 2013,Fri,Houston,34,N,SMU,0,W,NaN
64,Jan 4 2014,Sat,Houston,24,N,Vanderbilt,41,L,NaN
68,Sep 29 2012,Sat,Houston,35,N,Rice,14,W,NaN
90,Jan 2 2012,Mon,Houston,30,N,(24) Penn State,14,W,NaN
116,Dec 31 2009,Thu,Houston,20,N,Air Force,47,L,NaN
129,Dec 31 2008,Wed,Houston,34,N,Air Force,28,W,NaN

### They seem to be all away games

In [30]:
uh['home_away'] = uh['home_away'].replace('N','away')

In [31]:
uh['home_away'].value_counts()

away    69
home    61
Name: home_away, dtype: int64

## Cleanup Opponent column

In [32]:
uh['Opponent'].unique()

array(['Arizona', 'Rice', 'Texas Tech', 'Temple', 'SMU', 'Tulsa',
       '(25) Memphis', '(17) South Florida', 'East Carolina', 'Tulane',
       'Navy', 'Fresno State', '(3) Oklahoma', 'Lamar', 'Cincinnati',
       'Texas State', 'Connecticut', 'UCF', '(3) Louisville', 'Memphis',
       'San Diego State', 'Tennessee Tech', 'Louisville', 'Vanderbilt',
       '(16) Navy', '(20) Temple', '(9) Florida State', 'UTSA',
       'Grambling State', '(25) Brigham Young', 'Nevada-Las Vegas',
       'South Florida', 'Pitt', 'Southern', 'Brigham Young', 'Rutgers',
       '(19) UCF', '(19) Louisville', 'Louisiana Tech', '(22) UCLA',
       'North Texas', 'UAB', 'UTEP', 'Marshall', 'UCLA', 'Georgia State',
       '(24) Southern Mississippi', '(24) Penn State',
       'Mississippi State', 'Southern Mississippi', 'Northwestern State',
       '(5) Oklahoma State', 'Air Force', 'Oklahoma State',
       'Colorado State', '(23) East Carolina', '(25) Tulsa'], dtype=object)

## Remove parenthesis from `uh['Opponent']`

In [35]:
uh['Opponent']= uh['Opponent'].str.replace(r"\(.*\)"," ")
uh['Opponent']= uh['Opponent'].str.strip()

In [36]:
uh['Opponent'].unique()

array(['Arizona', 'Rice', 'Texas Tech', 'Temple', 'SMU', 'Tulsa',
       'Memphis', 'South Florida', 'East Carolina', 'Tulane', 'Navy',
       'Fresno State', 'Oklahoma', 'Lamar', 'Cincinnati', 'Texas State',
       'Connecticut', 'UCF', 'Louisville', 'San Diego State',
       'Tennessee Tech', 'Vanderbilt', 'Florida State', 'UTSA',
       'Grambling State', 'Brigham Young', 'Nevada-Las Vegas', 'Pitt',
       'Southern', 'Rutgers', 'Louisiana Tech', 'UCLA', 'North Texas',
       'UAB', 'UTEP', 'Marshall', 'Georgia State', 'Southern Mississippi',
       'Penn State', 'Mississippi State', 'Northwestern State',
       'Oklahoma State', 'Air Force', 'Colorado State'], dtype=object)

## convert Date to datetime

In [37]:
# date
uh.Date = pd.to_datetime(uh.Date)

uh = uh.set_index('Date').sort_index(ascending=True)

In [38]:
uh.head()

            Day   School  Pts home_away        Opponent  Opp win_lost Notes
Date
2008-08-30  Sat  Houston   55      home        Southern    3        W   NaN
2008-09-06  Sat  Houston   37      away  Oklahoma State   56        L   NaN
2008-09-13  Sat  Houston   28      home       Air Force   31        L   NaN
2008-09-20  Sat  Houston   25      away  Colorado State   28        L   NaN
2008-09-27  Sat  Houston   41      away   East Carolina   24        W   NaN

## select only home games

In [40]:
uh = uh[['School','Pts','home_away','Opponent','Opp', 'win_lost']]
uh = uh[uh.home_away == 'home']

In [42]:
uh.head()

             School  Pts home_away   Opponent  Opp win_lost
Date
2008-08-30  Houston   55      home   Southern    3        W
2008-09-13  Houston   28      home  Air Force   31        L
2008-10-09  Houston   45      home        UAB   20        W
2008-11-08  Houston   42      home     Tulane   14        W
2008-11-15  Houston   70      home      Tulsa   30        W

## only games from 2010 to 2017

In [49]:
uh = uh[uh.index.year>=2010]

In [50]:
uh.to_csv('data/clean/UH_clean.csv')