In [1]:
import pandas as pd

In [2]:
ls sports_data_clean/

astros_10_17_plo_clean.csv*       nfl_08_17_clean.csv*
astros_10_17_reg_clean.csv*       nfl10clean.csv*
astros_1A10.csv*                  nfl10yearsfull.csv*
dynamo_10_17_plo.csv*             nfl17years_clean.csv*
dynamo_10_17__reg.csv*            nfl17years_PST_clean.csv*
dynamo_10H30.csv*                 rice_08_17_clean.csv*
hou_nfl_1017_post.csv*            Rice_10H80.csv*
hou_nfl_1017_reg.csv*             rockets_1A10.csv*
hou_rockets_08_17_clean.csv*      Tex_15E40.csv*
hou_rockets_10_17_plo_clean.csv*  uh_08_17_clean.csv*
hou_rockets_10_17_reg_clean.csv*  UH_10H50.csv*

In [3]:
# 1A10
hou_reg = 'sports_data_clean/dynamo_10_17__reg.csv'
hou_pos = 'sports_data_clean/dynamo_10_17_plo.csv'

In [4]:
df_reg = pd.read_csv(hou_reg)
df_pos = pd.read_csv(hou_pos)

## Regualr season

In [5]:
df_reg.head()

,full_date,home_team,home_score,away_team,away_score,winner,season
0,2010-03-27,FC Dallas,1,HOU,1,HOU,reg
1,2010-04-01,HOU,2,Real Salt Lake,1,HOU,reg
2,2010-04-10,HOU,0,LA Galaxy,2,LA Galaxy,reg
3,2010-04-17,HOU,3,Chivas USA,0,HOU,reg
4,2010-04-24,Chicago,2,HOU,0,Chicago,reg

In [6]:
len(df_reg.home_team.unique())

23

In [7]:
df_reg.home_team.unique()

array(['FC Dallas', 'HOU', 'Chicago', 'Chivas USA', 'Real Salt Lake',
       'NY Red Bulls', 'LA Galaxy', 'Toronto FC', 'Columbus', 'Seattle',
       'New England', 'Colorado', 'Sporting KC', 'D.C. United',
       'Philadelphia', 'San Jose', 'Vancouver', 'Portland', 'Montreal',
       'NYCFC', 'Orlando', 'Atlanta', 'Minnesota'], dtype=object)

In [8]:
df_reg.home_team = df_reg.home_team.str.strip()

In [9]:
len(df_reg.home_team.unique())

23

In [10]:
df_reg.home_team.replace( 'HOU', 'Houston Dynamo', inplace=True)

In [12]:
df_reg.head()

,full_date,home_team,home_score,away_team,away_score,winner,season
0,2010-03-27,FC Dallas,1,HOU,1,HOU,reg
1,2010-04-01,Houston Dynamo,2,Real Salt Lake,1,HOU,reg
2,2010-04-10,Houston Dynamo,0,LA Galaxy,2,LA Galaxy,reg
3,2010-04-17,Houston Dynamo,3,Chivas USA,0,HOU,reg
4,2010-04-24,Chicago,2,HOU,0,Chicago,reg

In [13]:
df_reg = df_reg[df_reg.home_team =='Houston Dynamo']

In [14]:
df_reg = df_reg[['full_date','home_team','home_score','away_team','away_score','season']]
df_reg.head()

    full_date       home_team  home_score       away_team  away_score season
1  2010-04-01  Houston Dynamo           2  Real Salt Lake           1    reg
2  2010-04-10  Houston Dynamo           0       LA Galaxy           2    reg
3  2010-04-17  Houston Dynamo           3      Chivas USA           0    reg
5  2010-05-01  Houston Dynamo           3     Sporting KC           0    reg
6  2010-05-05  Houston Dynamo           0       FC Dallas           1    reg

## Post season

In [15]:
df_pos.head()

,full_date,home_team,home_score,away_team,away_score,season
0,2011-10-30,Philadelphia Union,1,Houston Dynamo,2,plo
1,2011-11-03,Houston Dynamo,1,Philadelphia Union,0,plo
2,2011-11-06,Sporting Kansas City,0,Houston Dynamo,2,plo
3,2011-11-20,Los Angeles Galaxy,1,Houston Dynamo,0,plo
4,2012-10-31,Chicago Fire,1,Houston Dynamo,2,plo

In [16]:
len(df_pos.home_team.unique())

16

In [17]:
df_pos.home_team.unique()

array([' Philadelphia Union  ', 'Houston Dynamo ',
       'Sporting Kansas City ', ' Los Angeles Galaxy   ', 'Chicago Fire ',
       'Houston Dynamo   ', 'Sporting Kansas City  ', 'Houston Dynamo  ',
       'Washington D.C. United    ', ' Los Angeles Galaxy          ',
       ' Houston Dynamo   ', 'Houston Dynamo       ',
       ' New York Red Bull', 'Sporting Kansas City     ',
       'Portland Tumbers', 'Seattle'], dtype=object)

In [18]:
df_pos.home_team = df_pos.home_team.str.strip()

In [19]:
len(df_pos.home_team.unique())

9

In [20]:
df_pos.home_team.unique()

array(['Philadelphia Union', 'Houston Dynamo', 'Sporting Kansas City',
       'Los Angeles Galaxy', 'Chicago Fire', 'Washington D.C. United',
       'New York Red Bull', 'Portland Tumbers', 'Seattle'], dtype=object)

In [21]:
df_pos = df_pos[df_pos.home_team =='Houston Dynamo']

In [22]:
df_pos

,full_date,home_team,home_score,away_team,away_score,season
1,2011-11-03,Houston Dynamo,1,Philadelphia Union,0,plo
5,2012-11-04,Houston Dynamo,2,Sporting Kansas City,0,plo
7,2012-11-11,Houston Dynamo,3,Washington D.C. United,1,plo
10,2013-10-31,Houston Dynamo,3,Montreal Impact,0,plo
11,2013-11-03,Houston Dynamo,2,New York Red Bulls,2,plo
13,2013-11-09,Houston Dynamo,0,Sporting Kansas City,0,plo
15,2017-10-26,Houston Dynamo,1,Kansas City,0,plo
16,2017-10-30,Houston Dynamo,0,Portland Tumbers,0,plo
18,2017-11-21,Houston Dynamo,0,Seattle,2,plo

In [23]:
frames = [df_reg,df_pos]

dynamo = pd.concat(frames)

In [24]:
dynamo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 1 to 18
Data columns (total 6 columns):
full_date     137 non-null object
home_team     137 non-null object
home_score    137 non-null int64
away_team     137 non-null object
away_score    137 non-null int64
season        137 non-null object
dtypes: int64(2), object(4)
memory usage: 7.5+ KB

In [25]:
dynamo.head()

    full_date       home_team  home_score       away_team  away_score season
1  2010-04-01  Houston Dynamo           2  Real Salt Lake           1    reg
2  2010-04-10  Houston Dynamo           0       LA Galaxy           2    reg
3  2010-04-17  Houston Dynamo           3      Chivas USA           0    reg
5  2010-05-01  Houston Dynamo           3     Sporting KC           0    reg
6  2010-05-05  Houston Dynamo           0       FC Dallas           1    reg

In [26]:
dynamo['beat'] = '10H30'

In [27]:
dynamo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 1 to 18
Data columns (total 7 columns):
full_date     137 non-null object
home_team     137 non-null object
home_score    137 non-null int64
away_team     137 non-null object
away_score    137 non-null int64
season        137 non-null object
beat          137 non-null object
dtypes: int64(2), object(5)
memory usage: 8.6+ KB

In [28]:
dynamo.to_csv('sports_data_clean/dynamo_10H30.csv')

In [29]:
ls sports_data_clean/

astros_10_17_plo_clean.csv*       nfl_08_17_clean.csv*
astros_10_17_reg_clean.csv*       nfl10clean.csv*
astros_1A10.csv*                  nfl10yearsfull.csv*
dynamo_10_17_plo.csv*             nfl17years_clean.csv*
dynamo_10_17__reg.csv*            nfl17years_PST_clean.csv*
dynamo_10H30.csv*                 rice_08_17_clean.csv*
hou_nfl_1017_post.csv*            Rice_10H80.csv*
hou_nfl_1017_reg.csv*             rockets_1A10.csv*
hou_rockets_08_17_clean.csv*      Tex_15E40.csv*
hou_rockets_10_17_plo_clean.csv*  uh_08_17_clean.csv*
hou_rockets_10_17_reg_clean.csv*  UH_10H50.csv*