In [1]:
import pandas as pd

In [2]:
ls sports_data_clean

astros_10_17_plo_clean.csv*       nfl_08_17_clean.csv*
astros_10_17_reg_clean.csv*       nfl10clean.csv*
astros_1A10.csv*                  nfl10yearsfull.csv*
dynamo_10_17_plo.csv*             nfl17years_clean.csv*
dynamo_10_17__reg.csv*            nfl17years_PST_clean.csv*
dynamo_10H30.csv*                 rice_08_17_clean.csv*
hou_nfl_1017_post.csv*            Rice_10H80.csv*
hou_nfl_1017_reg.csv*             rockets_1A10.csv*
hou_rockets_08_17_clean.csv*      Tex_15E40.csv*
hou_rockets_10_17_plo_clean.csv*  uh_08_17_clean.csv*
hou_rockets_10_17_reg_clean.csv*  UH_10H50.csv*

In [3]:
# 1A10
hou_reg = 'sports_data_clean/hou_rockets_10_17_reg_clean.csv'
hou_pos = 'sports_data_clean/hou_rockets_10_17_plo_clean.csv'

In [4]:
df_reg = pd.read_csv(hou_reg)
df_pos = pd.read_csv(hou_pos)

In [5]:
frames = [df_reg,df_pos]
rockets = pd.concat(frames)

In [6]:
rockets = rockets[rockets.Location =='home']

In [7]:
rockets.head()

,Date,Time,Team,Team_score,Location,Opponent,Opponent_score,Result,season
2,2009-10-31,7:30p ET,Houston Rockets,111,home,Portland Trail Blazers,107,W,reg
4,2009-11-04,7:30p ET,Houston Rockets,102,home,Los Angeles Lakers,103,L,reg
5,2009-11-06,7:30p ET,Houston Rockets,105,home,Oklahoma City Thunder,94,W,reg
7,2009-11-11,7:30p ET,Houston Rockets,104,home,Memphis Grizzlies,79,W,reg
10,2009-11-17,7:30p ET,Houston Rockets,105,home,Phoenix Suns,111,L,reg

In [8]:
rockets = rockets[['Date','Team','Team_score','Location','Opponent','Opponent_score','season']]

In [9]:
rockets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 343 entries, 2 to 44
Data columns (total 7 columns):
Date              343 non-null object
Team              343 non-null object
Team_score        343 non-null int64
Location          343 non-null object
Opponent          343 non-null object
Opponent_score    343 non-null int64
season            343 non-null object
dtypes: int64(2), object(5)
memory usage: 21.4+ KB

# join dataframes

In [10]:
#beat_1A10_Astros

In [11]:
rockets['beat'] = '1A10'

In [12]:
rockets.head()

,Date,Team,Team_score,Location,Opponent,Opponent_score,season,beat
2,2009-10-31,Houston Rockets,111,home,Portland Trail Blazers,107,reg,1A10
4,2009-11-04,Houston Rockets,102,home,Los Angeles Lakers,103,reg,1A10
5,2009-11-06,Houston Rockets,105,home,Oklahoma City Thunder,94,reg,1A10
7,2009-11-11,Houston Rockets,104,home,Memphis Grizzlies,79,reg,1A10
10,2009-11-17,Houston Rockets,105,home,Phoenix Suns,111,reg,1A10

In [13]:
rockets.to_csv('sports_data_clean/rockets_1A10.csv')

In [14]:
ls sports_data_clean/

astros_10_17_plo_clean.csv*       nfl_08_17_clean.csv*
astros_10_17_reg_clean.csv*       nfl10clean.csv*
astros_1A10.csv*                  nfl10yearsfull.csv*
dynamo_10_17_plo.csv*             nfl17years_clean.csv*
dynamo_10_17__reg.csv*            nfl17years_PST_clean.csv*
dynamo_10H30.csv*                 rice_08_17_clean.csv*
hou_nfl_1017_post.csv*            Rice_10H80.csv*
hou_nfl_1017_reg.csv*             rockets_1A10.csv*
hou_rockets_08_17_clean.csv*      Tex_15E40.csv*
hou_rockets_10_17_plo_clean.csv*  uh_08_17_clean.csv*
hou_rockets_10_17_reg_clean.csv*  UH_10H50.csv*