In [1]:
import pandas as pd
import numpy as np
import glob, os
import re

# Location
- repo
[FoodballData repo](https://github.com/jokecamp/FootballData)

# Problem

- data does not contain year
- needs cleaning

### Solution

- Create function that does:
    1. create a column for given year
    2. create a full_year column that appends date and year column
    3. convert full_year column to datetime
    4. split result column with two colums given score of each team
    5. organize dataframe
    6. create winner column based on score of teams
    7. set and sort index to full_date column 

-  dataframes will be loaded one at a time given year

In [2]:
ls sports_data_raw/MLS/HOU/

HOU_08.csv*  HOU_10.csv*  HOU_12.csv*  HOU_14.csv*  HOU_16.csv*
HOU_09.csv*  HOU_11.csv*  HOU_13.csv*  HOU_15.csv*  HOU_17.csv*

In [3]:
h08 = 'sports_data_raw/MLS/HOU/HOU_08.csv'
h09 = 'sports_data_raw/MLS/HOU/HOU_09.csv'
h10 = 'sports_data_raw//MLS/HOU/HOU_10.csv'
h11 = 'sports_data_raw/MLS/HOU/HOU_11.csv'
h12 = 'sports_data_raw/MLS/HOU/HOU_12.csv'
h13 = 'sports_data_raw/MLS/HOU/HOU_13.csv'
h14 = 'sports_data_raw/MLS/HOU/HOU_14.csv'
h15 = 'sports_data_raw/MLS/HOU/HOU_15.csv'
h16 = 'sports_data_raw/MLS/HOU/HOU_16.csv'
h17 = 'sports_data_raw/MLS/HOU/HOU_17.csv'

In [4]:
df08 = pd.read_csv(h08)
df09 = pd.read_csv(h09)
df10 = pd.read_csv(h10)
df11 = pd.read_csv(h11)
df12 = pd.read_csv(h12)
df13 = pd.read_csv(h13)
df14 = pd.read_csv(h14)
df15 = pd.read_csv(h15)
df16 = pd.read_csv(h16)
df17 = pd.read_csv(h17)

In [5]:
def cleanup(df,year):
    '''function that clean up dataframe'''
    df['year'] = year  # create col with var year
    df['full_date'] = df['date'] + ' ' + df['year']  # append date and year cols
    df['full_date'] =  pd.to_datetime(df['full_date'])  # convert full_date to datetime
    df['home_score']= df['result'].str.split('-').apply(lambda x: x[0])  # split score vals
    df['away_score']= df['result'].str.split('-').apply(lambda x: x[1])  # split score vals
    df = df[['full_date','home_team','home_score','away_team','away_score']]  # org df
    # winner cols given value scores
    df['winner'] = np.where(df['home_score'] > df['away_score'], df['home_team'], df['away_team']) 
    df = df.set_index('full_date').sort_index(ascending=True)  # set full_date as index
    return df

In [6]:
dy_08 = cleanup(df08,'2008')
dy_09 = cleanup(df09,'2009')
dy_10 = cleanup(df10,'2010')
dy_11 = cleanup(df11,'2011')
dy_12 = cleanup(df12,'2012')
dy_13 = cleanup(df13,'2013')
dy_14 = cleanup(df14,'2014')
dy_15 = cleanup(df15,'2015')
dy_16 = cleanup(df16,'2016')
dy_17 = cleanup(df17,'2017')

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

# Combine add dataframes

In [7]:
frames = [dy_08,dy_09,dy_10,
          dy_11,dy_12,dy_13,
          dy_14,dy_15,dy_16,
          dy_17]

dynamo08_17 = pd.concat(frames)

In [8]:
dynamo08_17.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 329 entries, 2008-03-29 to 2017-10-22
Data columns (total 5 columns):
home_team     329 non-null object
home_score    329 non-null object
away_team     329 non-null object
away_score    329 non-null object
winner        329 non-null object
dtypes: object(5)
memory usage: 15.4+ KB

In [9]:
dynamo08_17.head()

              home_team home_score  away_team away_score       winner
full_date
2008-03-29  New England          3        HOU          0  New England
2008-04-06          HOU          3  FC Dallas          3    FC Dallas
2008-04-12  Sporting KC          0        HOU          0          HOU
2008-04-19    LA Galaxy          2        HOU          2          HOU
2008-04-26     Columbus          1        HOU          0     Columbus

## Save clean data to  to csv

In [10]:
dynamo08_17.to_csv('sports_data_clean/dynamo_08_17_clean.csv')

In [11]:
ls sports_data_clean/

astros_08_17_clean.csv*  dynamo_08_17_clean.csv*

In [12]:
## Finish