In [1]:
import pandas as pd
import numpy as np
import glob, os
import re

# Source

#### basketball-reference.com
https://www.basketball-reference.com/teams/HOU/2017_games.html

- saved regular and playoff seasons from 2010 - 2017 to csv

In [2]:
ls sports_data_raw/NBA/

plo/  reg/

In [ ]:
path = 'sports_data_raw/NBA/reg'
all_files = glob.glob(os.path.join(path, "*.csv")) 

df_from_each_file = (pd.read_csv(f) for f in all_files)
df_reg   = pd.concat(df_from_each_file, ignore_index=True)

In [3]:
path = 'sports_data_raw/NBA/plo'
all_files = glob.glob(os.path.join(path, "*.csv")) 

df_from_each_file = (pd.read_csv(f) for f in all_files)
df_plo   = pd.concat(df_from_each_file, ignore_index=True)

In [4]:
df_reg.info()

NameError: name 'df_reg' is not defined

In [5]:
df_plo.head()

,G,Date,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak,Notes
0,1,"Sun, Apr 21, 2013",9:30p ET,NaN,Box Score,@,Oklahoma City Thunder,L,NaN,91,120,0,1,L 1,NaN
1,2,"Wed, Apr 24, 2013",7:00p ET,NaN,Box Score,@,Oklahoma City Thunder,L,NaN,102,105,0,2,L 2,NaN
2,3,"Sat, Apr 27, 2013",9:30p ET,NaN,Box Score,NaN,Oklahoma City Thunder,L,NaN,101,104,0,3,L 3,NaN
3,4,"Mon, Apr 29, 2013",9:30p ET,NaN,Box Score,NaN,Oklahoma City Thunder,W,NaN,105,103,1,3,W 1,NaN
4,5,"Wed, May 1, 2013",9:30p ET,NaN,Box Score,@,Oklahoma City Thunder,W,NaN,107,100,2,3,W 2,NaN

## Create column base on regular season or playoffs

In [6]:

df_plo['season'] = 'plo'

## Join the two dataframes

In [ ]:
#df = pd.concat([df_reg, df_plo])

In [ ]:
#df.info()

In [ ]:
df_reg.info()

In [7]:
df = df_plo

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 16 columns):
G             45 non-null int64
Date          45 non-null object
Unnamed: 2    45 non-null object
Unnamed: 3    0 non-null float64
Unnamed: 4    45 non-null object
Unnamed: 5    22 non-null object
Opponent      45 non-null object
Unnamed: 7    45 non-null object
Unnamed: 8    4 non-null object
Tm            45 non-null int64
Opp           45 non-null int64
W             45 non-null int64
L             45 non-null int64
Streak        45 non-null object
Notes         0 non-null float64
season        45 non-null object
dtypes: float64(2), int64(5), object(9)
memory usage: 5.7+ KB

## Create slice with only needed columns

In [9]:
hou_rockets = df[['Date','Unnamed: 2','Unnamed: 5','Opponent','Unnamed: 7','Tm','Opp','season']]

## Create a column with Houston Rockets

In [10]:
hou_rockets['team'] ='Houston Rockets'

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
hou_rockets = hou_rockets[['Date','Unnamed: 2', 'team','Tm','Unnamed: 5','Opponent','Opp','Unnamed: 7','season']]

In [12]:
hou_rockets.head()

,Date,Unnamed: 2,team,Tm,Unnamed: 5,Opponent,Opp,Unnamed: 7,season
0,"Sun, Apr 21, 2013",9:30p ET,Houston Rockets,91,@,Oklahoma City Thunder,120,L,plo
1,"Wed, Apr 24, 2013",7:00p ET,Houston Rockets,102,@,Oklahoma City Thunder,105,L,plo
2,"Sat, Apr 27, 2013",9:30p ET,Houston Rockets,101,NaN,Oklahoma City Thunder,104,L,plo
3,"Mon, Apr 29, 2013",9:30p ET,Houston Rockets,105,NaN,Oklahoma City Thunder,103,W,plo
4,"Wed, May 1, 2013",9:30p ET,Houston Rockets,107,@,Oklahoma City Thunder,100,W,plo

## Rename Columns

In [13]:
hou_rockets.rename(columns={
    'Unnamed: 2':'Time',
    'team': 'Team',
    'Tm': 'Team_score',
    'Unnamed: 5': 'Location',
    'Opp': 'Opponent_score',
    'Unnamed: 7': 'Result'
},inplace=True)

In [14]:
hou_rockets.head()

,Date,Time,Team,Team_score,Location,Opponent,Opponent_score,Result,season
0,"Sun, Apr 21, 2013",9:30p ET,Houston Rockets,91,@,Oklahoma City Thunder,120,L,plo
1,"Wed, Apr 24, 2013",7:00p ET,Houston Rockets,102,@,Oklahoma City Thunder,105,L,plo
2,"Sat, Apr 27, 2013",9:30p ET,Houston Rockets,101,NaN,Oklahoma City Thunder,104,L,plo
3,"Mon, Apr 29, 2013",9:30p ET,Houston Rockets,105,NaN,Oklahoma City Thunder,103,W,plo
4,"Wed, May 1, 2013",9:30p ET,Houston Rockets,107,@,Oklahoma City Thunder,100,W,plo

## Inspect Data

In [ ]:
#hou_rockets.Date.unique()  # need split day

In [15]:
hou_rockets.Time.unique()  # need correct time

array(['9:30p ET', '7:00p ET', '10:30p ET', '9:00p ET', '8:00p ET',
       '8:30p ET', '3:30p ET'], dtype=object)

In [16]:
hou_rockets.Team.unique()  # ok

array(['Houston Rockets'], dtype=object)

In [17]:
hou_rockets.Team_score.unique()  # ok

array([ 91, 102, 101, 105, 107,  94, 120, 121, 108,  98, 118, 111, 130,
       109, 103, 115,  99,  95, 124, 119, 113, 106,  80, 128,  90,  78,
        97,  81, 126,  96,  92, 125,  75])

In [18]:
hou_rockets.Location.unique()  #

array(['@', nan], dtype=object)

In [19]:
hou_rockets.Opponent.unique()  # ok

array(['Oklahoma City Thunder', 'Portland Trail Blazers',
       'Dallas Mavericks', 'Los Angeles Clippers',
       'Golden State Warriors', 'San Antonio Spurs'], dtype=object)

In [20]:
hou_rockets.Opponent.value_counts(dropna=False)  # ok

Oklahoma City Thunder     11
Golden State Warriors     10
Los Angeles Clippers       7
San Antonio Spurs          6
Portland Trail Blazers     6
Dallas Mavericks           5
Name: Opponent, dtype: int64

In [21]:
hou_rockets.Opponent_score.unique()  # ok

array([120, 105, 104, 103, 100, 122, 112, 116, 123,  98,  99, 108, 128,
       121,  94, 117, 109, 124, 107, 110, 115,  96, 114,  87, 111])

In [22]:
hou_rockets.Result.unique()  # ok

array(['L', 'W'], dtype=object)

## Location Column

- change @ to away, nan to home

In [23]:
hou_rockets.Location.value_counts(dropna=False)

NaN    23
@      22
Name: Location, dtype: int64

In [24]:
hou_rockets['Location'] = np.where(hou_rockets['Location'] =='@', 'away', 'home')

In [25]:
hou_rockets.Location.value_counts(dropna=False)

home    23
away    22
Name: Location, dtype: int64

In [26]:
hou_rockets.head()

,Date,Time,Team,Team_score,Location,Opponent,Opponent_score,Result,season
0,"Sun, Apr 21, 2013",9:30p ET,Houston Rockets,91,away,Oklahoma City Thunder,120,L,plo
1,"Wed, Apr 24, 2013",7:00p ET,Houston Rockets,102,away,Oklahoma City Thunder,105,L,plo
2,"Sat, Apr 27, 2013",9:30p ET,Houston Rockets,101,home,Oklahoma City Thunder,104,L,plo
3,"Mon, Apr 29, 2013",9:30p ET,Houston Rockets,105,home,Oklahoma City Thunder,103,W,plo
4,"Wed, May 1, 2013",9:30p ET,Houston Rockets,107,away,Oklahoma City Thunder,100,W,plo

## Date column

- split Date:
    - Day : Sun
    - Date : Month, day, Year

In [ ]:
# hou_rockets['Day'] = hou_rockets['Date'].str.split(',').apply(lambda x: x[0])
# hou_rockets['Date'] = hou_rockets['Date'].str.split(',').apply(lambda x: x[1:])

In [27]:
hou_rockets.head()

,Date,Time,Team,Team_score,Location,Opponent,Opponent_score,Result,season
0,"Sun, Apr 21, 2013",9:30p ET,Houston Rockets,91,away,Oklahoma City Thunder,120,L,plo
1,"Wed, Apr 24, 2013",7:00p ET,Houston Rockets,102,away,Oklahoma City Thunder,105,L,plo
2,"Sat, Apr 27, 2013",9:30p ET,Houston Rockets,101,home,Oklahoma City Thunder,104,L,plo
3,"Mon, Apr 29, 2013",9:30p ET,Houston Rockets,105,home,Oklahoma City Thunder,103,W,plo
4,"Wed, May 1, 2013",9:30p ET,Houston Rockets,107,away,Oklahoma City Thunder,100,W,plo

In [ ]:
#day = hou_rockets['Date'].str.split(',').apply(lambda x: x[0])

In [28]:
hou_rockets['Date'] = pd.to_datetime(hou_rockets['Date'])

In [29]:
hou_rockets.head()

,Date,Time,Team,Team_score,Location,Opponent,Opponent_score,Result,season
0,2013-04-21,9:30p ET,Houston Rockets,91,away,Oklahoma City Thunder,120,L,plo
1,2013-04-24,7:00p ET,Houston Rockets,102,away,Oklahoma City Thunder,105,L,plo
2,2013-04-27,9:30p ET,Houston Rockets,101,home,Oklahoma City Thunder,104,L,plo
3,2013-04-29,9:30p ET,Houston Rockets,105,home,Oklahoma City Thunder,103,W,plo
4,2013-05-01,9:30p ET,Houston Rockets,107,away,Oklahoma City Thunder,100,W,plo

In [30]:
hou_rockets = hou_rockets.set_index('Date').sort_index(ascending=True)

In [31]:
hou_rockets.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45 entries, 2013-04-21 to 2017-05-11
Data columns (total 8 columns):
Time              45 non-null object
Team              45 non-null object
Team_score        45 non-null int64
Location          45 non-null object
Opponent          45 non-null object
Opponent_score    45 non-null int64
Result            45 non-null object
season            45 non-null object
dtypes: int64(2), object(6)
memory usage: 3.2+ KB

In [32]:
hou_rockets.season.value_counts(dropna=False)

plo    45
Name: season, dtype: int64

In [33]:
hou_rockets.head()

,Time,Team,Team_score,Location,Opponent,Opponent_score,Result,season
Date,,,,,,,,
2013-04-21,9:30p ET,Houston Rockets,91,away,Oklahoma City Thunder,120,L,plo
2013-04-24,7:00p ET,Houston Rockets,102,away,Oklahoma City Thunder,105,L,plo
2013-04-27,9:30p ET,Houston Rockets,101,home,Oklahoma City Thunder,104,L,plo
2013-04-29,9:30p ET,Houston Rockets,105,home,Oklahoma City Thunder,103,W,plo
2013-05-01,9:30p ET,Houston Rockets,107,away,Oklahoma City Thunder,100,W,plo

## Save clean data to  to csv

In [34]:
hou_rockets.to_csv('sports_data_clean/hou_rockets_10_17_plo_clean.csv')

In [35]:
ls sports_data_clean/

astros_08_17_clean.csv*       hou_rockets_10_17_plo_clean.csv*
astros_10_17_clean.csv*       hou_rockets_10_17_reg_plo_clean.csv*
astros_10_17_plo_clean.csv*   nfl_08_17_clean.csv*
astros_10_17_reg_clean.csv*   nfl10clean.csv*
dynamo_08_17_clean.csv*       nfl10yearsfull.csv*
dynamo_10_17_clean.csv*       nfl17years_clean.csv*
dynamo_10_17_plo.csv*         nfl17years_PST_clean.csv*
dynamo_10_17__reg_clean.csv*  rice_08_17_clean.csv*
hou_home_10_17_clean.csv*     tsu_08_17_clean.csv*
hou_rockets_08_17_clean.csv*  uh_08_17_clean.csv*

In [ ]:
## Finish