In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
ls sports_data_raw/NFL/

nfl10clean.csv*      nfl17yearsfull_PST_raw.csv*
nfl10yearsfull.csv*  nfl17yearsfull_raw.csv*

In [44]:
# path_reg = 'sports_data_clean/nfl17years_clean.csv'
# path_pst = 'sports_data_clean/nfl17years_PST_clean.csv'
# df_reg = pd.read_csv(path_reg,index_col='scheduled')
# df_pst = pd.read_csv(path_pst, index_col='scheduled')

In [45]:
path_reg = 'sports_data_raw/NFL/nfl17yearsfull_raw.csv'
path_pst = 'sports_data_raw/NFL/nfl17yearsfull_PST_raw.csv'
df_reg = pd.read_csv(path_reg,index_col='scheduled')
df_pst = pd.read_csv(path_pst, index_col='scheduled')

In [46]:
df_reg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4593 entries, 2000-09-03T18:03:36+00:00 to 2017-12-31T21:25:00+00:00
Data columns (total 33 columns):
Unnamed: 0             4593 non-null int64
attendance             4592 non-null float64
away.alias             4593 non-null object
away.game_number       4593 non-null int64
away.id                4593 non-null object
away.name              4593 non-null object
broadcast.internet     81 non-null object
broadcast.network      1536 non-null object
broadcast.satellite    801 non-null float64
entry_mode             4593 non-null object
home.alias             4593 non-null object
home.game_number       4593 non-null int64
home.id                4593 non-null object
home.name              4593 non-null object
id                     4593 non-null object
number                 1537 non-null float64
reference              1537 non-null float64
scoring.away_points    4592 non-null float64
scoring.home_points    4592 non-null float64
scoring.periods        4592 non-null object
status                 4593 non-null object
utc_offset             4592 non-null float64
venue.address          4593 non-null object
venue.capacity         4593 non-null int64
venue.city             4593 non-null object
venue.country          4145 non-null object
venue.id               4593 non-null object
venue.name             4593 non-null object
venue.roof_type        4593 non-null object
venue.state            4569 non-null object
venue.surface          4593 non-null object
venue.zip              4587 non-null object
weather                2307 non-null object
dtypes: float64(7), int64(4), object(22)
memory usage: 1.2+ MB

In [47]:
df_pst.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201 entries, 2000-12-30T17:32:48+00:00 to 2018-01-28T20:00:00+00:00
Data columns (total 33 columns):
Unnamed: 0             201 non-null int64
attendance             201 non-null int64
away.alias             201 non-null object
away.game_number       187 non-null float64
away.id                201 non-null object
away.name              201 non-null object
broadcast.internet     6 non-null object
broadcast.network      68 non-null object
broadcast.satellite    4 non-null float64
entry_mode             201 non-null object
home.alias             201 non-null object
home.game_number       187 non-null float64
home.id                201 non-null object
home.name              201 non-null object
id                     201 non-null object
number                 68 non-null float64
reference              68 non-null float64
scoring.away_points    201 non-null int64
scoring.home_points    201 non-null int64
scoring.periods        201 non-null object
status                 201 non-null object
utc_offset             201 non-null int64
venue.address          201 non-null object
venue.capacity         201 non-null int64
venue.city             201 non-null object
venue.country          184 non-null object
venue.id               201 non-null object
venue.name             201 non-null object
venue.roof_type        201 non-null object
venue.state            201 non-null object
venue.surface          201 non-null object
venue.zip              199 non-null float64
weather                110 non-null object
dtypes: float64(6), int64(6), object(21)
memory usage: 53.4+ KB

## Team with the most wins
- reg
- post

In [50]:
df_reg.head(1)

,Unnamed: 0,attendance,away.alias,away.game_number,away.id,away.name,broadcast.internet,broadcast.network,broadcast.satellite,entry_mode,...,venue.capacity,venue.city,venue.country,venue.id,venue.name,venue.roof_type,venue.state,venue.surface,venue.zip,weather
scheduled,,,,,,,,,,,,,,,,,,,,,
2000-09-03T18:03:36+00:00,0,64900.0,DET,1,c5a59daa-53a7-4de0-851f-fb12be893e9e,Detroit Lions,NaN,NaN,NaN,INGEST,...,76468,New Orleans,USA,3c85d89a-ec66-4983-acd5-1381d6c8673a,Mercedes-Benz Superdome,dome,LA,artificial,70112,"Partly Cloudly Temp: 89 F, Wind: West 10 mph"

In [65]:
df_reg[['home.alias','venue.capacity', 'attendance']].head()

                          home.alias  venue.capacity  attendance
scheduled
2000-09-03T18:03:36+00:00         NO           76468     64900.0
2000-09-03T18:04:35+00:00         NE           60292     60292.0
2000-09-03T21:15:54+00:00        MIA           76100     72949.0
2000-09-03T21:20:12+00:00         GB           80750     59870.0
2000-09-03T19:02:58+00:00        WAS           83000     80257.0

In [66]:
df_reg.columns

Index(['Unnamed: 0', 'attendance', 'away.alias', 'away.game_number', 'away.id',
       'away.name', 'broadcast.internet', 'broadcast.network',
       'broadcast.satellite', 'entry_mode', 'home.alias', 'home.game_number',
       'home.id', 'home.name', 'id', 'number', 'reference',
       'scoring.away_points', 'scoring.home_points', 'scoring.periods',
       'status', 'utc_offset', 'venue.address', 'venue.capacity', 'venue.city',
       'venue.country', 'venue.id', 'venue.name', 'venue.roof_type',
       'venue.state', 'venue.surface', 'venue.zip', 'weather'],
      dtype='object')

In [68]:
df_reg['venue.name'].unique()

array(['Mercedes-Benz Superdome', 'Foxboro Stadium', 'Hard Rock Stadium',
       'Lambeau Field', 'FedExField', 'Three Rivers Stadium',
       'Georgia Dome', 'Oakland Alameda Coliseum', 'Arrowhead Stadium',
       'Giants Stadium', 'New Era Field', 'Texas Stadium',
       'Edward Jones Dome', 'Mall of America Field',
       'FirstEnergy Stadium', 'Husky Stadium', 'Raymond James Stadium',
       'M&T Bank Stadium', 'Pontiac Silverdome', 'Veterans Stadium',
       'Sun Devil Stadium', 'Qualcomm Stadium', 'Paul Brown Stadium',
       'Mile High Stadium', 'RCA Dome', 'Nissan Stadium',
       'Candlestick Park', 'Soldier Field', 'EverBank Field',
       'Bank of America Stadium', 'Sports Authority Field at Mile High',
       'Heinz Field', 'Gillette Stadium', 'Memorial Stadium (Champaign)',
       'NRG Stadium', 'CenturyLink Field', 'Ford Field',
       'Lincoln Financial Field', 'Aztec Stadium', 'Alamodome',
       'Tiger Stadium (LSU)', 'University of Phoenix Stadium',
       'Wembley Stadium', 'Lucas Oil Stadium', 'Rogers Centre',
       'AT&T Stadium', 'MetLife Stadium', 'TCF Bank Stadium',
       "Levi's Stadium", 'Los Angeles Memorial Coliseum',
       'U.S. Bank Stadium', 'Twickenham Stadium', 'Mercedes-Benz Stadium',
       'StubHub Center'], dtype=object)

In [96]:
df_reg['venue.name'].value_counts(dropna=False).head()

Giants Stadium             161
Lambeau Field              144
Bank of America Stadium    144
Nissan Stadium             144
FedExField                 144
Name: venue.name, dtype: int64

In [106]:
df_reg['venue.city'].value_counts(dropna=False).head(20)

East Rutherford    289
Charlotte          144
Foxborough         144
Landover           144
Baltimore          144
Denver             144
Pittsburgh         144
Green Bay          144
Nashville          144
Seattle            144
Philadelphia       144
Indianapolis       144
Kansas City        143
Cleveland          143
Cincinnati         143
Atlanta            143
Miami Gardens      142
Tampa              142
Minneapolis        142
Oakland            141
Name: venue.city, dtype: int64

In [109]:
df_reg[df_reg['venue.city'] == 'Nashville']['home.alias'].value_counts()

TEN    144
Name: home.alias, dtype: int64

In [88]:
df_reg['venue.state'].value_counts(dropna=False)

CA     441
FL     423
NJ     289
MD     288
PA     288
OH     286
TX     275
MO     270
MI     146
IL     144
IN     144
MA     144
AZ     144
WA     144
TN     144
NC     144
WI     144
CO     144
GA     143
MN     142
LA     139
NY     137
NaN     24
ON       6
Name: venue.state, dtype: int64