In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [3]:
ls data/crime_beat/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [4]:
games = 'data/sports_scores/rockets_1A10.csv'
crime = 'data/crime_beat/crime_1A10_10_17.csv'

# scores df

In [5]:
df = pd.read_csv(games,index_col='Date').sort_index(ascending=True)

## win column
df['win'] =  np.where(df['Team_score'] > df['Opponent_score'],1,0)

# only oposing name and win boolean
df = df[['win','beat']]

# show

df.head()

            win  beat
Date
2009-10-31    1  1A10
2009-11-04    0  1A10
2009-11-06    1  1A10
2009-11-11    1  1A10
2009-11-17    0  1A10

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 343 entries, 2009-10-31 to 2017-05-11
Data columns (total 2 columns):
win     343 non-null int64
beat    343 non-null object
dtypes: int64(1), object(1)
memory usage: 8.0+ KB

# Crime df

In [7]:
crime_df = pd.read_csv(crime).sort_index(ascending=True)

crime_df['Date_Hour'] = pd.to_datetime(crime_df['Date_Hour'])
crime_df['Date_Hour'] = crime_df['Date_Hour'].dt.date

crime_df = crime_df.set_index('Date_Hour')


# selectd columns
crime_df = crime_df[['OffenseType','Beat','Hour']]

# # count Offense type given date
# date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()

# ## show
# date_crimes.head()

In [8]:
crime_df = pd.get_dummies(crime_df)

In [9]:
crime_df.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft,Beat_1A10
Date_Hour,,,,,,,,,
2010-01-01,0,0,1,0,0,0,0,0,1
2010-01-01,0,0,0,0,0,0,0,1,1
2010-01-01,0,0,0,1,0,0,0,0,1
2010-01-01,0,0,0,0,0,0,0,1,1
2010-01-01,0,0,0,0,0,0,0,1,1

In [10]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15204 entries, 2010-01-01 to 2017-12-31
Data columns (total 9 columns):
Hour                              15204 non-null int64
OffenseType_Aggravated Assault    15204 non-null uint8
OffenseType_Auto Theft            15204 non-null uint8
OffenseType_Burglary              15204 non-null uint8
OffenseType_Murder                15204 non-null uint8
OffenseType_Rape                  15204 non-null uint8
OffenseType_Robbery               15204 non-null uint8
OffenseType_Theft                 15204 non-null uint8
Beat_1A10                         15204 non-null uint8
dtypes: int64(1), uint8(8)
memory usage: 356.3+ KB

# Days Df
- create a df with everyday timestamp from Jan 2010 to Dec 2017

In [11]:
days = pd.date_range(start='01/01/2010', end='12/31/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)
days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

In [12]:
365 * 8

2920

In [13]:
len(days)/365

8.005479452054795

In [14]:
days.tail()

Empty DataFrame
Columns: []
Index: [2017-12-27 00:00:00, 2017-12-28 00:00:00, 2017-12-29 00:00:00, 2017-12-30 00:00:00, 2017-12-31 00:00:00]

# Merge days df with crimes_df

In [15]:
# calendar_crimes = pd.merge(days,date_crimes,  left_index=True, right_index=True, how='left')
# calendar_crimes.head()
calendar_crimes = pd.merge(days,crime_df,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft,Beat_1A10
2010-01-01,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2010-01-01,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [16]:
calendar_crimes.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15235 entries, 2010-01-01 to 2017-12-31
Data columns (total 9 columns):
Hour                              15204 non-null float64
OffenseType_Aggravated Assault    15204 non-null float64
OffenseType_Auto Theft            15204 non-null float64
OffenseType_Burglary              15204 non-null float64
OffenseType_Murder                15204 non-null float64
OffenseType_Rape                  15204 non-null float64
OffenseType_Robbery               15204 non-null float64
OffenseType_Theft                 15204 non-null float64
Beat_1A10                         15204 non-null float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
len(calendar_crimes[calendar_crimes.Hour.isnull()])

In [ ]:
calendar_crimes[calendar_crimes.Hour.isnull()][:10]

In [ ]:
calendar_crimes.OffenseType.value_counts(dropna=False)

## Change nans with 0

In [ ]:
calendar_crimes.OffenseType.replace( np.nan,0, inplace=True)

In [ ]:
calendar_crimes.OffenseType.value_counts(dropna=False)

# merge calendar_crimes with score

In [17]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')

# change column names
#merge_data.columns = ['offenses','away_team','win']

merge_data.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft,Beat_1A10,win,beat
2010-01-01,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN
2010-01-01,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN

## Change nan values on beat to beat value

In [ ]:
merge_data.beat.value_counts(dropna=False)

In [ ]:
merge_data.beat.replace( np.nan,'1A10', inplace=True)

In [ ]:
merge_data.beat.value_counts(dropna=False)

In [ ]:
merge_data.Opponent.value_counts(dropna=False)

## Cleanup colums

In [ ]:
merge_data.columns  = ['crime', 'away_team', 'won','beat']

In [ ]:
merge_data.info()

In [18]:
def game_feature(df):
    if df.win == 1:
        val = 'Won Game'
    elif df.win == 0:
        val = 'Lost Game'
    else:
        val = 'No Game'
    return val

merge_data['game'] = merge_data.apply(game_feature,axis=1)

In [19]:
merge_data.head()

,Hour,OffenseType_Aggravated Assault,OffenseType_Auto Theft,OffenseType_Burglary,OffenseType_Murder,OffenseType_Rape,OffenseType_Robbery,OffenseType_Theft,Beat_1A10,win,beat,game
2010-01-01,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,No Game
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,No Game
2010-01-01,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,No Game
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,No Game
2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,No Game

In [ ]:
merge_data.crime.value_counts(dropna=False)

In [ ]:
merge_data.crime = merge_data.crime.astype(int)

In [ ]:
merge_data.crime.value_counts(dropna=False)

In [ ]:
merge_data

# Display non-nans

In [ ]:
merge_data.dropna(subset=['away_team', 'won'])

## Add sport col

In [ ]:
merge_data['sport'] = 'bkb'

In [ ]:
merge_data.head()

In [20]:
#merge_data.to_csv('data/final/Rockets1017_final.csv')
merge_data.to_csv('data/final/DUMMYRockets1017_final.csv')

In [ ]:
merge_data.info()