In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
import pandas as pd
from collections import Counter
from sklearn import preprocessing
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.model_selection import cross_val_score

sns.set_context("talk")

/home/frank/miniconda3/envs/springboard/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
path = 'data/crime_astros_finalB.csv'

In [3]:
df = pd.read_csv(path)
df.drop(['date','year'],axis=1,inplace=True)
nogame = df.game =='No Game'
df = df[~nogame]

df.head()

,crime_total,weekday,month,dist_stadium_meadian,season,part_day_mode,hour_mode,premise_mode,offense_mode,game
94,14,Monday,Apr,0.331182,Spring,Evening,19,comm prk,Theft,Lost Game
95,7,Tuesday,Apr,0.511708,Spring,Afternoon,0,comm prk,Auto Theft,Lost Game
96,7,Wednesday,Apr,0.498919,Spring,Afternoon,12,comm prk,Theft,Lost Game
98,9,Friday,Apr,0.594481,Spring,Evening,12,store,Theft,Lost Game
99,9,Saturday,Apr,0.621294,Spring,Afternoon,0,prk,Theft,Lost Game

choose the feature that:
- purest subgroup

## algo

-

In [4]:
dd = pd.get_dummies(df,drop_first=True)
dd.head()

,crime_total,dist_stadium_meadian,hour_mode,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,month_Aug,...,premise_mode_stadium,premise_mode_store,premise_mode_street,premise_mode_unk,premise_mode_warehouse,offense_mode_Auto Theft,offense_mode_Burglary,offense_mode_Robbery,offense_mode_Theft,game_Won Game
94,14,0.331182,19,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
95,7,0.511708,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
96,7,0.498919,12,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
98,9,0.594481,12,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
99,9,0.621294,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [5]:
X = dd.drop(['crime_total'],axis=1)
X_feature_names =list( X.columns)
y=dd.crime_total.values

In [6]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.cross_validation import train_test_split

/home/frank/miniconda3/envs/springboard/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [7]:
regressor = DecisionTreeRegressor(random_state=0)
cross_val_score(regressor, X,y, cv=10)

array([-1.0357336 , -0.51486819, -1.21088077, -0.39124236, -0.39858396,
       -2.24585635, -0.90176258, -0.35830976, -0.85926167, -0.36430824])

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [9]:
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [10]:
y_pred = regressor.predict(X_test)

In [11]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

3.423963133640553