In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import googlemaps
import gmaps
import requests
API_KEY = 'AIzaSyAjfYfB64npEu7-4ledi1GGMbXTnI6XeOg'
import gmaps_func as gf

In [ ]:
def get_geocode(loc,key):
    '''input address and api key
    return tuple with lat and long'''
    address = '{}, Houston, TX'.format(loc)
    pa = {'address': address, 'key':key}
    URL = 'https://maps.googleapis.com/maps/api/geocode/json'
    response = requests.get(URL,params=pa)
    try:
        response.raise_for_status()
    except requests.exceptions.HTTPError as e:
        return "Error: " + str(e) # not 200
    js_obj = response.json()
    if js_obj['status'] == 'OK':
        gps = tuple(js_obj['results'][0]['geometry']['location'].values())
        return gps
    elif js_obj['status'] =='OVER_QUERY_LIMIT':
        return np.nan
    else:
        print(js_obj['status'])
        return js_obj['status']

In [ ]:
def gm_geocode(address,API_KEY):
    loc = '{}, Houston, TX'.format(address)
    gmaps = googlemaps.Client(key=API_KEY)
    r = gmaps.geocode(loc)
    lat_lng = tuple(r[0]['geometry']['location'].values())
    full_add = r[0]['formatted_address']
    return lat_lng, full_add

In [ ]:
ls crime_data_clean

In [11]:
path = 'crime_data_clean/crime_10H30_10_17.csv'
df = pd.read_csv(path,index_col='Date_Hour', parse_dates=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4398 entries, 2010-01-01 00:00:00 to 2017-12-31 16:00:00
Data columns (total 11 columns):
Beat           4398 non-null object
BlockRange     4398 non-null object
StreetName     4398 non-null object
OffenseType    4398 non-null object
Premise        4398 non-null object
NumOffenses    4398 non-null int64
Hour           4398 non-null int64
day            4398 non-null int64
weekday        4398 non-null object
month          4398 non-null object
year           4398 non-null int64
dtypes: int64(4), object(7)
memory usage: 412.3+ KB

In [13]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01 00:00:00,10H30,1700-1799,SAMPSON,Theft,residence/house,1,0,1,Friday,Jan,2010
2010-01-01 19:00:00,10H30,500-599,BASTROP,Theft,apartment parking lot,1,19,1,Friday,Jan,2010
2010-01-01 20:00:00,10H30,1700-1799,HUTCHINS,Theft,residence/house,1,20,1,Friday,Jan,2010
2010-01-02 01:00:00,10H30,2000-2099,LEELAND,Theft,road/street/sidewalk,1,1,2,Saturday,Jan,2010
2010-01-03 04:00:00,10H30,1900-1999,COMMERCE,Theft,commercial parking lot/garage,1,4,3,Sunday,Jan,2010

## Cut  a slice

In [14]:
df_10 = df.iloc[:10].copy()
df_20 = df.iloc[:20].copy()
df_30 = df.iloc[:30].copy()

In [15]:
df_10.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01 00:00:00,10H30,1700-1799,SAMPSON,Theft,residence/house,1,0,1,Friday,Jan,2010
2010-01-01 19:00:00,10H30,500-599,BASTROP,Theft,apartment parking lot,1,19,1,Friday,Jan,2010
2010-01-01 20:00:00,10H30,1700-1799,HUTCHINS,Theft,residence/house,1,20,1,Friday,Jan,2010
2010-01-02 01:00:00,10H30,2000-2099,LEELAND,Theft,road/street/sidewalk,1,1,2,Saturday,Jan,2010
2010-01-03 04:00:00,10H30,1900-1999,COMMERCE,Theft,commercial parking lot/garage,1,4,3,Sunday,Jan,2010

## return good BlockRange

In [7]:
gf.block_split(df_10)

Date_Hour
2010-01-01 00:00:00    1750
2010-01-01 19:00:00     550
2010-01-01 20:00:00    1750
2010-01-02 01:00:00    2050
2010-01-03 04:00:00    1950
2010-01-03 18:00:00    2050
2010-01-04 08:00:00    1750
2010-01-05 13:00:00     150
2010-01-05 18:00:00    2350
2010-01-06 00:00:00     950
dtype: object

In [16]:
df_10['block'] = gf.block_split(df_10)

In [18]:
df_10

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block
Date_Hour,,,,,,,,,,,,
2010-01-01 00:00:00,10H30,1700-1799,SAMPSON,Theft,residence/house,1,0,1,Friday,Jan,2010,1750
2010-01-01 19:00:00,10H30,500-599,BASTROP,Theft,apartment parking lot,1,19,1,Friday,Jan,2010,550
2010-01-01 20:00:00,10H30,1700-1799,HUTCHINS,Theft,residence/house,1,20,1,Friday,Jan,2010,1750
2010-01-02 01:00:00,10H30,2000-2099,LEELAND,Theft,road/street/sidewalk,1,1,2,Saturday,Jan,2010,2050
2010-01-03 04:00:00,10H30,1900-1999,COMMERCE,Theft,commercial parking lot/garage,1,4,3,Sunday,Jan,2010,1950
2010-01-03 18:00:00,10H30,2000-2099,MCKINNEY,Theft,construction site,1,18,3,Sunday,Jan,2010,2050
2010-01-04 08:00:00,10H30,1700-1799,ADEN MIST,Burglary,apartment,1,8,4,Monday,Jan,2010,1750
2010-01-05 13:00:00,10H30,100-199,CHARTRES,Theft,road/street/sidewalk,1,13,5,Tuesday,Jan,2010,150
2010-01-05 18:00:00,10H30,2300-2399,LAMAR,Burglary,commercial building,1,18,5,Tuesday,Jan,2010,2350
2010-01-06 00:00:00,10H30,900-999,MCKINNEY PARK,Theft,driveway,1,0,6,Wednesday,Jan,2010,950

## Gett full address

In [20]:
df_10['address']  = df_10[['block', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)

In [23]:
# drop unused cols
df_10.drop(['BlockRange','StreetName','block'],axis=1,inplace=True)

In [24]:
df_10

,Beat,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,address
Date_Hour,,,,,,,,,,
2010-01-01 00:00:00,10H30,Theft,residence/house,1,0,1,Friday,Jan,2010,1750 SAMPSON
2010-01-01 19:00:00,10H30,Theft,apartment parking lot,1,19,1,Friday,Jan,2010,550 BASTROP
2010-01-01 20:00:00,10H30,Theft,residence/house,1,20,1,Friday,Jan,2010,1750 HUTCHINS
2010-01-02 01:00:00,10H30,Theft,road/street/sidewalk,1,1,2,Saturday,Jan,2010,2050 LEELAND
2010-01-03 04:00:00,10H30,Theft,commercial parking lot/garage,1,4,3,Sunday,Jan,2010,1950 COMMERCE
2010-01-03 18:00:00,10H30,Theft,construction site,1,18,3,Sunday,Jan,2010,2050 MCKINNEY
2010-01-04 08:00:00,10H30,Burglary,apartment,1,8,4,Monday,Jan,2010,1750 ADEN MIST
2010-01-05 13:00:00,10H30,Theft,road/street/sidewalk,1,13,5,Tuesday,Jan,2010,150 CHARTRES
2010-01-05 18:00:00,10H30,Burglary,commercial building,1,18,5,Tuesday,Jan,2010,2350 LAMAR
2010-01-06 00:00:00,10H30,Theft,driveway,1,0,6,Wednesday,Jan,2010,950 MCKINNEY PARK

# Get lat_long & full address

In [26]:
df_10['tup_add'] = df_10['address'].apply(gf.gm_geocode,args=(API_KEY,))

In [28]:
df_10.head()

,Beat,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,address,tup_add
Date_Hour,,,,,,,,,,,
2010-01-01 00:00:00,10H30,Theft,residence/house,1,0,1,Friday,Jan,2010,1750 SAMPSON,"((29.7390659, -95.34897509999999), 1750 Sampso..."
2010-01-01 19:00:00,10H30,Theft,apartment parking lot,1,19,1,Friday,Jan,2010,550 BASTROP,"((29.7536483, -95.3510778), 550 Bastrop St, Ho..."
2010-01-01 20:00:00,10H30,Theft,residence/house,1,20,1,Friday,Jan,2010,1750 HUTCHINS,"((29.7452984, -95.3593236), 1750 Hutchins St, ..."
2010-01-02 01:00:00,10H30,Theft,road/street/sidewalk,1,1,2,Saturday,Jan,2010,2050 LEELAND,"((29.7466075, -95.3593348), 2050 Leeland St, H..."
2010-01-03 04:00:00,10H30,Theft,commercial parking lot/garage,1,4,3,Sunday,Jan,2010,1950 COMMERCE,"((29.7588305, -95.35140249999999), 1950 Commer..."

## Split tuple

In [29]:
new_add = df_10.tup_add.apply(pd.Series,index=['lat_lon','full_address'])

In [30]:
new_add

,lat_lon,full_address
Date_Hour,,
2010-01-01 00:00:00,"(29.7390659, -95.34897509999999)","1750 Sampson St, Houston, TX 77003, USA"
2010-01-01 19:00:00,"(29.7536483, -95.3510778)","550 Bastrop St, Houston, TX 77003, USA"
2010-01-01 20:00:00,"(29.7452984, -95.3593236)","1750 Hutchins St, Houston, TX 77003, USA"
2010-01-02 01:00:00,"(29.7466075, -95.3593348)","2050 Leeland St, Houston, TX 77003, USA"
2010-01-03 04:00:00,"(29.7588305, -95.35140249999999)","1950 Commerce St, Houston, TX 77002, USA"
2010-01-03 18:00:00,"(29.7511977, -95.3561884)","2050 McKinney St, Houston, TX 77003, USA"
2010-01-04 08:00:00,"(29.741344, -95.35397789999999)","1750 Aden Mist Dr, Houston, TX 77003, USA"
2010-01-05 13:00:00,"(29.7611979, -95.34920699999999)","150 Chartres St, Houston, TX 77003, USA"
2010-01-05 18:00:00,"(29.7488639, -95.3537793)","2350 Lamar St, Houston, TX 77003, USA"
2010-01-06 00:00:00,"(29.7571808, -95.36528919999999)","950 McKinney St, Houston, TX 77002, USA"

## Join split add to original dataframe

In [32]:
df_10 = df_10.join(new_add)

In [33]:
df_10

,Beat,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,address,tup_add,lat_lon,full_address
Date_Hour,,,,,,,,,,,,,
2010-01-01 00:00:00,10H30,Theft,residence/house,1,0,1,Friday,Jan,2010,1750 SAMPSON,"((29.7390659, -95.34897509999999), 1750 Sampso...","(29.7390659, -95.34897509999999)","1750 Sampson St, Houston, TX 77003, USA"
2010-01-01 19:00:00,10H30,Theft,apartment parking lot,1,19,1,Friday,Jan,2010,550 BASTROP,"((29.7536483, -95.3510778), 550 Bastrop St, Ho...","(29.7536483, -95.3510778)","550 Bastrop St, Houston, TX 77003, USA"
2010-01-01 20:00:00,10H30,Theft,residence/house,1,20,1,Friday,Jan,2010,1750 HUTCHINS,"((29.7452984, -95.3593236), 1750 Hutchins St, ...","(29.7452984, -95.3593236)","1750 Hutchins St, Houston, TX 77003, USA"
2010-01-02 01:00:00,10H30,Theft,road/street/sidewalk,1,1,2,Saturday,Jan,2010,2050 LEELAND,"((29.7466075, -95.3593348), 2050 Leeland St, H...","(29.7466075, -95.3593348)","2050 Leeland St, Houston, TX 77003, USA"
2010-01-03 04:00:00,10H30,Theft,commercial parking lot/garage,1,4,3,Sunday,Jan,2010,1950 COMMERCE,"((29.7588305, -95.35140249999999), 1950 Commer...","(29.7588305, -95.35140249999999)","1950 Commerce St, Houston, TX 77002, USA"
2010-01-03 18:00:00,10H30,Theft,construction site,1,18,3,Sunday,Jan,2010,2050 MCKINNEY,"((29.7511977, -95.3561884), 2050 McKinney St, ...","(29.7511977, -95.3561884)","2050 McKinney St, Houston, TX 77003, USA"
2010-01-04 08:00:00,10H30,Burglary,apartment,1,8,4,Monday,Jan,2010,1750 ADEN MIST,"((29.741344, -95.35397789999999), 1750 Aden Mi...","(29.741344, -95.35397789999999)","1750 Aden Mist Dr, Houston, TX 77003, USA"
2010-01-05 13:00:00,10H30,Theft,road/street/sidewalk,1,13,5,Tuesday,Jan,2010,150 CHARTRES,"((29.7611979, -95.34920699999999), 150 Chartre...","(29.7611979, -95.34920699999999)","150 Chartres St, Houston, TX 77003, USA"
2010-01-05 18:00:00,10H30,Burglary,commercial building,1,18,5,Tuesday,Jan,2010,2350 LAMAR,"((29.7488639, -95.3537793), 2350 Lamar St, Hou...","(29.7488639, -95.3537793)","2350 Lamar St, Houston, TX 77003, USA"
2010-01-06 00:00:00,10H30,Theft,driveway,1,0,6,Wednesday,Jan,2010,950 MCKINNEY PARK,"((29.7571808, -95.36528919999999), 950 McKinne...","(29.7571808, -95.36528919999999)","950 McKinney St, Houston, TX 77002, USA"

# Drop unwanted cols

In [35]:
df_10.drop(['address','tup_add',],axis=1,inplace=True)

In [36]:
df_10

,Beat,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,lat_lon,full_address
Date_Hour,,,,,,,,,,,
2010-01-01 00:00:00,10H30,Theft,residence/house,1,0,1,Friday,Jan,2010,"(29.7390659, -95.34897509999999)","1750 Sampson St, Houston, TX 77003, USA"
2010-01-01 19:00:00,10H30,Theft,apartment parking lot,1,19,1,Friday,Jan,2010,"(29.7536483, -95.3510778)","550 Bastrop St, Houston, TX 77003, USA"
2010-01-01 20:00:00,10H30,Theft,residence/house,1,20,1,Friday,Jan,2010,"(29.7452984, -95.3593236)","1750 Hutchins St, Houston, TX 77003, USA"
2010-01-02 01:00:00,10H30,Theft,road/street/sidewalk,1,1,2,Saturday,Jan,2010,"(29.7466075, -95.3593348)","2050 Leeland St, Houston, TX 77003, USA"
2010-01-03 04:00:00,10H30,Theft,commercial parking lot/garage,1,4,3,Sunday,Jan,2010,"(29.7588305, -95.35140249999999)","1950 Commerce St, Houston, TX 77002, USA"
2010-01-03 18:00:00,10H30,Theft,construction site,1,18,3,Sunday,Jan,2010,"(29.7511977, -95.3561884)","2050 McKinney St, Houston, TX 77003, USA"
2010-01-04 08:00:00,10H30,Burglary,apartment,1,8,4,Monday,Jan,2010,"(29.741344, -95.35397789999999)","1750 Aden Mist Dr, Houston, TX 77003, USA"
2010-01-05 13:00:00,10H30,Theft,road/street/sidewalk,1,13,5,Tuesday,Jan,2010,"(29.7611979, -95.34920699999999)","150 Chartres St, Houston, TX 77003, USA"
2010-01-05 18:00:00,10H30,Burglary,commercial building,1,18,5,Tuesday,Jan,2010,"(29.7488639, -95.3537793)","2350 Lamar St, Houston, TX 77003, USA"
2010-01-06 00:00:00,10H30,Theft,driveway,1,0,6,Wednesday,Jan,2010,"(29.7571808, -95.36528919999999)","950 McKinney St, Houston, TX 77002, USA"