In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import googlemaps
import gmaps
import requests
API_KEY = 'AIzaSyDx5QmI3U_EDK3N8uVW32D65fdLdv82C58'

import gmaps_func as gf
import datetime as dt

In [2]:
ls crime_data_clean/

beats_alternate_10_17.csv*      crime_15E40_10_17df_4000.csv*
beats_filter_10_17.csv*         crime_15E40_10_17df_8000.csv*
crime_10H10_10_17.csv*          crime_15E40_10_17FINAL.csv*
crime_10H30_10_17ADD.csv*       crime_1A10_10_17ADD.csv*
crime_10H30_10_17.csv*          crime_1A10_10_17.csv*
crime_10H30_10_17FINAL.csv*     crime_1A10_10_17df_14978.csv*
crime_10H40_10_17.csv*          crime_1A10_10_17df_4000.csv*
crime_10H50_10_17ADD.csv*       crime_1A10_10_17df_8000.csv*
crime_10H50_10_17.csv*          crime_1A10_10_17df_p1.csv*
crime_10H50_10_17FINAL.csv*     crime_1A10_10_17df_p2.csv*
crime_10H60_10_17.csv*          crime_1A10_10_17df_p3.csv*
crime_10H70_10_17.csv*          crime_1A10_10_17df_p4.csv*
crime_10H80_10_17ADD.csv*       crime_1A10_10_17FINAL.csv*
crime_10H80_10_17.csv*          crime_final_clean10_17.csv*
crime_10H80_10_17FINAL.csv*     new/
crime_15E40_10_17ADD.csv*       stadium_beats_geocode.csv*
crime_15E40_10_17.csv*          stadiums_final.csv*
crime_15E40_10_17df_12000.csv*  years/
crime_15E40_10_17df_16281.csv*

In [3]:
path = 'crime_data_clean/crime_10H60_10_17.csv'
df = pd.read_csv(path,index_col='Date_Hour', parse_dates=True)

In [4]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01 00:00:00,10H60,2500-2599,SOUTHMORE,Burglary,apartment,1,0,1,Friday,Jan,2010
2010-01-01 00:00:00,10H60,3500-3599,MACGREGOR,Theft,apartment,1,0,1,Friday,Jan,2010
2010-01-01 04:00:00,10H60,4000-4099,CANFIELD,Robbery,bank/saving institution parking lot,1,4,1,Friday,Jan,2010
2010-01-01 06:00:00,10H60,3700-3799,ODIN,Theft,apartment,1,6,1,Friday,Jan,2010
2010-01-01 14:00:00,10H60,5500-5599,LIVE OAK,Theft,apartment,1,14,1,Friday,Jan,2010

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7697 entries, 2010-01-01 00:00:00 to 2017-12-31 15:00:00
Data columns (total 11 columns):
Beat           7697 non-null object
BlockRange     7697 non-null object
StreetName     7697 non-null object
OffenseType    7697 non-null object
Premise        7697 non-null object
NumOffenses    7697 non-null int64
Hour           7697 non-null int64
day            7697 non-null int64
weekday        7697 non-null object
month          7697 non-null object
year           7697 non-null int64
dtypes: int64(4), object(7)
memory usage: 721.6+ KB

## Return a good blockrange value

In [6]:
gf.block_split(df)

ValueError: invalid literal for int() with base 10: 'UNK'

## Drop 'UNK' values

In [7]:
unk = df.BlockRange == 'UNK'

In [8]:
df = df[~unk]

In [9]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01 00:00:00,10H60,2500-2599,SOUTHMORE,Burglary,apartment,1,0,1,Friday,Jan,2010
2010-01-01 00:00:00,10H60,3500-3599,MACGREGOR,Theft,apartment,1,0,1,Friday,Jan,2010
2010-01-01 04:00:00,10H60,4000-4099,CANFIELD,Robbery,bank/saving institution parking lot,1,4,1,Friday,Jan,2010
2010-01-01 06:00:00,10H60,3700-3799,ODIN,Theft,apartment,1,6,1,Friday,Jan,2010
2010-01-01 14:00:00,10H60,5500-5599,LIVE OAK,Theft,apartment,1,14,1,Friday,Jan,2010

In [10]:
df['block'] = gf.block_split(df)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df.BlockRange.value_counts()[:10]

3300-3399    688
3500-3599    439
2400-2499    392
2500-2599    370
3800-3899    352
3700-3799    351
3200-3299    340
2600-2699    320
4400-4499    308
3600-3699    297
Name: BlockRange, dtype: int64

In [ ]:
df.head()

In [ ]:
df.head()

## Create full addres col

In [12]:
df['address']  = df[['block', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address
Date_Hour,,,,,,,,,,,,,
2010-01-01 00:00:00,10H60,2500-2599,SOUTHMORE,Burglary,apartment,1,0,1,Friday,Jan,2010,2550,2550 SOUTHMORE
2010-01-01 00:00:00,10H60,3500-3599,MACGREGOR,Theft,apartment,1,0,1,Friday,Jan,2010,3550,3550 MACGREGOR
2010-01-01 04:00:00,10H60,4000-4099,CANFIELD,Robbery,bank/saving institution parking lot,1,4,1,Friday,Jan,2010,4050,4050 CANFIELD
2010-01-01 06:00:00,10H60,3700-3799,ODIN,Theft,apartment,1,6,1,Friday,Jan,2010,3750,3750 ODIN
2010-01-01 14:00:00,10H60,5500-5599,LIVE OAK,Theft,apartment,1,14,1,Friday,Jan,2010,5550,5550 LIVE OAK

In [ ]:
df.info()

# get full lat long and address from google

In [14]:
df_1000 = df.iloc[:1000].copy()
df_2000 = df.iloc[1000:2000].copy()
df_3000 = df.iloc[2000:3000].copy()
df_4000 = df.iloc[3000:4000].copy()
df_5000 = df.iloc[4000:5000].copy()
df_6000 = df.iloc[5000:6000].copy()
df_7000 = df.iloc[6000:].copy()

## Test

In [15]:
df_20 = df.iloc[:20].copy()
df_20['tup_add'] = df_20['address'].apply(gf.gm_geocode,args=(API_KEY,))
df_20.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add
Date_Hour,,,,,,,,,,,,,,
2010-01-01 00:00:00,10H60,2500-2599,SOUTHMORE,Burglary,apartment,1,0,1,Friday,Jan,2010,2550,2550 SOUTHMORE,"[{'address_components': [{'long_name': '2550',..."
2010-01-01 00:00:00,10H60,3500-3599,MACGREGOR,Theft,apartment,1,0,1,Friday,Jan,2010,3550,3550 MACGREGOR,"[{'address_components': [{'long_name': '3550',..."
2010-01-01 04:00:00,10H60,4000-4099,CANFIELD,Robbery,bank/saving institution parking lot,1,4,1,Friday,Jan,2010,4050,4050 CANFIELD,"[{'address_components': [{'long_name': '4050',..."
2010-01-01 06:00:00,10H60,3700-3799,ODIN,Theft,apartment,1,6,1,Friday,Jan,2010,3750,3750 ODIN,[{'address_components': [{'long_name': 'Housto...
2010-01-01 14:00:00,10H60,5500-5599,LIVE OAK,Theft,apartment,1,14,1,Friday,Jan,2010,5550,5550 LIVE OAK,"[{'address_components': [{'long_name': '5550',..."

In [ ]:
tt = df_20.tup_add

In [ ]:
tt[4].to_json(orient='split')

## Attempt

In [16]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_1000['tup_add'] = df_1000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_1000.to_csv('crime_data_clean/crime_10H60_10_17df_1000.csv')

start:19:20:47
end:19:26:47

In [17]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_2000['tup_add'] = df_2000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_2000.to_csv('crime_data_clean/crime_10H60_10_17df_2000.csv')

start:19:26:58
end:19:31:54

In [18]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_3000['tup_add'] = df_3000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_3000.to_csv('crime_data_clean/crime_10H60_10_17df_3000.csv')

start:19:33:28
end:19:39:10

In [19]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_4000['tup_add'] = df_4000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_4000.to_csv('crime_data_clean/crime_10H60_10_17df_4000.csv')

start:19:39:11
end:19:44:35

In [20]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_5000['tup_add'] = df_5000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_5000.to_csv('crime_data_clean/crime_10H60_10_17df_5000.csv')

start:19:44:35
end:19:49:35

In [21]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_6000['tup_add'] = df_6000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_6000.to_csv('crime_data_clean/crime_10H60_10_17df_6000.csv')

start:19:49:35
end:19:55:23

In [22]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_7000['tup_add'] = df_7000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_7000.to_csv('crime_data_clean/crime_10H60_10_17df_7000.csv')

start:19:55:23
end:20:05:54

## split df_1200 into 4 parts

## Concat all

In [23]:
df_final = pd.concat([df_1000,df_2000,df_3000,df_4000,df_5000,df_6000,df_7000])

In [25]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7672 entries, 2010-01-01 00:00:00 to 2017-12-31 15:00:00
Data columns (total 14 columns):
Beat           7672 non-null object
BlockRange     7672 non-null object
StreetName     7672 non-null object
OffenseType    7672 non-null object
Premise        7672 non-null object
NumOffenses    7672 non-null int64
Hour           7672 non-null int64
day            7672 non-null int64
weekday        7672 non-null object
month          7672 non-null object
year           7672 non-null int64
block          7672 non-null object
address        7672 non-null object
tup_add        7672 non-null object
dtypes: int64(4), object(10)
memory usage: 899.1+ KB

In [27]:
df_final.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add
Date_Hour,,,,,,,,,,,,,,
2010-01-01 00:00:00,10H60,2500-2599,SOUTHMORE,Burglary,apartment,1,0,1,Friday,Jan,2010,2550,2550 SOUTHMORE,"[{'address_components': [{'long_name': '2550',..."
2010-01-01 00:00:00,10H60,3500-3599,MACGREGOR,Theft,apartment,1,0,1,Friday,Jan,2010,3550,3550 MACGREGOR,"[{'address_components': [{'long_name': '3550',..."
2010-01-01 04:00:00,10H60,4000-4099,CANFIELD,Robbery,bank/saving institution parking lot,1,4,1,Friday,Jan,2010,4050,4050 CANFIELD,"[{'address_components': [{'long_name': '4050',..."
2010-01-01 06:00:00,10H60,3700-3799,ODIN,Theft,apartment,1,6,1,Friday,Jan,2010,3750,3750 ODIN,[{'address_components': [{'long_name': 'Housto...
2010-01-01 14:00:00,10H60,5500-5599,LIVE OAK,Theft,apartment,1,14,1,Friday,Jan,2010,5550,5550 LIVE OAK,"[{'address_components': [{'long_name': '5550',..."

In [28]:
df_final.to_csv('crime_data_clean/crime_10H60_10_17ADD.csv')

In [ ]:
df_final.head()

In [ ]:
new_add = df.tup_add.apply(pd.Series,index=['lat_lon','full_address'])

In [ ]:
new_add.head()

In [ ]:
df = df.join(new_add)

In [ ]:
df.drop(['block','BlockRange','StreetName','address','tup_add','address','tup_add',],axis=1,inplace=True)

In [ ]:
#df.drop('block', axis=1,inplace=True)

In [ ]:
df.head()

In [ ]:
df.to_csv('crime_data_clean/crime_1A10_10_17FINAL.csv')