In [2]:
import pandas as pd
import numpy as np

In [3]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [4]:
ls data/crime_beats/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [5]:
games = 'data/sports_scores/Tex_15E40.csv'
crime = 'data/crime_beats/crime_15E40_10_17.csv'

## scores dataframes

In [7]:
df = pd.read_csv(games)


## split date and time from column scheduled
s_date = pd.DatetimeIndex(df['scheduled'])
df['Date'] = s_date.date
df['time'] = s_date.time
del df['scheduled']

# set date as datetime and index
df.Date = pd.to_datetime(df.Date)
df = df.set_index('Date').sort_index(ascending=True)






## win column
df['win'] =  np.where(df['scoring.home_points'] > df['scoring.away_points'],1,0)

# only oposing name and win boolean
df = df[['away.alias','win']]

# show

df.head()

           away.alias  win
Date
2010-01-03         NE    1
2010-09-12        IND    1
2010-09-26        DAL    0
2010-10-10        NYG    0
2010-10-17         KC    1

## crime dataframe

In [8]:
crime_df = pd.read_csv(crime,index_col='Date').sort_index(ascending=True)

## only crimes after 2009
crime_df = crime_df[crime_df.year >=2010]

# selectd columns
crime_df = crime_df[['OffenseType','Premise','NumOffenses','Hour','weekday']]

# count Offense type given date
date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()


## show
date_crimes.head()

            OffenseType
Date
2010-01-01            2
2010-01-02            2
2010-01-03            5
2010-01-04            2
2010-01-05            4

## Days dataframe

In [9]:
days = pd.date_range(start='01/01/2010', end='12/30/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)

days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

## Merge days dataframe and  crimes

In [10]:
calendar_crimes = pd.merge(days,date_crimes,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

            OffenseType
days
2010-01-01          2.0
2010-01-02          2.0
2010-01-03          5.0
2010-01-04          2.0
2010-01-05          4.0

## Merge calendar_crimes with scores

In [12]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')

# change column names
merge_data.columns = ['offenses','away_team','win']

merge_data.head()

            offenses away_team  win
days
2010-01-01       2.0       NaN  NaN
2010-01-02       2.0       NaN  NaN
2010-01-03       5.0        NE  1.0
2010-01-04       2.0       NaN  NaN
2010-01-05       4.0       NaN  NaN

## Display non nans

In [13]:
merge_data.dropna(subset=['away_team', 'win'])

            offenses away_team  win
days
2010-01-03       5.0        NE  1.0
2010-09-12       7.0       IND  1.0
2010-09-26      13.0       DAL  0.0
2010-10-10       5.0       NYG  0.0
2010-10-17       6.0        KC  1.0
2010-11-07       4.0        SD  0.0
2010-11-28       9.0       TEN  1.0
2010-12-14       5.0       BAL  0.0
2011-01-02       6.0       JAC  1.0
2011-09-11       6.0       IND  1.0
2011-10-02       8.0       PIT  1.0
2011-10-09      14.0       OAK  0.0
2011-10-30       6.0       JAC  1.0
2011-11-06       9.0       CLE  1.0
2011-12-04      10.0       ATL  1.0
2011-12-18       4.0       CAR  0.0
2012-01-01      12.0       TEN  0.0
2012-01-07       6.0       CIN  1.0
2012-09-09      11.0       MIA  1.0
2012-09-30      12.0       TEN  1.0
2012-10-15       6.0        GB  0.0
2012-10-21      13.0       BAL  1.0
2012-11-04       8.0       BUF  1.0
2012-11-18       7.0       JAC  1.0
2012-12-16      11.0       IND  1.0
2012-12-23       2.0       MIN  0.0
2013-01-05      11.0       CIN  1.0
2013-09-15       3.0       TEN  1.0
2013-09-29       8.0       SEA  0.0
2013-10-13       3.0       STL  0.0
...              ...       ...  ...
2014-11-23       7.0       CIN  0.0
2014-11-30       9.0       TEN  1.0
2014-12-21       8.0       BAL  1.0
2014-12-28       5.0       JAC  1.0
2015-09-13       8.0        KC  0.0
2015-09-27       6.0        TB  1.0
2015-10-09       4.0       IND  0.0
2015-11-01       7.0       TEN  1.0
2015-11-22       5.0       NYJ  1.0
2015-11-29       7.0        NO  1.0
2015-12-14       2.0        NE  0.0
2016-01-03       6.0       JAC  1.0
2016-01-09      10.0        KC  0.0
2016-09-11       4.0       CHI  1.0
2016-09-18       5.0        KC  1.0
2016-10-02       6.0       TEN  1.0
2016-10-17       8.0       IND  1.0
2016-10-30      13.0       DET  1.0
2016-11-27       6.0        SD  0.0
2016-12-18       6.0       JAC  1.0
2016-12-25       1.0       CIN  1.0
2017-01-07       9.0       OAK  1.0
2017-09-10       2.0       JAC  0.0
2017-10-01       8.0       TEN  1.0
2017-10-09       9.0        KC  0.0
2017-10-15       7.0       CLE  1.0
2017-11-05       4.0       IND  0.0
2017-11-19       4.0       ARI  1.0
2017-12-10       7.0        SF  0.0
2017-12-25       6.0       PIT  0.0

[69 rows x 3 columns]

In [14]:
merge_data.to_csv('data/final/Texans1017_final.csv')