## Google maps API

Use address from dataframe to get location and display it on a map

- join two cols to create a semi full address

- create a function that inputs an address and returns lat & long
- use those points and display them on a map

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import googlemaps
import gmaps
import requests
API_KEY = 'AIzaSyAjfYfB64npEu7-4ledi1GGMbXTnI6XeOg'
#gmaps_dev = googlemaps.Client(key=API_KEY) ## 
gmaps.configure(api_key=API_KEY) 
!jupyter nbextension enable --py --sys-prefix widgetsnbextension  # needed for gmaps to display map, restart nb if broken
! jupyter nbextension enable --py --sys-prefix gmaps  # needed for gmaps to display map  restart nb if broken

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [1]:
ls clean_data/crime_data/

crime10_clean.csv*  crime12_clean.csv*  crime14_clean.csv*  crime16_clean.csv*
crime11_clean.csv*  crime13_clean.csv*  crime15_clean.csv*  crime17_clean.csv*

## Use file to test

In [5]:
path = 'clean_data/crime_data/crime13_clean.csv'

In [6]:
df = pd.read_csv(path)

In [7]:
df.head()

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour
0,2013-01-01,16E40,6900-6999,TRIGATE,Burglary,20N,1,9
1,2013-01-01,10H40,4200-4299,SAN JACINTO,Theft,120,1,12
2,2013-01-01,20G80,800-899,WEST OAKS MALL,Theft,080,1,19
3,2013-01-01,7C20,5700-5799,LOCKWOOD,Burglary,070,1,0
4,2013-01-01,1A10,1700-1799,CHENEVERT,Theft,13R,1,14

#### Create column that appends street num and street name

In [8]:
df['address'] = df[['BlockRange', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)

In [9]:
df.head()

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour,address
0,2013-01-01,16E40,6900-6999,TRIGATE,Burglary,20N,1,9,6900-6999 TRIGATE
1,2013-01-01,10H40,4200-4299,SAN JACINTO,Theft,120,1,12,4200-4299 SAN JACINTO
2,2013-01-01,20G80,800-899,WEST OAKS MALL,Theft,080,1,19,800-899 WEST OAKS MALL
3,2013-01-01,7C20,5700-5799,LOCKWOOD,Burglary,070,1,0,5700-5799 LOCKWOOD
4,2013-01-01,1A10,1700-1799,CHENEVERT,Theft,13R,1,14,1700-1799 CHENEVERT

#### use function to return lat and long from google maps api

In [19]:
def return_json(add):
    loc = '{}, Houston, TX'.format(add)
    #API_KEY = 'AIzaSyAjfYfB64npEu7-4ledi1GGMbXTnI6XeOg'
    site = 'https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}'.format(loc,API_KEY)
    response = requests.get(site)
    try:
        response.raise_for_status()
    except requests.exceptions.HTTPError as e:
        # Whoops it wasn't a 200
        return "Error: " + str(e)
    # Must have been a 200 status code
    json_obj = response.json()
    
    if json_obj['status'] == 'OK':
#          state = json_obj['results'][0]['address_components'][5]['short_name']
#             if state != 'TX':
#                 return state
        #real_add = json_obj['results'][0]['formatted_address']
        gps = tuple(json_obj['results'][0]['geometry']['location'].values())
        return gps
    elif json_obj['status'] =='OVER_QUERY_LIMIT':
        return np.nan
    else:
        print(json_obj['status'])
        return json_obj['status']

## split df to test

In [20]:
d10 = df[0:10]

In [21]:
d10

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour,address
0,2013-01-01,16E40,6900-6999,TRIGATE,Burglary,20N,1,9,6900-6999 TRIGATE
1,2013-01-01,10H40,4200-4299,SAN JACINTO,Theft,120,1,12,4200-4299 SAN JACINTO
2,2013-01-01,20G80,800-899,WEST OAKS MALL,Theft,080,1,19,800-899 WEST OAKS MALL
3,2013-01-01,7C20,5700-5799,LOCKWOOD,Burglary,070,1,0,5700-5799 LOCKWOOD
4,2013-01-01,1A10,1700-1799,CHENEVERT,Theft,13R,1,14,1700-1799 CHENEVERT
5,2013-01-01,6B30,6400-6499,TALL WILLOW,Burglary,20R,1,10,6400-6499 TALL WILLOW
6,2013-01-01,12D70,500-599,BAYBROOK MALL,Theft,250,1,16,500-599 BAYBROOK MALL
7,2013-01-01,5F20,7900-7999,AMELIA,Theft,20A,1,18,7900-7999 AMELIA
8,2013-01-01,11H40,5400-5499,ALLENDALE,Burglary,210,1,6,5400-5499 ALLENDALE
9,2013-01-01,1A10,1200-1299,COMMERCE,Theft,150,1,11,1200-1299 COMMERCE

## create a col

- create a column that uses the address col values and apply function

In [22]:
d10['lat_lon'] = d10['address'].apply(return_json)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### LAT LNG
We now have a col lattitude and longtitude values from a given address

In [23]:
d10

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour,address,lat_lon
0,2013-01-01,16E40,6900-6999,TRIGATE,Burglary,20N,1,9,6900-6999 TRIGATE,"(29.5932746, -95.4886236)"
1,2013-01-01,10H40,4200-4299,SAN JACINTO,Theft,120,1,12,4200-4299 SAN JACINTO,"(29.7338398, -95.3802958)"
2,2013-01-01,20G80,800-899,WEST OAKS MALL,Theft,080,1,19,800-899 WEST OAKS MALL,"(30.0062716, -95.4149863)"
3,2013-01-01,7C20,5700-5799,LOCKWOOD,Burglary,070,1,0,5700-5799 LOCKWOOD,"(29.811049, -95.3170506)"
4,2013-01-01,1A10,1700-1799,CHENEVERT,Theft,13R,1,14,1700-1799 CHENEVERT,"(29.7475636, -95.362194)"
5,2013-01-01,6B30,6400-6499,TALL WILLOW,Burglary,20R,1,10,6400-6499 TALL WILLOW,"(29.8677163, -95.4880834)"
6,2013-01-01,12D70,500-599,BAYBROOK MALL,Theft,250,1,16,500-599 BAYBROOK MALL,"(29.5421873, -95.148344)"
7,2013-01-01,5F20,7900-7999,AMELIA,Theft,20A,1,18,7900-7999 AMELIA,"(29.8072157, -95.4855513)"
8,2013-01-01,11H40,5400-5499,ALLENDALE,Burglary,210,1,6,5400-5499 ALLENDALE,"(29.6832373, -95.2408037)"
9,2013-01-01,1A10,1200-1299,COMMERCE,Theft,150,1,11,1200-1299 COMMERCE,"(29.7626002, -95.3577339)"

## Display

now lets use the gmaps library to display our data

- we will input a list of values `lat_long` column and it will display its location on a map

In [24]:
locations = d10['lat_lon']
locations

0    (29.5932746, -95.4886236)
1    (29.7338398, -95.3802958)
2    (30.0062716, -95.4149863)
3     (29.811049, -95.3170506)
4     (29.7475636, -95.362194)
5    (29.8677163, -95.4880834)
6     (29.5421873, -95.148344)
7    (29.8072157, -95.4855513)
8    (29.6832373, -95.2408037)
9    (29.7626002, -95.3577339)
Name: lat_lon, dtype: object

In [26]:
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations))
fig

Figure(layout=FigureLayout(height='420px'))

### display saved image

![map](img/map.png)

## Limitations

- 2500 api calls per day 
- need about 600K calls to get all locations from data