In [1]:
import pandas as pd
import numpy as np
import glob, os
import re

# Source

#### basketball-reference.com
https://www.basketball-reference.com/teams/HOU/2017_games.html

- saved regular and playoff seasons from 2008 - 2017 to csv

In [136]:
ls sports_data/NBA/

hou_rockets_plo_08.csv*  hou_rockets_plo_17.csv*  hou_rockets_reg_13.csv*
hou_rockets_plo_09.csv*  hou_rockets_reg_08.csv*  hou_rockets_reg_14.csv*
hou_rockets_plo_13.csv*  hou_rockets_reg_09.csv*  hou_rockets_reg_15.csv*
hou_rockets_plo_14.csv*  hou_rockets_reg_10.csv*  hou_rockets_reg_16.csv*
hou_rockets_plo_15.csv*  hou_rockets_reg_11.csv*  hou_rockets_reg_17.csv*
hou_rockets_plo_16.csv*  hou_rockets_reg_12.csv*

In [81]:
path = 'sports_data/NBA'
all_files = glob.glob(os.path.join(path, "*.csv")) 

df_from_each_file = (pd.read_csv(f) for f in all_files)
df   = pd.concat(df_from_each_file, ignore_index=True)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 837 entries, 0 to 836
Data columns (total 15 columns):
G             837 non-null int64
Date          837 non-null object
Unnamed: 2    837 non-null object
Unnamed: 3    8 non-null object
Unnamed: 4    837 non-null object
Unnamed: 5    418 non-null object
Opponent      837 non-null object
Unnamed: 7    837 non-null object
Unnamed: 8    52 non-null object
Tm            837 non-null int64
Opp           837 non-null int64
W             837 non-null int64
L             837 non-null int64
Streak        837 non-null object
Notes         1 non-null object
dtypes: int64(5), object(10)
memory usage: 98.2+ KB

In [83]:
df.head()

,G,Date,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak,Notes
0,1,"Sat, Apr 18, 2015",9:30p ET,NaN,Box Score,NaN,Dallas Mavericks,W,NaN,118,108,1,0,W 1,NaN
1,2,"Tue, Apr 21, 2015",9:30p ET,NaN,Box Score,NaN,Dallas Mavericks,W,NaN,111,99,2,0,W 2,NaN
2,3,"Fri, Apr 24, 2015",7:00p ET,NaN,Box Score,@,Dallas Mavericks,W,NaN,130,128,3,0,W 3,NaN
3,4,"Sun, Apr 26, 2015",9:00p ET,NaN,Box Score,@,Dallas Mavericks,L,NaN,109,121,3,1,L 1,NaN
4,5,"Tue, Apr 28, 2015",8:00p ET,NaN,Box Score,NaN,Dallas Mavericks,W,NaN,103,94,4,1,W 1,NaN

## Create slice with only needed columns

In [84]:
hou_rockets = df[['Date','Unnamed: 2','Unnamed: 5','Opponent','Unnamed: 7','Tm','Opp']]

## Create a column with Houston Rockets

In [85]:
hou_rockets['team'] ='Houston Rockets'

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [86]:
hou_rockets = hou_rockets[['Date','Unnamed: 2', 'team','Tm','Unnamed: 5','Opponent','Opp','Unnamed: 7']]

In [87]:
hou_rockets.head()

,Date,Unnamed: 2,team,Tm,Unnamed: 5,Opponent,Opp,Unnamed: 7
0,"Sat, Apr 18, 2015",9:30p ET,Houston Rockets,118,NaN,Dallas Mavericks,108,W
1,"Tue, Apr 21, 2015",9:30p ET,Houston Rockets,111,NaN,Dallas Mavericks,99,W
2,"Fri, Apr 24, 2015",7:00p ET,Houston Rockets,130,@,Dallas Mavericks,128,W
3,"Sun, Apr 26, 2015",9:00p ET,Houston Rockets,109,@,Dallas Mavericks,121,L
4,"Tue, Apr 28, 2015",8:00p ET,Houston Rockets,103,NaN,Dallas Mavericks,94,W

## Rename Columns

In [88]:
hou_rockets.rename(columns={
    'Unnamed: 2':'Time',
    'team': 'Team',
    'Tm': 'Team_score',
    'Unnamed: 5': 'Location',
    'Opp': 'Opponent_score',
    'Unnamed: 7': 'Result'
},inplace=True)

In [89]:
hou_rockets.head()

,Date,Time,Team,Team_score,Location,Opponent,Opponent_score,Result
0,"Sat, Apr 18, 2015",9:30p ET,Houston Rockets,118,NaN,Dallas Mavericks,108,W
1,"Tue, Apr 21, 2015",9:30p ET,Houston Rockets,111,NaN,Dallas Mavericks,99,W
2,"Fri, Apr 24, 2015",7:00p ET,Houston Rockets,130,@,Dallas Mavericks,128,W
3,"Sun, Apr 26, 2015",9:00p ET,Houston Rockets,109,@,Dallas Mavericks,121,L
4,"Tue, Apr 28, 2015",8:00p ET,Houston Rockets,103,NaN,Dallas Mavericks,94,W

## Inspect Data

In [90]:
hou_rockets.Date.unique()  # need split day

array(['Sat, Apr 18, 2015', 'Tue, Apr 21, 2015', 'Fri, Apr 24, 2015',
       'Sun, Apr 26, 2015', 'Tue, Apr 28, 2015', 'Mon, May 4, 2015',
       'Wed, May 6, 2015', 'Fri, May 8, 2015', 'Sun, May 10, 2015',
       'Tue, May 12, 2015', 'Thu, May 14, 2015', 'Sun, May 17, 2015',
       'Tue, May 19, 2015', 'Thu, May 21, 2015', 'Sat, May 23, 2015',
       'Mon, May 25, 2015', 'Wed, May 27, 2015', 'Sat, Apr 16, 2016',
       'Mon, Apr 18, 2016', 'Thu, Apr 21, 2016', 'Sun, Apr 24, 2016',
       'Wed, Apr 27, 2016', 'Sun, Apr 16, 2017', 'Wed, Apr 19, 2017',
       'Fri, Apr 21, 2017', 'Sun, Apr 23, 2017', 'Tue, Apr 25, 2017',
       'Mon, May 1, 2017', 'Wed, May 3, 2017', 'Fri, May 5, 2017',
       'Sun, May 7, 2017', 'Tue, May 9, 2017', 'Thu, May 11, 2017',
       'Tue, Oct 30, 2007', 'Thu, Nov 1, 2007', 'Sat, Nov 3, 2007',
       'Mon, Nov 5, 2007', 'Tue, Nov 6, 2007', 'Fri, Nov 9, 2007',
       'Sun, Nov 11, 2007', 'Tue, Nov 13, 2007', 'Wed, Nov 14, 2007',
       'Fri, Nov 16, 2007', 'Sat, Nov 17, 2007', 'Wed, Nov 21, 2007',
       'Fri, Nov 23, 2007', 'Sat, Nov 24, 2007', 'Mon, Nov 26, 2007',
       'Wed, Nov 28, 2007', 'Thu, Nov 29, 2007', 'Sat, Dec 1, 2007',
       'Wed, Dec 5, 2007', 'Fri, Dec 7, 2007', 'Sun, Dec 9, 2007',
       'Mon, Dec 10, 2007', 'Wed, Dec 12, 2007', 'Sat, Dec 15, 2007',
       'Wed, Dec 19, 2007', 'Thu, Dec 20, 2007', 'Sat, Dec 22, 2007',
       'Sun, Dec 23, 2007', 'Fri, Dec 28, 2007', 'Sat, Dec 29, 2007',
       'Mon, Dec 31, 2007', 'Wed, Jan 2, 2008', 'Fri, Jan 4, 2008',
       'Sat, Jan 5, 2008', 'Tue, Jan 8, 2008', 'Wed, Jan 9, 2008',
       'Fri, Jan 11, 2008', 'Sun, Jan 13, 2008', 'Tue, Jan 15, 2008',
       'Sat, Jan 19, 2008', 'Mon, Jan 21, 2008', 'Wed, Jan 23, 2008',
       'Fri, Jan 25, 2008', 'Sun, Jan 27, 2008', 'Tue, Jan 29, 2008',
       'Fri, Feb 1, 2008', 'Sat, Feb 2, 2008', 'Mon, Feb 4, 2008',
       'Thu, Feb 7, 2008', 'Sat, Feb 9, 2008', 'Mon, Feb 11, 2008',
       'Wed, Feb 13, 2008', 'Tue, Feb 19, 2008', 'Thu, Feb 21, 2008',
       'Fri, Feb 22, 2008', 'Sun, Feb 24, 2008', 'Tue, Feb 26, 2008',
       'Fri, Feb 29, 2008', 'Sun, Mar 2, 2008', 'Wed, Mar 5, 2008',
       'Thu, Mar 6, 2008', 'Sat, Mar 8, 2008', 'Mon, Mar 10, 2008',
       'Wed, Mar 12, 2008', 'Fri, Mar 14, 2008', 'Sun, Mar 16, 2008',
       'Tue, Mar 18, 2008', 'Wed, Mar 19, 2008', 'Fri, Mar 21, 2008',
       'Sat, Mar 22, 2008', 'Mon, Mar 24, 2008', 'Wed, Mar 26, 2008',
       'Sun, Mar 30, 2008', 'Tue, Apr 1, 2008', 'Thu, Apr 3, 2008',
       'Fri, Apr 4, 2008', 'Sun, Apr 6, 2008', 'Wed, Apr 9, 2008',
       'Fri, Apr 11, 2008', 'Sun, Apr 13, 2008', 'Mon, Apr 14, 2008',
       'Wed, Apr 16, 2008', 'Wed, Oct 29, 2008', 'Thu, Oct 30, 2008',
       'Sat, Nov 1, 2008', 'Tue, Nov 4, 2008', 'Thu, Nov 6, 2008',
       'Fri, Nov 7, 2008', 'Sun, Nov 9, 2008', 'Wed, Nov 12, 2008',
       'Fri, Nov 14, 2008', 'Sat, Nov 15, 2008', 'Mon, Nov 17, 2008',
       'Wed, Nov 19, 2008', 'Fri, Nov 21, 2008', 'Sat, Nov 22, 2008',
       'Mon, Nov 24, 2008', 'Wed, Nov 26, 2008', 'Sat, Nov 29, 2008',
       'Sun, Nov 30, 2008', 'Wed, Dec 3, 2008', 'Fri, Dec 5, 2008',
       'Mon, Dec 8, 2008', 'Tue, Dec 9, 2008', 'Fri, Dec 12, 2008',
       'Sat, Dec 13, 2008', 'Tue, Dec 16, 2008', 'Fri, Dec 19, 2008',
       'Sat, Dec 20, 2008', 'Mon, Dec 22, 2008', 'Tue, Dec 23, 2008',
       'Fri, Dec 26, 2008', 'Sat, Dec 27, 2008', 'Mon, Dec 29, 2008',
       'Wed, Dec 31, 2008', 'Fri, Jan 2, 2009', 'Sat, Jan 3, 2009',
       'Tue, Jan 6, 2009', 'Wed, Jan 7, 2009', 'Fri, Jan 9, 2009',
       'Sat, Jan 10, 2009', 'Tue, Jan 13, 2009', 'Sat, Jan 17, 2009',
       'Mon, Jan 19, 2009', 'Wed, Jan 21, 2009', 'Fri, Jan 23, 2009',
       'Sun, Jan 25, 2009', 'Mon, Jan 26, 2009', 'Wed, Jan 28, 2009',
       'Sat, Jan 31, 2009', 'Tue, Feb 3, 2009', 'Wed, Feb 4, 2009',
       'Sat, Feb 7, 2009', 'Mon, Feb 9, 2009', 'Wed, Feb 11, 2009',
       'Tue, Feb 17, 2009', 'Fri, Feb 20, 2009', 'Sun, Feb 22, 2009',
       'Tue, Feb 24, 2009', 'Thu, Feb 26, 2009', 'Sat, Feb 28, 2009',
       'Sun, Mar 1, 2009', 'Tue, Mar 3, 2009', 'Wed, Mar 4, 2009',
       'Fri, Mar 6, 2009', 'Sun, Mar 8, 2009', 'Mon, Mar 9, 2009',
       'Wed, Mar 11, 2009', 'Fri, Mar 13, 2009', 'Sat, Mar 14, 2009',
       'Mon, Mar 16, 2009', 'Wed, Mar 18, 2009', 'Fri, Mar 20, 2009',
       'Sun, Mar 22, 2009', 'Tue, Mar 24, 2009', 'Sat, Mar 28, 2009',
       'Wed, Apr 1, 2009', 'Fri, Apr 3, 2009', 'Sun, Apr 5, 2009',
       'Tue, Apr 7, 2009', 'Thu, Apr 9, 2009', 'Fri, Apr 10, 2009',
       'Mon, Apr 13, 2009', 'Wed, Apr 15, 2009', 'Tue, Oct 27, 2009',
       'Wed, Oct 28, 2009', 'Sat, Oct 31, 2009', 'Mon, Nov 2, 2009',
       'Wed, Nov 4, 2009', 'Fri, Nov 6, 2009', 'Tue, Nov 10, 2009',
       'Wed, Nov 11, 2009', 'Fri, Nov 13, 2009', 'Sun, Nov 15, 2009',
       'Tue, Nov 17, 2009', 'Wed, Nov 18, 2009', 'Fri, Nov 20, 2009',
       'Sat, Nov 21, 2009', 'Wed, Nov 25, 2009', 'Fri, Nov 27, 2009',
       'Sun, Nov 29, 2009', 'Wed, Dec 2, 2009', 'Thu, Dec 3, 2009',
       'Sat, Dec 5, 2009', 'Wed, Dec 9, 2009', 'Fri, Dec 11, 2009',
       'Sun, Dec 13, 2009', 'Tue, Dec 15, 2009', 'Wed, Dec 16, 2009',
       'Fri, Dec 18, 2009', 'Sat, Dec 19, 2009', 'Tue, Dec 22, 2009',
       'Wed, Dec 23, 2009', 'Sat, Dec 26, 2009', 'Sun, Dec 27, 2009',
       'Tue, Dec 29, 2009', 'Thu, Dec 31, 2009', 'Sat, Jan 2, 2010',
       'Tue, Jan 5, 2010', 'Wed, Jan 6, 2010', 'Sat, Jan 9, 2010',
       'Tue, Jan 12, 2010', 'Wed, Jan 13, 2010', 'Fri, Jan 15, 2010',
       'Mon, Jan 18, 2010', 'Fri, Jan 22, 2010', 'Sat, Jan 23, 2010',
       'Mon, Jan 25, 2010', 'Wed, Jan 27, 2010', 'Fri, Jan 29, 2010',
       'Sun, Jan 31, 2010', 'Tue, Feb 2, 2010', 'Fri, Feb 5, 2010',
       'Sat, Feb 6, 2010', 'Tue, Feb 9, 2010', 'Tue, Feb 16, 2010',
       'Wed, Feb 17, 2010', 'Sat, Feb 20, 2010', 'Sun, Feb 21, 2010',
       'Wed, Feb 24, 2010', 'Fri, Feb 26, 2010', 'Sat, Feb 27, 2010',
       'Mon, Mar 1, 2010', 'Wed, Mar 3, 2010', 'Sat, Mar 6, 2010',
       'Sun, Mar 7, 2010', 'Tue, Mar 9, 2010', 'Sat, Mar 13, 2010',
       'Mon, Mar 15, 2010', 'Wed, Mar 17, 2010', 'Fri, Mar 19, 2010',
       'Sun, Mar 21, 2010', 'Mon, Mar 22, 2010', 'Wed, Mar 24, 2010',
       'Thu, Mar 25, 2010', 'Sat, Mar 27, 2010', 'Tue, Mar 30, 2010',
       'Wed, Mar 31, 2010', 'Fri, Apr 2, 2010', 'Sun, Apr 4, 2010',
       'Tue, Apr 6, 2010', 'Wed, Apr 7, 2010', 'Fri, Apr 9, 2010',
       'Sun, Apr 11, 2010', 'Mon, Apr 12, 2010', 'Wed, Apr 14, 2010',
       'Tue, Oct 26, 2010', 'Wed, Oct 27, 2010', 'Sat, Oct 30, 2010',
       'Wed, Nov 3, 2010', 'Sat, Nov 6, 2010', 'Sun, Nov 7, 2010',
       'Wed, Nov 10, 2010', 'Fri, Nov 12, 2010', 'Sun, Nov 14, 2010',
       'Tue, Nov 16, 2010', 'Wed, Nov 17, 2010', 'Fri, Nov 19, 2010',
       'Mon, Nov 22, 2010', 'Wed, Nov 24, 2010', 'Fri, Nov 26, 2010',
       'Sun, Nov 28, 2010', 'Mon, Nov 29, 2010', 'Wed, Dec 1, 2010',
       'Fri, Dec 3, 2010', 'Sat, Dec 4, 2010', 'Tue, Dec 7, 2010',
       'Fri, Dec 10, 2010', 'Sat, Dec 11, 2010', 'Tue, Dec 14, 2010',
       'Wed, Dec 15, 2010', 'Fri, Dec 17, 2010', 'Sun, Dec 19, 2010',
       'Mon, Dec 20, 2010', 'Wed, Dec 22, 2010', 'Mon, Dec 27, 2010',
       'Wed, Dec 29, 2010', 'Fri, Dec 31, 2010', 'Sun, Jan 2, 2011',
       'Mon, Jan 3, 2011', 'Wed, Jan 5, 2011', 'Fri, Jan 7, 2011',
       'Sat, Jan 8, 2011', 'Mon, Jan 10, 2011', 'Wed, Jan 12, 2011',
       'Fri, Jan 14, 2011', 'Sat, Jan 15, 2011', 'Mon, Jan 17, 2011',
       'Wed, Jan 19, 2011', 'Fri, Jan 21, 2011', 'Sat, Jan 22, 2011',
       'Mon, Jan 24, 2011', 'Wed, Jan 26, 2011', 'Thu, Jan 27, 2011',
       'Sat, Jan 29, 2011', 'Tue, Feb 1, 2011', 'Wed, Feb 2, 2011',
       'Sat, Feb 5, 2011', 'Mon, Feb 7, 2011', 'Tue, Feb 8, 2011',
       'Sat, Feb 12, 2011', 'Mon, Feb 14, 2011', 'Wed, Feb 16, 2011',
       'Tue, Feb 22, 2011', 'Wed, Feb 23, 2011', 'Sat, Feb 26, 2011',
       'Sun, Feb 27, 2011', 'Tue, Mar 1, 2011', 'Wed, Mar 2, 2011',
       'Sat, Mar 5, 2011', 'Mon, Mar 7, 2011', 'Tue, Mar 8, 2011',
       'Sat, Mar 12, 2011', 'Mon, Mar 14, 2011', 'Wed, Mar 16, 2011',
       'Fri, Mar 18, 2011', 'Sun, Mar 20, 2011', 'Wed, Mar 23, 2011',
       'Sun, Mar 27, 2011', 'Tue, Mar 29, 2011', 'Wed, Mar 30, 2011',
       'Fri, Apr 1, 2011', 'Sun, Apr 3, 2011', 'Tue, Apr 5, 2011',
       'Wed, Apr 6, 2011', 'Sat, Apr 9, 2011', 'Mon, Apr 11, 2011',
       'Wed, Apr 13, 2011', 'Mon, Dec 26, 2011', 'Thu, Dec 29, 2011',
       'Fri, Dec 30, 2011', 'Sat, Dec 31, 2011', 'Tue, Jan 3, 2012',
       'Wed, Jan 4, 2012', 'Fri, Jan 6, 2012', 'Sat, Jan 7, 2012',
       'Tue, Jan 10, 2012', 'Wed, Jan 11, 2012', 'Fri, Jan 13, 2012',
       'Sat, Jan 14, 2012', 'Mon, Jan 16, 2012', 'Tue, Jan 17, 2012',
       'Thu, Jan 19, 2012', 'Sat, Jan 21, 2012', 'Mon, Jan 23, 2012',
       'Wed, Jan 25, 2012', 'Fri, Jan 27, 2012', 'Sat, Jan 28, 2012',
       'Mon, Jan 30, 2012', 'Wed, Feb 1, 2012', 'Fri, Feb 3, 2012',
       'Sat, Feb 4, 2012', 'Mon, Feb 6, 2012', 'Wed, Feb 8, 2012',
       'Thu, Feb 9, 2012', 'Sun, Feb 12, 2012', 'Tue, Feb 14, 2012',
       'Wed, Feb 15, 2012', 'Fri, Feb 17, 2012', 'Sun, Feb 19, 2012',
       'Mon, Feb 20, 2012', 'Wed, Feb 22, 2012', 'Tue, Feb 28, 2012',
       'Wed, Feb 29, 2012', 'Fri, Mar 2, 2012', 'Sun, Mar 4, 2012',
       'Tue, Mar 6, 2012', 'Wed, Mar 7, 2012', 'Sat, Mar 10, 2012',
       'Sun, Mar 11, 2012', 'Tue, Mar 13, 2012', 'Wed, Mar 14, 2012',
       'Sat, Mar 17, 2012', 'Sun, Mar 18, 2012', 'Tue, Mar 20, 2012',
       'Thu, Mar 22, 2012', 'Sat, Mar 24, 2012', 'Mon, Mar 26, 2012',
       'Tue, Mar 27, 2012', 'Fri, Mar 30, 2012', 'Sun, Apr 1, 2012',
       'Mon, Apr 2, 2012', 'Fri, Apr 6, 2012', 'Sun, Apr 8, 2012',
       'Mon, Apr 9, 2012', 'Wed, Apr 11, 2012', 'Fri, Apr 13, 2012',
       'Sun, Apr 15, 2012', 'Mon, Apr 16, 2012', 'Wed, Apr 18, 2012',
       'Thu, Apr 19, 2012', 'Sat, Apr 21, 2012', 'Sun, Apr 22, 2012',
       'Thu, Apr 26, 2012', 'Wed, Oct 31, 2012', 'Fri, Nov 2, 2012',
       'Sat, Nov 3, 2012', 'Wed, Nov 7, 2012', 'Fri, Nov 9, 2012',
       'Sat, Nov 10, 2012', 'Mon, Nov 12, 2012', 'Wed, Nov 14, 2012',
       'Fri, Nov 16, 2012', 'Sun, Nov 18, 2012', 'Mon, Nov 19, 2012',
       'Wed, Nov 21, 2012', 'Fri, Nov 23, 2012', 'Tue, Nov 27, 2012',
       'Wed, Nov 28, 2012', 'Sat, Dec 1, 2012', 'Tue, Dec 4, 2012',
       'Fri, Dec 7, 2012', 'Sat, Dec 8, 2012', 'Mon, Dec 10, 2012',
       'Wed, Dec 12, 2012', 'Fri, Dec 14, 2012', 'Sun, Dec 16, 2012',
       'Mon, Dec 17, 2012', 'Wed, Dec 19, 2012', 'Sat, Dec 22, 2012',
       'Tue, Dec 25, 2012', 'Wed, Dec 26, 2012', 'Fri, Dec 28, 2012',
       'Sat, Dec 29, 2012', 'Mon, Dec 31, 2012', 'Wed, Jan 2, 2013',
       'Fri, Jan 4, 2013', 'Sat, Jan 5, 2013', 'Tue, Jan 8, 2013',
       'Wed, Jan 9, 2013', 'Fri, Jan 11, 2013', 'Sat, Jan 12, 2013',
       'Tue, Jan 15, 2013', 'Wed, Jan 16, 2013', 'Fri, Jan 18, 2013',
       'Sat, Jan 19, 2013', 'Mon, Jan 21, 2013', 'Wed, Jan 23, 2013',
       'Fri, Jan 25, 2013', 'Sat, Jan 26, 2013', 'Mon, Jan 28, 2013',
       'Wed, Jan 30, 2013', 'Sat, Feb 2, 2013', 'Tue, Feb 5, 2013',
       'Wed, Feb 6, 2013', 'Fri, Feb 8, 2013', 'Sun, Feb 10, 2013',
       'Tue, Feb 12, 2013', 'Wed, Feb 13, 2013', 'Wed, Feb 20, 2013',
       'Fri, Feb 22, 2013', 'Sat, Feb 23, 2013', 'Wed, Feb 27, 2013',
       'Fri, Mar 1, 2013', 'Sun, Mar 3, 2013', 'Wed, Mar 6, 2013',
       'Fri, Mar 8, 2013', 'Sat, Mar 9, 2013', 'Wed, Mar 13, 2013',
       'Fri, Mar 15, 2013', 'Sun, Mar 17, 2013', 'Wed, Mar 20, 2013',
       'Fri, Mar 22, 2013', 'Sun, Mar 24, 2013', 'Wed, Mar 27, 2013',
       'Fri, Mar 29, 2013', 'Sat, Mar 30, 2013', 'Mon, Apr 1, 2013',
       'Wed, Apr 3, 2013', 'Fri, Apr 5, 2013', 'Sat, Apr 6, 2013',
       'Tue, Apr 9, 2013', 'Fri, Apr 12, 2013', 'Sun, Apr 14, 2013',
       'Mon, Apr 15, 2013', 'Wed, Apr 17, 2013', 'Wed, Oct 30, 2013',
       'Fri, Nov 1, 2013', 'Sat, Nov 2, 2013', 'Mon, Nov 4, 2013',
       'Tue, Nov 5, 2013', 'Thu, Nov 7, 2013', 'Sat, Nov 9, 2013',
       'Mon, Nov 11, 2013', 'Wed, Nov 13, 2013', 'Thu, Nov 14, 2013',
       'Sat, Nov 16, 2013', 'Tue, Nov 19, 2013', 'Wed, Nov 20, 2013',
       'Sat, Nov 23, 2013', 'Mon, Nov 25, 2013', 'Wed, Nov 27, 2013',
       'Fri, Nov 29, 2013', 'Sat, Nov 30, 2013', 'Mon, Dec 2, 2013',
       'Wed, Dec 4, 2013', 'Fri, Dec 6, 2013', 'Sun, Dec 8, 2013',
       'Thu, Dec 12, 2013', 'Fri, Dec 13, 2013', 'Sun, Dec 15, 2013',
       'Wed, Dec 18, 2013', 'Fri, Dec 20, 2013', 'Sat, Dec 21, 2013',
       'Mon, Dec 23, 2013', 'Wed, Dec 25, 2013', 'Thu, Dec 26, 2013',
       'Sat, Dec 28, 2013', 'Sun, Dec 29, 2013', 'Tue, Dec 31, 2013',
       'Fri, Jan 3, 2014', 'Wed, Jan 8, 2014', 'Fri, Jan 10, 2014',
       'Sat, Jan 11, 2014', 'Mon, Jan 13, 2014', 'Wed, Jan 15, 2014',
       'Thu, Jan 16, 2014', 'Sat, Jan 18, 2014', 'Mon, Jan 20, 2014',
       'Wed, Jan 22, 2014', 'Fri, Jan 24, 2014', 'Sat, Jan 25, 2014',
       'Tue, Jan 28, 2014', 'Wed, Jan 29, 2014', 'Sat, Feb 1, 2014',
       'Wed, Feb 5, 2014', 'Sat, Feb 8, 2014', 'Mon, Feb 10, 2014',
       'Wed, Feb 12, 2014', 'Wed, Feb 19, 2014', 'Thu, Feb 20, 2014',
       'Sun, Feb 23, 2014', 'Tue, Feb 25, 2014', 'Wed, Feb 26, 2014',
       'Sat, Mar 1, 2014', 'Tue, Mar 4, 2014', 'Wed, Mar 5, 2014',
       'Fri, Mar 7, 2014', 'Sun, Mar 9, 2014', 'Tue, Mar 11, 2014',
       'Thu, Mar 13, 2014', 'Sun, Mar 16, 2014', 'Mon, Mar 17, 2014',
       'Thu, Mar 20, 2014', 'Sat, Mar 22, 2014', 'Mon, Mar 24, 2014',
       'Thu, Mar 27, 2014', 'Sat, Mar 29, 2014', 'Tue, Apr 1, 2014',
       'Wed, Apr 2, 2014', 'Fri, Apr 4, 2014', 'Sun, Apr 6, 2014',
       'Tue, Apr 8, 2014', 'Wed, Apr 9, 2014', 'Fri, Apr 11, 2014',
       'Sat, Apr 12, 2014', 'Mon, Apr 14, 2014', 'Wed, Apr 16, 2014',
       'Tue, Oct 28, 2014', 'Wed, Oct 29, 2014', 'Sat, Nov 1, 2014',
       'Mon, Nov 3, 2014', 'Tue, Nov 4, 2014', 'Thu, Nov 6, 2014',
       'Sat, Nov 8, 2014', 'Wed, Nov 12, 2014', 'Fri, Nov 14, 2014',
       'Sun, Nov 16, 2014', 'Mon, Nov 17, 2014', 'Wed, Nov 19, 2014',
       'Sat, Nov 22, 2014', 'Mon, Nov 24, 2014', 'Wed, Nov 26, 2014',
       'Fri, Nov 28, 2014', 'Sat, Nov 29, 2014', 'Wed, Dec 3, 2014',
       'Fri, Dec 5, 2014', 'Sat, Dec 6, 2014', 'Wed, Dec 10, 2014',
       'Thu, Dec 11, 2014', 'Sat, Dec 13, 2014', 'Wed, Dec 17, 2014',
       'Thu, Dec 18, 2014', 'Sat, Dec 20, 2014', 'Mon, Dec 22, 2014',
       'Fri, Dec 26, 2014', 'Sun, Dec 28, 2014', 'Mon, Dec 29, 2014',
       'Wed, Dec 31, 2014', 'Fri, Jan 2, 2015', 'Sat, Jan 3, 2015',
       'Mon, Jan 5, 2015', 'Wed, Jan 7, 2015', 'Thu, Jan 8, 2015',
       'Sat, Jan 10, 2015', 'Mon, Jan 12, 2015', 'Wed, Jan 14, 2015',
       'Thu, Jan 15, 2015', 'Sat, Jan 17, 2015', 'Mon, Jan 19, 2015',
       'Wed, Jan 21, 2015', 'Fri, Jan 23, 2015', 'Sun, Jan 25, 2015',
       'Wed, Jan 28, 2015', 'Fri, Jan 30, 2015', 'Sat, Jan 31, 2015',
       'Wed, Feb 4, 2015', 'Fri, Feb 6, 2015', 'Sun, Feb 8, 2015',
       'Tue, Feb 10, 2015', 'Wed, Feb 11, 2015', 'Fri, Feb 20, 2015',
       'Sat, Feb 21, 2015', 'Mon, Feb 23, 2015', 'Wed, Feb 25, 2015',
       'Fri, Feb 27, 2015', 'Sun, Mar 1, 2015', 'Tue, Mar 3, 2015',
       'Wed, Mar 4, 2015', 'Fri, Mar 6, 2015', 'Sat, Mar 7, 2015',
       'Wed, Mar 11, 2015', 'Thu, Mar 12, 2015', 'Sun, Mar 15, 2015',
       'Tue, Mar 17, 2015', 'Thu, Mar 19, 2015', 'Sat, Mar 21, 2015',
       'Mon, Mar 23, 2015', 'Wed, Mar 25, 2015', 'Fri, Mar 27, 2015',
       'Sun, Mar 29, 2015', 'Mon, Mar 30, 2015', 'Wed, Apr 1, 2015',
       'Thu, Apr 2, 2015', 'Sun, Apr 5, 2015', 'Wed, Apr 8, 2015',
       'Fri, Apr 10, 2015', 'Sun, Apr 12, 2015', 'Mon, Apr 13, 2015',
       'Wed, Apr 15, 2015', 'Wed, Oct 28, 2015', 'Fri, Oct 30, 2015',
       'Sun, Nov 1, 2015', 'Mon, Nov 2, 2015', 'Wed, Nov 4, 2015',
       'Fri, Nov 6, 2015', 'Sat, Nov 7, 2015', 'Wed, Nov 11, 2015',
       'Fri, Nov 13, 2015', 'Sat, Nov 14, 2015', 'Mon, Nov 16, 2015',
       'Wed, Nov 18, 2015', 'Fri, Nov 20, 2015', 'Sat, Nov 21, 2015',
       'Wed, Nov 25, 2015', 'Fri, Nov 27, 2015', 'Sun, Nov 29, 2015',
       'Mon, Nov 30, 2015', 'Wed, Dec 2, 2015', 'Fri, Dec 4, 2015',
       'Sat, Dec 5, 2015', 'Tue, Dec 8, 2015', 'Wed, Dec 9, 2015',
       'Sat, Dec 12, 2015', 'Mon, Dec 14, 2015', 'Tue, Dec 15, 2015',
       'Thu, Dec 17, 2015', 'Sat, Dec 19, 2015', 'Mon, Dec 21, 2015',
       'Wed, Dec 23, 2015', 'Fri, Dec 25, 2015', 'Sat, Dec 26, 2015',
       'Tue, Dec 29, 2015', 'Thu, Dec 31, 2015', 'Sat, Jan 2, 2016',
       'Mon, Jan 4, 2016', 'Thu, Jan 7, 2016', 'Sun, Jan 10, 2016',
       'Tue, Jan 12, 2016', 'Wed, Jan 13, 2016', 'Fri, Jan 15, 2016',
       'Sun, Jan 17, 2016', 'Mon, Jan 18, 2016', 'Wed, Jan 20, 2016',
       'Fri, Jan 22, 2016', 'Sun, Jan 24, 2016', 'Mon, Jan 25, 2016',
       'Wed, Jan 27, 2016', 'Fri, Jan 29, 2016', 'Sat, Jan 30, 2016',
       'Tue, Feb 2, 2016', 'Thu, Feb 4, 2016', 'Sat, Feb 6, 2016',
       'Tue, Feb 9, 2016', 'Wed, Feb 10, 2016', 'Fri, Feb 19, 2016',
       'Tue, Feb 23, 2016', 'Thu, Feb 25, 2016', 'Sat, Feb 27, 2016',
       'Mon, Feb 29, 2016', 'Wed, Mar 2, 2016', 'Sat, Mar 5, 2016',
       'Sun, Mar 6, 2016', 'Wed, Mar 9, 2016', 'Fri, Mar 11, 2016',
       'Sat, Mar 12, 2016', 'Mon, Mar 14, 2016', 'Wed, Mar 16, 2016',
       'Fri, Mar 18, 2016', 'Sat, Mar 19, 2016', 'Tue, Mar 22, 2016',
       'Wed, Mar 23, 2016', 'Fri, Mar 25, 2016', 'Sun, Mar 27, 2016',
       'Tue, Mar 29, 2016', 'Thu, Mar 31, 2016', 'Sun, Apr 3, 2016',
       'Wed, Apr 6, 2016', 'Thu, Apr 7, 2016', 'Sun, Apr 10, 2016',
       'Mon, Apr 11, 2016', 'Wed, Apr 13, 2016', 'Wed, Oct 26, 2016',
       'Fri, Oct 28, 2016', 'Sun, Oct 30, 2016', 'Tue, Nov 1, 2016',
       'Wed, Nov 2, 2016', 'Sat, Nov 5, 2016', 'Mon, Nov 7, 2016',
       'Wed, Nov 9, 2016', 'Sat, Nov 12, 2016', 'Mon, Nov 14, 2016',
       'Wed, Nov 16, 2016', 'Thu, Nov 17, 2016', 'Sat, Nov 19, 2016',
       'Mon, Nov 21, 2016', 'Wed, Nov 23, 2016', 'Fri, Nov 25, 2016',
       'Sun, Nov 27, 2016', 'Tue, Nov 29, 2016', 'Thu, Dec 1, 2016',
       'Fri, Dec 2, 2016', 'Mon, Dec 5, 2016', 'Wed, Dec 7, 2016',
       'Fri, Dec 9, 2016', 'Sat, Dec 10, 2016', 'Mon, Dec 12, 2016',
       'Wed, Dec 14, 2016', 'Fri, Dec 16, 2016', 'Sat, Dec 17, 2016',
       'Tue, Dec 20, 2016', 'Wed, Dec 21, 2016', 'Fri, Dec 23, 2016',
       'Mon, Dec 26, 2016', 'Tue, Dec 27, 2016', 'Fri, Dec 30, 2016',
       'Sat, Dec 31, 2016', 'Mon, Jan 2, 2017', 'Thu, Jan 5, 2017',
       'Fri, Jan 6, 2017', 'Sun, Jan 8, 2017', 'Tue, Jan 10, 2017',
       'Wed, Jan 11, 2017', 'Fri, Jan 13, 2017', 'Sun, Jan 15, 2017',
       'Tue, Jan 17, 2017', 'Wed, Jan 18, 2017', 'Fri, Jan 20, 2017',
       'Sat, Jan 21, 2017', 'Mon, Jan 23, 2017', 'Wed, Jan 25, 2017',
       'Fri, Jan 27, 2017', 'Sun, Jan 29, 2017', 'Tue, Jan 31, 2017',
       'Thu, Feb 2, 2017', 'Fri, Feb 3, 2017', 'Tue, Feb 7, 2017',
       'Thu, Feb 9, 2017', 'Sat, Feb 11, 2017', 'Wed, Feb 15, 2017',
       'Thu, Feb 23, 2017', 'Sat, Feb 25, 2017', 'Mon, Feb 27, 2017',
       'Wed, Mar 1, 2017', 'Sat, Mar 4, 2017', 'Mon, Mar 6, 2017',
       'Wed, Mar 8, 2017', 'Fri, Mar 10, 2017', 'Sun, Mar 12, 2017',
       'Wed, Mar 15, 2017', 'Fri, Mar 17, 2017', 'Sat, Mar 18, 2017',
       'Mon, Mar 20, 2017', 'Fri, Mar 24, 2017', 'Sun, Mar 26, 2017',
       'Tue, Mar 28, 2017', 'Thu, Mar 30, 2017', 'Fri, Mar 31, 2017',
       'Sun, Apr 2, 2017', 'Wed, Apr 5, 2017', 'Fri, Apr 7, 2017',
       'Sun, Apr 9, 2017', 'Mon, Apr 10, 2017', 'Wed, Apr 12, 2017'],
      dtype=object)

In [91]:
hou_rockets.Time.unique()  # need correct time

array(['9:30p ET', '7:00p ET', '9:00p ET', '8:00p ET', '10:30p ET',
       '8:30p ET', '3:30p ET', '7:30p ET', '6:00p ET', '6:30p ET',
       '12:30p ET', '1:30p ET', '2:30p ET', '12:00p ET', '1:00p ET',
       '4:00p ET', '2:00p ET', '3:00p ET', '10:00p ET', '5:30p ET',
       '5:00p ET'], dtype=object)

In [92]:
hou_rockets.Team.unique()  # ok

array(['Houston Rockets'], dtype=object)

In [93]:
hou_rockets.Team_score.unique()  # ok

array([118, 111, 130, 109, 103, 101, 115,  99,  95, 124, 119, 113, 106,
        98,  80, 128,  90,  78,  97,  94,  81, 105, 126,  96,  92, 125,
       107,  75,  89, 104,  85,  84,  91,  88, 100,  83, 116,  82,  93,
       108, 112, 110, 117,  74,  69,  79,  86, 131, 114, 120,  87,  73,
       102,  66, 127, 121, 129, 123, 140, 122, 136, 134, 145,  77, 132,
       137, 133, 142, 139, 135])

In [94]:
hou_rockets.Location.unique()  #

array([nan, '@'], dtype=object)

In [95]:
hou_rockets.Opponent.unique()  # ok

array(['Dallas Mavericks', 'Los Angeles Clippers',
       'Golden State Warriors', 'Oklahoma City Thunder',
       'San Antonio Spurs', 'Los Angeles Lakers', 'Utah Jazz',
       'Portland Trail Blazers', 'Milwaukee Bucks', 'Charlotte Bobcats',
       'Memphis Grizzlies', 'Phoenix Suns', 'Miami Heat',
       'Denver Nuggets', 'Sacramento Kings', 'New Jersey Nets',
       'Toronto Raptors', 'Philadelphia 76ers', 'Detroit Pistons',
       'Orlando Magic', 'Chicago Bulls', 'Boston Celtics',
       'New York Knicks', 'Washington Wizards', 'Minnesota Timberwolves',
       'New Orleans Hornets', 'Seattle SuperSonics', 'Indiana Pacers',
       'Cleveland Cavaliers', 'Atlanta Hawks', 'Brooklyn Nets',
       'New Orleans Pelicans', 'Charlotte Hornets'], dtype=object)

In [96]:
hou_rockets.Opponent.value_counts(dropna=False)  # ok

Golden State Warriors     46
San Antonio Spurs         46
Dallas Mavericks          44
Los Angeles Clippers      42
Memphis Grizzlies         40
Oklahoma City Thunder     38
Denver Nuggets            37
Minnesota Timberwolves    36
Sacramento Kings          36
Phoenix Suns              36
Los Angeles Lakers        35
Portland Trail Blazers    35
Utah Jazz                 35
New Orleans Hornets       23
Toronto Raptors           20
Washington Wizards        20
Boston Celtics            19
Cleveland Cavaliers       19
Miami Heat                19
Atlanta Hawks             19
Milwaukee Bucks           19
Chicago Bulls             19
Detroit Pistons           19
New York Knicks           19
Indiana Pacers            19
Orlando Magic             19
Philadelphia 76ers        19
New Orleans Pelicans      16
Charlotte Bobcats         14
Brooklyn Nets             10
New Jersey Nets            9
Charlotte Hornets          6
Seattle SuperSonics        4
Name: Opponent, dtype: int64

In [97]:
hou_rockets.Opponent_score.unique()  # ok

array([108,  99, 128, 121,  94, 117, 109, 124, 103, 107, 100, 110, 115,
       104,  96, 114,  87, 111,  93,  95,  80,  81,  88,  82, 105,  90,
        98,  71, 113,  92,  89,  77,  97, 112,  83,  79,  91,  84,  86,
        85,  69,  73,  75, 106, 122,  66, 102, 101,  76,  78,  74, 130,
       118, 125, 133, 123, 119, 116, 132,  70, 120, 134, 137,  65, 131,
       126, 140, 127])

In [98]:
hou_rockets.Result.unique()  # ok

array(['W', 'L'], dtype=object)

## Location Column

- change @ to away, nan to home

In [99]:
hou_rockets.Location.value_counts(dropna=False)

NaN    419
@      418
Name: Location, dtype: int64

In [101]:
hou_rockets['Location'] = np.where(hou_rockets['Location'] =='@', 'away', 'home')

In [102]:
hou_rockets.Location.value_counts(dropna=False)

home    837
Name: Location, dtype: int64

In [103]:
hou_rockets.head()

,Date,Time,Team,Team_score,Location,Opponent,Opponent_score,Result
0,"Sat, Apr 18, 2015",9:30p ET,Houston Rockets,118,home,Dallas Mavericks,108,W
1,"Tue, Apr 21, 2015",9:30p ET,Houston Rockets,111,home,Dallas Mavericks,99,W
2,"Fri, Apr 24, 2015",7:00p ET,Houston Rockets,130,home,Dallas Mavericks,128,W
3,"Sun, Apr 26, 2015",9:00p ET,Houston Rockets,109,home,Dallas Mavericks,121,L
4,"Tue, Apr 28, 2015",8:00p ET,Houston Rockets,103,home,Dallas Mavericks,94,W

## Date column

- split Date:
    - Day : Sun
    - Date : Month, day, Year

In [122]:
# hou_rockets['Day'] = hou_rockets['Date'].str.split(',').apply(lambda x: x[0])
# hou_rockets['Date'] = hou_rockets['Date'].str.split(',').apply(lambda x: x[1:])

In [105]:
hou_rockets.head()

,Date,Time,Team,Team_score,Location,Opponent,Opponent_score,Result
0,"Sat, Apr 18, 2015",9:30p ET,Houston Rockets,118,home,Dallas Mavericks,108,W
1,"Tue, Apr 21, 2015",9:30p ET,Houston Rockets,111,home,Dallas Mavericks,99,W
2,"Fri, Apr 24, 2015",7:00p ET,Houston Rockets,130,home,Dallas Mavericks,128,W
3,"Sun, Apr 26, 2015",9:00p ET,Houston Rockets,109,home,Dallas Mavericks,121,L
4,"Tue, Apr 28, 2015",8:00p ET,Houston Rockets,103,home,Dallas Mavericks,94,W

In [120]:
#day = hou_rockets['Date'].str.split(',').apply(lambda x: x[0])

In [118]:
hou_rockets['Date'] = pd.to_datetime(hou_rockets['Date'])

In [123]:
hou_rockets.head()

,Date,Time,Team,Team_score,Location,Opponent,Opponent_score,Result
0,2015-04-18,9:30p ET,Houston Rockets,118,home,Dallas Mavericks,108,W
1,2015-04-21,9:30p ET,Houston Rockets,111,home,Dallas Mavericks,99,W
2,2015-04-24,7:00p ET,Houston Rockets,130,home,Dallas Mavericks,128,W
3,2015-04-26,9:00p ET,Houston Rockets,109,home,Dallas Mavericks,121,L
4,2015-04-28,8:00p ET,Houston Rockets,103,home,Dallas Mavericks,94,W

In [124]:
hou_rockets = hou_rockets.set_index('Date').sort_index(ascending=True)

In [126]:
hou_rockets.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 837 entries, 2007-10-30 to 2017-05-11
Data columns (total 7 columns):
Time              837 non-null object
Team              837 non-null object
Team_score        837 non-null int64
Location          837 non-null object
Opponent          837 non-null object
Opponent_score    837 non-null int64
Result            837 non-null object
dtypes: int64(2), object(5)
memory usage: 52.3+ KB

In [129]:
hou_rockets.head()

,Time,Team,Team_score,Location,Opponent,Opponent_score,Result
Date,,,,,,,
2007-10-30,7:30p ET,Houston Rockets,95,home,Los Angeles Lakers,93,W
2007-11-01,7:00p ET,Houston Rockets,106,home,Utah Jazz,95,W
2007-11-03,7:30p ET,Houston Rockets,89,home,Portland Trail Blazers,80,W
2007-11-05,7:30p ET,Houston Rockets,98,home,Dallas Mavericks,107,L
2007-11-06,7:30p ET,Houston Rockets,89,home,San Antonio Spurs,81,W

## Save clean data to  to csv

In [130]:
hou_rockets.to_csv('clean_data/hou_rockets_08_17_clean.csv')

In [131]:
ls clean_data/

astros_08_17_clean.csv*       rice_08_17_clean.csv*  uh_08_17_clean.csv*
hou_rockets_08_17_clean.csv*  tsu_08_17_clean.csv*

In [132]:
## Finish