In [1]:
import pandas as pd

In [2]:
ls sports_data_clean

astros_10_17_plo_clean.csv*       nfl_08_17_clean.csv*
astros_10_17_reg_clean.csv*       nfl10clean.csv*
astros_1A10.csv*                  nfl10yearsfull.csv*
dynamo_10_17_plo.csv*             nfl17years_clean.csv*
dynamo_10_17__reg.csv*            nfl17years_PST_clean.csv*
dynamo_10H30.csv*                 rice_08_17_clean.csv*
hou_nfl_1017_post.csv*            Rice_10H80.csv*
hou_nfl_1017_reg.csv*             rockets_1A10.csv*
hou_rockets_08_17_clean.csv*      Tex_15E40.csv*
hou_rockets_10_17_plo_clean.csv*  uh_08_17_clean.csv*
hou_rockets_10_17_reg_clean.csv*  UH_10H50.csv*

In [4]:
# 1A10
hou_reg = 'sports_data_clean/astros_10_17_reg_clean.csv'
hou_pos = 'sports_data_clean/astros_10_17_plo_clean.csv'

In [5]:
df_reg = pd.read_csv(hou_reg)
df_pos = pd.read_csv(hou_pos)

In [6]:
astros_home_reg = df_reg[df_reg.home_away =='HOME']

In [7]:
astros_home_pos = df_pos[df_pos.location == 'Minute Maid Park']

In [9]:
astros_home_reg.head()

,date,team,team_score,home_away,opposing,opp_score,win_lost,attendance,season
0,2010-04-05,HOU,2,HOME,SFG,5,L,43836.0,reg
1,2010-04-06,HOU,0,HOME,SFG,3,L,24237.0,reg
2,2010-04-07,HOU,4,HOME,SFG,10,L,21599.0,reg
3,2010-04-09,HOU,0,HOME,PHI,8,L,27288.0,reg
4,2010-04-10,HOU,6,HOME,PHI,9,L,35138.0,reg

In [11]:
astros_home_pos.head()

,date,time,location,team_1,score_1,team_2,score_2,home_away,season
3,2015-10-11,3:10,Minute Maid Park,Kansas City,2,Houston,4,HOME,plo
4,2015-10-12,12:07,Minute Maid Park,Kansas City,9,Houston,6,HOME,plo
7,2017-10-06,2pm,Minute Maid Park,Boston,2,Houston,8,HOME,plo
10,2017-10-13,8:00,Minute Maid Park,New York,1,Houston,2,HOME,plo
11,2017-10-14,4:00,Minute Maid Park,New York,1,Houston,2,HOME,plo

In [12]:
astros_home_pos = astros_home_pos[['date','team_2','score_2','home_away','team_1','score_1','season']]



astros_home_pos.rename(columns = {'team_2':'team','score_2':'team_score','team_1':'opposing','score_1':'opp_score'}, inplace=True)

/home/frank/miniconda3/envs/springboard/lib/python3.6/site-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [14]:
astros_home_pos.head()

          date     team  team_score home_away     opposing  opp_score season
3   2015-10-11  Houston           4      HOME  Kansas City          2    plo
4   2015-10-12  Houston           6      HOME  Kansas City          9    plo
7   2017-10-06  Houston           8      HOME       Boston          2    plo
10  2017-10-13  Houston           2      HOME     New York          1    plo
11  2017-10-14  Houston           2      HOME     New York          1    plo

In [15]:
astros_home_reg = astros_home_reg[['date','team','team_score','home_away','opposing','opp_score' ,'season']]

In [16]:
astros_home_reg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 648 entries, 0 to 1288
Data columns (total 7 columns):
date          648 non-null object
team          648 non-null object
team_score    648 non-null int64
home_away     648 non-null object
opposing      648 non-null object
opp_score     648 non-null int64
season        648 non-null object
dtypes: int64(2), object(5)
memory usage: 40.5+ KB

In [17]:
astros_home_pos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 3 to 21
Data columns (total 7 columns):
date          10 non-null object
team          10 non-null object
team_score    10 non-null int64
home_away     10 non-null object
opposing      10 non-null object
opp_score     10 non-null int64
season        10 non-null object
dtypes: int64(2), object(5)
memory usage: 640.0+ bytes

# join dataframes

In [18]:
frames = [astros_home_pos,astros_home_reg]
astros = pd.concat(frames)

In [19]:
#beat_1A10_Astros

In [20]:
astros['beat'] = '1A10'

In [21]:
astros.head()

,date,team,team_score,home_away,opposing,opp_score,season,beat
3,2015-10-11,Houston,4,HOME,Kansas City,2,plo,1A10
4,2015-10-12,Houston,6,HOME,Kansas City,9,plo,1A10
7,2017-10-06,Houston,8,HOME,Boston,2,plo,1A10
10,2017-10-13,Houston,2,HOME,New York,1,plo,1A10
11,2017-10-14,Houston,2,HOME,New York,1,plo,1A10

In [22]:
astros.to_csv('sports_data_clean/astros_1A10.csv')

In [23]:
ls sports_data_clean/

astros_10_17_plo_clean.csv*       nfl_08_17_clean.csv*
astros_10_17_reg_clean.csv*       nfl10clean.csv*
astros_1A10.csv*                  nfl10yearsfull.csv*
dynamo_10_17_plo.csv*             nfl17years_clean.csv*
dynamo_10_17__reg.csv*            nfl17years_PST_clean.csv*
dynamo_10H30.csv*                 rice_08_17_clean.csv*
hou_nfl_1017_post.csv*            Rice_10H80.csv*
hou_nfl_1017_reg.csv*             rockets_1A10.csv*
hou_rockets_08_17_clean.csv*      Tex_15E40.csv*
hou_rockets_10_17_plo_clean.csv*  uh_08_17_clean.csv*
hou_rockets_10_17_reg_clean.csv*  UH_10H50.csv*