In [1]:
import pandas as pd

In [2]:
ls sports_data_clean

astros_10_17_plo_clean.csv*       nfl_08_17_clean.csv*
astros_10_17_reg_clean.csv*       nfl10clean.csv*
astros_1A10.csv*                  nfl10yearsfull.csv*
dynamo_10_17_plo.csv*             nfl17years_clean.csv*
dynamo_10_17__reg.csv*            nfl17years_PST_clean.csv*
dynamo_10H30.csv*                 rice_08_17_clean.csv*
hou_nfl_1017_post.csv*            Rice_10H80.csv*
hou_nfl_1017_reg.csv*             rockets_1A10.csv*
hou_rockets_08_17_clean.csv*      Tex_15E40.csv*
hou_rockets_10_17_plo_clean.csv*  uh_08_17_clean.csv*
hou_rockets_10_17_reg_clean.csv*  UH_10H50.csv*

In [3]:
hou_reg = 'sports_data_clean/rice_08_17_clean.csv'

In [4]:
df = pd.read_csv(hou_reg)

In [6]:
df.head()

         Date  Day School  Pts home_away     Opponent  Opp win_lost
0  2008-08-29  Fri   Rice   56      home          SMU   27        W
1  2008-09-06  Sat   Rice   42      away      Memphis   35        W
2  2008-09-13  Sat   Rice   21      away   Vanderbilt   38        L
3  2008-09-20  Sat   Rice   10      away        Texas   52        L
4  2008-09-27  Sat   Rice   77      home  North Texas   20        W

In [7]:
df = df[['Date','School','Pts','home_away','Opponent','Opp']]

In [8]:
df = df[df.home_away == 'home']

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 0 to 124
Data columns (total 6 columns):
Date         58 non-null object
School       58 non-null object
Pts          58 non-null int64
home_away    58 non-null object
Opponent     58 non-null object
Opp          58 non-null int64
dtypes: int64(2), object(4)
memory usage: 3.2+ KB

In [10]:
df.head()

          Date School  Pts home_away              Opponent  Opp
0   2008-08-29   Rice   56      home                   SMU   27
4   2008-09-27   Rice   77      home           North Texas   20
6   2008-10-18   Rice   45      home  Southern Mississippi   40
9   2008-11-08   Rice   38      home                  Army   31
10  2008-11-22   Rice   35      home              Marshall   10

In [11]:
# date
df.Date = pd.to_datetime(df.Date)

df = df.set_index('Date').sort_index(ascending=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 58 entries, 2008-08-29 to 2017-11-25
Data columns (total 5 columns):
School       58 non-null object
Pts          58 non-null int64
home_away    58 non-null object
Opponent     58 non-null object
Opp          58 non-null int64
dtypes: int64(2), object(3)
memory usage: 2.7+ KB

In [ ]:
ls sports_data_clean/

In [13]:
df

           School  Pts home_away               Opponent  Opp
Date
2008-08-29   Rice   56      home                    SMU   27
2008-09-27   Rice   77      home            North Texas   20
2008-10-18   Rice   45      home   Southern Mississippi   40
2008-11-08   Rice   38      home                   Army   31
2008-11-22   Rice   35      home               Marshall   10
2008-11-29   Rice   56      home                Houston   42
2008-12-30   Rice   38      home       Western Michigan   14
2009-09-26   Rice   17      home             Vanderbilt   36
2009-10-03   Rice   10      home                  Tulsa   27
2009-10-10   Rice   14      home                   Navy   63
2009-10-24   Rice    7      home                    UCF   49
2009-11-14   Rice   28      home                 Tulane   20
2009-11-21   Rice   30      home                   UTEP   29
2010-09-04   Rice   17      home                  Texas   34
2010-09-18   Rice   13      home           Northwestern   30
2010-09-25   Rice   13      home                 Baylor   30
2010-10-02   Rice   31      home                    SMU   42
2010-10-16   Rice   34      home                Houston   31
2010-11-20   Rice   62      home          East Carolina   38
2010-11-27   Rice   28      home                    UAB   23
2011-09-10   Rice   24      home                 Purdue   22
2011-10-08   Rice   28      home                Memphis    6
2011-10-22   Rice   20      home                  Tulsa   38
2011-11-05   Rice   41      home                   UTEP   37
2011-11-19   Rice   19      home                 Tulane    7
2012-08-30   Rice   24      home                   UCLA   49
2012-09-22   Rice   51      home               Marshall   54
2012-10-13   Rice   34      home                   UTSA   14
2012-10-27   Rice   44      home   Southern Mississippi   17
2012-11-17   Rice   36      home                    SMU   20
2013-09-14   Rice   23      home                 Kansas   14
2013-09-28   Rice   18      home       Florida Atlantic   14
2013-10-26   Rice   45      home                   UTEP    7
2013-11-16   Rice   52      home         Louisiana Tech   14
2013-11-30   Rice   17      home                 Tulane   13
2013-12-07   Rice   41      home               Marshall   24
2014-09-20   Rice   42      home           Old Dominion   45
2014-10-04   Rice   28      home                 Hawaii   14
2014-10-25   Rice   41      home            North Texas   21
2014-11-08   Rice   17      home                   UTSA    7
2014-11-21   Rice   31      home                   UTEP   13
2015-09-05   Rice   56      home                 Wagner   16
2015-10-03   Rice   10      home       Western Kentucky   49
2015-10-24   Rice   38      home                   Army   31
2015-10-30   Rice   17      home         Louisiana Tech   42
2015-11-14   Rice   10      home   Southern Mississippi   65
2015-11-28   Rice   27      home              Charlotte    7
2016-09-16   Rice   10      home                 Baylor   38
2016-09-24   Rice   35      home            North Texas   42
2016-10-15   Rice   13      home                   UTSA   14
2016-10-22   Rice   65      home       Prairie View A&M   44
2016-11-05   Rice   25      home       Florida Atlantic   42
2016-11-19   Rice   44      home                   UTEP   24
2017-09-23   Rice    7      home  Florida International   13
2017-10-07   Rice   12      home                   Army   49
2017-10-28   Rice   28      home         Louisiana Tech   42
2017-11-11   Rice   34      home   Southern Mississippi   43
2017-11-25   Rice   14      home            North Texas   30

In [14]:
rice_df = df.loc[df.index.year >= 2010]
rice_df

           School  Pts home_away               Opponent  Opp
Date
2010-09-04   Rice   17      home                  Texas   34
2010-09-18   Rice   13      home           Northwestern   30
2010-09-25   Rice   13      home                 Baylor   30
2010-10-02   Rice   31      home                    SMU   42
2010-10-16   Rice   34      home                Houston   31
2010-11-20   Rice   62      home          East Carolina   38
2010-11-27   Rice   28      home                    UAB   23
2011-09-10   Rice   24      home                 Purdue   22
2011-10-08   Rice   28      home                Memphis    6
2011-10-22   Rice   20      home                  Tulsa   38
2011-11-05   Rice   41      home                   UTEP   37
2011-11-19   Rice   19      home                 Tulane    7
2012-08-30   Rice   24      home                   UCLA   49
2012-09-22   Rice   51      home               Marshall   54
2012-10-13   Rice   34      home                   UTSA   14
2012-10-27   Rice   44      home   Southern Mississippi   17
2012-11-17   Rice   36      home                    SMU   20
2013-09-14   Rice   23      home                 Kansas   14
2013-09-28   Rice   18      home       Florida Atlantic   14
2013-10-26   Rice   45      home                   UTEP    7
2013-11-16   Rice   52      home         Louisiana Tech   14
2013-11-30   Rice   17      home                 Tulane   13
2013-12-07   Rice   41      home               Marshall   24
2014-09-20   Rice   42      home           Old Dominion   45
2014-10-04   Rice   28      home                 Hawaii   14
2014-10-25   Rice   41      home            North Texas   21
2014-11-08   Rice   17      home                   UTSA    7
2014-11-21   Rice   31      home                   UTEP   13
2015-09-05   Rice   56      home                 Wagner   16
2015-10-03   Rice   10      home       Western Kentucky   49
2015-10-24   Rice   38      home                   Army   31
2015-10-30   Rice   17      home         Louisiana Tech   42
2015-11-14   Rice   10      home   Southern Mississippi   65
2015-11-28   Rice   27      home              Charlotte    7
2016-09-16   Rice   10      home                 Baylor   38
2016-09-24   Rice   35      home            North Texas   42
2016-10-15   Rice   13      home                   UTSA   14
2016-10-22   Rice   65      home       Prairie View A&M   44
2016-11-05   Rice   25      home       Florida Atlantic   42
2016-11-19   Rice   44      home                   UTEP   24
2017-09-23   Rice    7      home  Florida International   13
2017-10-07   Rice   12      home                   Army   49
2017-10-28   Rice   28      home         Louisiana Tech   42
2017-11-11   Rice   34      home   Southern Mississippi   43
2017-11-25   Rice   14      home            North Texas   30

In [15]:
rice_df['beat'] = '10H80'

/home/frank/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
rice_df

           School  Pts home_away               Opponent  Opp   beat
Date
2010-09-04   Rice   17      home                  Texas   34  10H80
2010-09-18   Rice   13      home           Northwestern   30  10H80
2010-09-25   Rice   13      home                 Baylor   30  10H80
2010-10-02   Rice   31      home                    SMU   42  10H80
2010-10-16   Rice   34      home                Houston   31  10H80
2010-11-20   Rice   62      home          East Carolina   38  10H80
2010-11-27   Rice   28      home                    UAB   23  10H80
2011-09-10   Rice   24      home                 Purdue   22  10H80
2011-10-08   Rice   28      home                Memphis    6  10H80
2011-10-22   Rice   20      home                  Tulsa   38  10H80
2011-11-05   Rice   41      home                   UTEP   37  10H80
2011-11-19   Rice   19      home                 Tulane    7  10H80
2012-08-30   Rice   24      home                   UCLA   49  10H80
2012-09-22   Rice   51      home               Marshall   54  10H80
2012-10-13   Rice   34      home                   UTSA   14  10H80
2012-10-27   Rice   44      home   Southern Mississippi   17  10H80
2012-11-17   Rice   36      home                    SMU   20  10H80
2013-09-14   Rice   23      home                 Kansas   14  10H80
2013-09-28   Rice   18      home       Florida Atlantic   14  10H80
2013-10-26   Rice   45      home                   UTEP    7  10H80
2013-11-16   Rice   52      home         Louisiana Tech   14  10H80
2013-11-30   Rice   17      home                 Tulane   13  10H80
2013-12-07   Rice   41      home               Marshall   24  10H80
2014-09-20   Rice   42      home           Old Dominion   45  10H80
2014-10-04   Rice   28      home                 Hawaii   14  10H80
2014-10-25   Rice   41      home            North Texas   21  10H80
2014-11-08   Rice   17      home                   UTSA    7  10H80
2014-11-21   Rice   31      home                   UTEP   13  10H80
2015-09-05   Rice   56      home                 Wagner   16  10H80
2015-10-03   Rice   10      home       Western Kentucky   49  10H80
2015-10-24   Rice   38      home                   Army   31  10H80
2015-10-30   Rice   17      home         Louisiana Tech   42  10H80
2015-11-14   Rice   10      home   Southern Mississippi   65  10H80
2015-11-28   Rice   27      home              Charlotte    7  10H80
2016-09-16   Rice   10      home                 Baylor   38  10H80
2016-09-24   Rice   35      home            North Texas   42  10H80
2016-10-15   Rice   13      home                   UTSA   14  10H80
2016-10-22   Rice   65      home       Prairie View A&M   44  10H80
2016-11-05   Rice   25      home       Florida Atlantic   42  10H80
2016-11-19   Rice   44      home                   UTEP   24  10H80
2017-09-23   Rice    7      home  Florida International   13  10H80
2017-10-07   Rice   12      home                   Army   49  10H80
2017-10-28   Rice   28      home         Louisiana Tech   42  10H80
2017-11-11   Rice   34      home   Southern Mississippi   43  10H80
2017-11-25   Rice   14      home            North Texas   30  10H80

In [17]:
rice_df.to_csv('sports_data_clean/Rice_10H80.csv')

In [18]:
ls sports_data_clean/

astros_10_17_plo_clean.csv*       nfl_08_17_clean.csv*
astros_10_17_reg_clean.csv*       nfl10clean.csv*
astros_1A10.csv*                  nfl10yearsfull.csv*
dynamo_10_17_plo.csv*             nfl17years_clean.csv*
dynamo_10_17__reg.csv*            nfl17years_PST_clean.csv*
dynamo_10H30.csv*                 rice_08_17_clean.csv*
hou_nfl_1017_post.csv*            Rice_10H80.csv*
hou_nfl_1017_reg.csv*             rockets_1A10.csv*
hou_rockets_08_17_clean.csv*      Tex_15E40.csv*
hou_rockets_10_17_plo_clean.csv*  uh_08_17_clean.csv*
hou_rockets_10_17_reg_clean.csv*  UH_10H50.csv*