## Preseason (PRE), Regular Season (REG), or Post-Season (PST).

In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np
from pprint import pprint
import requests
import time
key = '5h567tf39qwsksfp9uxakxfc'

In [2]:
years = []
for i in range(2000,2018):
    years.append(str(i))
    
print(years)

['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']

In [3]:
def nfl_schedule(year,season,key):
    '''returns json result from api call'''
    #print('inside func: year:{}:season: {}'.format(year,season))  # debug
    URL = 'https://api.sportradar.us/nfl-ot2/games/'
    path = '{}/{}/schedule.json'.format(year,season)
    payload = {'api_key':key}
    r = requests.get(URL+path,params=payload)
    return r.json()

In [4]:
season = 'PST'

df_list = []  # emplty list for our weekly dataframes

for i in years:  # 2000 - 2017
    #print('year:{}'.format(i))  # debug
    json_yr = nfl_schedule(i,season,key)  # call func get json
    time.sleep(1)  # sleep
    for j in range(len(json_yr['weeks'])):  # loop over every week in that year
        #print('year:{},week:{}'.format(i,j))  # debug
        wk_df = json_normalize(json_yr['weeks'][j]['games'])  # df of that week
        df_list.append(wk_df)  # append to empty list
time.sleep(1)  # sleep
nfl_schedule = pd.concat(df_list, axis=0)  # concat list of weekly dataframes

In [5]:
nfl_schedule.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 0
Data columns (total 33 columns):
attendance             201 non-null int64
away.alias             201 non-null object
away.game_number       187 non-null float64
away.id                201 non-null object
away.name              201 non-null object
broadcast.internet     6 non-null object
broadcast.network      68 non-null object
broadcast.satellite    4 non-null object
entry_mode             201 non-null object
home.alias             201 non-null object
home.game_number       187 non-null float64
home.id                201 non-null object
home.name              201 non-null object
id                     201 non-null object
number                 68 non-null float64
reference              68 non-null object
scheduled              201 non-null object
scoring.away_points    201 non-null int64
scoring.home_points    201 non-null int64
scoring.periods        201 non-null object
status                 201 non-null object
utc_offset             201 non-null int64
venue.address          201 non-null object
venue.capacity         201 non-null int64
venue.city             201 non-null object
venue.country          184 non-null object
venue.id               201 non-null object
venue.name             201 non-null object
venue.roof_type        201 non-null object
venue.state            201 non-null object
venue.surface          201 non-null object
venue.zip              199 non-null object
weather                110 non-null object
dtypes: float64(3), int64(5), object(25)
memory usage: 53.4+ KB

In [6]:
nfl_schedule.head(5)

,attendance,away.alias,away.game_number,away.id,away.name,broadcast.internet,broadcast.network,broadcast.satellite,entry_mode,home.alias,...,venue.capacity,venue.city,venue.country,venue.id,venue.name,venue.roof_type,venue.state,venue.surface,venue.zip,weather
0,73193,IND,1.0,82cf9565-6eb9-4f01-bdbd-5aa0d472fcd9,Indianapolis Colts,NaN,NaN,NaN,INGEST,MIA,...,76100,Miami Gardens,USA,50a5c833-1570-4c38-abc7-7914cf87dbde,Hard Rock Stadium,outdoor,FL,turf,33056,"Mostly sunny. Temp: 59 F, Humidity: 58%, Wind:..."
1,69638,DEN,1.0,ce92bd47-93d5-4fe9-ada4-0fc681e6caa0,Denver Broncos,NaN,NaN,NaN,INGEST,BAL,...,71008,Baltimore,USA,d54faae0-0314-484f-8604-9d8dd08e1149,M&T Bank Stadium,outdoor,MD,turf,21230,"Mostly sunny and blustery Temp: 22 F, Humidity..."
2,64900,STL,1.0,39f349de-6463-4803-ad70-f1e0f144f5ed,St. Louis Rams,NaN,NaN,NaN,INGEST,NO,...,76468,New Orleans,USA,3c85d89a-ec66-4983-acd5-1381d6c8673a,Mercedes-Benz Superdome,dome,LA,artificial,70112,"Temp: 37 F, Humidity: 26%, Wind: NW 10-15 mph"
3,65813,TB,1.0,4254d319-1bc7-4f81-b4ab-b5e6f3402b69,Tampa Bay Buccaneers,NaN,NaN,NaN,INGEST,PHI,...,65352,Philadelphia,NaN,905f3091-107b-4e7d-af70-2e3822c09aee,Veterans Stadium,outdoor,PA,artificial,19148,"Partly cloudy Temp: 34 F, Humidity: 44%, Wind:..."
0,68527,BAL,2.0,ebd87119-b331-4469-9ea6-d51fe3ce2f1c,Baltimore Ravens,NaN,NaN,NaN,INGEST,TEN,...,69143,Nashville,USA,5295c1b7-c85c-49cb-9569-1707c65324e5,Nissan Stadium,outdoor,TN,turf,37213,"Chilly & Increasingly Cloudy Temp: 48 F, Humid..."

## Save this raw dataframe to csv

In [7]:
ls sports_data_raw/NFL/

nfl10clean.csv*  nfl10yearsfull.csv*  nfl17yearsfull_raw.csv*

In [8]:
nfl_schedule.to_csv('sports_data_raw/NFL/nfl17yearsfull_PST_raw.csv')

In [9]:
nfl_df = nfl_schedule[['scheduled','home.alias','scoring.home_points','away.alias','scoring.away_points']]

In [10]:
nfl_df.head()

,scheduled,home.alias,scoring.home_points,away.alias,scoring.away_points
0,2000-12-30T17:32:48+00:00,MIA,23,IND,17
1,2000-12-31T17:35:38+00:00,BAL,21,DEN,3
2,2000-12-30T21:05:14+00:00,NO,31,STL,28
3,2000-12-31T21:17:49+00:00,PHI,21,TB,3
0,2001-01-07T17:36:34+00:00,TEN,10,BAL,24

In [11]:
nfl_df['scheduled'] = pd.to_datetime(nfl_df['scheduled'])  # convert to datetime

nfl_df = nfl_df.set_index('scheduled').sort_index(ascending=True) # set and sort index

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
nfl_df['winner'] = np.where(nfl_df['scoring.home_points'] > nfl_df['scoring.away_points'],
                            nfl_df['home.alias'],
                            nfl_df['away.alias'])

# Save clean version to csv

In [13]:
ls sports_data_clean/

astros_08_17_clean.csv*       nfl_08_17_clean.csv*   rice_08_17_clean.csv*
dynamo_08_17_clean.csv*       nfl10clean.csv*        tsu_08_17_clean.csv*
hou_home_10_17_clean.csv*     nfl10yearsfull.csv*    uh_08_17_clean.csv*
hou_rockets_08_17_clean.csv*  nfl17years_clean.csv*

In [14]:
nfl_df.to_csv('sports_data_clean/nfl17years_PST_clean.csv')