In [13]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize
import ast
import pprint  # "pretty-print" arbitrary Python data structures

In [14]:
ls crime_data_clean/

beats_alternate_10_17.csv*      crime_10H70_10_17df_2000.csv*
beats_filter_10_17.csv*         crime_10H70_10_17df_3000.csv*
crime_10H10_10_17ADD.csv*       crime_10H70_10_17df_4000.csv*
crime_10H10_10_17.csv*          crime_10H70_10_17df_5000.csv*
crime_10H10_10_17df_1000.csv*   crime_10H70_10_17df_6000.csv*
crime_10H10_10_17df_2000.csv*   crime_10H70_10_17df_7000.csv*
crime_10H10_10_17df_3000.csv*   crime_10H70_10_17df_8000.csv*
crime_10H10_10_17df_4000.csv*   crime_10H70_10_17df_9000.csv*
crime_10H30_10_17ADD.csv*       crime_10H80_10_17ADD.csv*
crime_10H30_10_17.csv*          crime_10H80_10_17.csv*
crime_10H30_10_17FINAL.csv*     crime_10H80_10_17FINAL.csv*
crime_10H40_10_17ADD.csv*       crime_15E40_10_17ADD.csv*
crime_10H40_10_17.csv*          crime_15E40_10_17.csv*
crime_10H40_10_17df_10000.csv*  crime_15E40_10_17df_12000.csv*
crime_10H40_10_17df_1000.csv*   crime_15E40_10_17df_16281.csv*
crime_10H40_10_17df_2000.csv*   crime_15E40_10_17df_4000.csv*
crime_10H40_10_17df_3000.csv*   crime_15E40_10_17df_8000.csv*
crime_10H40_10_17df_4000.csv*   crime_15E40_10_17FINAL.csv*
crime_10H40_10_17df_5000.csv*   crime_1A10_10_17ADD.csv*
crime_10H40_10_17df_6000.csv*   crime_1A10_10_17.csv*
crime_10H40_10_17df_7000.csv*   crime_1A10_10_17df_14978.csv*
crime_10H40_10_17df_8000.csv*   crime_1A10_10_17df_4000.csv*
crime_10H40_10_17df_9000.csv*   crime_1A10_10_17df_8000.csv*
crime_10H40_10_17LATLON.csv*    crime_1A10_10_17df_p1.csv*
crime_10H50_10_17ADD.csv*       crime_1A10_10_17df_p2.csv*
crime_10H50_10_17.csv*          crime_1A10_10_17df_p3.csv*
crime_10H50_10_17FINAL.csv*     crime_1A10_10_17df_p4.csv*
crime_10H60_10_17ADD.csv*       crime_1A10_10_17FINAL.csv*
crime_10H60_10_17.csv*          crime_1A10_10_17LATLON.csv*
crime_10H60_10_17df_1000.csv*   crime_final_clean10_17.csv*
crime_10H60_10_17df_2000.csv*   df_10H10FINAL.csv*
crime_10H60_10_17df_3000.csv*   df_10H30FINAL.csv*
crime_10H60_10_17df_4000.csv*   df_10H40FINAL.csv*
crime_10H60_10_17df_5000.csv*   df_10H50FINAL.csv*
crime_10H60_10_17df_6000.csv*   df_10H60FINAL.csv*
crime_10H60_10_17df_7000.csv*   df_10H70FINAL.csv*
crime_10H60_10_17LATLON.csv*    df_1A10FINAL.csv*
crime_10H70_10_17ADD.csv*       new/
crime_10H70_10_17.csv*          stadium_beats_geocode.csv*
crime_10H70_10_17df_10000.csv*  stadiums_final.csv*
crime_10H70_10_17df_1000.csv*   years/

##  ~~10H40~~ , ~~10H60~~, 10H70, ~~10H10~~

# 10H60

In [15]:
path = 'crime_data_clean/crime_10H60_10_17ADD.csv'

In [16]:
df = pd.read_csv(path)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 15 columns):
Date_Hour      7672 non-null object
Beat           7672 non-null object
BlockRange     7672 non-null object
StreetName     7672 non-null object
OffenseType    7672 non-null object
Premise        7672 non-null object
NumOffenses    7672 non-null int64
Hour           7672 non-null int64
day            7672 non-null int64
weekday        7672 non-null object
month          7672 non-null object
year           7672 non-null int64
block          7672 non-null int64
address        7672 non-null object
tup_add        7672 non-null object
dtypes: int64(5), object(10)
memory usage: 899.1+ KB

In [18]:
df.tail()

,Date_Hour,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add
7667,2017-12-29 18:00:00,10H60,3800-3899,GERTIN,Theft,"other, unknown, or not listed",1,18,29,Friday,Dec,2017,3850,3850 GERTIN,"[{'address_components': [{'long_name': '3850',..."
7668,2017-12-30 01:00:00,10H60,2500-2599,OAKDALE,Theft,apartment parking lot,1,1,30,Saturday,Dec,2017,2550,2550 OAKDALE,"[{'address_components': [{'long_name': '2550',..."
7669,2017-12-30 09:00:00,10H60,3300-3399,BLODGETT ST,Theft,driveway,1,9,30,Saturday,Dec,2017,3350,3350 BLODGETT ST,"[{'address_components': [{'long_name': '3350',..."
7670,2017-12-30 13:00:00,10H60,4400-4499,N MACGREGOR WAY,Theft,apartment parking lot,1,13,30,Saturday,Dec,2017,4450,4450 N MACGREGOR WAY,"[{'address_components': [{'long_name': '4450',..."
7671,2017-12-31 15:00:00,10H60,2400-2499,WENTWORTH ST,Theft,bar or night club parking lot,1,15,31,Sunday,Dec,2017,2450,2450 WENTWORTH ST,"[{'address_components': [{'long_name': '2450',..."

# Find rows with not json data

In [ ]:
miss = df.tup_add == '[]'

In [ ]:
df[miss]

In [ ]:
df = df[~miss]

In [5]:
def parse_json(col):
    json_data = ast.literal_eval(col)
    if json_data is None:
        print('none')
        
    if len(json_data) == 0:
        pass  
    elif len(json_data) >=1:
        json_data = ast.literal_eval(col)[0]
        lat = json_data['geometry']['location']['lat']
        lng = json_data['geometry']['location']['lng']
        add = json_data['formatted_address']
        #z_code = json_data['address_components'][7]['long_name']
        data = [lat,lng,add]
        return pd.Series(data)

In [ ]:
zz = df['tup_add'].apply(parse_json)
zz.columns = ['lat','lon','add']

In [ ]:
df = df.join(zz)

In [ ]:
df.head()

# save

In [ ]:
save = 'crime_data_clean/crime_10H60_10_17LATLON.csv'

In [ ]:
df.to_csv(save)

# 1A10

In [ ]:
path = 'crime_data_clean/crime_1A10_10_17FINAL.csv'
df1A = pd.read_csv(path)
df1A.info()

In [ ]:
df1A.head()

## Find and drop missing value row

In [ ]:
miss = df1A.tup_add == '[]'

In [ ]:
df1A = df1A[~miss]
df1A.info()

In [ ]:
zz = df1A['tup_add'].apply(parse_json)
zz.columns = ['lat','lon','add']

In [ ]:
df1A = df1A.join(zz)

In [ ]:
df1A

In [ ]:
save = 'crime_data_clean/crime_1A10_10_17LATLON.csv'

In [ ]:
df1A.to_csv(save)

## 10H40

In [ ]:
path = 'crime_data_clean/crime_10H40_10_17ADD.csv'

In [ ]:
df = pd.read_csv(path)
df.info()

In [ ]:
df.head()

In [ ]:
miss = df.tup_add == '[]'

In [ ]:
df[miss]

In [ ]:
df = df[~miss]

In [ ]:
df.head()

In [ ]:
zz = df['tup_add'].apply(parse_json)
zz.columns = ['lat','lon','add']
df = df.join(zz)

In [ ]:
df.head()

In [ ]:
save = 'crime_data_clean/crime_10H40_10_17LATLON.csv'

In [ ]:
df.to_csv(save)

## 10H10

In [ ]:
path = 'crime_data_clean/crime_10H10_10_17ADD.csv'

In [ ]:
df = pd.read_csv(path)
df.head()

In [ ]:
df.info()

In [ ]:
miss = df.tup_add == '[]'

In [ ]:
df[miss]

In [ ]:
df = df[~miss]

In [ ]:
zz = df['tup_add'].apply(parse_json)
zz.columns = ['lat','lon','add']
df = df.join(zz)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
save = 'crime_data_clean/crime_10H10_10_17LATLON.csv'

In [ ]:
df.to_csv(path)

# 10H70

In [6]:
path = 'crime_data_clean/crime_10H70_10_17ADD.csv'
df = pd.read_csv(path)
df.head()

,Unnamed: 0,Date_Hour,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add,lat,lon,add
0,0,2010-01-01 19:00:00,10H70,6500-6599,FANNIN,Aggravated Assault,hospital,1,19,1,Friday,Jan,2010,6550,6550 FANNIN,"[{'address_components': [{'long_name': '6550',...",29.711448,-95.399988,"6550 Fannin St, Houston, TX 77030, USA"
1,1,2010-01-01 21:00:00,10H70,4800-4899,AUSTIN,Burglary,residence/house,1,21,1,Friday,Jan,2010,4850,4850 AUSTIN,"[{'address_components': [{'long_name': '4850',...",29.728541,-95.382676,"4850 Austin St, Houston, TX 77004, USA"
2,2,2010-01-01 23:00:00,10H70,1900-1999,WENTWORTH,Aggravated Assault,residence/house,1,23,1,Friday,Jan,2010,1950,1950 WENTWORTH,"[{'address_components': [{'long_name': '1950',...",29.726239,-95.376586,"1950 Wentworth St, Houston, TX 77004, USA"
3,3,2010-01-02 15:00:00,10H70,6600-6699,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010,6650,6650 FANNIN,"[{'address_components': [{'long_name': '6650',...",29.707713,-95.403292,"6650 Fannin St, Houston, TX 77030, USA"
4,4,2010-01-02 15:00:00,10H70,6400-6499,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010,6450,6450 FANNIN,"[{'address_components': [{'long_name': '6450',...",29.712163,-95.399011,"6450 Fannin St, Houston, TX 77030, USA"

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11109 entries, 0 to 11108
Data columns (total 19 columns):
Unnamed: 0     11109 non-null int64
Date_Hour      11109 non-null object
Beat           11109 non-null object
BlockRange     11109 non-null object
StreetName     11109 non-null object
OffenseType    11109 non-null object
Premise        11109 non-null object
NumOffenses    11109 non-null int64
Hour           11109 non-null int64
day            11109 non-null int64
weekday        11109 non-null object
month          11109 non-null object
year           11109 non-null int64
block          11109 non-null int64
address        11109 non-null object
tup_add        11109 non-null object
lat            11109 non-null float64
lon            11109 non-null float64
add            11109 non-null object
dtypes: float64(2), int64(6), object(11)
memory usage: 1.6+ MB

In [8]:
miss = df.tup_add == '[]'

In [11]:
df[miss]

Empty DataFrame
Columns: [Unnamed: 0, Date_Hour, Beat, BlockRange, StreetName, OffenseType, Premise, NumOffenses, Hour, day, weekday, month, year, block, address, tup_add, lat, lon, add]
Index: []

In [12]:
df.head()

,Unnamed: 0,Date_Hour,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add,lat,lon,add
0,0,2010-01-01 19:00:00,10H70,6500-6599,FANNIN,Aggravated Assault,hospital,1,19,1,Friday,Jan,2010,6550,6550 FANNIN,"[{'address_components': [{'long_name': '6550',...",29.711448,-95.399988,"6550 Fannin St, Houston, TX 77030, USA"
1,1,2010-01-01 21:00:00,10H70,4800-4899,AUSTIN,Burglary,residence/house,1,21,1,Friday,Jan,2010,4850,4850 AUSTIN,"[{'address_components': [{'long_name': '4850',...",29.728541,-95.382676,"4850 Austin St, Houston, TX 77004, USA"
2,2,2010-01-01 23:00:00,10H70,1900-1999,WENTWORTH,Aggravated Assault,residence/house,1,23,1,Friday,Jan,2010,1950,1950 WENTWORTH,"[{'address_components': [{'long_name': '1950',...",29.726239,-95.376586,"1950 Wentworth St, Houston, TX 77004, USA"
3,3,2010-01-02 15:00:00,10H70,6600-6699,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010,6650,6650 FANNIN,"[{'address_components': [{'long_name': '6650',...",29.707713,-95.403292,"6650 Fannin St, Houston, TX 77030, USA"
4,4,2010-01-02 15:00:00,10H70,6400-6499,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010,6450,6450 FANNIN,"[{'address_components': [{'long_name': '6450',...",29.712163,-95.399011,"6450 Fannin St, Houston, TX 77030, USA"

In [10]:
zz = df['tup_add'].apply(parse_json)
zz.columns = ['lat','lon','add']
df = df.join(zz)

ValueError: columns overlap but no suffix specified: Index(['lat', 'lon', 'add'], dtype='object')

In [ ]:
df.head()

In [3]:
save = 'crime_data_clean/CRIME_10H70_10_17LATLON.csv'
df.to_csv(path)
df.head()

NameError: name 'df' is not defined

In [ ]:
ls crime_data_clean