In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('crime_data_clean/crime_1A10_10_17ADD.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14978 entries, 0 to 14977
Data columns (total 15 columns):
Date_Hour      14978 non-null object
Beat           14978 non-null object
BlockRange     14978 non-null object
StreetName     14978 non-null object
OffenseType    14978 non-null object
Premise        14978 non-null object
NumOffenses    14978 non-null int64
Hour           14978 non-null int64
day            14978 non-null int64
weekday        14978 non-null object
month          14978 non-null object
year           14978 non-null int64
block          14978 non-null int64
address        14978 non-null object
tup_add        14978 non-null object
dtypes: int64(5), object(10)
memory usage: 1.7+ MB

In [10]:
df.head()

,Date_Hour,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add
0,2010-01-01 00:00:00,1A10,300-399,HAMILTON,Auto Theft,bar/night club parking lot,1,0,1,Friday,Jan,2010,350,350 HAMILTON,"[{'address_components': [{'long_name': '350', ..."
1,2010-01-01 00:00:00,1A10,1200-1299,CAROLINE,Theft,bar/night club,1,0,1,Friday,Jan,2010,1250,1250 CAROLINE,"[{'address_components': [{'long_name': '1250',..."
2,2010-01-01 00:00:00,1A10,400-499,MAIN,Burglary,office building,1,0,1,Friday,Jan,2010,450,450 MAIN,"[{'address_components': [{'long_name': '450', ..."
3,2010-01-01 00:00:00,1A10,1200-1299,TRAVIS,Theft,other/unknown,1,0,1,Friday,Jan,2010,1250,1250 TRAVIS,"[{'address_components': [{'long_name': '1250',..."
4,2010-01-01 00:00:00,1A10,1000-1099,AVENIDA DE LAS AMERICAS,Theft,convention center/exhibit halls,1,0,1,Friday,Jan,2010,1050,1050 AVENIDA DE LAS AMERICAS,"[{'address_components': [{'long_name': '1050',..."

In [18]:
print(df.loc[0].tup_add)

[{'address_components': [{'long_name': '350', 'short_name': '350', 'types': ['street_number']}, {'long_name': 'Hamilton Street', 'short_name': 'Hamilton St', 'types': ['route']}, {'long_name': 'Downtown', 'short_name': 'Downtown', 'types': ['neighborhood', 'political']}, {'long_name': 'Houston', 'short_name': 'Houston', 'types': ['locality', 'political']}, {'long_name': 'Harris County', 'short_name': 'Harris County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Texas', 'short_name': 'TX', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '77002', 'short_name': '77002', 'types': ['postal_code']}], 'formatted_address': '350 Hamilton St, Houston, TX 77002, USA', 'geometry': {'location': {'lat': 29.7572118, 'lng': -95.3532941}, 'location_type': 'RANGE_INTERPOLATED', 'viewport': {'northeast': {'lat': 29.7585607802915, 'lng': -95.3519451197085}, 'southwest': {'lat': 29.7558628197085, 'lng': -95.35464308029151}}}, 'place_id': 'EiczNTAgSGFtaWx0b24gU3QsIEhvdXN0b24sIFRYIDc3MDAyLCBVU0EiGxIZChQKEgk15mI4J79AhhEV1jBBXhSKsxDeAg', 'types': ['street_address']}]

In [ ]:
works_data = json_normalize(data=d['programs'], record_path='works', 
                            meta=['id', 'orchestra','programID', 'season'])