In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import googlemaps
import gmaps
import requests
API_KEY = 'AIzaSyDx5QmI3U_EDK3N8uVW32D65fdLdv82C58'

import gmaps_func as gf
import datetime as dt

In [2]:
ls crime_data_clean/

beats_alternate_10_17.csv*      crime_10H60_10_17df_5000.csv*
beats_filter_10_17.csv*         crime_10H60_10_17df_6000.csv*
crime_10H10_10_17.csv*          crime_10H60_10_17df_7000.csv*
crime_10H10_10_17df_1000.csv*   crime_10H60_10_17LATLON.csv*
crime_10H10_10_17df_2000.csv*   crime_10H70_10_17.csv*
crime_10H10_10_17df_3000.csv*   crime_10H80_10_17ADD.csv*
crime_10H30_10_17ADD.csv*       crime_10H80_10_17.csv*
crime_10H30_10_17.csv*          crime_10H80_10_17FINAL.csv*
crime_10H30_10_17FINAL.csv*     crime_15E40_10_17ADD.csv*
crime_10H40_10_17ADD.csv*       crime_15E40_10_17.csv*
crime_10H40_10_17.csv*          crime_15E40_10_17df_12000.csv*
crime_10H40_10_17df_10000.csv*  crime_15E40_10_17df_16281.csv*
crime_10H40_10_17df_1000.csv*   crime_15E40_10_17df_4000.csv*
crime_10H40_10_17df_2000.csv*   crime_15E40_10_17df_8000.csv*
crime_10H40_10_17df_3000.csv*   crime_15E40_10_17FINAL.csv*
crime_10H40_10_17df_4000.csv*   crime_1A10_10_17ADD.csv*
crime_10H40_10_17df_5000.csv*   crime_1A10_10_17.csv*
crime_10H40_10_17df_6000.csv*   crime_1A10_10_17df_14978.csv*
crime_10H40_10_17df_7000.csv*   crime_1A10_10_17df_4000.csv*
crime_10H40_10_17df_8000.csv*   crime_1A10_10_17df_8000.csv*
crime_10H40_10_17df_9000.csv*   crime_1A10_10_17df_p1.csv*
crime_10H40_10_17LATLON.csv*    crime_1A10_10_17df_p2.csv*
crime_10H50_10_17ADD.csv*       crime_1A10_10_17df_p3.csv*
crime_10H50_10_17.csv*          crime_1A10_10_17df_p4.csv*
crime_10H50_10_17FINAL.csv*     crime_1A10_10_17FINAL.csv*
crime_10H60_10_17ADD.csv*       crime_1A10_10_17LATLON.csv*
crime_10H60_10_17.csv*          crime_final_clean10_17.csv*
crime_10H60_10_17df_1000.csv*   new/
crime_10H60_10_17df_2000.csv*   stadium_beats_geocode.csv*
crime_10H60_10_17df_3000.csv*   stadiums_final.csv*
crime_10H60_10_17df_4000.csv*   years/

In [3]:
path = 'crime_data_clean/crime_10H70_10_17.csv'
df = pd.read_csv(path,index_col='Date_Hour', parse_dates=True)

In [4]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01 19:00:00,10H70,6500-6599,FANNIN,Aggravated Assault,hospital,1,19,1,Friday,Jan,2010
2010-01-01 21:00:00,10H70,4800-4899,AUSTIN,Burglary,residence/house,1,21,1,Friday,Jan,2010
2010-01-01 23:00:00,10H70,1900-1999,WENTWORTH,Aggravated Assault,residence/house,1,23,1,Friday,Jan,2010
2010-01-02 15:00:00,10H70,6600-6699,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010
2010-01-02 15:00:00,10H70,6400-6499,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11423 entries, 2010-01-01 19:00:00 to 2017-12-31 14:00:00
Data columns (total 11 columns):
Beat           11423 non-null object
BlockRange     11423 non-null object
StreetName     11423 non-null object
OffenseType    11423 non-null object
Premise        11423 non-null object
NumOffenses    11423 non-null int64
Hour           11423 non-null int64
day            11423 non-null int64
weekday        11423 non-null object
month          11423 non-null object
year           11423 non-null int64
dtypes: int64(4), object(7)
memory usage: 1.0+ MB

## Return a good blockrange value

In [6]:
gf.block_split(df)

ValueError: invalid literal for int() with base 10: 'UNK'

## Drop 'UNK' values

In [7]:
unk = df.BlockRange == 'UNK'

In [8]:
df = df[~unk]

In [9]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01 19:00:00,10H70,6500-6599,FANNIN,Aggravated Assault,hospital,1,19,1,Friday,Jan,2010
2010-01-01 21:00:00,10H70,4800-4899,AUSTIN,Burglary,residence/house,1,21,1,Friday,Jan,2010
2010-01-01 23:00:00,10H70,1900-1999,WENTWORTH,Aggravated Assault,residence/house,1,23,1,Friday,Jan,2010
2010-01-02 15:00:00,10H70,6600-6699,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010
2010-01-02 15:00:00,10H70,6400-6499,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010

In [10]:
df['block'] = gf.block_split(df)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df.BlockRange.value_counts()[:10]

1500-1599    713
6400-6499    708
6500-6599    686
6600-6699    580
6700-6799    435
0-99         427
6200-6299    352
1800-1899    329
1900-1999    307
6000-6099    274
Name: BlockRange, dtype: int64

In [15]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address
Date_Hour,,,,,,,,,,,,,
2010-01-01 19:00:00,10H70,6500-6599,FANNIN,Aggravated Assault,hospital,1,19,1,Friday,Jan,2010,6550,6550 FANNIN
2010-01-01 21:00:00,10H70,4800-4899,AUSTIN,Burglary,residence/house,1,21,1,Friday,Jan,2010,4850,4850 AUSTIN
2010-01-01 23:00:00,10H70,1900-1999,WENTWORTH,Aggravated Assault,residence/house,1,23,1,Friday,Jan,2010,1950,1950 WENTWORTH
2010-01-02 15:00:00,10H70,6600-6699,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010,6650,6650 FANNIN
2010-01-02 15:00:00,10H70,6400-6499,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010,6450,6450 FANNIN

In [ ]:
df.info()

## Create full addres col

In [16]:
df['address']  = df[['block', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address
Date_Hour,,,,,,,,,,,,,
2010-01-01 19:00:00,10H70,6500-6599,FANNIN,Aggravated Assault,hospital,1,19,1,Friday,Jan,2010,6550,6550 FANNIN
2010-01-01 21:00:00,10H70,4800-4899,AUSTIN,Burglary,residence/house,1,21,1,Friday,Jan,2010,4850,4850 AUSTIN
2010-01-01 23:00:00,10H70,1900-1999,WENTWORTH,Aggravated Assault,residence/house,1,23,1,Friday,Jan,2010,1950,1950 WENTWORTH
2010-01-02 15:00:00,10H70,6600-6699,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010,6650,6650 FANNIN
2010-01-02 15:00:00,10H70,6400-6499,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010,6450,6450 FANNIN

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11109 entries, 2010-01-01 19:00:00 to 2017-12-31 14:00:00
Data columns (total 13 columns):
Beat           11109 non-null object
BlockRange     11109 non-null object
StreetName     11109 non-null object
OffenseType    11109 non-null object
Premise        11109 non-null object
NumOffenses    11109 non-null int64
Hour           11109 non-null int64
day            11109 non-null int64
weekday        11109 non-null object
month          11109 non-null object
year           11109 non-null int64
block          11109 non-null object
address        11109 non-null object
dtypes: int64(4), object(9)
memory usage: 1.5+ MB

# get full lat long and address from google

In [19]:
df_1000 = df.iloc[:1000].copy()
df_2000 = df.iloc[1000:2000].copy()
df_3000 = df.iloc[2000:3000].copy()
df_4000 = df.iloc[3000:4000].copy()
df_5000 = df.iloc[4000:5000].copy()
df_6000 = df.iloc[5000:6000].copy()
df_7000 = df.iloc[6000:7000].copy()
df_8000 = df.iloc[7000:8000].copy()
df_9000 = df.iloc[8000:9000].copy()
df_10000 = df.iloc[9000:].copy()

## Test

## Attempt

In [20]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_1000['tup_add'] = df_1000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_1000.to_csv('crime_data_clean/crime_10H70_10_17df_1000.csv')

start:15:05:18
end:15:11:30

In [21]:
df_1000.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add
Date_Hour,,,,,,,,,,,,,,
2010-01-01 19:00:00,10H70,6500-6599,FANNIN,Aggravated Assault,hospital,1,19,1,Friday,Jan,2010,6550,6550 FANNIN,"[{'address_components': [{'long_name': '6550',..."
2010-01-01 21:00:00,10H70,4800-4899,AUSTIN,Burglary,residence/house,1,21,1,Friday,Jan,2010,4850,4850 AUSTIN,"[{'address_components': [{'long_name': '4850',..."
2010-01-01 23:00:00,10H70,1900-1999,WENTWORTH,Aggravated Assault,residence/house,1,23,1,Friday,Jan,2010,1950,1950 WENTWORTH,"[{'address_components': [{'long_name': '1950',..."
2010-01-02 15:00:00,10H70,6600-6699,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010,6650,6650 FANNIN,"[{'address_components': [{'long_name': '6650',..."
2010-01-02 15:00:00,10H70,6400-6499,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010,6450,6450 FANNIN,"[{'address_components': [{'long_name': '6450',..."

In [22]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_2000['tup_add'] = df_2000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_2000.to_csv('crime_data_clean/crime_10H70_10_17df_2000.csv')

start:15:11:50
end:15:17:56

In [23]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_3000['tup_add'] = df_3000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_3000.to_csv('crime_data_clean/crime_10H70_10_17df_3000.csv')

start:15:17:57
end:15:23:48

In [24]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_4000['tup_add'] = df_4000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_4000.to_csv('crime_data_clean/crime_10H70_10_17df_4000.csv')

start:15:23:48
end:15:29:24

In [25]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_5000['tup_add'] = df_5000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_5000.to_csv('crime_data_clean/crime_10H70_10_17df_5000.csv')

start:15:31:38
end:15:38:08

In [26]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_6000['tup_add'] = df_6000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_6000.to_csv('crime_data_clean/crime_10H70_10_17df_6000.csv')

start:15:38:08
end:15:43:53

In [27]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_7000['tup_add'] = df_7000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_7000.to_csv('crime_data_clean/crime_10H70_10_17df_7000.csv')

start:15:43:53
end:15:49:45

In [28]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_8000['tup_add'] = df_8000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_8000.to_csv('crime_data_clean/crime_10H70_10_17df_8000.csv')

start:15:49:45
end:15:54:54

In [29]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_9000['tup_add'] = df_9000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_9000.to_csv('crime_data_clean/crime_10H70_10_17df_9000.csv')

start:16:00:49
end:16:07:28

In [30]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_10000['tup_add'] = df_10000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_10000.to_csv('crime_data_clean/crime_10H70_10_17df_10000.csv')

start:16:07:28
end:16:24:46

## concat and save

## Concat all

In [31]:
df_final = pd.concat([df_1000,df_2000,df_3000,df_4000,df_5000,df_6000,df_7000,df_8000,df_9000,df_10000])

In [32]:
df_final.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add
Date_Hour,,,,,,,,,,,,,,
2010-01-01 19:00:00,10H70,6500-6599,FANNIN,Aggravated Assault,hospital,1,19,1,Friday,Jan,2010,6550,6550 FANNIN,"[{'address_components': [{'long_name': '6550',..."
2010-01-01 21:00:00,10H70,4800-4899,AUSTIN,Burglary,residence/house,1,21,1,Friday,Jan,2010,4850,4850 AUSTIN,"[{'address_components': [{'long_name': '4850',..."
2010-01-01 23:00:00,10H70,1900-1999,WENTWORTH,Aggravated Assault,residence/house,1,23,1,Friday,Jan,2010,1950,1950 WENTWORTH,"[{'address_components': [{'long_name': '1950',..."
2010-01-02 15:00:00,10H70,6600-6699,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010,6650,6650 FANNIN,"[{'address_components': [{'long_name': '6650',..."
2010-01-02 15:00:00,10H70,6400-6499,FANNIN,Theft,hospital,1,15,2,Saturday,Jan,2010,6450,6450 FANNIN,"[{'address_components': [{'long_name': '6450',..."

In [33]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11109 entries, 2010-01-01 19:00:00 to 2017-12-31 14:00:00
Data columns (total 14 columns):
Beat           11109 non-null object
BlockRange     11109 non-null object
StreetName     11109 non-null object
OffenseType    11109 non-null object
Premise        11109 non-null object
NumOffenses    11109 non-null int64
Hour           11109 non-null int64
day            11109 non-null int64
weekday        11109 non-null object
month          11109 non-null object
year           11109 non-null int64
block          11109 non-null object
address        11109 non-null object
tup_add        11109 non-null object
dtypes: int64(4), object(10)
memory usage: 1.3+ MB

In [34]:
df_final.to_csv('crime_data_clean/crime_10H70_10_17ADD.csv')

In [ ]:
df_final.head()