In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import googlemaps
import gmaps
import requests
API_KEY = 'AIzaSyDx5QmI3U_EDK3N8uVW32D65fdLdv82C58'

import gmaps_func as gf
import datetime as dt

In [2]:
ls crime_data_clean/

beats_alternate_10_17.csv*      crime_15E40_10_17df_16281.csv*
beats_filter_10_17.csv*         crime_15E40_10_17df_4000.csv*
crime_10H10_10_17.csv*          crime_15E40_10_17df_8000.csv*
crime_10H30_10_17ADD.csv*       crime_15E40_10_17FINAL.csv*
crime_10H30_10_17.csv*          crime_1A10_10_17ADD.csv*
crime_10H30_10_17FINAL.csv*     crime_1A10_10_17.csv*
crime_10H40_10_17.csv*          crime_1A10_10_17df_14978.csv*
crime_10H50_10_17ADD.csv*       crime_1A10_10_17df_4000.csv*
crime_10H50_10_17.csv*          crime_1A10_10_17df_8000.csv*
crime_10H50_10_17FINAL.csv*     crime_1A10_10_17df_p1.csv*
crime_10H60_10_17.csv*          crime_1A10_10_17df_p2.csv*
crime_10H60_10_17df_1000.csv*   crime_1A10_10_17df_p3.csv*
crime_10H70_10_17.csv*          crime_1A10_10_17df_p4.csv*
crime_10H80_10_17ADD.csv*       crime_1A10_10_17FINAL.csv*
crime_10H80_10_17.csv*          crime_final_clean10_17.csv*
crime_10H80_10_17FINAL.csv*     new/
crime_15E40_10_17ADD.csv*       stadium_beats_geocode.csv*
crime_15E40_10_17.csv*          stadiums_final.csv*
crime_15E40_10_17df_12000.csv*  years/

In [3]:
path = 'crime_data_clean/crime_10H40_10_17.csv'
df = pd.read_csv(path,index_col='Date_Hour', parse_dates=True)

In [4]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01 01:00:00,10H40,2400-2499,SAN JACINTO,Theft,bar/night club,1,1,1,Friday,Jan,2010
2010-01-01 03:00:00,10H40,1400-1499,ALABAMA,Theft,other parking lot,1,3,1,Friday,Jan,2010
2010-01-01 05:00:00,10H40,2400-2499,SAN JACINTO,Theft,bar/night club,1,5,1,Friday,Jan,2010
2010-01-02 00:00:00,10H40,1200-1299,ANITA,Theft,road/street/sidewalk,1,0,2,Saturday,Jan,2010
2010-01-02 17:00:00,10H40,4200-4299,MAIN,Theft,other parking lot,1,17,2,Saturday,Jan,2010

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10460 entries, 2010-01-01 01:00:00 to 2017-12-31 16:00:00
Data columns (total 11 columns):
Beat           10460 non-null object
BlockRange     10460 non-null object
StreetName     10460 non-null object
OffenseType    10460 non-null object
Premise        10460 non-null object
NumOffenses    10460 non-null int64
Hour           10460 non-null int64
day            10460 non-null int64
weekday        10460 non-null object
month          10460 non-null object
year           10460 non-null int64
dtypes: int64(4), object(7)
memory usage: 980.6+ KB

## Return a good blockrange value

In [6]:
gf.block_split(df)

ValueError: invalid literal for int() with base 10: 'UNK'

## Drop 'UNK' values

In [7]:
unk = df.BlockRange == 'UNK'

In [8]:
df = df[~unk]

In [9]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01 01:00:00,10H40,2400-2499,SAN JACINTO,Theft,bar/night club,1,1,1,Friday,Jan,2010
2010-01-01 03:00:00,10H40,1400-1499,ALABAMA,Theft,other parking lot,1,3,1,Friday,Jan,2010
2010-01-01 05:00:00,10H40,2400-2499,SAN JACINTO,Theft,bar/night club,1,5,1,Friday,Jan,2010
2010-01-02 00:00:00,10H40,1200-1299,ANITA,Theft,road/street/sidewalk,1,0,2,Saturday,Jan,2010
2010-01-02 17:00:00,10H40,4200-4299,MAIN,Theft,other parking lot,1,17,2,Saturday,Jan,2010

In [10]:
df['block'] = gf.block_split(df)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df.BlockRange.value_counts()[:10]

4200-4299    1724
2100-2199     685
1000-1099     509
2400-2499     506
2900-2999     386
2300-2399     374
2200-2299     327
2600-2699     324
2500-2599     286
1100-1199     273
Name: BlockRange, dtype: int64

In [12]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block
Date_Hour,,,,,,,,,,,,
2010-01-01 01:00:00,10H40,2400-2499,SAN JACINTO,Theft,bar/night club,1,1,1,Friday,Jan,2010,2450
2010-01-01 03:00:00,10H40,1400-1499,ALABAMA,Theft,other parking lot,1,3,1,Friday,Jan,2010,1450
2010-01-01 05:00:00,10H40,2400-2499,SAN JACINTO,Theft,bar/night club,1,5,1,Friday,Jan,2010,2450
2010-01-02 00:00:00,10H40,1200-1299,ANITA,Theft,road/street/sidewalk,1,0,2,Saturday,Jan,2010,1250
2010-01-02 17:00:00,10H40,4200-4299,MAIN,Theft,other parking lot,1,17,2,Saturday,Jan,2010,4250

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10408 entries, 2010-01-01 01:00:00 to 2017-12-31 16:00:00
Data columns (total 12 columns):
Beat           10408 non-null object
BlockRange     10408 non-null object
StreetName     10408 non-null object
OffenseType    10408 non-null object
Premise        10408 non-null object
NumOffenses    10408 non-null int64
Hour           10408 non-null int64
day            10408 non-null int64
weekday        10408 non-null object
month          10408 non-null object
year           10408 non-null int64
block          10408 non-null object
dtypes: int64(4), object(8)
memory usage: 1.3+ MB

## Create full addres col

In [15]:
df['address']  = df[['block', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)

In [16]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address
Date_Hour,,,,,,,,,,,,,
2010-01-01 01:00:00,10H40,2400-2499,SAN JACINTO,Theft,bar/night club,1,1,1,Friday,Jan,2010,2450,2450 SAN JACINTO
2010-01-01 03:00:00,10H40,1400-1499,ALABAMA,Theft,other parking lot,1,3,1,Friday,Jan,2010,1450,1450 ALABAMA
2010-01-01 05:00:00,10H40,2400-2499,SAN JACINTO,Theft,bar/night club,1,5,1,Friday,Jan,2010,2450,2450 SAN JACINTO
2010-01-02 00:00:00,10H40,1200-1299,ANITA,Theft,road/street/sidewalk,1,0,2,Saturday,Jan,2010,1250,1250 ANITA
2010-01-02 17:00:00,10H40,4200-4299,MAIN,Theft,other parking lot,1,17,2,Saturday,Jan,2010,4250,4250 MAIN

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10408 entries, 2010-01-01 01:00:00 to 2017-12-31 16:00:00
Data columns (total 13 columns):
Beat           10408 non-null object
BlockRange     10408 non-null object
StreetName     10408 non-null object
OffenseType    10408 non-null object
Premise        10408 non-null object
NumOffenses    10408 non-null int64
Hour           10408 non-null int64
day            10408 non-null int64
weekday        10408 non-null object
month          10408 non-null object
year           10408 non-null int64
block          10408 non-null object
address        10408 non-null object
dtypes: int64(4), object(9)
memory usage: 1.4+ MB

# get full lat long and address from google

In [18]:
df_1000 = df.iloc[:1000].copy()
df_2000 = df.iloc[1000:2000].copy()
df_3000 = df.iloc[2000:3000].copy()
df_4000 = df.iloc[3000:4000].copy()
df_5000 = df.iloc[4000:5000].copy()
df_6000 = df.iloc[5000:6000].copy()
df_7000 = df.iloc[6000:7000].copy()
df_8000 = df.iloc[7000:8000].copy()
df_9000 = df.iloc[8000:9000].copy()
df_10000 = df.iloc[9000:].copy()

## Test

In [ ]:
df_10 = df.iloc[:20].copy()
df_20['tup_add'] = df_20['address'].apply(gf.gm_geocode,args=(API_KEY,))
df_20.head()

In [ ]:
tt = df_20.tup_add

In [ ]:
tt[4].to_json(orient='split')

## Attempt

In [19]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_1000['tup_add'] = df_1000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_1000.to_csv('crime_data_clean/crime_10H40_10_17df_1000.csv')

start:20:10:52
end:20:17:15

In [20]:
df_1000.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add
Date_Hour,,,,,,,,,,,,,,
2010-01-01 01:00:00,10H40,2400-2499,SAN JACINTO,Theft,bar/night club,1,1,1,Friday,Jan,2010,2450,2450 SAN JACINTO,"[{'address_components': [{'long_name': '2450',..."
2010-01-01 03:00:00,10H40,1400-1499,ALABAMA,Theft,other parking lot,1,3,1,Friday,Jan,2010,1450,1450 ALABAMA,"[{'address_components': [{'long_name': '1450',..."
2010-01-01 05:00:00,10H40,2400-2499,SAN JACINTO,Theft,bar/night club,1,5,1,Friday,Jan,2010,2450,2450 SAN JACINTO,"[{'address_components': [{'long_name': '2450',..."
2010-01-02 00:00:00,10H40,1200-1299,ANITA,Theft,road/street/sidewalk,1,0,2,Saturday,Jan,2010,1250,1250 ANITA,"[{'address_components': [{'long_name': '1250',..."
2010-01-02 17:00:00,10H40,4200-4299,MAIN,Theft,other parking lot,1,17,2,Saturday,Jan,2010,4250,4250 MAIN,"[{'address_components': [{'long_name': '4250',..."

In [21]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_2000['tup_add'] = df_2000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_2000.to_csv('crime_data_clean/crime_10H40_10_17df_2000.csv')

start:20:17:15
end:20:22:11

In [22]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_3000['tup_add'] = df_3000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_3000.to_csv('crime_data_clean/crime_10H40_10_17df_3000.csv')

start:20:22:11
end:20:26:56

In [23]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_4000['tup_add'] = df_4000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_4000.to_csv('crime_data_clean/crime_10H40_10_17df_4000.csv')

start:20:26:56
end:20:32:32

In [24]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_5000['tup_add'] = df_5000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_5000.to_csv('crime_data_clean/crime_10H40_10_17df_5000.csv')

start:20:32:32
end:20:38:07

In [25]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_6000['tup_add'] = df_6000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_6000.to_csv('crime_data_clean/crime_10H40_10_17df_6000.csv')

start:20:38:07
end:20:43:30

In [26]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_7000['tup_add'] = df_7000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_7000.to_csv('crime_data_clean/crime_10H40_10_17df_7000.csv')

start:20:43:30
end:20:48:51

In [27]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_8000['tup_add'] = df_8000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_8000.to_csv('crime_data_clean/crime_10H40_10_17df_8000.csv')

start:20:48:51

TransportError: HTTPSConnectionPool(host='maps.googleapis.com', port=443): Max retries exceeded with url: /maps/api/geocode/json?address=1750+WINBERN%2C+Houston%2C+TX&key=AIzaSyDx5QmI3U_EDK3N8uVW32D65fdLdv82C58 (Caused by NewConnectionError('<requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x7fe7e09c1710>: Failed to establish a new connection: [Errno 22] Invalid argument',))

In [ ]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_9000['tup_add'] = df_9000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_9000.to_csv('crime_data_clean/crime_10H40_10_17df_9000.csv')

In [ ]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_10000['tup_add'] = df_10000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_10000.to_csv('crime_data_clean/crime_10H40_10_17df_10000.csv')

## split df_1200 into 4 parts

## Concat all

In [ ]:
df_final = pd.concat([df_1000,df_2000,df_3000,df_4000,df_5000,df_6000,df_7000,df_8000,df_9000,df_10000])

In [ ]:
df_final.to_csv('crime_data_clean/crime_10H40_10_17ADD.csv')

In [ ]:
df_final.head()