In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import googlemaps
import gmaps
import requests
API_KEY = 'your_apikey'

import gmaps_func as gf

In [2]:
path = 'crime_data_clean/crime_10H80_10_17.csv'
df = pd.read_csv(path,index_col='Date_Hour', parse_dates=True)

In [3]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-03 16:00:00,10H80,2400-2499,SOUTH,Theft,"gym,recreat,club hse,indr pool,spa",1,16,3,Sunday,Jan,2010
2010-01-03 17:00:00,10H80,5100-5199,MORNINGSIDE,Burglary,"garden supply, nursery, florist",1,17,3,Sunday,Jan,2010
2010-01-03 22:00:00,10H80,1800-1899,MILFORD,Theft,driveway,1,22,3,Sunday,Jan,2010
2010-01-03 22:00:00,10H80,1900-1999,VASSAR,Theft,driveway,1,22,3,Sunday,Jan,2010
2010-01-04 17:00:00,10H80,2400-2499,UNIVERSITY,Theft,clothing store,1,17,4,Monday,Jan,2010

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7479 entries, 2010-01-03 16:00:00 to 2017-12-31 16:00:00
Data columns (total 11 columns):
Beat           7479 non-null object
BlockRange     7479 non-null object
StreetName     7479 non-null object
OffenseType    7479 non-null object
Premise        7479 non-null object
NumOffenses    7479 non-null int64
Hour           7479 non-null int64
day            7479 non-null int64
weekday        7479 non-null object
month          7479 non-null object
year           7479 non-null int64
dtypes: int64(4), object(7)
memory usage: 701.2+ KB

## Return a good blockrange value

In [5]:
gf.block_split(df)

ValueError: invalid literal for int() with base 10: 'UNK'

## Drop 'UNK' values

In [6]:
unk = df.BlockRange == 'UNK'

In [7]:
df = df[~unk]

In [8]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-03 16:00:00,10H80,2400-2499,SOUTH,Theft,"gym,recreat,club hse,indr pool,spa",1,16,3,Sunday,Jan,2010
2010-01-03 17:00:00,10H80,5100-5199,MORNINGSIDE,Burglary,"garden supply, nursery, florist",1,17,3,Sunday,Jan,2010
2010-01-03 22:00:00,10H80,1800-1899,MILFORD,Theft,driveway,1,22,3,Sunday,Jan,2010
2010-01-03 22:00:00,10H80,1900-1999,VASSAR,Theft,driveway,1,22,3,Sunday,Jan,2010
2010-01-04 17:00:00,10H80,2400-2499,UNIVERSITY,Theft,clothing store,1,17,4,Monday,Jan,2010

In [9]:
df['block'] = gf.block_split(df)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7405 entries, 2010-01-03 16:00:00 to 2017-12-31 16:00:00
Data columns (total 12 columns):
Beat           7405 non-null object
BlockRange     7405 non-null object
StreetName     7405 non-null object
OffenseType    7405 non-null object
Premise        7405 non-null object
NumOffenses    7405 non-null int64
Hour           7405 non-null int64
day            7405 non-null int64
weekday        7405 non-null object
month          7405 non-null object
year           7405 non-null int64
block          7405 non-null object
dtypes: int64(4), object(8)
memory usage: 1.0+ MB

## Create full addres col

In [12]:
df['address']  = df[['block', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address
Date_Hour,,,,,,,,,,,,,
2010-01-03 16:00:00,10H80,2400-2499,SOUTH,Theft,"gym,recreat,club hse,indr pool,spa",1,16,3,Sunday,Jan,2010,2450,2450 SOUTH
2010-01-03 17:00:00,10H80,5100-5199,MORNINGSIDE,Burglary,"garden supply, nursery, florist",1,17,3,Sunday,Jan,2010,5150,5150 MORNINGSIDE
2010-01-03 22:00:00,10H80,1800-1899,MILFORD,Theft,driveway,1,22,3,Sunday,Jan,2010,1850,1850 MILFORD
2010-01-03 22:00:00,10H80,1900-1999,VASSAR,Theft,driveway,1,22,3,Sunday,Jan,2010,1950,1950 VASSAR
2010-01-04 17:00:00,10H80,2400-2499,UNIVERSITY,Theft,clothing store,1,17,4,Monday,Jan,2010,2450,2450 UNIVERSITY

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7405 entries, 2010-01-03 16:00:00 to 2017-12-31 16:00:00
Data columns (total 13 columns):
Beat           7405 non-null object
BlockRange     7405 non-null object
StreetName     7405 non-null object
OffenseType    7405 non-null object
Premise        7405 non-null object
NumOffenses    7405 non-null int64
Hour           7405 non-null int64
day            7405 non-null int64
weekday        7405 non-null object
month          7405 non-null object
year           7405 non-null int64
block          7405 non-null object
address        7405 non-null object
dtypes: int64(4), object(9)
memory usage: 1.1+ MB

In [ ]:
df.head()

# get full lat long and address from google

In [ ]:
df['tup_add'] = df['address'].apply(gf.gm_geocode,args=(API_KEY,))

In [ ]:
df_100 = df.iloc[:100].copy()
df_20 = df.iloc[:20].copy()
df_30 = df.iloc[:30].copy()

## Test

In [ ]:
df_20 = df.iloc[:20].copy()
df_20['tup_add'] = df_20['address'].apply(gf.gm_geocode,args=(API_KEY,))
df_20.head()

## Attempt

In [ ]:
# 4:33
df['tup_add'] = df['address'].apply(gf.gm_geocode,args=(API_KEY,))
df.head()

In [ ]:
df.info()

In [ ]:
df.to_csv('crime_data_clean/crime_10H50_10_17ADD.csv')

In [ ]:
df.head()

In [ ]:
new_add = df.tup_add.apply(pd.Series,index=['lat_lon','full_address'])

In [ ]:
new_add.head()

In [ ]:
df = df.join(new_add)

In [ ]:
df.drop(['block','BlockRange','StreetName','address','tup_add','address','tup_add',],axis=1,inplace=True)

In [ ]:
#df.drop('block', axis=1,inplace=True)

In [ ]:
df.head()

In [ ]:
df.to_csv('crime_data_clean/crime_10H50_10_17FINAL.csv')