In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import googlemaps
import gmaps
import requests
API_KEY = 'AIzaSyDx5QmI3U_EDK3N8uVW32D65fdLdv82C58'

import gmaps_func as gf
import datetime as dt

In [2]:
ls crime_data_clean/

beats_alternate_10_17.csv*      crime_10H60_10_17LATLON.csv*
beats_filter_10_17.csv*         crime_10H70_10_17.csv*
crime_10H10_10_17.csv*          crime_10H80_10_17ADD.csv*
crime_10H30_10_17ADD.csv*       crime_10H80_10_17.csv*
crime_10H30_10_17.csv*          crime_10H80_10_17FINAL.csv*
crime_10H30_10_17FINAL.csv*     crime_15E40_10_17ADD.csv*
crime_10H40_10_17.csv*          crime_15E40_10_17.csv*
crime_10H40_10_17df_10000.csv*  crime_15E40_10_17df_12000.csv*
crime_10H40_10_17df_1000.csv*   crime_15E40_10_17df_16281.csv*
crime_10H40_10_17df_2000.csv*   crime_15E40_10_17df_4000.csv*
crime_10H40_10_17df_3000.csv*   crime_15E40_10_17df_8000.csv*
crime_10H40_10_17df_4000.csv*   crime_15E40_10_17FINAL.csv*
crime_10H40_10_17df_5000.csv*   crime_1A10_10_17ADD.csv*
crime_10H40_10_17df_6000.csv*   crime_1A10_10_17.csv*
crime_10H40_10_17df_7000.csv*   crime_1A10_10_17df_14978.csv*
crime_10H40_10_17df_8000.csv*   crime_1A10_10_17df_4000.csv*
crime_10H40_10_17df_9000.csv*   crime_1A10_10_17df_8000.csv*
crime_10H50_10_17ADD.csv*       crime_1A10_10_17df_p1.csv*
crime_10H50_10_17.csv*          crime_1A10_10_17df_p2.csv*
crime_10H50_10_17FINAL.csv*     crime_1A10_10_17df_p3.csv*
crime_10H60_10_17ADD.csv*       crime_1A10_10_17df_p4.csv*
crime_10H60_10_17.csv*          crime_1A10_10_17FINAL.csv*
crime_10H60_10_17df_1000.csv*   crime_1A10_10_17LATLON.csv*
crime_10H60_10_17df_2000.csv*   crime_final_clean10_17.csv*
crime_10H60_10_17df_3000.csv*   new/
crime_10H60_10_17df_4000.csv*   stadium_beats_geocode.csv*
crime_10H60_10_17df_5000.csv*   stadiums_final.csv*
crime_10H60_10_17df_6000.csv*   years/
crime_10H60_10_17df_7000.csv*

In [3]:
path = 'crime_data_clean/crime_10H10_10_17.csv'
df = pd.read_csv(path,index_col='Date_Hour', parse_dates=True)

In [4]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01 00:00:00,10H10,500-599,EASTWOOD,Burglary,misc. business (non-specific),1,0,1,Friday,Jan,2010
2010-01-01 06:00:00,10H10,2300-2399,SPERBER,Rape,residence/house,1,6,1,Friday,Jan,2010
2010-01-01 17:00:00,10H10,1900-1999,RUNNELS,Burglary,apartment,1,17,1,Friday,Jan,2010
2010-01-01 20:00:00,10H10,1900-1999,RUNNELS,Theft,road/street/sidewalk,1,20,1,Friday,Jan,2010
2010-01-02 19:00:00,10H10,0-99,YORK,Burglary,residence/house,1,19,2,Saturday,Jan,2010

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4071 entries, 2010-01-01 00:00:00 to 2017-12-31 18:00:00
Data columns (total 11 columns):
Beat           4071 non-null object
BlockRange     4071 non-null object
StreetName     4071 non-null object
OffenseType    4071 non-null object
Premise        4071 non-null object
NumOffenses    4071 non-null int64
Hour           4071 non-null int64
day            4071 non-null int64
weekday        4071 non-null object
month          4071 non-null object
year           4071 non-null int64
dtypes: int64(4), object(7)
memory usage: 381.7+ KB

## Return a good blockrange value

In [6]:
gf.block_split(df)

ValueError: invalid literal for int() with base 10: 'UNK'

## Drop 'UNK' values

In [7]:
unk = df.BlockRange == 'UNK'

In [8]:
df = df[~unk]

In [9]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01 00:00:00,10H10,500-599,EASTWOOD,Burglary,misc. business (non-specific),1,0,1,Friday,Jan,2010
2010-01-01 06:00:00,10H10,2300-2399,SPERBER,Rape,residence/house,1,6,1,Friday,Jan,2010
2010-01-01 17:00:00,10H10,1900-1999,RUNNELS,Burglary,apartment,1,17,1,Friday,Jan,2010
2010-01-01 20:00:00,10H10,1900-1999,RUNNELS,Theft,road/street/sidewalk,1,20,1,Friday,Jan,2010
2010-01-02 19:00:00,10H10,0-99,YORK,Burglary,residence/house,1,19,2,Saturday,Jan,2010

In [10]:
df['block'] = gf.block_split(df)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df.BlockRange.value_counts()[:10]

200-299      367
100-199      335
2100-2199    324
300-399      282
1900-1999    280
2300-2399    119
400-499      116
0-99         108
500-599       93
3400-3499     91
Name: BlockRange, dtype: int64

In [12]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block
Date_Hour,,,,,,,,,,,,
2010-01-01 00:00:00,10H10,500-599,EASTWOOD,Burglary,misc. business (non-specific),1,0,1,Friday,Jan,2010,550
2010-01-01 06:00:00,10H10,2300-2399,SPERBER,Rape,residence/house,1,6,1,Friday,Jan,2010,2350
2010-01-01 17:00:00,10H10,1900-1999,RUNNELS,Burglary,apartment,1,17,1,Friday,Jan,2010,1950
2010-01-01 20:00:00,10H10,1900-1999,RUNNELS,Theft,road/street/sidewalk,1,20,1,Friday,Jan,2010,1950
2010-01-02 19:00:00,10H10,0-99,YORK,Burglary,residence/house,1,19,2,Saturday,Jan,2010,50

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3988 entries, 2010-01-01 00:00:00 to 2017-12-31 18:00:00
Data columns (total 12 columns):
Beat           3988 non-null object
BlockRange     3988 non-null object
StreetName     3988 non-null object
OffenseType    3988 non-null object
Premise        3988 non-null object
NumOffenses    3988 non-null int64
Hour           3988 non-null int64
day            3988 non-null int64
weekday        3988 non-null object
month          3988 non-null object
year           3988 non-null int64
block          3988 non-null object
dtypes: int64(4), object(8)
memory usage: 565.0+ KB

## Create full addres col

In [14]:
df['address']  = df[['block', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address
Date_Hour,,,,,,,,,,,,,
2010-01-01 00:00:00,10H10,500-599,EASTWOOD,Burglary,misc. business (non-specific),1,0,1,Friday,Jan,2010,550,550 EASTWOOD
2010-01-01 06:00:00,10H10,2300-2399,SPERBER,Rape,residence/house,1,6,1,Friday,Jan,2010,2350,2350 SPERBER
2010-01-01 17:00:00,10H10,1900-1999,RUNNELS,Burglary,apartment,1,17,1,Friday,Jan,2010,1950,1950 RUNNELS
2010-01-01 20:00:00,10H10,1900-1999,RUNNELS,Theft,road/street/sidewalk,1,20,1,Friday,Jan,2010,1950,1950 RUNNELS
2010-01-02 19:00:00,10H10,0-99,YORK,Burglary,residence/house,1,19,2,Saturday,Jan,2010,50,50 YORK

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3988 entries, 2010-01-01 00:00:00 to 2017-12-31 18:00:00
Data columns (total 13 columns):
Beat           3988 non-null object
BlockRange     3988 non-null object
StreetName     3988 non-null object
OffenseType    3988 non-null object
Premise        3988 non-null object
NumOffenses    3988 non-null int64
Hour           3988 non-null int64
day            3988 non-null int64
weekday        3988 non-null object
month          3988 non-null object
year           3988 non-null int64
block          3988 non-null object
address        3988 non-null object
dtypes: int64(4), object(9)
memory usage: 596.2+ KB

# get full lat long and address from google

In [17]:
df_1000 = df.iloc[:1000].copy()
df_2000 = df.iloc[1000:2000].copy()
df_3000 = df.iloc[2000:3000].copy()
df_4000 = df.iloc[3000:].copy()

## Test

In [ ]:
df_10 = df.iloc[:20].copy()
df_20['tup_add'] = df_20['address'].apply(gf.gm_geocode,args=(API_KEY,))
df_20.head()

## Attempt

In [18]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_1000['tup_add'] = df_1000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_1000.to_csv('crime_data_clean/crime_10H10_10_17df_1000.csv')

start:14:35:40
end:14:43:07

In [19]:
df_1000.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add
Date_Hour,,,,,,,,,,,,,,
2010-01-01 00:00:00,10H10,500-599,EASTWOOD,Burglary,misc. business (non-specific),1,0,1,Friday,Jan,2010,550,550 EASTWOOD,"[{'address_components': [{'long_name': '550', ..."
2010-01-01 06:00:00,10H10,2300-2399,SPERBER,Rape,residence/house,1,6,1,Friday,Jan,2010,2350,2350 SPERBER,"[{'address_components': [{'long_name': '2350',..."
2010-01-01 17:00:00,10H10,1900-1999,RUNNELS,Burglary,apartment,1,17,1,Friday,Jan,2010,1950,1950 RUNNELS,"[{'address_components': [{'long_name': '1950',..."
2010-01-01 20:00:00,10H10,1900-1999,RUNNELS,Theft,road/street/sidewalk,1,20,1,Friday,Jan,2010,1950,1950 RUNNELS,"[{'address_components': [{'long_name': '1950',..."
2010-01-02 19:00:00,10H10,0-99,YORK,Burglary,residence/house,1,19,2,Saturday,Jan,2010,50,50 YORK,"[{'address_components': [{'long_name': '50', '..."

In [20]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_2000['tup_add'] = df_2000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_2000.to_csv('crime_data_clean/crime_10H10_10_17df_2000.csv')

start:14:43:59
end:14:50:52

In [21]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_3000['tup_add'] = df_3000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_3000.to_csv('crime_data_clean/crime_10H10_10_17df_3000.csv')

start:14:50:57
end:14:57:20

In [22]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df_4000['tup_add'] = df_4000['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))
df_4000.to_csv('crime_data_clean/crime_10H10_10_17df_4000.csv')

start:14:57:20
end:15:04:05

## Concat all

In [23]:
df_final = pd.concat([df_1000,df_2000,df_3000,df_4000])

In [24]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3988 entries, 2010-01-01 00:00:00 to 2017-12-31 18:00:00
Data columns (total 14 columns):
Beat           3988 non-null object
BlockRange     3988 non-null object
StreetName     3988 non-null object
OffenseType    3988 non-null object
Premise        3988 non-null object
NumOffenses    3988 non-null int64
Hour           3988 non-null int64
day            3988 non-null int64
weekday        3988 non-null object
month          3988 non-null object
year           3988 non-null int64
block          3988 non-null object
address        3988 non-null object
tup_add        3988 non-null object
dtypes: int64(4), object(10)
memory usage: 467.3+ KB

In [25]:
df_final.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add
Date_Hour,,,,,,,,,,,,,,
2010-01-01 00:00:00,10H10,500-599,EASTWOOD,Burglary,misc. business (non-specific),1,0,1,Friday,Jan,2010,550,550 EASTWOOD,"[{'address_components': [{'long_name': '550', ..."
2010-01-01 06:00:00,10H10,2300-2399,SPERBER,Rape,residence/house,1,6,1,Friday,Jan,2010,2350,2350 SPERBER,"[{'address_components': [{'long_name': '2350',..."
2010-01-01 17:00:00,10H10,1900-1999,RUNNELS,Burglary,apartment,1,17,1,Friday,Jan,2010,1950,1950 RUNNELS,"[{'address_components': [{'long_name': '1950',..."
2010-01-01 20:00:00,10H10,1900-1999,RUNNELS,Theft,road/street/sidewalk,1,20,1,Friday,Jan,2010,1950,1950 RUNNELS,"[{'address_components': [{'long_name': '1950',..."
2010-01-02 19:00:00,10H10,0-99,YORK,Burglary,residence/house,1,19,2,Saturday,Jan,2010,50,50 YORK,"[{'address_components': [{'long_name': '50', '..."

In [26]:
df_final.to_csv('crime_data_clean/crime_10H10_10_17ADD.csv')

In [27]:
df_final.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add
Date_Hour,,,,,,,,,,,,,,
2010-01-01 00:00:00,10H10,500-599,EASTWOOD,Burglary,misc. business (non-specific),1,0,1,Friday,Jan,2010,550,550 EASTWOOD,"[{'address_components': [{'long_name': '550', ..."
2010-01-01 06:00:00,10H10,2300-2399,SPERBER,Rape,residence/house,1,6,1,Friday,Jan,2010,2350,2350 SPERBER,"[{'address_components': [{'long_name': '2350',..."
2010-01-01 17:00:00,10H10,1900-1999,RUNNELS,Burglary,apartment,1,17,1,Friday,Jan,2010,1950,1950 RUNNELS,"[{'address_components': [{'long_name': '1950',..."
2010-01-01 20:00:00,10H10,1900-1999,RUNNELS,Theft,road/street/sidewalk,1,20,1,Friday,Jan,2010,1950,1950 RUNNELS,"[{'address_components': [{'long_name': '1950',..."
2010-01-02 19:00:00,10H10,0-99,YORK,Burglary,residence/house,1,19,2,Saturday,Jan,2010,50,50 YORK,"[{'address_components': [{'long_name': '50', '..."