## Google maps API

Use address from dataframe to get location and display it on a map

- join two cols to create a semi full address

- create a function that inputs an address and returns lat & long
- use those points and display them on a map

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import googlemaps
import gmaps
import requests
API_KEY = 'AIzaSyAjfYfB64npEu7-4ledi1GGMbXTnI6XeOg'
gmaps.configure(api_key=API_KEY) 
 # needed for gmaps to display map, restart nb if broken
!jupyter nbextension enable --py --sys-prefix widgetsnbextension  
 # needed for gmaps to display map  restart nb if broken
! jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [2]:
ls crime_data_clean/crime13_clean.csv

crime_data_clean/crime13_clean.csv*

## Use file to test

In [3]:
path = 'crime_data_clean/crime13_clean.csv'
df = pd.read_csv(path,index_col='Date')

In [4]:
df.head()

,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour
Date,,,,,,,
2013-01-01,16E40,6900-6999,TRIGATE,Burglary,20N,1,9
2013-01-01,10H40,4200-4299,SAN JACINTO,Theft,120,1,12
2013-01-01,20G80,800-899,WEST OAKS MALL,Theft,080,1,19
2013-01-01,7C20,5700-5799,LOCKWOOD,Burglary,070,1,0
2013-01-01,1A10,1700-1799,CHENEVERT,Theft,13R,1,14

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129021 entries, 2013-01-01 to 2013-12-31
Data columns (total 7 columns):
Beat            129021 non-null object
BlockRange      129021 non-null object
StreetName      129021 non-null object
Offense Type    129021 non-null object
Premise         129021 non-null object
# offenses      129021 non-null int64
Hour            129021 non-null int64
dtypes: int64(2), object(5)
memory usage: 7.9+ MB

### Create column that appends street num and street name

In [7]:
df['address'] = df[['BlockRange', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)

In [8]:
df.head()

,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour,address
Date,,,,,,,,
2013-01-01,16E40,6900-6999,TRIGATE,Burglary,20N,1,9,6900-6999 TRIGATE
2013-01-01,10H40,4200-4299,SAN JACINTO,Theft,120,1,12,4200-4299 SAN JACINTO
2013-01-01,20G80,800-899,WEST OAKS MALL,Theft,080,1,19,800-899 WEST OAKS MALL
2013-01-01,7C20,5700-5799,LOCKWOOD,Burglary,070,1,0,5700-5799 LOCKWOOD
2013-01-01,1A10,1700-1799,CHENEVERT,Theft,13R,1,14,1700-1799 CHENEVERT

## split df to test

In [14]:
df10 = df[:10]
df10.head()

,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour,address
Date,,,,,,,,
2013-01-01,16E40,6900-6999,TRIGATE,Burglary,20N,1,9,6900-6999 TRIGATE
2013-01-01,10H40,4200-4299,SAN JACINTO,Theft,120,1,12,4200-4299 SAN JACINTO
2013-01-01,20G80,800-899,WEST OAKS MALL,Theft,080,1,19,800-899 WEST OAKS MALL
2013-01-01,7C20,5700-5799,LOCKWOOD,Burglary,070,1,0,5700-5799 LOCKWOOD
2013-01-01,1A10,1700-1799,CHENEVERT,Theft,13R,1,14,1700-1799 CHENEVERT

## Google maps Geocoding

## create function

- input an address and api key
- get latitude, longtitude

In [15]:
def get_geocode(loc,key):
    '''input address and api key
    return tuple with lat and long'''
    address = '{}, Houston, TX'.format(loc)
    pa = {'address': address, 'key':key}
    URL = 'https://maps.googleapis.com/maps/api/geocode/json'
    response = requests.get(URL,params=pa)
    try:
        response.raise_for_status()
    except requests.exceptions.HTTPError as e:
        return "Error: " + str(e) # not 200
    js_obj = response.json()
    if js_obj['status'] == 'OK':
        gps = tuple(js_obj['results'][0]['geometry']['location'].values())
        return gps
    elif js_obj['status'] =='OVER_QUERY_LIMIT':
        return np.nan
    else:
        print(js_obj['status'])
        return js_obj['status']

## Apply function

In [17]:
df10['lat_lng'] = df10['address'].apply(get_geocode,args=(API_KEY,))

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
df10

,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour,address,lat_lng
Date,,,,,,,,,
2013-01-01,16E40,6900-6999,TRIGATE,Burglary,20N,1,9,6900-6999 TRIGATE,"(29.5932746, -95.4886236)"
2013-01-01,10H40,4200-4299,SAN JACINTO,Theft,120,1,12,4200-4299 SAN JACINTO,"(29.7338398, -95.3802958)"
2013-01-01,20G80,800-899,WEST OAKS MALL,Theft,080,1,19,800-899 WEST OAKS MALL,"(30.0062716, -95.4149863)"
2013-01-01,7C20,5700-5799,LOCKWOOD,Burglary,070,1,0,5700-5799 LOCKWOOD,"(29.811049, -95.3170506)"
2013-01-01,1A10,1700-1799,CHENEVERT,Theft,13R,1,14,1700-1799 CHENEVERT,"(29.7475636, -95.362194)"
2013-01-01,6B30,6400-6499,TALL WILLOW,Burglary,20R,1,10,6400-6499 TALL WILLOW,"(29.8677163, -95.4880834)"
2013-01-01,12D70,500-599,BAYBROOK MALL,Theft,250,1,16,500-599 BAYBROOK MALL,"(29.5421873, -95.148344)"
2013-01-01,5F20,7900-7999,AMELIA,Theft,20A,1,18,7900-7999 AMELIA,"(29.8072157, -95.4855513)"
2013-01-01,11H40,5400-5499,ALLENDALE,Burglary,210,1,6,5400-5499 ALLENDALE,"(29.6832373, -95.2408037)"
2013-01-01,1A10,1200-1299,COMMERCE,Theft,150,1,11,1200-1299 COMMERCE,"(29.7626002, -95.3577339)"

## Display

now lets use the gmaps library to display our data

- we will input a list of values `lat_long` column and it will display its location on a map

In [21]:
locations = df10['lat_lng']
locations

Date
2013-01-01    (29.5932746, -95.4886236)
2013-01-01    (29.7338398, -95.3802958)
2013-01-01    (30.0062716, -95.4149863)
2013-01-01     (29.811049, -95.3170506)
2013-01-01     (29.7475636, -95.362194)
2013-01-01    (29.8677163, -95.4880834)
2013-01-01     (29.5421873, -95.148344)
2013-01-01    (29.8072157, -95.4855513)
2013-01-01    (29.6832373, -95.2408037)
2013-01-01    (29.7626002, -95.3577339)
Name: lat_lng, dtype: object

## Marker loacation

In [22]:
fig = gmaps.figure()
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

![map](img/map2.png)

## Heatmap

In [25]:
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations))
fig

Figure(layout=FigureLayout(height='420px'))

![map](img/map_heat.png)