In [ ]:
#!pip install missingno

In [1]:
import pandas as pd
import glob, os
import numpy as np
import matplotlib.pyplot as plt
import datetime  as dt
import seaborn as sns
from datetime import datetime
from dateutil.parser import parse

In [2]:
ls crime_data_raw/2016

apr16.xls*  dec16.xls*  jan16.xls*  jun16.xls*  may16.xls*  oct16.xls*
aug16.xls*  feb16.xls*  jul16.xls*  mar16.xls*  nov16.xls*  sep16.xls*

In [3]:
path = 'crime_data_raw/2016'

In [12]:
# combine all files into one df
all_files = glob.glob(os.path.join(path, "*.xls")) 

df_from_each_file = (pd.read_excel(f) for f in all_files)
df   = pd.concat(df_from_each_file, ignore_index=True)

In [13]:
df.head()

,Date,Hour,Offense Type,Beat,Premise,BlockRange,StreetName,Type,Suffix,# offenses
0,2016-04-10,20,Robbery,10H10,"Road, Street, or Sidewalk",4000-4099,MILBY,-,-,1
1,2016-04-11,19,Aggravated Assault,10H10,"Road, Street, or Sidewalk",400-499,YORK,-,-,2
2,2016-04-12,20,Robbery,10H10,Apartment,1900-1999,RUNNELS,-,-,1
3,2016-04-13,2,Auto Theft,10H10,Driveway,100-199,SIDNEY,-,-,1
4,2016-04-14,3,Burglary,10H10,Service or Gas Station,3300-3399,CANAL,ST,-,1

In [14]:
df['Hour'] = df['Hour'].astype(str) + ':00'

In [16]:
df.to_csv('crime_data_raw/2016_raw.csv')

In [17]:
path = 'crime_data_raw/2016_raw.csv'

In [18]:
df = pd.read_csv(path,parse_dates=[['Date', 'Hour']])

In [19]:
df.head()

,Date_Hour,Unnamed: 0,Offense Type,Beat,Premise,BlockRange,StreetName,Type,Suffix,# offenses
0,2016-04-10 20:00:00,0,Robbery,10H10,"Road, Street, or Sidewalk",4000-4099,MILBY,-,-,1
1,2016-04-11 19:00:00,1,Aggravated Assault,10H10,"Road, Street, or Sidewalk",400-499,YORK,-,-,2
2,2016-04-12 20:00:00,2,Robbery,10H10,Apartment,1900-1999,RUNNELS,-,-,1
3,2016-04-13 02:00:00,3,Auto Theft,10H10,Driveway,100-199,SIDNEY,-,-,1
4,2016-04-14 03:00:00,4,Burglary,10H10,Service or Gas Station,3300-3399,CANAL,ST,-,1

0        2016-04-10 20:00:00
1        2016-04-11 19:00:00
2        2016-04-12 20:00:00
3        2016-04-13 02:00:00
4        2016-04-14 03:00:00
5        2016-04-15 11:00:00
6        2016-04-15 14:00:00
7        2016-04-16 15:00:00
8        2016-04-18 11:00:00
9        2016-04-18 15:00:00
10       2016-04-20 22:00:00
11       2016-02-09 15:00:00
12       2016-03-11 09:00:00
13       2016-03-27 19:00:00
14       2016-03-28 15:00:00
15       2016-03-30 12:00:00
16       2016-03-31 10:00:00
17       2016-04-01 12:00:00
18       2016-04-03 18:00:00
19       2016-04-03 20:00:00
20       2016-04-03 19:00:00
21       2016-04-05 19:00:00
22       2016-04-07 19:00:00
23       2016-04-08 05:00:00
24       2016-04-09 17:00:00
25       2016-04-22 12:00:00
26       2016-04-22 13:00:00
27       2016-04-22 18:00:00
28       2016-04-24 21:00:00
29       2016-04-26 02:00:00
                 ...
122663   2016-09-06 09:00:00
122664   2016-09-05 14:00:00
122665   2016-09-05 16:00:00
122666   2016-09-05 08:00:00
122667   2016-09-18 15:00:00
122668   2016-09-19 05:00:00
122669   2016-09-16 18:00:00
122670   2016-09-17 09:00:00
122671   2016-09-17 15:00:00
122672   2016-09-11 14:00:00
122673   2016-09-11 15:00:00
122674   2016-09-11 15:00:00
122675   2016-09-12 14:00:00
122676   2016-09-10 19:00:00
122677   2016-09-10 14:00:00
122678   2016-09-16 11:00:00
122679   2016-09-16 06:00:00
122680   2016-09-16 03:00:00
122681   2016-09-15 18:00:00
122682   2016-09-14 22:00:00
122683   2016-09-14 22:00:00
122684   2016-09-15 10:00:00
122685   2016-09-14 08:00:00
122686   2016-09-14 14:00:00
122687   2016-09-14 14:00:00
122688   2016-09-14 14:00:00
122689   2016-09-14 16:00:00
122690   2016-09-13 20:00:00
122691   2016-09-13 07:00:00
122692   2016-09-30 15:00:00
Name: Date_Hour, Length: 122693, dtype: datetime64[ns]

## Inspect Premise col

In [ ]:
len(df.Premise.value_counts(dropna=False))

In [ ]:
df.Premise.value_counts(dropna=False).head()

In [ ]:
df.Premise.unique()

In [ ]:
df.Premise = df.Premise.str.strip()

In [ ]:
len(df.Premise.value_counts(dropna=False))

In [ ]:
df.Premise.value_counts(dropna=False).head()

In [ ]:
# check if  null values
df.isnull().values.any().any()

In [ ]:
# check su, of null values
df.isnull().values.sum()

In [ ]:
len(df[df.isnull().any(axis=1)])

## Visualize our data

In [ ]:
#data = df.replace("nan", np.nan)


sorted_data = msno.nullity_sort(df, sort='descending')
msno.matrix(sorted_data)

## col cleaning

- joining similar columns
- renaming

In [ ]:
df.head()

In [ ]:
# # 2014
# # if duplicate columns

# df['BlockRange'] = pd.concat([df['Block Range'].dropna(),
#                               df['BlockRange'].dropna()]).reindex_like(df)

# df['StreetName'] = pd.concat([df['Street Name'].dropna(),
#                               df['StreetName'].dropna()]).reindex_like(df)

# df['# Of Offenses'] = pd.concat([df['# Of'].dropna(),
#                               df['# Of Offenses'].dropna(),
#                               df['# offenses'].dropna(),
#                               df['# Offenses'].dropna()]).reindex_like(df)

In [ ]:
df.head()

In [ ]:
# df.rename(columns={
#     '# Of Offenses': 'NumOffenses',
#      'Offense Type': 'OffenseType',
# }, inplace=True)
# df.info()

In [ ]:
df.rename(columns={
    '# offenses': 'NumOffenses',
     'Offense Type': 'OffenseType',
}, inplace=True)
df.info()

## Subset dataframe to work on

In [ ]:
crimes = df[['Date','Beat','BlockRange','StreetName','OffenseType','Premise','NumOffenses','Hour']]
crimes.info()

In [ ]:

sorted_data = msno.nullity_sort(crimes, sort='descending')
msno.matrix(sorted_data)

# FIND NAN onevery col

In [ ]:
len(crimes[crimes.Date.isnull()])

In [ ]:
crimes[crimes.Date.isnull()]

In [ ]:
len(crimes[crimes.Beat.isnull()])

In [ ]:
crimes[crimes.Beat.isnull()]

In [ ]:
len(crimes[crimes.BlockRange.isnull()])

In [ ]:
crimes[crimes.BlockRange.isnull()]

In [ ]:
len(crimes[crimes.StreetName.isnull()])

In [ ]:
crimes[crimes.StreetName.isnull()]

In [ ]:
len(crimes[crimes.OffenseType.isnull()])

In [ ]:
crimes[crimes.OffenseType.isnull()]

In [ ]:
len(crimes[crimes.Premise.isnull()])

In [ ]:
crimes[crimes.Premise.isnull()].head()

In [ ]:
len(crimes[crimes.NumOffenses.isnull()])

In [ ]:
crimes[crimes.NumOffenses.isnull()]

In [ ]:
len(crimes[crimes.Hour.isnull()])

In [ ]:
crimes[crimes.Hour.isnull()]

## Find NaN
- drop if > 2 nan

In [ ]:
len(crimes[crimes.isnull().any(axis=1)])

In [ ]:
crimes[crimes.isnull().any(axis=1)].head()

In [ ]:
#crimes = crimes.dropna(thresh=2)

In [ ]:
#crimes[crimes.isnull().any(axis=1)]

## Joint dataframes

In [ ]:
# # join two datarames
# crimes = pd.merge(crimes, pc, on='Premise', how='outer')
# crimes.info()

In [ ]:
#crimes.head()

In [ ]:
#len(crimes[crimes['Premise Description'].isnull()])

In [ ]:
#crimes[crimes['Premise Description'].isnull()].head()

## Problem
- find nan values on one col, and copy related col

In [ ]:
#crimes.Premise.unique()

In [ ]:
#len(crimes[crimes['Premise'] == '---'])

In [ ]:
#len(crimes[crimes['Premise'] == 'N'])

In [ ]:
#crimes[crimes['Premise'] == 'N']

In [ ]:
#crimes.loc[crimes['Premise Description'].isnull(),'Premise Description'] = crimes['Premise']

In [ ]:
#len(crimes[crimes['Premise Description'].isnull()])

In [ ]:

#crimes[crimes['Premise Description'].isnull()]

## Visualize data

In [ ]:
sorted_data = msno.nullity_sort(crimes, sort='descending')
msno.matrix(sorted_data)

## Display any null values

In [ ]:
len(crimes[crimes.isnull().any(axis=1)])

In [ ]:
crimes[crimes.isnull().any(axis=1)].tail()

## drop rows with 2 or 3 or more NaN

In [ ]:
crimes = crimes.dropna(thresh=3)

In [ ]:
len(crimes[crimes.isnull().any(axis=1)])

In [ ]:
crimes[crimes.isnull().any(axis=1)].tail()

## Inspect each column

In [ ]:
crimes.dtypes

## Beat

In [ ]:
len(crimes.Beat.value_counts())

In [ ]:
len(crimes.Beat.value_counts(dropna=False))

In [ ]:
crimes.Beat.unique()

In [ ]:
# replace extra ' with empty space
crimes['Beat'] = crimes.Beat.str.replace("'", " ")

In [ ]:
len(crimes.Beat.value_counts(dropna=False))

In [ ]:
# strip empty spaces
crimes.Beat = crimes.Beat.str.strip()

In [ ]:
len(crimes.Beat.value_counts(dropna=False))  # get the total

In [ ]:
crimes.Beat.unique()

In [ ]:
crimes.Beat.value_counts(dropna=False).head()

## BlockRange

In [ ]:
len(crimes.BlockRange.value_counts(dropna=False))

In [ ]:
crimes.BlockRange.value_counts(dropna=False).head()

In [ ]:
# strip
crimes.BlockRange = crimes.BlockRange.str.strip()

In [ ]:
len(crimes.BlockRange.value_counts(dropna=False))

## StreetName

In [ ]:
print('before:{}'.format(len(crimes.StreetName.value_counts(dropna=False))))

In [ ]:
crimes.StreetName = crimes.StreetName.str.strip()

In [ ]:
print('after:{}'.format(len(crimes.StreetName.value_counts(dropna=False))))

In [ ]:
print(crimes.StreetName.value_counts(dropna=False).head())

## OffenseType

In [ ]:
print('before:{}'.format(len(crimes.OffenseType.value_counts(dropna=False))))

In [ ]:
crimes.OffenseType = crimes.OffenseType.str.strip()

In [ ]:
print('after:{}'.format(len(crimes.OffenseType.value_counts(dropna=False))))

In [ ]:
print(crimes.OffenseType.value_counts(dropna=False))

## Premise

In [ ]:
print('before:{}'.format(len(crimes.Premise.value_counts(dropna=False))))

In [ ]:
crimes.Premise = crimes.Premise.str.strip()

In [ ]:
print('after:{}'.format(len(crimes.Premise.value_counts(dropna=False))))

In [ ]:
crimes.Premise.value_counts(dropna=False).head()

## Premise Description

In [ ]:
#print('before:{}'.format(len(crimes['Premise Description'].value_counts(dropna=False))))

In [ ]:
#crimes.Beat = crimes.Beat.str.replace(r"\'(.+?)\'", ' ')
#crimes['Premise Description'] = crimes['Premise Description'].str.strip()

In [ ]:
#print('after:{}'.format(len(crimes['Premise Description'].value_counts(dropna=False))))

In [ ]:
#print(crimes['Premise Description'].value_counts(dropna=False).head())

# Set Date as index

In [ ]:
# date
crimes.Date = pd.to_datetime(crimes.Date)

crimes = crimes.set_index('Date').sort_index(ascending=True)

In [ ]:
crimes.head()

## Create Columns with day,weekday,month,year from date index

In [ ]:
# get day, weekday,month ,year

crimes['day'] = crimes.index.strftime('%d')
crimes['weekday'] = crimes.index.strftime('%A')
crimes['month'] = crimes.index.strftime('%b')
crimes['year'] = crimes.index.strftime('%Y')

In [ ]:
crimes.head()

## null values

- check
- count
- display

In [ ]:
crimes.isnull().values.any().any()

In [ ]:
# display any null

len(crimes[crimes.isnull().any(axis=1)])

In [ ]:
crimes[crimes.isnull().any(axis=1)].head()

In [ ]:
crimes.info()

## New Dataframe
- remove premise col
- keep premise description

In [ ]:
crime_yr = crimes[['Beat','BlockRange','StreetName','OffenseType','Premise','NumOffenses','Hour','day','weekday','month','year']]
crime_yr.head()

In [ ]:
crime_yr.isnull().values.any().any()

In [ ]:
# display any null

len(crime_yr[crime_yr.isnull().any(axis=1)])

In [ ]:
crime_yr[crime_yr.isnull().any(axis=1)].tail()

# FIND NANS

## INDEX

In [ ]:
len(crime_yr[crime_yr.index.isnull()])

In [ ]:
crime_yr[crime_yr.index.isnull()]

In [ ]:
# drop index nans
crime_yr.index.dropna(how='any')

In [ ]:
len(crime_yr[crime_yr.index.isnull()])

## Beat

In [ ]:
len(crime_yr[crime_yr.Beat.isnull()])

In [ ]:
crime_yr[crime_yr.Beat.isnull()].head()

In [ ]:
crime_yr.Beat = crime_yr.Beat.replace(np.nan, 'UNK')

In [ ]:
len(crime_yr[crime_yr.Beat.isnull()])

In [ ]:
crime_yr[crime_yr.Beat.isnull()]

## BlockRAnge

In [ ]:
len(crime_yr[crime_yr.BlockRange.isnull()])

In [ ]:
crime_yr[crime_yr.BlockRange.isnull()].head()

## StreetName

In [ ]:
len(crime_yr[crime_yr.StreetName.isnull()])

In [ ]:
crime_yr[crime_yr.StreetName.isnull()].head()

In [ ]:
crime_yr.StreetName = crime_yr.StreetName.replace(np.nan, 'UNK')

In [ ]:
len(crime_yr[crime_yr.StreetName.isnull()])

## OffenseType

In [ ]:
len(crime_yr[crime_yr.OffenseType.isnull()])

In [ ]:
crime_yr[crime_yr.OffenseType.isnull()]

In [ ]:
crime_yr.OffenseType = crime_yr.OffenseType.replace(np.nan, 'UNK')

In [ ]:
len(crime_yr[crime_yr.OffenseType.isnull()])

## Hour

In [ ]:
len(crime_yr[crime_yr.Hour.isnull()])

In [ ]:
crime_yr[crime_yr.Hour.isnull()].head()

## Premsie

In [ ]:
len(crime_yr[crime_yr['Premise'].isnull()])

In [ ]:
crime_yr[crime_yr['Premise'].isnull()].head()

In [ ]:
crime_yr['Premise'] = crime_yr['Premise'].replace(np.nan, 'No label')

In [ ]:
len(crime_yr[crime_yr['Premise'].isnull()])

In [ ]:
crime_yr[crime_yr['Premise'].isnull()]

In [ ]:
# display any null

len(crime_yr[crime_yr.isnull().any(axis=1)])

In [ ]:
crime_yr[crime_yr.isnull().any(axis=1)]

## Save

In [ ]:
# # change column name from Premise Descriptionto Premise

# crime_yr.rename(columns={
#     'Premise Description': 'Premise',}, inplace=True)
# crime_yr.info()

In [ ]:
crime_yr.head()

In [ ]:
ls crime_data_clean/new

In [ ]:
crime_yr.to_csv('crime_data_clean/new/Final_crime16_clean.csv')

In [ ]:
ls crime_data_clean/new