# NOT DONE

In [5]:
import pandas as pd
import glob, os
import numpy as np
import matplotlib.pyplot as plt

## Source
- [Houston Police Department Crime Statistics](http://www.houstontx.gov/police/cs/crime-stats-archives.htm)
	- years: 2008 - 2017
	- format: Access or Excel

In [6]:
ls crime_data_raw/10years

apr10.xls*  dec10.xls*  jan10.xls*  jun10.xls*  may10.xls*  oct10.xls*
apr11.xls*  dec11.xls*  jan11.xls*  jun11.xls*  may11.xls*  oct11.xls*
apr12.xls*  dec12.xls*  jan12.xls*  jun12.xls*  may12.xls*  oct12.xls*
apr13.xls*  dec13.xls*  jan13.xls*  jun13.xls*  may13.xls*  oct13.xls*
apr14.xls*  dec14.xls*  jan14.xls*  jun14.xls*  may14.xls*  oct14.xls*
apr15.xls*  dec15.xls*  jan15.xls*  jun15.xls*  may15.xls*  oct15.xls*
apr16.xls*  dec16.xls*  jan16.xls*  jun16.xls*  may16.xls*  oct16.xls*
apr17.xls*  dec17.xls*  jan17.xls*  jun17.xls*  may17.xls*  oct17.xls*
aug10.xls*  feb10.xls*  jul10.xls*  mar10.xls*  nov10.xls*  sep10.xls*
aug11.xls*  feb11.xls*  jul11.xls*  mar11.xls*  nov11.xls*  sep11.xls*
aug12.xls*  feb12.xls*  jul12.xls*  mar12.xls*  nov12.xls*  sep12.xls*
aug13.xls*  feb13.xls*  jul13.xls*  mar13.xls*  nov13.xls*  sep13.xls*
aug14.xls*  feb14.xls*  jul14.xls*  mar14.xls*  nov14.xls*  sep14.xls*
aug15.xls*  feb15.xls*  jul15.xls*  mar15.xls*  nov15.xls*  sep15.xls*
aug16.xls*  feb16.xls*  jul16.xls*  mar16.xls*  nov16.xls*  sep16.xls*
aug17.xls*  feb17.xls*  jul17.xls*  mar17.xls*  nov17.xls*  sep17.xls*

## combine all files into one dataframe

In [7]:
path = 'crime_data_raw/10years'
all_files = glob.glob(os.path.join(path, "*.xls")) 

df_from_each_file = (pd.read_excel(f) for f in all_files)
df   = pd.concat(df_from_each_file, ignore_index=True)

WARNING *** file size (3078551) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (2752234) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006331 entries, 0 to 1006330
Data columns (total 18 columns):
# Of             7613 non-null float64
# Of Offenses    574365 non-null float64
# Offenses       10319 non-null float64
# offenses       334684 non-null float64
Beat             1006314 non-null object
Block Range      671489 non-null object
BlockRange       334684 non-null object
Date             1006326 non-null object
Field11          0 non-null float64
Hour             1006330 non-null object
Offense Type     1006330 non-null object
Offenses         79349 non-null float64
Premise          972734 non-null object
Street Name      671646 non-null object
StreetName       334684 non-null object
Suffix           1006330 non-null object
Type             1006330 non-null object
Unnamed: 1       0 non-null float64
dtypes: float64(7), object(11)
memory usage: 138.2+ MB

In [9]:
df.head(5)

,# Of,# Of Offenses,# Offenses,# offenses,Beat,Block Range,BlockRange,Date,Field11,Hour,Offense Type,Offenses,Premise,Street Name,StreetName,Suffix,Type,Unnamed: 1
0,NaN,1.0,NaN,NaN,13D20,6600-6699,NaN,2010-04-17 00:00:00,NaN,0,Murder,NaN,05W,HEFFERNAN,NaN,-,-,NaN
1,NaN,1.0,NaN,NaN,11H40,10100-10199,NaN,2010-04-08 00:00:00,NaN,20,Murder,NaN,20R,LUCORE,NaN,-,-,NaN
2,NaN,2.0,NaN,NaN,19G20,11400-11499,NaN,2010-04-01 00:00:00,NaN,22,Murder,NaN,13R,CARVEL,NaN,-,LN,NaN
3,NaN,1.0,NaN,NaN,10H60,3700-3799,NaN,2010-04-17 00:00:00,NaN,1,Murder,NaN,13R,WHEELER,NaN,-,-,NaN
4,NaN,1.0,NaN,NaN,14D30,5100-5199,NaN,2010-04-08 00:00:00,NaN,23,Murder,NaN,20R,MYRTLEWOOD,NaN,-,DR,NaN

## Lets create a copy

In [12]:
df1 = df.copy()

In [13]:
df1.columns

Index(['# Of', '# Of Offenses', '# Offenses', '# offenses', 'Beat',
       'Block Range', 'BlockRange', 'Date', 'Field11', 'Hour', 'Offense Type',
       'Offenses', 'Premise', 'Street Name', 'StreetName', 'Suffix', 'Type',
       'Unnamed: 1'],
      dtype='object')

In [15]:
df1.head(1)

,# Of,# Of Offenses,# Offenses,# offenses,Beat,Block Range,BlockRange,Date,Field11,Hour,Offense Type,Offenses,Premise,Street Name,StreetName,Suffix,Type,Unnamed: 1
0,NaN,1.0,NaN,NaN,13D20,6600-6699,NaN,2010-04-17 00:00:00,NaN,0,Murder,NaN,05W,HEFFERNAN,NaN,-,-,NaN

## Duplicate columns
We have duplicate columns with diffrent names
- `Block Range` & `BlockRange`
- `StreetName`  & `Street Name`
- `Offenses`  & `# offenses`

lets concat the columns remove nan values and reindex

In [16]:
df1['# offenses'] = pd.concat([df1['# Of'].dropna(),
                               df1['# Of Offenses'].dropna(),
                               df1['# offenses'].dropna(),
                               df1['Offenses'].dropna()]).reindex_like(df1)

df1['BlockRange'] = pd.concat([df1['Block Range'].dropna(),
                               df1['BlockRange'].dropna()]).reindex_like(df1)

df1['StreetName'] = pd.concat([df1['Street Name'].dropna(),
                               df1['StreetName'].dropna()]).reindex_like(df1)

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006331 entries, 0 to 1006330
Data columns (total 18 columns):
# Of             7613 non-null float64
# Of Offenses    574365 non-null float64
# Offenses       10319 non-null float64
# offenses       996011 non-null float64
Beat             1006314 non-null object
Block Range      671489 non-null object
BlockRange       1006173 non-null object
Date             1006326 non-null object
Field11          0 non-null float64
Hour             1006330 non-null object
Offense Type     1006330 non-null object
Offenses         79349 non-null float64
Premise          972734 non-null object
Street Name      671646 non-null object
StreetName       1006330 non-null object
Suffix           1006330 non-null object
Type             1006330 non-null object
Unnamed: 1       0 non-null float64
dtypes: float64(7), object(11)
memory usage: 138.2+ MB

## Rename columns

In [ ]:
# df1.rename(columns={
#     '# Of Offenses': '# offenses',
#     'Block Range': 'BlockRange',
#     'Street Name': 'StreetName',}, inplace=True)

In [ ]:
df1.info()

In [ ]:
df1.head(5)

## create a subdataframe with the columns that we want

In [19]:
df1017 = df1[['Date','Beat','BlockRange','StreetName','Offense Type','Premise','# offenses','Hour']]

In [20]:
df1017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006331 entries, 0 to 1006330
Data columns (total 8 columns):
Date            1006326 non-null object
Beat            1006314 non-null object
BlockRange      1006173 non-null object
StreetName      1006330 non-null object
Offense Type    1006330 non-null object
Premise         972734 non-null object
# offenses      996011 non-null float64
Hour            1006330 non-null object
dtypes: float64(1), object(7)
memory usage: 61.4+ MB

In [21]:
df1017.tail()

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour
1006326,09/29/2017,UNK,12600-12699,STAFFORD RD,Robbery,"Road, Street, or Sidewalk",1.0,1
1006327,09/30/2017,UNK,10600-10699,BROOKLET,Theft,"Road, Street, or Sidewalk",1.0,13
1006328,09/30/2017,UNK,12300-12399,WESTHEIMER RD,Robbery,Restaurant or Cafeteria Parking Lot,1.0,19
1006329,09/30/2017,UNK,13200-13299,BEECHNUT ST,Aggravated Assault,Highway or Freeway,1.0,17
1006330,11/10/2015,UNK,4900-4999,TEALGATE,Rape,Residence or House,1.0,22

## Now we can inspect df

In [22]:
df1017.Date.unique() ## timestamp string date

array([Timestamp('2010-04-17 00:00:00'), Timestamp('2010-04-08 00:00:00'),
       Timestamp('2010-04-01 00:00:00'), ..., '04/06/2017', '03/24/2017',
       '11/10/2015'], dtype=object)

In [23]:
df1017.Beat.unique()  ##

array(['13D20', '11H40', '19G20', '10H60', '14D30', '17E30', '20G40',
       '18F40', '10H20', '9C20', '11H10', '19G30', '16E40', '19G10',
       '16E20', '19G50', '15E10', '13D40', '14D10', 'UNK', '9C40',
       '10H80', '5F30', '18F50', '7C30', '3B50', '12D10', '20G10',
       '14D20', '17E20', '10H40', '6B60', '3B10', '8C20', '5F20', '7C50',
       '15E30', '16E30', '12D40', '17E40', '18F30', '7C20', '8C60',
       '8C30', '11H50', '20G60', '20G70', '17E10', '3B30', '11H30',
       '2A60', '9C10', '6B10', '6B30', '6B20', '10H50', '12D20', '12D70',
       '6B50', '1A10', '20G30', '6B40', '5F10', '2A20', '13D10', '4F10',
       '9C30', '18F60', '1A30', '19G40', '1A20', '2A10', '7C10', '3B40',
       '7C40', '1A50', '24C30', '14D50', '10H10', '15E20', '10H70',
       '8C10', '20G50', '2A50', '20G80', '15E40', '24C50', '5F40',
       '12D60', '2A30', '4F20', '8C50', '4F30', '18F20', '14D40', '24C10',
       '18F10', '11H20', '10H30', '16E10', '24C40', '12D30', '20G20',
       '12D50', '2A40', '1A40', '24C20', '8C40', '21I30', '23J40',
       '13D30', '21I50', '23J50', '21I40', '21I60', '23J30', '21I70',
       '21I20', '21I10', '23J20', '24C60', 'UH-3P', '7C60', '23J10', nan,
       'HCSO', 'OOJ', "'18F20", "'1A30", "'14D10", "'6B20", "'3B40",
       "'2A50", "'2A30", "'18F30", "'13D10", "'8C30", "'24C10", "'20G10",
       "'19G30", "'18F40", "'11H30", "'12D10", "'10H10", "'5F40", "'7C50",
       "'21I50", "'8C20", "'8C60", "'1A50", "'20G20", "'17E30", "'16E20",
       "'20G70", "'24C40", "'15E40", "'20G30", "'1A40", "'19G10",
       "'19G50", "'4F10", "'4F20", "'15E30", "'1A20", "'8C10", "'11H10",
       "'9C20", "'6B60", "'3B10", "'20G40", "'2A20", "'10H20", "'12D60",
       "'9C40", "'UNK", "'8C40", "'2A40", "'19G20", "'6B10", "'10H50",
       "'18F60", "'16E40", "'10H40", "'6B40", "'7C30", "'6B30", "'5F30",
       "'8C50", "'1A10", "'10H30", "'21I10", "'13D40", "'19G40", "'2A60",
       "'5F20", "'17E20", "'17E10", "'10H60", "'24C30", "'11H50", "'7C40",
       "'14D20", "'12D50", "'12D20", "'3B50", "'18F50", "'13D20", "'7C20",
       "'7C10", "'24C50", "'15E10", "'15E20", "'9C10", "'12D30", "'10H70",
       "'3B30", "'16E10", "'17E40", "'6B50", "'9C30", "'10H80", "'20G50",
       "'18F10", "'14D40", "'11H20", "'14D30", "'16E30", "'2A10",
       "'20G60", "'5F10", "'20G80", "'12D40", "'12D70", "'11H40",
       "'24C20", "'14D50", "'4F30", "'23J50", '3B20', '10H10 ', '10H20 ',
       '10H30 ', '10H40 ', '10H50 ', '10H60 ', '10H70 ', '10H80 ',
       '11H10 ', '11H20 ', '11H30 ', '11H40 ', '11H50 ', '12D10 ',
       '12D20 ', '12D30 ', '12D40 ', '12D50 ', '12D60 ', '12D70 ',
       '13D10 ', '13D20 ', '13D30 ', '13D40 ', '14D10 ', '14D20 ',
       '14D30 ', '14D40 ', '14D50 ', '15E10 ', '15E20 ', '15E30 ',
       '15E40 ', '16E10 ', '16E20 ', '16E30 ', '16E40 ', '17E10 ',
       '17E20 ', '17E30 ', '17E40 ', '18F10 ', '18F20 ', '18F30 ',
       '18F40 ', '18F50 ', '18F60 ', '19G10 ', '19G20 ', '19G30 ',
       '19G40 ', '19G50 ', '1A10  ', '1A20  ', '1A30  ', '1A40  ',
       '1A50  ', '20G10 ', '20G20 ', '20G30 ', '20G40 ', '20G50 ',
       '20G60 ', '20G70 ', '20G80 ', '21I10 ', '21I20 ', '21I40 ',
       '21I50 ', '21I60 ', '21I70 ', '23J50 ', '24C10 ', '24C20 ',
       '24C30 ', '24C40 ', '24C50 ', '24C60 ', '2A10  ', '2A20  ',
       '2A30  ', '2A40  ', '2A50  ', '2A60  ', '3B10  ', '3B30  ',
       '3B40  ', '3B50  ', '4F10  ', '4F20  ', '4F30  ', '5F10  ',
       '5F20  ', '5F30  ', '5F40  ', '6B10  ', '6B20  ', '6B30  ',
       '6B40  ', '6B50  ', '6B60  ', '7C10  ', '7C20  ', '7C30  ',
       '7C40  ', '7C50  ', '8C10  ', '8C20  ', '8C30  ', '8C40  ',
       '8C50  ', '8C60  ', '9C10  ', '9C20  ', '9C30  ', '9C40  ',
       'UNK   '], dtype=object)

In [25]:
df1017.Beat.value_counts(dropna=False)  #

19G10     21243
12D10     21022
1A20      20731
6B60      19887
13D20     19019
3B10      18077
18F20     17395
17E10     17303
5F30      16366
18F30     16327
18F40     16260
1A30      16233
15E40     16216
14D20     15894
20G30     15481
20G50     15380
1A10      15266
2A50      15247
17E40     15116
1A50      14774
6B10      14283
18F50     14171
5F40      13904
7C20      13772
9C40      13253
3B50      12774
6B30      12751
2A30      12669
20G10     12645
19G40     11837
          ...
'2A40         3
23J20         3
21I40         3
'5F10         3
'24C10        3
'3B30         3
'16E40        3
'4F10         3
21I20         3
'11H50        3
'UNK          3
'11H20        2
23J10         2
'21I10        2
'14D50        2
'12D40        2
'21I50        2
'24C30        2
'24C20        1
'1A40         1
'24C50        1
3B20          1
'24C40        1
'16E30        1
'11H40        1
7C60          1
'8C40         1
'23J50        1
'8C50         1
21I70         1
Name: Beat, Length: 356, dtype: int64

In [26]:
df1017.BlockRange.unique()  #

array(['6600-6699', '10100-10199', '11400-11499', '3700-3799',
       '5100-5199', '11500-11599', '6400-6499', '2300-2399', '7900-7999',
       '8000-8099', '1100-1199', '7300-7399', '6700-6799', '7400-7499',
       '7100-7199', '16300-16399', '15800-15899', '10000-10099',
       '8100-8199', '3100-3199', '10400-10499', '8900-8999', '6300-6399',
       '12600-12699', '1900-1999', '5000-5099', '5800-5899', '5900-5999',
       '2700-2799', '1200-1299', '9800-9899', '4300-4399', '7600-7699',
       '3000-3099', '7200-7299', '1300-1399', '4200-4299', '9000-9099',
       '100-199', '14800-14899', '13300-13399', '0-99', '4800-4899',
       '2200-2299', '11800-11899', '3800-3899', '8300-8399', '7500-7599',
       '12700-12799', '6100-6199', '10200-10299', '14400-14499',
       '8800-8899', '4100-4199', '15500-15599', '9200-9299', '5700-5799',
       '6000-6099', '2000-2099', '6200-6299', '9400-9499', '13200-13299',
       '7800-7899', '5500-5599', '2400-2499', '12800-12899', '1700-1799',
       '900-999', '11000-11099', '12000-12099', '3600-3699', '6500-6599',
       '3400-3499', '9900-9999', '15200-15299', '8500-8599',
       '10800-10899', '7000-7099', '8400-8499', '4700-4799', '2600-2699',
       '6800-6899', '2900-2999', '800-899', '4500-4599', '9300-9399',
       '13500-13599', '600-699', '13000-13099', '3900-3999', '5600-5699',
       '2100-2199', '8700-8799', '2800-2899', '4900-4999', '1000-1099',
       '300-399', '4400-4499', '1800-1899', '3500-3599', '11100-11199',
       '400-499', '15600-15699', '200-299', '10300-10399', '2500-2599',
       '8200-8299', '700-799', '1500-1599', '7700-7799', '6900-6999',
       '10500-10599', '14700-14799', '500-599', '4000-4099', '1400-1499',
       '12400-12499', '12300-12399', '5200-5299', '9700-9799',
       '11300-11399', '16900-16999', '1600-1699', '14300-14399',
       '16200-16299', '14600-14699', '9500-9599', '8600-8699',
       '11700-11799', '5400-5499', '9600-9699', '14900-14999',
       '3300-3399', '3200-3299', '12900-12999', '10600-10699',
       '9100-9199', '10900-10999', '14200-14299', '16400-16499',
       '16100-16199', '12200-12299', '11900-11999', '13400-13499',
       '11200-11299', '17000-17099', '16000-16099', '5300-5399',
       '4600-4699', '12500-12599', '14100-14199', '14000-14099',
       '13700-13799', '17400-17499', '15300-15399', '10700-10799',
       '19200-19299', '13100-13199', '11600-11699', '17200-17299',
       '15900-15999', '24000-24099', '12100-12199', '17300-17399',
       '15400-15499', '27800-27899', '13800-13899', '18200-18299',
       '18100-18199', '17500-17599', '13600-13699', '17100-17199',
       '23200-23299', '20900-20999', '14500-14599', '23400-23499',
       '15100-15199', '17600-17699', '15700-15799', '19600-19699',
       '22300-22399', '19100-19199', '13900-13999', '18800-18899',
       '15000-15099', '16800-16899', '24500-24599', '18300-18399',
       '16500-16599', '22600-22699', '17700-17799', '19400-19499',
       '17900-17999', '17800-17899', '16600-16699', '22200-22299',
       '19000-19099', '22700-22799', '18700-18799', '16700-16799',
       '22900-22999', '24100-24199', '18000-18099', '23800-23899',
       '22100-22199', '18600-18699', '19500-19599', '23000-23099',
       '22500-22599', '21800-21899', '20700-20799', '29500-29599',
       '25000-25099', '24800-24899', '21400-21499', '23500-23599',
       '23300-23399', '21900-21999', '20000-20099', '18500-18599',
       '18400-18499', '21100-21199', '29800-29899', '23700-23799',
       '24200-24299', '20800-20899', '22400-22499', '22800-22899',
       '23100-23199', '21200-21299', '20300-20399', '21500-21599',
       '22000-22099', '24600-24699', 'UNK', '18900-18999', '21600-21699',
       '24400-24499', '23900-23999', '26200-26299', '19300-19399',
       '19900-19999', '24300-24399', '20100-20199', '27900-27999',
       '25300-25399', '20500-20599', '26000-26099', '34200-34299',
       '27600-27699', '19700-19799', '26800-26899', '21000-21099',
       '19800-19899', '23600-23699', '24900-24999', '20200-20299',
       '21700-21799', '31700-31799', '25800-25899', '272000-272099',
       '26400-26499', '20400-20499', '27500-27599', '29100-29199',
       '20600-20699', '27100-27199', '83000-83099', '42000-42099',
       '31300-31399', '28400-28499', '77300-77399', '21300-21399',
       '99900-99999', '29900-29999', '27400-27499', '26700-26799',
       '25600-25699', '100000-100099', '25400-25499', '37000-37099',
       '27700-27799', '30900-30999', '26600-26699', '30000-30099',
       '25900-25999', '25200-25299', '133300-133399', '25500-25599',
       '29600-29699', '57000-57099', '111500-111599', '80300-80399',
       '74000-74099', '96000-96099', '27200-27299', '25100-25199', nan,
       '124000-124099', '83100-83199', '32600-32699', '140500-140599',
       '31000-31099', '31400-31499', '34800-34899', '38700-38799',
       '33400-33499', '33000-33099', '35000-35099', '28000-28099',
       '105800-105899', '27000-27099', '24700-24799', '29300-29399',
       '30500-30599', '28800-28899', '49000-49099', '27300-27399',
       '72200-72299', '29000-29099', '26900-26999', '171300-171399',
       '50000-50099', '61400-61499', '28200-28299', '202600-202699',
       '28600-28699', '28100-28199', '26300-26399', '79000-79099',
       '33100-33199', '55000-55099', '60000-60099', '125100-125199',
       '31900-31999', '30400-30499', '32100-32199', '29200-29299',
       '32000-32099', '30600-30699', '25700-25799', '66200-66299',
       '111100-111199', '112600-112699', '110600-110699',
       '1.1103e+006-1.1104e+006', '28900-28999', '175500-175599'],
      dtype=object)

In [27]:
df1017.BlockRange.value_counts(dropna=False)  #

900-999          13868
100-199          13831
800-899          11944
700-799          11737
2400-2499        11510
2300-2399        11431
1000-1099        11268
9400-9499        11255
7900-7999        11138
300-399          11007
4400-4499        10895
200-299          10876
500-599          10511
9500-9599        10510
1500-1599        10386
2500-2599        10176
1300-1399        10121
7500-7599        10042
2700-2799         9920
1100-1199         9854
600-699           9645
1400-1499         9608
1200-1299         9558
5000-5099         9527
5800-5899         9339
2100-2199         9114
2000-2099         8992
5900-5999         8981
6000-6099         8962
400-499           8957
                 ...
28400-28499          1
110600-110699        1
77300-77399          1
35000-35099          1
31300-31399          1
60000-60099          1
175500-175599        1
111100-111199        1
105800-105899        1
31400-31499          1
30500-30599          1
79000-79099          1
42000-42099          1
112600-112699        1
80300-80399          1
202600-202699        1
55000-55099          1
26800-26899          1
140500-140599        1
61400-61499          1
33000-33099          1
25900-25999          1
32600-32699          1
29900-29999          1
26700-26799          1
83100-83199          1
125100-125199        1
171300-171399        1
57000-57099          1
32000-32099          1
Name: BlockRange, Length: 348, dtype: int64

In [28]:
df1017.StreetName.unique()  #

array(['HEFFERNAN', 'LUCORE', 'CARVEL', ..., 'GREEN LAKER', 'STAFFORD RD',
       'TEALGATE'], dtype=object)

In [29]:
df1017.StreetName.value_counts(dropna=False)  # name cleanup too!

WESTHEIMER                                                                                                                                                27503
GULF                                                                                                                                                      14140
GESSNER                                                                                                                                                   13904
NORTH                                                                                                                                                     12630
RICHMOND                                                                                                                                                  12376
KATY                                                                                                                                                      10126
SOUTHWEST                                                                                                                                                  9929
MAIN                                                                                                                                                       9240
BISSONNET                                                                                                                                                  9010
NORTHWEST                                                                                                                                                  8830
BELLAIRE                                                                                                                                                   8612
BELLFORT                                                                                                                                                   7693
FM 1960                                                                                                                                                    7428
BEECHNUT                                                                                                                                                   7066
GREENS                                                                                                                                                     6999
FONDREN                                                                                                                                                    6908
POST OAK                                                                                                                                                   6658
TIDWELL                                                                                                                                                    6374
BROADWAY                                                                                                                                                   6254
LITTLE YORK                                                                                                                                                6253
EAST                                                                                                                                                       5762
SHEPHERD                                                                                                                                                   5591
WEST SAM HOUSTON                                                                                                                                           5559
SAM HOUSTON                                                                                                                                                5213
AIRLINE                                                                                                                                                    5062
KIRBY                                                                                                                                                      4905
LOOP                                                                                                                                                       4621
HILLCROFT                                                                                                                                                  4472
FANNIN                                                                                                                                                     4463
WAYSIDE                                                                                                                                                    4251
                                                                                                                                                          ...
HAMMERLY BLVD APT 290                                                                                                                                         1
ENCHANTED OAKS DRIVE                                                                                                                                          1
CASSELBERRY                                                                                                                                                   1
2 ERIE ST APT 131                                                                                                                                             1
HEMBREE PARK DR STE                                                                                                                                           1
JOPLIN                                                                                                                                                        1
ALLEN PKWY LEASING OFFICE                                                                                                                                     1
FLINT RIDGE                                                                                                                                                   1
1023 W 15TH 1                                                                                                                                                 1
MERRITT LANE                                                                                                                                                  1
BRIARGATE LN.                                                                                                                                                 1
KENSWICK PARK DRIVE                                                                                                                                           1
BLACK CHERRY BEND                                                                                                                                             1
NORTH WAYSIDE DR APT 130                                                                                                                                      1
MARONEAL                                                                                                                                                      1
ENGLESIDE                                                                                                                                                     1
ROSHARON                                                                                                                                                      1
NORTHPOINT DR 1407                                                                                                                                            1
JOHANNA APT 12                                                                                                                                                1
BANDELL DR                                                                                                                                                    1
BEARDEN PLACE                                                                                                                                                 1
OXFORD ST.                                                                                                                                                    1
MALL                                                                                                                                                          1
MURRY                                                                                                                                                         1
DYER LAKE                                                                                                                                                     1
FLEMING                                                                                                                                                       1
TWIN OAKS ST                                                                                                                                                  1
VALLEY VIEW LN                                                                                                                                                1
DAWN VALE                                                                                                                                                     1
NaN                                                                                                                                                           1
Name: StreetName, Length: 27796, dtype: int64

In [30]:
df1017['Offense Type'].unique()  # good

array(['Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary',
       'Auto Theft', 'Theft', 1, 'AutoTheft', 'Burglary                 ',
       'Robbery                  ', 'Theft                    ',
       'AutoTheft                ', 'Aggravated Assault       ',
       'Rape                     ', 'Murder                   ', nan],
      dtype=object)

In [31]:
df1017['Offense Type'].value_counts(dropna=False) # good, that its clean not that there were 73591 thefts!!

Theft                        548360
Burglary                     180870
Auto Theft                    93267
Aggravated Assault            81813
Robbery                       75962
Rape                           7000
AutoTheft                      6649
Theft                          6011
Murder                         1903
Burglary                       1371
Aggravated Assault             1158
AutoTheft                       978
Robbery                         822
Rape                            129
Murder                           23
1                                14
NaN                               1
Name: Offense Type, dtype: int64

In [32]:
df1017.Premise.unique()  # lots of weird values

array(['05W', '20R', '13R', '20A', '18A', '100', '05E', '20D', '18T',
       '250', '040', '13A', '20P', '22M', '140', '070', '14V', '05V',
       '18R', '18C', '18G', '18O', '18M', '18S', '13B', '05D', '22E',
       '240', '18U', '13S', '13H', '210', '120', '080', '24A', '24J',
       '24E', '03B', '05Q', '05B', '05Z', '18N', '05L', '05C', '24F',
       '09D', '24P', '23S', '18P', '18H', '01K', '20G', '05P', '05F',
       '02B', '09P', '05R', '05O', '22P', '11R', '170', '20M', '20L',
       '05M', '18B', '09H', '20V', '22D', '18L', '05X', '13T', '20W',
       '03S', '18D', '20C', '150', '18W', '22H', '20N', '22C', '05Y',
       '20H', '25V', '05A', '190', '24G', '24V', '24C', '05G', '12V',
       '09R', '21V', '060', '19V', '05H', '05U', '11S', '05N', '11V',
       '24S', '11G', '160', '05T', '01T', '01A', '05S', '01B', '22U',
       '24B', '---', '24T', '11L', '02C', '11P', '24M', '01P', '02S',
       '25R', '04V', '11F', '22V', '01R', '11C', 'N', '06', '09V', '23C',
       'Road, Street, or Sidewalk', 'Residence or House',
       'Construction Site', nan, 'Apartment', 'Other Parking Lot',
       "Physician, Doctor, Dentist's Office", 'Apartment Parking Lot',
       'Driveway', 'Warehouse', 'Commercial Parking Lot or Garage',
       'Service or Gas Station', 'Bus Stop',
       'Convenience Store Parking Lot',
       'Parks and Recreation, Zoo, Swimming Pool', 'Hospital',
       'Miscellaneous Business (Non-Specific)',
       'Vacant Single Occ Resd(House,Townhs,Dplex)',
       'Other, Unknown, or Not Listed', 'Convenience Store',
       'Bar or Night Club Parking Lot', 'Field, Woods, Forest, Park',
       'Restaurant or Cafeteria', 'Auto Repair',
       'Stadium, Sports Arena, Race Track',
       'Government or Public Building', 'Bar or Night Club',
       'Commercial Building', 'Factory, Manufacturing, or Industrial',
       'Grocery Store or Supermarket', 'Light Rail Platform',
       'Office Building', 'Garage or Carport', 'Bus Station',
       'Multi-Plex Home (Duplex,Triplex Etc.)', 'Hotel, Motel, Inn, Etc.',
       'Clothing Store', 'Social Services or Public Charities',
       'Department or Discount Store',
       'Vacant School or College/University', 'University or College',
       'Vacant Church, Synagogue, or Temple',
       'Vehicle/Auto Sales/Lease/Auto Parts Store',
       'Church, Synagogue, or Temple Parking Lot',
       'Rental Storage Facility', 'Drug Store or Medical Supply',
       'Park and Ride Terminal', 'Liquor Store',
       'Specialty Store (Non-Specific)', 'Hospital Parking Lot',
       'Restaurant or Cafeteria Parking Lot',
       'Hotel or Motel Parking Lot',
       'Gym, Recreat, Club House, Indoor Pool, Spa', 'Private School',
       'Strip Business Center Parking Lot',
       'Laundry, Dry Cleaners, Washaterias', 'Barber And Beauty Shops',
       'Furniture, Appliances, Radios, TV Store',
       'Church, Synagogue, or Temple',
       'Grocery Store or Supermarket Parking Lot',
       'Electronics Store, Electrical Supplies', 'Pool Hall or Game Room',
       'Vacant Restaurant', 'Pawn, Resale Shop, or Flea Market',
       'Daycare, Child Care, or Kindergarten', 'Check Cashing Places',
       'Maintenance or Building Services', 'Body Shop',
       'Apartment Rental Office', 'Highway or Freeway',
       'Vacant Storage Fac (Barn,Garage,Warehouse)', 'High School',
       'Mobile Home', 'Car Wash', 'Mall Parking Lot', 'Police Station',
       'Utility Company, Electric, Gas, Water',
       'Adult Book Store or Newsstand', 'Bank',
       'Theatres, Dinner Theaters, Auditoriums',
       'Amusement Park, Bowling Alley, Skate Rink', 'Mall Common Area',
       'Condominium', 'Nursing Home',
       'Vacant Other Residential (Apartment,Dorms)',
       'Laundry or Dry Cleaners Parking Lot', 'Sexually Oriented Club',
       'Bank or Savings Institution Parking Lot',
       'Commercial Or Training School', 'Vacant Building (Commercial)',
       'Convention Center or Exhibit Halls',
       'Sexually Oriented Business Parking Lot', 'Freeway Service Road',
       'Jail or Prison', 'Apartment Laundry',
       'Garden Supply, Nursery, or Florist',
       'Sporting Goods or Gun Shops',
       'Vacant Other Out Build/Monument/UnderConst',
       'Video Rental & Sales', 'Alley', 'Middle School',
       'Savings and Loan Institutions', 'Libraries, Museums', 'High Rise',
       'Rehabilitation Center', 'Liquor Store Parking Lot',
       'Toys, Arts Craft,Musical, Bike,Pet Stores', 'Elementary School',
       'Book, Record, Stationary, Office Supplies', 'Airport Terminal',
       'Lake, Pond, Waterway, Bayou, River', 'Fire Station',
       'Light Rail (Metro Rail) Vehicle', 'Credit Union',
       'Jewelry Stores', 'Vacant Grocery Store or Supermarket',
       'Vacant Hotel, Motel, Etc.', 'Railroad Track or Right Of Way',
       'Package Facility (FedEx,UPS,DHL)',
       'Vacant Government or Public Building',
       'Train (Not Metro) Terminal', 'Tollway',
       'Vacant Industrial or Manufacturing Blding',
       'Gym, Recreat, Club House, Indoor Pool',
       'Marine Vehicle Sales, Boats, Sailboats', 'Vacant Hospital',
       'Adult Novelty Store', 'Illicit Massage Parlor or Spa',
       'Not Listed', 'Adult Theater/Arcade', 'Modeling Studio', 'Cantina',
       'Vacant Jail or Prison', '13C',
       'Barber And Beauty Shops                                                                                                                               ',
       'Laundry, Dry Cleaners, Washaterias                                                                                                                    ',
       'Light Rail Platform                                                                                                                                   ',
       'Church, Synagogue, or Temple                                                                                                                          ',
       'Commercial Parking Lot or Garage                                                                                                                      ',
       'Other, Unknown, or Not Listed                                                                                                                         ',
       'Specialty Store (Non-Specific)                                                                                                                        ',
       'Residence or House                                                                                                                                    ',
       'Road, Street, or Sidewalk                                                                                                                             ',
       'Auto Repair                                                                                                                                           ',
       'Miscellaneous Business (Non-Specific)                                                                                                                 ',
       'Apartment                                                                                                                                             ',
       'Other Parking Lot                                                                                                                                     ',
       'Restaurant or Cafeteria Parking Lot                                                                                                                   ',
       'Convenience Store                                                                                                                                     ',
       'Construction Site                                                                                                                                     ',
       'Condominium                                                                                                                                           ',
       'Liquor Store Parking Lot                                                                                                                              ',
       'Commercial Building                                                                                                                                   ',
       'Parks and Recreation, Zoo, Swimming Pool                                                                                                              ',
       'Apartment Parking Lot                                                                                                                                 ',
       'Strip Business Center Parking Lot                                                                                                                     ',
       'Service or Gas Station                                                                                                                                ',
       'Garage or Carport                                                                                                                                     ',
       'Driveway                                                                                                                                              ',
       'Restaurant or Cafeteria                                                                                                                               ',
       'Convenience Store Parking Lot                                                                                                                         ',
       'Department or Discount Store                                                                                                                          ',
       'Light Rail (Metro Rail) Vehicle                                                                                                                       ',
       'Bar or Night Club                                                                                                                                     ',
       'Vacant Industrial or Manufacturing Blding                                                                                                             ',
       'Bar or Night Club Parking Lot                                                                                                                         ',
       'Grocery Store or Supermarket                                                                                                                          ',
       'Freeway Service Road                                                                                                                                  ',
       'Bus Station                                                                                                                                           ',
       'Bank                                                                                                                                                  ',
       'Vehicle/Auto Sales/Lease/Auto Parts Store                                                                                                             ',
       'Apartment Rental Office                                                                                                                               ',
       'Vacant School or College/University                                                                                                                   ',
       'Bus Stop                                                                                                                                              ',
       'Grocery Store or Supermarket Parking Lot                                                                                                              ',
       'Gym, Recreat, Club House, Indoor Pool                                                                                                                 ',
       'Park and Ride Terminal                                                                                                                                ',
       'Hotel or Motel Parking Lot                                                                                                                            ',
       'Multi-Plex Home (Duplex,Triplex Etc.)                                                                                                                 ',
       'Liquor Store                                                                                                                                          ',
       'High School                                                                                                                                           ',
       'Vacant Single Occ Resd(House,Townhs,Dplex)                                                                                                            ',
       'Bank or Savings Institution Parking Lot                                                                                                               ',
       'Field, Woods, Forest, Park                                                                                                                            ',
       'Nursing Home                                                                                                                                          ',
       'University or College                                                                                                                                 ',
       'Hospital Parking Lot                                                                                                                                  ',
       'Hospital                                                                                                                                              ',
       'Highway or Freeway                                                                                                                                    ',
       'Hotel, Motel, Inn, Etc.                                                                                                                               ',
       'Warehouse                                                                                                                                             ',
       'Drug Store or Medical Supply                                                                                                                          ',
       'Amusement Park, Bowling Alley, Skate Rink                                                                                                             ',
       'Government or Public Building                                                                                                                         ',
       'Libraries, Museums                                                                                                                                    ',
       'Daycare, Child Care, or Kindergarten                                                                                                                  ',
       'Pawn, Resale Shop, or Flea Market                                                                                                                     ',
       'Clothing Store                                                                                                                                        ',
       "Physician, Doctor, Dentist's Office                                                                                                                   ",
       'Mall Parking Lot                                                                                                                                      ',
       'Maintenance or Building Services                                                                                                                      ',
       'Check Cashing Places                                                                                                                                  ',
       'Factory, Manufacturing, or Industrial                                                                                                                 ',
       'Electronics Store, Electrical Supplies                                                                                                                ',
       'Office Building                                                                                                                                       ',
       'Car Wash                                                                                                                                              ',
       'Vacant Other Residential (Apartment,Dorms)                                                                                                            ',
       'Laundry or Dry Cleaners Parking Lot                                                                                                                   ',
       'Pool Hall or Game Room                                                                                                                                ',
       'Railroad Track or Right Of Way                                                                                                                        ',
       ' Not Listed',
       'Airport Terminal                                                                                                                                      ',
       'Church, Synagogue, or Temple Parking Lot                                                                                                              ',
       'Savings and Loan Institutions                                                                                                                         ',
       'Sporting Goods or Gun Shops                                                                                                                           ',
       'Body Shop                                                                                                                                             ',
       'Mall Common Area                                                                                                                                      ',
       'Rental Storage Facility                                                                                                                               ',
       'Theatres, Dinner Theaters, Auditoriums                                                                                                                ',
       'Mobile Home                                                                                                                                           ',
       'Vacant Church, Synagogue, or Temple                                                                                                                   ',
       'Vacant Storage Fac (Barn,Garage,Warehouse)                                                                                                            ',
       'Elementary School                                                                                                                                     ',
       'Alley                                                                                                                                                 ',
       'Lake, Pond, Waterway, Bayou, River                                                                                                                    ',
       'Middle School                                                                                                                                         ',

In [34]:
df1017.Premise.value_counts(dropna=False)  #

20A                                                                                                                                                       74377
20R                                                                                                                                                       74346
18A                                                                                                                                                       65458
Residence or House                                                                                                                                        54178
Apartment Parking Lot                                                                                                                                     44506
13R                                                                                                                                                       41659
Road, Street, or Sidewalk                                                                                                                                 39009
Apartment                                                                                                                                                 38773
20D                                                                                                                                                       37014
NaN                                                                                                                                                       33597
18O                                                                                                                                                       30042
080                                                                                                                                                       24960
18R                                                                                                                                                       16952
250                                                                                                                                                       16634
Driveway                                                                                                                                                  15262
Restaurant or Cafeteria Parking Lot                                                                                                                       15169
Other Parking Lot                                                                                                                                         14169
18P                                                                                                                                                       13878
120                                                                                                                                                       13173
Department or Discount Store                                                                                                                              12866
18T                                                                                                                                                       11041
Miscellaneous Business (Non-Specific)                                                                                                                     10409
Commercial Parking Lot or Garage                                                                                                                          10087
Service or Gas Station                                                                                                                                     9294
210                                                                                                                                                        9108
Grocery Store or Supermarket                                                                                                                               7773
23S                                                                                                                                                        7680
18M                                                                                                                                                        7476
Strip Business Center Parking Lot                                                                                                                          7351
Other, Unknown, or Not Listed                                                                                                                              6943
                                                                                                                                                          ...
Utility Company, Electric, Gas, Water                                                                                                                         3
Garden Supply, Nursery, or Florist                                                                                                                            3
Vacant School or College/University                                                                                                                           3
Adult Book Store or Newsstand                                                                                                                                 3
Social Services or Public Charities                                                                                                                           2
Vacant Grocery Store or Supermarket                                                                                                                           2
Savings and Loan Institutions                                                                                                                                 2
Jail or Prison                                                                                                                                                2
University or College                                                                                                                                         2
Railroad Track or Right Of Way                                                                                                                                2
Police Station                                                                                                                                                2
Vacant Other Out Build/Monument/UnderConst                                                                                                                    2
Modeling Studio                                                                                                                                               2
Vacant Restaurant                                                                                                                                             2
Vacant Hotel, Motel, Etc.                                                                                                                                     1
Sexually Oriented Business Parking Lot                                                                                                                        1
Book, Record, Stationary, Office Supplies                                                                                                                     1
Contra-Flow, Managed, or HOV Lanes                                                                                                                            1
Rehabilitation Center                                                                                                                                         1
Vacant Church, Synagogue, or Temple                                                                                                                           1
RES                                                                                                                                                           1
Toys, Arts Craft,Musical, Bike,Pet Stores                                                                                                                     1
Train (Not Metro) Terminal                                                                                                                                    1
Adult Novelty Store                                                                                                                                           1
High Rise                                                                                                                                                     1
Vacant Jail or Prison                                                                                                                                         1
Vacant Government or Public Building                                                                                                                          1
Vacant Industrial or Manufacturing Blding                                                                                                                     1
Package Facility (FedEx,UPS,DHL)                                                                                                                              1
02V                                                                                                                                                           1
Name: Premise, Length: 385, dtype: int64

In [35]:
df1017['# offenses'].unique()

array([ 1.,  2.,  3.,  4.,  7.,  5.,  6., 12.,  8., 17., 10., 16., 11.,
        9., nan, 33., 13., 29.])

In [37]:
df1017['# offenses'].value_counts(dropna=False)  #

 1.0     983540
 2.0      10459
NaN       10320
 3.0       1600
 4.0        243
 5.0         79
 6.0         45
 7.0         15
 8.0         10
 9.0          4
 13.0         4
 16.0         3
 10.0         3
 17.0         2
 33.0         1
 29.0         1
 11.0         1
 12.0         1
Name: # offenses, dtype: int64

In [38]:
df1017.Hour.unique()

array([0, 20, 22, 1, 23, 12, 8, 16, 17, 14, 2, 19, 6, 7, 5, 18, 9, 4, 11,
       13, 21, 10, 3, 15, 24, '07', '05', '22', '15', '10', '19', '09',
       '08', '14', "'15", '02', '12', "'07", '16', "'19", "'18", '21',
       '17', '11', '13', '18', '06', "'00", "'05", "'13", "'14", "'22",
       "'23", '04', '03', '23', '20', '00', "'20", "'16", '01', "'17",
       "'06", "'03", "'01", "'09", "'02", "'10", "'11", "'12", "'21",
       "'08", "'04", nan], dtype=object)

In [39]:
df1017.Hour.value_counts(dropna=False)

18     57008
12     56922
17     55531
15     54937
16     53489
19     52654
14     51973
20     51060
13     49339
22     48165
10     47803
11     47177
21     47031
9      44821
8      44571
0      43223
23     39525
7      36164
1      24106
6      23777
2      22343
3      17517
5      15354
4      14223
14       412
15       410
09       405
16       400
11       383
12       377
       ...
05       129
03       117
01       115
04        94
'00       91
'12       73
'18       69
'22       64
'17       56
'16       53
'20       51
'23       48
'19       48
'21       48
'14       44
'15       43
'08       43
'10       40
'13       38
'11       33
'07       29
'09       25
'02       25
'01       24
'06       17
'05       16
'03       12
'04       10
24         4
NaN        1
Name: Hour, Length: 74, dtype: int64

# Cleanup
## Premise Column

- strip empty spaces :not needed

In [40]:
len(df1017.Premise.unique())

385

In [41]:
df1017['Premise'] = df1017['Premise'].str.strip()

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [42]:
len(df1017.Premise.unique())

265

In [43]:
df1017.Premise.value_counts(dropna=False)

20A                                          74377
20R                                          74346
18A                                          65458
Residence or House                           55408
Apartment Parking Lot                        45677
13R                                          41659
Road, Street, or Sidewalk                    40121
Apartment                                    39826
20D                                          37014
NaN                                          33597
18O                                          30042
080                                          24960
18R                                          16952
250                                          16634
Driveway                                     15731
Restaurant or Cafeteria Parking Lot          15519
Other Parking Lot                            14724
18P                                          13878
Department or Discount Store                 13194
120                                          13173
18T                                          11041
Miscellaneous Business (Non-Specific)        10685
Commercial Parking Lot or Garage             10452
Service or Gas Station                        9570
210                                           9108
Grocery Store or Supermarket                  7931
23S                                           7680
Strip Business Center Parking Lot             7556
18M                                           7476
Other, Unknown, or Not Listed                 7197
                                             ...
14V                                             36
Not Listed                                      35
Train (Not Metro) Terminal                      34
Jail or Prison                                  33
Credit Union                                    32
11V                                             29
Tollway                                         26
Package Facility (FedEx,UPS,DHL)                25
Vacant Church, Synagogue, or Temple             25
Vacant Industrial or Manufacturing Blding       24
22V                                             23
25R                                             20
Vacant Hospital                                 19
Vacant Government or Public Building            18
Adult Novelty Store                             15
Illicit Massage Parlor or Spa                   12
09V                                             12
24M                                             11
Marine Vehicle Sales, Boats, Sailboats           8
01R                                              6
Adult Theater/Arcade                             5
13C                                              5
23C                                              5
Cantina                                          4
Vacant Bank                                      4
Modeling Studio                                  2
Vacant Jail or Prison                            1
02V                                              1
RES                                              1
Contra-Flow, Managed, or HOV Lanes               1
Name: Premise, Length: 265, dtype: int64

# Cleanup
## Offense Type Column

preatty clean!

In [44]:
df1017['Offense Type'].value_counts(dropna=False)

Theft                        548360
Burglary                     180870
Auto Theft                    93267
Aggravated Assault            81813
Robbery                       75962
Rape                           7000
AutoTheft                      6649
Theft                          6011
Murder                         1903
Burglary                       1371
Aggravated Assault             1158
AutoTheft                       978
Robbery                         822
Rape                            129
Murder                           23
1                                14
NaN                               1
Name: Offense Type, dtype: int64

In [45]:
df1017['Offense Type'].unique()

array(['Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary',
       'Auto Theft', 'Theft', 1, 'AutoTheft', 'Burglary                 ',
       'Robbery                  ', 'Theft                    ',
       'AutoTheft                ', 'Aggravated Assault       ',
       'Rape                     ', 'Murder                   ', nan],
      dtype=object)

In [46]:
len(df1017['Offense Type'].unique())

17

In [47]:
df1017['Offense Type'] = df1017['Offense Type'].str.strip()

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
df1017['Offense Type'].value_counts(dropna=False)

Theft                 554371
Burglary              182241
Auto Theft             93267
Aggravated Assault     82971
Robbery                76784
AutoTheft               7627
Rape                    7129
Murder                  1926
NaN                       15
Name: Offense Type, dtype: int64

In [49]:
len(df1017['Offense Type'].unique())

9

# Cleanup
## StreetName Column

In [50]:
df1017.StreetName.value_counts(dropna=False).head()

WESTHEIMER    27503
GULF          14140
GESSNER       13904
NORTH         12630
RICHMOND      12376
Name: StreetName, dtype: int64

In [51]:
len(df1017.StreetName.unique())

27796

In [52]:
df1017['StreetName'] = df1017['StreetName'].str.strip()

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [53]:
len(df1017.StreetName.unique())

24712

In [54]:
df1017[df1017.StreetName.isnull()].head()

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour
60297,2015-04-10 00:00:00,2A20,3200-3299,NaN,Aggravated Assault,"Road, Street, or Sidewalk",1.0,12
60389,2015-04-04 00:00:00,2A30,UNK,NaN,Theft,"Road, Street, or Sidewalk",1.0,0
60404,2015-04-05 00:00:00,2A30,UNK,NaN,Theft,"Road, Street, or Sidewalk",1.0,7
60438,2015-04-15 00:00:00,2A30,UNK,NaN,Burglary,Residence or House,1.0,16
70342,2016-04-15 00:00:00,2A30,UNK,NaN,Theft,Construction Site,1.0,13

In [55]:
df1017.StreetName.value_counts(dropna=False).head()

WESTHEIMER    27611
GULF          14183
GESSNER       13952
NORTH         12673
RICHMOND      12406
Name: StreetName, dtype: int64

# Cleanup
## BlockRange Column

In [56]:
df1017.BlockRange.value_counts(dropna=False).head()  #

900-999      13868
100-199      13831
800-899      11944
700-799      11737
2400-2499    11510
Name: BlockRange, dtype: int64

In [57]:
unk = df1017.BlockRange == 'UNK'  # boolean mask

In [62]:
df1017[unk].head()  # 5406

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour
53730,2015-04-06 00:00:00,10H10,UNK,CANAL,Rape,Residence or House,1.0,20
53732,2015-04-01 00:00:00,10H10,UNK,SIDNEY,Theft,NaN,1.0,19
53735,2015-04-18 00:00:00,10H10,UNK,ENNIS,Rape,Residence or House,1.0,10
53741,2015-04-24 00:00:00,10H10,UNK,MARSDEN,Burglary,Residence or House,1.0,18
53746,2015-04-23 00:00:00,10H10,UNK,STILES,Theft,Other Parking Lot,1.0,17

In [66]:
df1017[df1017.BlockRange.isnull()].head()  # 158

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour
463032,2014-07-22 00:00:00,NaN,NaN,WALKER,Theft,NaN,NaN,20
463034,2014-07-16 00:00:00,NaN,NaN,PEASE,Theft,NaN,NaN,13
463053,2014-07-27 00:00:00,10H10,NaN,212.5 LENOX,Burglary,NaN,NaN,7
463599,2014-07-02 00:00:00,10H80,NaN,2600 DUNLAVY + WESTHEIMER,Auto Theft,NaN,NaN,12
463917,2014-07-12 00:00:00,12D10,NaN,EDGEBROOK,Theft,NaN,NaN,11

# Cleanup
## Beat Column

In [67]:
df1017.Beat.unique()

array(['13D20', '11H40', '19G20', '10H60', '14D30', '17E30', '20G40',
       '18F40', '10H20', '9C20', '11H10', '19G30', '16E40', '19G10',
       '16E20', '19G50', '15E10', '13D40', '14D10', 'UNK', '9C40',
       '10H80', '5F30', '18F50', '7C30', '3B50', '12D10', '20G10',
       '14D20', '17E20', '10H40', '6B60', '3B10', '8C20', '5F20', '7C50',
       '15E30', '16E30', '12D40', '17E40', '18F30', '7C20', '8C60',
       '8C30', '11H50', '20G60', '20G70', '17E10', '3B30', '11H30',
       '2A60', '9C10', '6B10', '6B30', '6B20', '10H50', '12D20', '12D70',
       '6B50', '1A10', '20G30', '6B40', '5F10', '2A20', '13D10', '4F10',
       '9C30', '18F60', '1A30', '19G40', '1A20', '2A10', '7C10', '3B40',
       '7C40', '1A50', '24C30', '14D50', '10H10', '15E20', '10H70',
       '8C10', '20G50', '2A50', '20G80', '15E40', '24C50', '5F40',
       '12D60', '2A30', '4F20', '8C50', '4F30', '18F20', '14D40', '24C10',
       '18F10', '11H20', '10H30', '16E10', '24C40', '12D30', '20G20',
       '12D50', '2A40', '1A40', '24C20', '8C40', '21I30', '23J40',
       '13D30', '21I50', '23J50', '21I40', '21I60', '23J30', '21I70',
       '21I20', '21I10', '23J20', '24C60', 'UH-3P', '7C60', '23J10', nan,
       'HCSO', 'OOJ', "'18F20", "'1A30", "'14D10", "'6B20", "'3B40",
       "'2A50", "'2A30", "'18F30", "'13D10", "'8C30", "'24C10", "'20G10",
       "'19G30", "'18F40", "'11H30", "'12D10", "'10H10", "'5F40", "'7C50",
       "'21I50", "'8C20", "'8C60", "'1A50", "'20G20", "'17E30", "'16E20",
       "'20G70", "'24C40", "'15E40", "'20G30", "'1A40", "'19G10",
       "'19G50", "'4F10", "'4F20", "'15E30", "'1A20", "'8C10", "'11H10",
       "'9C20", "'6B60", "'3B10", "'20G40", "'2A20", "'10H20", "'12D60",
       "'9C40", "'UNK", "'8C40", "'2A40", "'19G20", "'6B10", "'10H50",
       "'18F60", "'16E40", "'10H40", "'6B40", "'7C30", "'6B30", "'5F30",
       "'8C50", "'1A10", "'10H30", "'21I10", "'13D40", "'19G40", "'2A60",
       "'5F20", "'17E20", "'17E10", "'10H60", "'24C30", "'11H50", "'7C40",
       "'14D20", "'12D50", "'12D20", "'3B50", "'18F50", "'13D20", "'7C20",
       "'7C10", "'24C50", "'15E10", "'15E20", "'9C10", "'12D30", "'10H70",
       "'3B30", "'16E10", "'17E40", "'6B50", "'9C30", "'10H80", "'20G50",
       "'18F10", "'14D40", "'11H20", "'14D30", "'16E30", "'2A10",
       "'20G60", "'5F10", "'20G80", "'12D40", "'12D70", "'11H40",
       "'24C20", "'14D50", "'4F30", "'23J50", '3B20', '10H10 ', '10H20 ',
       '10H30 ', '10H40 ', '10H50 ', '10H60 ', '10H70 ', '10H80 ',
       '11H10 ', '11H20 ', '11H30 ', '11H40 ', '11H50 ', '12D10 ',
       '12D20 ', '12D30 ', '12D40 ', '12D50 ', '12D60 ', '12D70 ',
       '13D10 ', '13D20 ', '13D30 ', '13D40 ', '14D10 ', '14D20 ',
       '14D30 ', '14D40 ', '14D50 ', '15E10 ', '15E20 ', '15E30 ',
       '15E40 ', '16E10 ', '16E20 ', '16E30 ', '16E40 ', '17E10 ',
       '17E20 ', '17E30 ', '17E40 ', '18F10 ', '18F20 ', '18F30 ',
       '18F40 ', '18F50 ', '18F60 ', '19G10 ', '19G20 ', '19G30 ',
       '19G40 ', '19G50 ', '1A10  ', '1A20  ', '1A30  ', '1A40  ',
       '1A50  ', '20G10 ', '20G20 ', '20G30 ', '20G40 ', '20G50 ',
       '20G60 ', '20G70 ', '20G80 ', '21I10 ', '21I20 ', '21I40 ',
       '21I50 ', '21I60 ', '21I70 ', '23J50 ', '24C10 ', '24C20 ',
       '24C30 ', '24C40 ', '24C50 ', '24C60 ', '2A10  ', '2A20  ',
       '2A30  ', '2A40  ', '2A50  ', '2A60  ', '3B10  ', '3B30  ',
       '3B40  ', '3B50  ', '4F10  ', '4F20  ', '4F30  ', '5F10  ',
       '5F20  ', '5F30  ', '5F40  ', '6B10  ', '6B20  ', '6B30  ',
       '6B40  ', '6B50  ', '6B60  ', '7C10  ', '7C20  ', '7C30  ',
       '7C40  ', '7C50  ', '8C10  ', '8C20  ', '8C30  ', '8C40  ',
       '8C50  ', '8C60  ', '9C10  ', '9C20  ', '9C30  ', '9C40  ',
       'UNK   '], dtype=object)

In [68]:
len(df1017.Beat.unique())

356

In [69]:
df1017['Beat'] = df1017['Beat'].str.strip()

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
len(df1017.Beat.unique())

239

In [71]:
df1017[df1017.Beat.isnull()].head()

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour
463027,2014-07-19 00:00:00,NaN,2100-2199,VINTAGE,Theft,NaN,NaN,11
463028,2014-07-13 00:00:00,NaN,500-599,W.38TH,Theft,NaN,NaN,8
463029,2014-07-26 00:00:00,NaN,6100-6199,ATTWATER,Rape,NaN,NaN,15
463030,2014-07-13 00:00:00,NaN,7800-7899,FM 1960,Theft,NaN,NaN,15
463031,2014-07-14 00:00:00,NaN,6600-6699,MERRY,Theft,NaN,NaN,9

In [72]:
df1017.Beat.value_counts(dropna=False).head()

19G10    21440
12D10    21252
1A20     20961
6B60     20083
13D20    19181
Name: Beat, dtype: int64

In [73]:
df1017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006331 entries, 0 to 1006330
Data columns (total 8 columns):
Date            1006326 non-null object
Beat            1006314 non-null object
BlockRange      1006173 non-null object
StreetName      1006231 non-null object
Offense Type    1006316 non-null object
Premise         972734 non-null object
# offenses      996011 non-null float64
Hour            1006330 non-null object
dtypes: float64(1), object(7)
memory usage: 61.4+ MB

## Cleanup

### time column

In [74]:
df1017.Hour.unique()

array([0, 20, 22, 1, 23, 12, 8, 16, 17, 14, 2, 19, 6, 7, 5, 18, 9, 4, 11,
       13, 21, 10, 3, 15, 24, '07', '05', '22', '15', '10', '19', '09',
       '08', '14', "'15", '02', '12', "'07", '16', "'19", "'18", '21',
       '17', '11', '13', '18', '06', "'00", "'05", "'13", "'14", "'22",
       "'23", '04', '03', '23', '20', '00', "'20", "'16", '01', "'17",
       "'06", "'03", "'01", "'09", "'02", "'10", "'11", "'12", "'21",
       "'08", "'04", nan], dtype=object)

In [76]:
df1017.Hour.value_counts(dropna=False).head()  #

18    57008
12    56922
17    55531
15    54937
16    53489
Name: Hour, dtype: int64

## Cleanup

### Date column
- convert to datetime
- index date colimn
- sort index

In [77]:
df1017.head(5)

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour
0,2010-04-17 00:00:00,13D20,6600-6699,HEFFERNAN,Murder,05W,1.0,0
1,2010-04-08 00:00:00,11H40,10100-10199,LUCORE,Murder,20R,1.0,20
2,2010-04-01 00:00:00,19G20,11400-11499,CARVEL,Murder,13R,2.0,22
3,2010-04-17 00:00:00,10H60,3700-3799,WHEELER,Murder,13R,1.0,1
4,2010-04-08 00:00:00,14D30,5100-5199,MYRTLEWOOD,Murder,20R,1.0,23

In [78]:
df1017['Date'] = pd.to_datetime(df1017['Date'])

df1017 = df1017.set_index('Date').sort_index(ascending=True)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [80]:
df1017.head(5)

,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour
Date,,,,,,,
1914-09-08,24C60,12700-12799,LAKE HOUSTON,Burglary,Restaurant or Cafeteria,1.0,7
1914-11-02,18F60,8800-8899,BELLAIRE,Burglary,Miscellaneous Business (Non-Specific),1.0,3
1914-12-03,12D20,12800-12899,GULF,Auto Theft,NaN,1.0,19
1915-01-05,3B10,3200-3299,MANGUM RD 180,Theft,Other Parking Lot,1.0,22
1915-01-14,5F10,7000-7099,WESTVIEW,Auto Theft,Apartment Parking Lot,1.0,23

In [81]:
df1017.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1006331 entries, 1914-09-08 to NaT
Data columns (total 7 columns):
Beat            1006314 non-null object
BlockRange      1006173 non-null object
StreetName      1006231 non-null object
Offense Type    1006316 non-null object
Premise         972734 non-null object
# offenses      996011 non-null float64
Hour            1006330 non-null object
dtypes: float64(1), object(6)
memory usage: 61.4+ MB

## Odd dates
`DatetimeIndex: 1006331 entries, 1914-09-08 to NaT`
- some values are not from this year, lets look

In [87]:
ddf = df1017.loc['2010-01-01':'2017-12-31']  # rows with date from 01,01,10 - 12,31,17
ddf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1003745 entries, 2010-01-01 to 2017-12-31
Data columns (total 7 columns):
Beat            1003729 non-null object
BlockRange      1003589 non-null object
StreetName      1003646 non-null object
Offense Type    1003731 non-null object
Premise         970213 non-null object
# offenses      993435 non-null float64
Hour            1003745 non-null object
dtypes: float64(1), object(6)
memory usage: 61.3+ MB

In [84]:
dfwrong_date = df1017[:"2009"]  # rows with year 0  upto 2012
dfwrong_date.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2575 entries, 1914-09-08 to 2009-12-31
Data columns (total 7 columns):
Beat            2575 non-null object
BlockRange      2574 non-null object
StreetName      2575 non-null object
Offense Type    2575 non-null object
Premise         2515 non-null object
# offenses      2568 non-null float64
Hour            2575 non-null object
dtypes: float64(1), object(6)
memory usage: 160.9+ KB

In [88]:
ddf.head()

,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour
Date,,,,,,,
2010-01-01,14D50,5900-5999,SELINSKY,Theft,18A,1.0,20
2010-01-01,9C20,900-999,HOFFMAN,Robbery,20R,1.0,2
2010-01-01,9C20,6500-6599,TEXARKANA,Theft,20R,1.0,12
2010-01-01,20G30,12500-12599,RICHMOND,Theft,09D,1.0,7
2010-01-01,6B30,7200-7299,JADEWOOD,Rape,20R,1.0,11

# NAN values

- Beat: 16
- BlockRange: 156
- StreetName: 99
- Offense Type: 14
- #offenses : 10310
- Premise: 33532
- Hour: 0

In [90]:
beat_nan = ddf.Beat.isnull()
block_nan = ddf.BlockRange.isnull()
str_nan = ddf.StreetName.isnull()
off_nan = ddf['Offense Type'].isnull()
premise_nan = ddf.Premise.isnull()  #
offnum_nan = ddf['# offenses'].isnull()  #
hour_nan = ddf.Hour.isnull()  #

In [93]:
len(ddf[beat_nan])

16

In [94]:
len(ddf[block_nan])

156

In [95]:
len(ddf[str_nan])

99

In [96]:
len(ddf[off_nan])

14

In [97]:
len(ddf[offnum_nan])

10310

In [98]:
len(ddf[premise_nan])

33532

In [99]:
len(ddf[hour_nan])

0

In [100]:
ddf.head()

,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour
Date,,,,,,,
2010-01-01,14D50,5900-5999,SELINSKY,Theft,18A,1.0,20
2010-01-01,9C20,900-999,HOFFMAN,Robbery,20R,1.0,2
2010-01-01,9C20,6500-6599,TEXARKANA,Theft,20R,1.0,12
2010-01-01,20G30,12500-12599,RICHMOND,Theft,09D,1.0,7
2010-01-01,6B30,7200-7299,JADEWOOD,Rape,20R,1.0,11

In [101]:
ddf.Beat.unique()

array(['14D50', '9C20', '20G30', '6B30', '20G10', '17E10', '1A10',
       '16E40', '6B40', '7C30', '10H10', '7C10', '17E30', '2A30', '11H10',
       '2A10', '3B50', '8C60', '18F50', '20G50', '11H30', '5F40', '5F30',
       '8C10', '4F30', '19G10', '20G80', '6B50', '7C40', '10H30', '13D10',
       '7C20', '6B20', '12D70', '6B10', '21I30', '4F10', '5F10', '24C10',
       '16E20', '14D30', '20G40', '3B40', '21I20', '19G50', '17E40',
       '15E30', '12D20', '19G40', '4F20', '18F40', '16E10', '12D10',
       '9C40', '17E20', '14D20', '18F20', '15E10', '16E30', '15E40',
       '3B10', '10H40', '18F60', '8C30', '13D20', '11H20', '24C40',
       '6B60', '1A30', '20G20', '8C20', '5F20', '10H50', '10H60', '19G20',
       '12D30', '2A50', '14D10', '18F30', '8C50', '14D40', '2A60', '3B30',
       '8C40', '10H70', '2A20', '20G60', '13D40', '9C10', '2A40', '18F10',
       '13D30', '1A50', '1A20', '7C50', '11H40', '20G70', '12D50',
       '24C20', '21I50', '9C30', '15E20', '12D60', '12D40', '24C30',
       'UNK', '19G30', '11H50', '21I10', '10H80', '1A40', '24C50',
       '21I40', '10H20', '23J50', '21I60', '21I70', '23J40', '23J10',
       '7C60', '23J30', "'12D10", '23J20', '24C60', "'18F50", "'15E20",
       "'20G30", "'20G50", nan, "'16E20", "'10H80", "'6B60", "'18F20",
       "'24C10", "'6B20", "'2A50", "'10H30", "'10H70", "'10H60", "'13D10",
       "'18F60", "'5F20", "'2A30", "'6B40", "'12D60", "'1A50", "'14D30",
       "'19G40", "'13D40", "'18F40", "'20G80", "'15E30", "'17E10",
       "'10H40", "'10H50", "'1A30", "'11H50", "'11H30", "'6B30", "'8C30",
       "'18F30", "'3B10", "'20G40", "'17E30", "'20G10", "'21I50", "'5F40",
       "'9C20", "'16E10", "'11H10", "'19G30", "'9C40", "'12D70", "'18F10",
       "'6B50", "'14D40", "'7C30", "'3B30", "'19G50", "'5F30", "'20G20",
       "'1A10", "'13D20", "'15E40", "'7C40", "'2A40", "'12D30", "'12D20",
       "'4F30", "'21I10", "'3B40", "'7C50", "'1A20", "'14D20", "'2A20",
       "'20G60", "'14D50", "'17E20", "'10H20", "'20G70", "'17E40",
       "'3B50", "'7C20", "'19G10", "'24C30", "'1A40", "'9C30", "'2A60",
       "'8C10", "'9C10", "'14D10", "'10H10", "'15E10", "'6B10", "'5F10",
       "'8C60", "'2A10", "'4F10", "'12D40", "'8C20", "'19G20", "'7C10",
       "'4F20", "'11H40", "'11H20", "'24C20", "'UNK", "'12D50", "'24C40",
       "'23J50", "'16E40", "'8C40", "'16E30", "'24C50", "'8C50", 'HCSO',
       'OOJ', 'UH-3P', '3B20'], dtype=object)

In [102]:
ddf[beat_nan]

,Beat,BlockRange,StreetName,Offense Type,Premise,# offenses,Hour
Date,,,,,,,
2013-06-11,NaN,2200-2299,W. DALLAS,Burglary,NaN,1.0,22
2013-12-01,NaN,700-799,W. DONOVAN,Theft,NaN,1.0,11
2014-06-05,NaN,2600-2699,LP W 405,Theft,NaN,1.0,13
2014-06-11,NaN,400-499,MAIN,Theft,NaN,1.0,14
2014-06-13,NaN,5400-5499,WEST LOOP S SER,Theft,NaN,1.0,14
2014-06-25,NaN,2100-2199,MAIN,Theft,NaN,1.0,14
2014-07-03,NaN,8400-8499,S. GESSNER,Theft,NaN,NaN,2
2014-07-10,NaN,800-899,GESSNER SUITE 970,Theft,NaN,NaN,20
2014-07-13,NaN,7800-7899,FM 1960,Theft,NaN,NaN,15
2014-07-13,NaN,500-599,W.38TH,Theft,NaN,NaN,8
2014-07-14,NaN,6600-6699,MERRY,Theft,NaN,NaN,9
2014-07-16,NaN,NaN,PEASE,Theft,NaN,NaN,13
2014-07-19,NaN,2100-2199,VINTAGE,Theft,NaN,NaN,11
2014-07-22,NaN,NaN,WALKER,Theft,NaN,NaN,20
2014-07-26,NaN,6100-6199,ATTWATER,Rape,NaN,NaN,14
2014-07-26,NaN,6100-6199,ATTWATER,Rape,NaN,NaN,15