In [1]:
import pandas as pd
import glob, os
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
path = 'crime_data_clean/crime_final_clean10_17.csv'

In [5]:
df = pd.read_csv(path,index_col='Date_Hour', parse_dates=True)

In [6]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01,10H10,500-599,EASTWOOD,Burglary,misc. business (non-specific),1,0,1,Friday,Jan,2010
2010-01-01,4F20,4800-4899,LAURELDALE,Aggravated Assault,residence/house,1,0,1,Friday,Jan,2010
2010-01-01,1A10,300-399,HAMILTON,Auto Theft,bar/night club parking lot,1,0,1,Friday,Jan,2010
2010-01-01,24C40,24000-24099,LAKE HOUSTON,Auto Theft,road/street/sidewalk,1,0,1,Friday,Jan,2010
2010-01-01,24C10,21700-21799,LAKEPOINT,Theft,residence/house,1,0,1,Friday,Jan,2010

## Find similar words in Premise Col

In [10]:
len(df.Premise.value_counts())

203

In [11]:
len(df.Premise.value_counts())

203

In [8]:
len(df.Premise.str.split(expand=True).stack().value_counts())

342

In [9]:
df.Premise.str.split(expand=True).stack().value_counts()

parking                  290640
lot                      276799
apartment                226336
residence/house          129165
store                     93397
road/street/sidewalk      81687
or                        72345
driveway                  52623
other                     45776
restaurant/cafeteria      41529
department/discount       38116
business                  34769
no                        33529
label                     33529
commercial                32250
(non-specific)            23267
club                      21632
convenience               21402
grocery/supermarket       19786
center                    19022
station                   18743
strip                     18586
other/unknown             16449
building                  15136
lot/garage                13841
garage                    13489
grocery                   13396
supermarket               13396
bar/night                 11700
miscellaneous             10681
                          ...
jail                         34
metro)                       34
prison                       34
(not                         34
package                      25
(fedex,ups,dhl)              25
blding                       24
manufacturing                24
school/college               23
marine                       19
novelty                      15
parlor                       12
illicit                      12
massage                      12
veh.                         11
sales,boats,sailboats        11
sales,                        8
boats,                        8
sailboats                     8
theater/arcade                5
23c                           5
contra-flow/hov               5
cantina                       4
modeling                      2
studio                        2
managed,                      1
res                           1
contra-flow,                  1
hov                           1
lanes                         1
Length: 342, dtype: int64