In [46]:
import pandas as pd
import numpy as np
import requests
import googlemaps
API_KEY = 'AIzaSyAjfYfB64npEu7-4ledi1GGMbXTnI6XeOg'
gmaps_dev = googlemaps.Client(key=API_KEY)

In [2]:
df = pd.read_csv('crime_final_clean10_17.csv')

In [3]:
df.head()

,Date,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
0,1914-09-08,24C60,12700-12799,LAKE HOUSTON,Burglary,Restaurant or Cafeteria,1.0,7.0,8,Tuesday,Sep,1914
1,1914-11-02,18F60,8800-8899,BELLAIRE,Burglary,Miscellaneous Business (Non-Specific),1.0,3.0,2,Monday,Nov,1914
2,1914-12-03,12D20,12800-12899,GULF,Auto Theft,No label,1.0,19.0,3,Thursday,Dec,1914
3,1915-01-05,3B10,3200-3299,MANGUM RD 180,Theft,Other Parking Lot,1.0,NaN,5,Tuesday,Jan,1915
4,1915-01-14,5F10,7000-7099,WESTVIEW,Auto Theft,Apartment Parking Lot,1.0,NaN,14,Thursday,Jan,1915

In [4]:
selected_beats = ['3B10','1A10','10H30','10H50','10H60','10H80','15E40' ]

In [5]:
stadium_beats = df[df['Beat'].isin(selected_beats)]

In [6]:
stadium_beats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77808 entries, 3 to 1006323
Data columns (total 12 columns):
Date           77808 non-null object
Beat           77808 non-null object
BlockRange     77685 non-null object
StreetName     77808 non-null object
OffenseType    77808 non-null object
Premise        77808 non-null object
NumOffenses    77808 non-null float64
Hour           4978 non-null float64
day            77808 non-null int64
weekday        77808 non-null object
month          77808 non-null object
year           77808 non-null int64
dtypes: float64(2), int64(2), object(8)
memory usage: 7.7+ MB

In [7]:
stadium_beats = stadium_beats[stadium_beats.BlockRange.notnull()]

In [8]:
stadium_beats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77685 entries, 3 to 1006323
Data columns (total 12 columns):
Date           77685 non-null object
Beat           77685 non-null object
BlockRange     77685 non-null object
StreetName     77685 non-null object
OffenseType    77685 non-null object
Premise        77685 non-null object
NumOffenses    77685 non-null float64
Hour           4875 non-null float64
day            77685 non-null int64
weekday        77685 non-null object
month          77685 non-null object
year           77685 non-null int64
dtypes: float64(2), int64(2), object(8)
memory usage: 7.7+ MB

In [20]:
def get_geocode(address,API_KEY):
    loc = '{}, Houston, TX'.format(address)
    gmaps = googlemaps.Client(key=API_KEY)
    r = gmaps.geocode(loc)
    lat_lng = tuple(r[0]['geometry']['location'].values())
    full_add = r[0]['formatted_address']
    return lat_lng[0],lat_lng[1], full_add

----

### create temporary address column

In [21]:
stadium_beats['tem_add'] = stadium_beats[['BlockRange', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)

In [22]:
stadium_beats

,Date,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,tem_add
3,1915-01-05,3B10,3200-3299,MANGUM RD 180,Theft,Other Parking Lot,1.0,NaN,5,Tuesday,Jan,1915,3200-3299 MANGUM RD 180
40,1966-01-01,10H50,3300-3399,ALABAMA,Rape,APARTMENT,1.0,NaN,1,Saturday,Jan,1966,3300-3399 ALABAMA
47,1971-02-03,1A10,1200-1299,TRAVIS,Theft,Residence or House,1.0,6.0,3,Wednesday,Feb,1971,1200-1299 TRAVIS
65,1977-10-14,10H50,3200-3299,TRUXILLO,Theft,APARTMENT PARKING LOT,1.0,NaN,14,Friday,Oct,1977,3200-3299 TRUXILLO
76,1980-01-17,3B10,4900-4999,DACOMA,Theft,Apartment Parking Lot,1.0,NaN,17,Thursday,Jan,1980,4900-4999 DACOMA
87,1983-07-01,3B10,5000-5099,LIDO,Auto Theft,DRIVEWAY,1.0,NaN,1,Friday,Jul,1983,5000-5099 LIDO
88,1983-07-01,3B10,5000-5099,LIDO,Auto Theft,DRIVEWAY,1.0,NaN,1,Friday,Jul,1983,5000-5099 LIDO
93,1985-08-22,1A10,300-399,CAROLINE,Theft,Commercial Building,1.0,NaN,22,Thursday,Aug,1985,300-399 CAROLINE
111,1990-09-10,10H60,3700-3799,WHEELER,Theft,RESIDENCE/HOUSE,1.0,NaN,10,Monday,Sep,1990,3700-3799 WHEELER
120,1992-09-21,10H80,2100-2199,BISSONNET,Theft,RESIDENCE/HOUSE,1.0,NaN,21,Monday,Sep,1992,2100-2199 BISSONNET
128,1993-06-01,10H80,2500-2599,BOLSOVER,Rape,RESIDENCE/HOUSE,1.0,NaN,1,Tuesday,Jun,1993,2500-2599 BOLSOVER
142,1996-01-28,10H50,3200-3299,TRUXILLO,Rape,Residence or House,1.0,NaN,28,Sunday,Jan,1996,3200-3299 TRUXILLO
145,1996-09-16,10H50,2500-2599,TUAM,Rape,Residence or House,1.0,NaN,16,Monday,Sep,1996,2500-2599 TUAM
177,2000-02-12,10H80,2400-2499,TIMES,Theft,---,1.0,14.0,12,Saturday,Feb,2000,2400-2499 TIMES
197,2000-07-24,15E40,9400-9499,MAIN,Burglary,SPECIALTY STORE (NON-SPECIFIC),1.0,NaN,24,Monday,Jul,2000,9400-9499 MAIN
212,2000-10-09,10H60,3800-3899,SOUTHMORE,Theft,ROAD/STREET/SIDEWALK,1.0,NaN,9,Monday,Oct,2000,3800-3899 SOUTHMORE
240,2001-02-12,3B10,5300-5399,DEEP FOREST,Aggravated Assault,Apartment Rental Office,1.0,12.0,12,Monday,Feb,2001,5300-5399 DEEP FOREST
241,2001-02-12,3B10,5300-5399,DEEP FOREST,Murder,Apartment Rental Office,1.0,12.0,12,Monday,Feb,2001,5300-5399 DEEP FOREST
268,2001-04-23,10H60,2600-2699,CALUMET,Theft,APARTMENT PARKING LOT,1.0,NaN,23,Monday,Apr,2001,2600-2699 CALUMET
270,2001-04-26,3B10,4200-4299,LOCKFIELD,Aggravated Assault,APARTMENT,1.0,NaN,26,Thursday,Apr,2001,4200-4299 LOCKFIELD
301,2001-07-11,3B10,9800-9899,HEMPSTEAD,Theft,BAR/NIGHT CLUB,1.0,NaN,11,Wednesday,Jul,2001,9800-9899 HEMPSTEAD
312,2001-08-01,10H50,3000-3099,CLEBURNE,Theft,No label,1.0,19.0,1,Wednesday,Aug,2001,3000-3099 CLEBURNE
334,2001-10-01,15E40,2800-2899,BARTELL,Burglary,CONDOMINIUM,1.0,NaN,1,Monday,Oct,2001,2800-2899 BARTELL
335,2001-10-02,10H60,2700-2799,PALM,Robbery,Driveway,1.0,NaN,2,Tuesday,Oct,2001,2700-2799 PALM
341,2001-10-27,3B10,9900-9999,NORTHWEST,Robbery,ROAD/STREET/SIDEWALK,1.0,NaN,27,Saturday,Oct,2001,9900-9999 NORTHWEST
352,2001-11-21,10H50,2300-2399,HADLEY,Theft,CONSTRUCTION SITE,1.0,NaN,21,Wednesday,Nov,2001,2300-2399 HADLEY
358,2001-12-13,10H80,2400-2499,SOUTH,Theft,OTHER PARKING LOT,1.0,NaN,13,Thursday,Dec,2001,2400-2499 SOUTH
368,2001-12-30,10H30,2000-2099,TEXAS,Aggravated Assault,APARTMENT,2.0,NaN,30,Sunday,Dec,2001,2000-2099 TEXAS
369,2002-01-01,10H60,3400-3499,PARKWOOD,Rape,RESIDENCE/HOUSE,1.0,NaN,1,Tuesday,Jan,2002,3400-3499 PARKWOOD
391,2002-08-17,1A10,6200-6299,HERMANN PARK,Theft,No label,1.0,11.0,17,Saturday,Aug,2002,6200-6299 HERMANN PARK
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006035,2017-12-30,15E40,2100-2199,HEPBURN,Theft,Apartment,1.0,NaN,30,Saturday,Dec,2017,2100-2199 HEPBURN
1006037,2017-12-30,15E40,2700-2799,JEANETTA,Robbery,Apartment Parking Lot,1.0,NaN,30,Saturday,Dec,2017,2700-2799 JEANETTA
1006038,2017-12-30,15E40,13500-13599,AMBER LODGE LANE,Robbery,Apartment Parking Lot,1.0,NaN,30,Saturday,Dec,2017,13500-13599 AMBER LODGE LANE
1006047,2017-12-30,15E40,8400-8499,HEARTH DR,Theft,Apartment Parking Lot,1.0,NaN,30,Saturday,Dec,2017,8400-8499 HEARTH DR
1006052,2017-12-30,3B10,3200-3299,MANGUM,Robbery,"Hotel, Motel, Inn, Etc.",1.0,NaN,30,Saturday,Dec,2017,3200-3299 MANGUM
1006053,2017-12-30,1A10,6700-6799,MOBILE HOME,Theft,Commercial Parking Lot or Garage,1.0,NaN,30,Saturday,Dec,2017,6700-6799 MOBILE HOME
1006071,2017-12-30,3B10,2000-2099,PASKET,Burglary,Warehouse,1.0,NaN,30,Saturday,Dec,2017,2000-2099 PASKET
1006073,2017-12-30,3B10,6600-6699,VALERIAN,Theft,Restaurant or Cafeteria Parking Lot,1.0,NaN,30,Saturday,Dec,2017,6600-6699 VALERIAN
1006076,2017-12-30,3B10,2200-2299,MANGUM,Burglary,Bank or Savings Institution Parking Lot,1.0,NaN,30,Saturday,Dec,2017,2200-2299 MANGUM
1006080,2017-12-30,1A10,1800-1899,ST JOSEPH PKWY,Theft,Apartment,1.0,NaN,30,Saturday,Dec,2017,1800-1899 ST JOSEPH PKWY
1006083,2017-12-30,3B10,4200-4299,LOCKFIELD ST,Theft,Apartment Parking Lot,1.0,NaN,30,Saturday,Dec,2017,4200-4299 LOCKFIELD ST
1006125,2017-12-31,10H80,2100-2199,HOLCOMBE BLVD,Theft,"Gym, Recreat, Club House, Indoor Pool",1.0,NaN,31,Sunday,Dec,2017,2100-2199 HOLCOMBE BLVD
1006126,2017-12-31,10H80,1100-1199,AUTREY ST,Theft,Apartment,1.0,NaN,31,Sunday,Dec,2017,1100-1199 AUTREY ST
1006127,2017-12-31,10H80,6700-6799,MAIN ST,Theft,Hotel or Motel Parking Lot,1.0,NaN,31,Sunday,Dec,2017,6700-6799 MAIN ST
1006128,2017-12-31,10H80,1800-1899,NORTH BLVD,Theft,Residence or House,1.0,NaN,31,Sunday,Dec,2017,1800-1899 NORTH BLVD
1006180,2017-12-31,15E40,4400-4499,JUNE,Robbery,"Toys, Arts Craft,Musical, Bike,Pet Stores",1.0,NaN,31,Sunday,Dec,2017,4400-4499 JUNE
1006181,2017-12-31,15E40,8000-8099,BOSPHORUS,Theft,Other Parking Lot,1.0,NaN,31,Sunday,Dec,2017,8000-8099 BOSPHORUS
1006182,2017-12-31,15E40,8200-8299,CAMBRIDGE ST,Theft,Apartment Parking Lot,1.0,NaN,31,Sunday,Dec,2017,8200-8299 CAMBRIDGE ST
1006184,2017-12-31,15E40,1300-1399,LA CONCHA LN,Theft,Hotel or Motel Parking Lot,1.0,NaN,31,Sunday,Dec,2017,1300-1399 LA CONCHA LN
1006198,2017-12-31,3B10,900-999,FRANKLIN,Aggravated Assault,"Hotel, Motel, Inn, Etc.",1.0,NaN,31,Sunday,Dec,2017,900-999 FRANKLIN
1006199,2017-12-31,3B10,5300-5399,ANTOINE,Theft,Miscellaneous Business (Non-Specific),1.0,NaN,31,Sunday,Dec,2017,5300-5399 ANTOINE
1006200,2017-12-31,3B10,5500-5599,W 34TH ST,Theft,"Hotel, Motel, Inn, Etc.",1.0,NaN,31,Sunday,Dec,2017,5500-5599 W 34TH ST
1006206,2017-12-31,10H60,2400-2499,WENTWORTH ST,Theft,Bar or Night Club Parking Lot,1.0,NaN,31,Sunday,Dec,2017,2400-2499 WENTWORTH ST
1006209,2017-12-31,1A10,14900-14999,MONRAD,Theft,Commercial Parking Lot or Garage,1.0,NaN,31,Sunday,Dec,2017,14900-14999 MONRAD
1006211,2017-12-31,1A10,700-799,WALNUT ST,Auto Theft,"Road, Street, or Sidewalk",1.0,NaN,31,Sunday,Dec,2017,700-799 WALNUT ST
1006218,2017-12-31,1A10,1500-1599,DALLAS ST,Aggravated Assault,"Hotel, Motel, Inn, Etc.",1.0,NaN,31,Sunday,Dec,2017,1500-1599 DALLAS ST
1006221,2017-12-31,1A10,900-999,PIERCE ST,Robbery,Bus Stop,1.0,NaN,31,Sunday,Dec,2017,900-999 PIERCE ST
1006246,2017-12-31,10H30,3600-3699,DENNIS STREET,Theft,Service or Gas Station,1.0,NaN,31,Sunday,Dec,2017,3600-3699 DENNIS STREET
1006250,2017-12-31,10H30,6900-6999,OAK VILLAGE,Theft,"Road, Street, or Sidewalk",1.0,NaN,31,Sunday,Dec,2017,6900-6999 OAK VILLAGE
1006323,2021-01-03,15E40,2100-2199,EL PASEO,Theft,APARTMENT,1.0,NaN,3,Sunday,Jan,2021,2100-2199 EL PASEO

### split 10 rows to test function

In [23]:
df10 = stadium_beats[:10]
df10

,Date,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,tem_add
3,1915-01-05,3B10,3200-3299,MANGUM RD 180,Theft,Other Parking Lot,1.0,NaN,5,Tuesday,Jan,1915,3200-3299 MANGUM RD 180
40,1966-01-01,10H50,3300-3399,ALABAMA,Rape,APARTMENT,1.0,NaN,1,Saturday,Jan,1966,3300-3399 ALABAMA
47,1971-02-03,1A10,1200-1299,TRAVIS,Theft,Residence or House,1.0,6.0,3,Wednesday,Feb,1971,1200-1299 TRAVIS
65,1977-10-14,10H50,3200-3299,TRUXILLO,Theft,APARTMENT PARKING LOT,1.0,NaN,14,Friday,Oct,1977,3200-3299 TRUXILLO
76,1980-01-17,3B10,4900-4999,DACOMA,Theft,Apartment Parking Lot,1.0,NaN,17,Thursday,Jan,1980,4900-4999 DACOMA
87,1983-07-01,3B10,5000-5099,LIDO,Auto Theft,DRIVEWAY,1.0,NaN,1,Friday,Jul,1983,5000-5099 LIDO
88,1983-07-01,3B10,5000-5099,LIDO,Auto Theft,DRIVEWAY,1.0,NaN,1,Friday,Jul,1983,5000-5099 LIDO
93,1985-08-22,1A10,300-399,CAROLINE,Theft,Commercial Building,1.0,NaN,22,Thursday,Aug,1985,300-399 CAROLINE
111,1990-09-10,10H60,3700-3799,WHEELER,Theft,RESIDENCE/HOUSE,1.0,NaN,10,Monday,Sep,1990,3700-3799 WHEELER
120,1992-09-21,10H80,2100-2199,BISSONNET,Theft,RESIDENCE/HOUSE,1.0,NaN,21,Monday,Sep,1992,2100-2199 BISSONNET

In [28]:
df10['result'] = df10['tem_add'].apply(get_geocode,args=(API_KEY,))

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
df10

,Date,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,tem_add,result
3,1915-01-05,3B10,3200-3299,MANGUM RD 180,Theft,Other Parking Lot,1.0,NaN,5,Tuesday,Jan,1915,3200-3299 MANGUM RD 180,"(29.8184729, -95.45893029999999, 3200 Mangum R..."
40,1966-01-01,10H50,3300-3399,ALABAMA,Rape,APARTMENT,1.0,NaN,1,Saturday,Jan,1966,3300-3399 ALABAMA,"(29.723995, -95.35794200000001, 3300 Alabama S..."
47,1971-02-03,1A10,1200-1299,TRAVIS,Theft,Residence or House,1.0,6.0,3,Wednesday,Feb,1971,1200-1299 TRAVIS,"(29.7558447, -95.36744929999999, 1200 Travis S..."
65,1977-10-14,10H50,3200-3299,TRUXILLO,Theft,APARTMENT PARKING LOT,1.0,NaN,14,Friday,Oct,1977,3200-3299 TRUXILLO,"(29.7257469, -95.3612847, 3200 Truxillo St, Ho..."
76,1980-01-17,3B10,4900-4999,DACOMA,Theft,Apartment Parking Lot,1.0,NaN,17,Thursday,Jan,1980,4900-4999 DACOMA,"(29.8072426, -95.4638155, 4900 Dacoma St, Hous..."
87,1983-07-01,3B10,5000-5099,LIDO,Auto Theft,DRIVEWAY,1.0,NaN,1,Friday,Jul,1983,5000-5099 LIDO,"(29.833757, -95.4638215, 5000 Lido Ln, Houston..."
88,1983-07-01,3B10,5000-5099,LIDO,Auto Theft,DRIVEWAY,1.0,NaN,1,Friday,Jul,1983,5000-5099 LIDO,"(29.833757, -95.4638215, 5000 Lido Ln, Houston..."
93,1985-08-22,1A10,300-399,CAROLINE,Theft,Commercial Building,1.0,NaN,22,Thursday,Aug,1985,300-399 CAROLINE,"(29.7606779, -95.3581432, 300 Caroline St, Hou..."
111,1990-09-10,10H60,3700-3799,WHEELER,Theft,RESIDENCE/HOUSE,1.0,NaN,10,Monday,Sep,1990,3700-3799 WHEELER,"(29.7198056, -95.3539382, 3700 Wheeler Ave, Ho..."
120,1992-09-21,10H80,2100-2199,BISSONNET,Theft,RESIDENCE/HOUSE,1.0,NaN,21,Monday,Sep,1992,2100-2199 BISSONNET,"(29.7258316, -95.40917050000002, 2100 Bissonne..."

In [30]:
df10[['lat', 'long','full_address']] = df10['result'].apply(pd.Series)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/pandas/core/frame.py:2540: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [31]:
df10

,Date,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,tem_add,result,lat,long,full_address
3,1915-01-05,3B10,3200-3299,MANGUM RD 180,Theft,Other Parking Lot,1.0,NaN,5,Tuesday,Jan,1915,3200-3299 MANGUM RD 180,"(29.8184729, -95.45893029999999, 3200 Mangum R...",29.818473,-95.458930,"3200 Mangum Rd, Houston, TX 77092, USA"
40,1966-01-01,10H50,3300-3399,ALABAMA,Rape,APARTMENT,1.0,NaN,1,Saturday,Jan,1966,3300-3399 ALABAMA,"(29.723995, -95.35794200000001, 3300 Alabama S...",29.723995,-95.357942,"3300 Alabama St, Houston, TX 77004, USA"
47,1971-02-03,1A10,1200-1299,TRAVIS,Theft,Residence or House,1.0,6.0,3,Wednesday,Feb,1971,1200-1299 TRAVIS,"(29.7558447, -95.36744929999999, 1200 Travis S...",29.755845,-95.367449,"1200 Travis St, Houston, TX 77002, USA"
65,1977-10-14,10H50,3200-3299,TRUXILLO,Theft,APARTMENT PARKING LOT,1.0,NaN,14,Friday,Oct,1977,3200-3299 TRUXILLO,"(29.7257469, -95.3612847, 3200 Truxillo St, Ho...",29.725747,-95.361285,"3200 Truxillo St, Houston, TX 77004, USA"
76,1980-01-17,3B10,4900-4999,DACOMA,Theft,Apartment Parking Lot,1.0,NaN,17,Thursday,Jan,1980,4900-4999 DACOMA,"(29.8072426, -95.4638155, 4900 Dacoma St, Hous...",29.807243,-95.463815,"4900 Dacoma St, Houston, TX 77092, USA"
87,1983-07-01,3B10,5000-5099,LIDO,Auto Theft,DRIVEWAY,1.0,NaN,1,Friday,Jul,1983,5000-5099 LIDO,"(29.833757, -95.4638215, 5000 Lido Ln, Houston...",29.833757,-95.463821,"5000 Lido Ln, Houston, TX 77092, USA"
88,1983-07-01,3B10,5000-5099,LIDO,Auto Theft,DRIVEWAY,1.0,NaN,1,Friday,Jul,1983,5000-5099 LIDO,"(29.833757, -95.4638215, 5000 Lido Ln, Houston...",29.833757,-95.463821,"5000 Lido Ln, Houston, TX 77092, USA"
93,1985-08-22,1A10,300-399,CAROLINE,Theft,Commercial Building,1.0,NaN,22,Thursday,Aug,1985,300-399 CAROLINE,"(29.7606779, -95.3581432, 300 Caroline St, Hou...",29.760678,-95.358143,"300 Caroline St, Houston, TX 77002, USA"
111,1990-09-10,10H60,3700-3799,WHEELER,Theft,RESIDENCE/HOUSE,1.0,NaN,10,Monday,Sep,1990,3700-3799 WHEELER,"(29.7198056, -95.3539382, 3700 Wheeler Ave, Ho...",29.719806,-95.353938,"3700 Wheeler Ave, Houston, TX 77004, USA"
120,1992-09-21,10H80,2100-2199,BISSONNET,Theft,RESIDENCE/HOUSE,1.0,NaN,21,Monday,Sep,1992,2100-2199 BISSONNET,"(29.7258316, -95.40917050000002, 2100 Bissonne...",29.725832,-95.409171,"2100 Bissonnet St, Houston, TX 77005, USA"

### drop unused columns

In [32]:
df10.columns

Index(['Date', 'Beat', 'BlockRange', 'StreetName', 'OffenseType', 'Premise',
       'NumOffenses', 'Hour', 'day', 'weekday', 'month', 'year', 'tem_add',
       'result', 'lat', 'long', 'full_address'],
      dtype='object')

In [35]:
df10=df10.drop(columns=['tem_add','result',])

In [37]:
df10

,Date,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,lat,long,full_address
3,1915-01-05,3B10,3200-3299,MANGUM RD 180,Theft,Other Parking Lot,1.0,NaN,5,Tuesday,Jan,1915,29.818473,-95.458930,"3200 Mangum Rd, Houston, TX 77092, USA"
40,1966-01-01,10H50,3300-3399,ALABAMA,Rape,APARTMENT,1.0,NaN,1,Saturday,Jan,1966,29.723995,-95.357942,"3300 Alabama St, Houston, TX 77004, USA"
47,1971-02-03,1A10,1200-1299,TRAVIS,Theft,Residence or House,1.0,6.0,3,Wednesday,Feb,1971,29.755845,-95.367449,"1200 Travis St, Houston, TX 77002, USA"
65,1977-10-14,10H50,3200-3299,TRUXILLO,Theft,APARTMENT PARKING LOT,1.0,NaN,14,Friday,Oct,1977,29.725747,-95.361285,"3200 Truxillo St, Houston, TX 77004, USA"
76,1980-01-17,3B10,4900-4999,DACOMA,Theft,Apartment Parking Lot,1.0,NaN,17,Thursday,Jan,1980,29.807243,-95.463815,"4900 Dacoma St, Houston, TX 77092, USA"
87,1983-07-01,3B10,5000-5099,LIDO,Auto Theft,DRIVEWAY,1.0,NaN,1,Friday,Jul,1983,29.833757,-95.463821,"5000 Lido Ln, Houston, TX 77092, USA"
88,1983-07-01,3B10,5000-5099,LIDO,Auto Theft,DRIVEWAY,1.0,NaN,1,Friday,Jul,1983,29.833757,-95.463821,"5000 Lido Ln, Houston, TX 77092, USA"
93,1985-08-22,1A10,300-399,CAROLINE,Theft,Commercial Building,1.0,NaN,22,Thursday,Aug,1985,29.760678,-95.358143,"300 Caroline St, Houston, TX 77002, USA"
111,1990-09-10,10H60,3700-3799,WHEELER,Theft,RESIDENCE/HOUSE,1.0,NaN,10,Monday,Sep,1990,29.719806,-95.353938,"3700 Wheeler Ave, Houston, TX 77004, USA"
120,1992-09-21,10H80,2100-2199,BISSONNET,Theft,RESIDENCE/HOUSE,1.0,NaN,21,Monday,Sep,1992,29.725832,-95.409171,"2100 Bissonnet St, Houston, TX 77005, USA"

In [43]:
def get_geocode(loc,key):
    '''input address and api key
    return tuple with lat and long'''
    address = '{}, Houston, TX'.format(loc)
    pa = {'address': address, 'key':key}
    URL = 'https://maps.googleapis.com/maps/api/geocode/json'
    response = requests.get(URL,params=pa)
    try:
        response.raise_for_status()
    except requests.exceptions.HTTPError as e:
        return "Error: " + str(e) # not 200
    js_obj = response.json()
    if js_obj['status'] == 'OK':
        gps = tuple(js_obj['results'][0]['geometry']['location'].values())
        full_add = js_obj['results'][0]['formatted_address']
        return gps[0],gps[1],full_add
    elif js_obj['status'] =='OVER_QUERY_LIMIT':
        return np.nan
    else:
        print(js_obj['status'])
        return js_obj['status']

In [44]:
val = '2100 Bissonnet'

In [45]:
get_geocode(val,API_KEY)

(29.7258316, -95.40917050000002, '2100 Bissonnet St, Houston, TX 77005, USA')