In [1]:
import pandas as pd
import numpy as np

In [2]:
data =  'crime_data_clean/crime_final_clean10_17.csv'

In [3]:
df = pd.read_csv(data)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003727 entries, 0 to 1003726
Data columns (total 12 columns):
Date_Hour      1003727 non-null object
Beat           1003727 non-null object
BlockRange     1003571 non-null object
StreetName     1003725 non-null object
OffenseType    1003727 non-null object
Premise        1003727 non-null object
NumOffenses    1003727 non-null int64
Hour           1003727 non-null int64
day            1003727 non-null int64
weekday        1003727 non-null object
month          1003727 non-null object
year           1003727 non-null int64
dtypes: int64(4), object(8)
memory usage: 91.9+ MB

In [5]:
# date
df.Date = pd.to_datetime(df.Date_Hour)

df = df.set_index('Date_Hour').sort_index(ascending=True)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [6]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01 00:00:00,10H10,500-599,EASTWOOD,Burglary,misc. business (non-specific),1,0,1,Friday,Jan,2010
2010-01-01 00:00:00,4F20,4800-4899,LAURELDALE,Aggravated Assault,residence/house,1,0,1,Friday,Jan,2010
2010-01-01 00:00:00,1A10,300-399,HAMILTON,Auto Theft,bar/night club parking lot,1,0,1,Friday,Jan,2010
2010-01-01 00:00:00,24C40,24000-24099,LAKE HOUSTON,Auto Theft,road/street/sidewalk,1,0,1,Friday,Jan,2010
2010-01-01 00:00:00,24C10,21700-21799,LAKEPOINT,Theft,residence/house,1,0,1,Friday,Jan,2010

## Select Beats
- create list with select police beats where selected stadiums are located
- filter dataframe with those beats

In [7]:
selected_beats = ['10H40','10H60','10H70','10H10' ]

In [8]:
sel_df = df[df['Beat'].isin(selected_beats)]

In [9]:
sel_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33652 entries, 2010-01-01 00:00:00 to 2017-12-31 18:00:00
Data columns (total 11 columns):
Beat           33652 non-null object
BlockRange     33651 non-null object
StreetName     33652 non-null object
OffenseType    33652 non-null object
Premise        33652 non-null object
NumOffenses    33652 non-null int64
Hour           33652 non-null int64
day            33652 non-null int64
weekday        33652 non-null object
month          33652 non-null object
year           33652 non-null int64
dtypes: int64(4), object(7)
memory usage: 3.1+ MB

## Inspect BlockRange

In [10]:
len(sel_df[sel_df.BlockRange.isnull()])

1

In [11]:
sel_df[sel_df.BlockRange.isnull()].head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2014-07-27 07:00:00,10H10,NaN,212.5 LENOX,Burglary,no label,1,7,27,Sunday,Jul,2014

In [12]:
sel_df.Beat.value_counts(dropna=False)

10H70    11423
10H40    10460
10H60     7697
10H10     4072
Name: Beat, dtype: int64

In [13]:
sel_df = sel_df.dropna(subset=['BlockRange'])

In [14]:
len(sel_df[sel_df.BlockRange.isnull()])

0

In [15]:
sel_df.Beat.value_counts(dropna=False)

10H70    11423
10H40    10460
10H60     7697
10H10     4071
Name: Beat, dtype: int64

----

# Save Final Clean Data

In [16]:
sel_df.to_csv('crime_data_clean/beats_alternate_10_17.csv')

In [17]:
sel_df.Beat.unique()

array(['10H10', '10H60', '10H40', '10H70'], dtype=object)

In [18]:
crime_10H40_10_17 = sel_df[sel_df.Beat =='10H40']

crime_10H10_10_17 = sel_df[sel_df.Beat =='10H10']
crime_10H60_10_17 = sel_df[sel_df.Beat =='10H60']
crime_10H70_10_17 = sel_df[sel_df.Beat =='10H70']

# save beat data

In [19]:
crime_10H40_10_17.to_csv('crime_data_clean/crime_10H40_10_17.csv')
crime_10H10_10_17.to_csv('crime_data_clean/crime_10H10_10_17.csv')
crime_10H60_10_17.to_csv('crime_data_clean/crime_10H60_10_17.csv')
crime_10H70_10_17.to_csv('crime_data_clean/crime_10H70_10_17.csv')

In [20]:
ls crime_data_clean/

beats_alternate_10_17.csv*   crime_15E40_10_17ADD.csv*
beats_filter_10_17.csv*      crime_15E40_10_17.csv*
crime_10H10_10_17.csv*       crime_15E40_10_17df_12000.csv*
crime_10H30_10_17ADD.csv*    crime_15E40_10_17df_16281.csv*
crime_10H30_10_17.csv*       crime_15E40_10_17df_4000.csv*
crime_10H30_10_17FINAL.csv*  crime_15E40_10_17df_8000.csv*
crime_10H40_10_17.csv*       crime_15E40_10_17FINAL.csv*
crime_10H50_10_17ADD.csv*    crime_1A10_10_17.csv*
crime_10H50_10_17.csv*       crime_1A10_10_17df_4000.csv*
crime_10H50_10_17FINAL.csv*  crime_1A10_10_17df_8000.csv*
crime_10H60_10_17.csv*       crime_final_clean10_17.csv*
crime_10H70_10_17.csv*       new/
crime_10H80_10_17ADD.csv*    stadium_beats_geocode.csv*
crime_10H80_10_17.csv*       stadiums_final.csv*
crime_10H80_10_17FINAL.csv*  years/