In [1]:
import pandas as pd
import numpy as np

In [4]:
data =  'crime_data_clean/crime_final_clean10_17.csv'

In [5]:
df = pd.read_csv(data)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006326 entries, 0 to 1006325
Data columns (total 12 columns):
Date           1006326 non-null object
Beat           1006326 non-null object
BlockRange     1006169 non-null object
StreetName     1006300 non-null object
OffenseType    1006326 non-null object
Premise        1006326 non-null object
NumOffenses    1006326 non-null float64
Hour           1006326 non-null float64
day            1006326 non-null int64
weekday        1006326 non-null object
month          1006326 non-null object
year           1006326 non-null int64
dtypes: float64(2), int64(2), object(8)
memory usage: 92.1+ MB

## Select Beats
- create list with select police beats where selected stadiums are located
- filter dataframe with those beats

In [8]:
selected_beats = ['3B10','1A10','10H30','10H50','10H60','10H80','15E40' ]

In [9]:
sel_df = df[df['Beat'].isin(selected_beats)]

In [11]:
sel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77808 entries, 3 to 1006323
Data columns (total 12 columns):
Date           77808 non-null object
Beat           77808 non-null object
BlockRange     77685 non-null object
StreetName     77808 non-null object
OffenseType    77808 non-null object
Premise        77808 non-null object
NumOffenses    77808 non-null float64
Hour           77808 non-null float64
day            77808 non-null int64
weekday        77808 non-null object
month          77808 non-null object
year           77808 non-null int64
dtypes: float64(2), int64(2), object(8)
memory usage: 7.7+ MB

## Inspect BlockRange

In [18]:
len(sel_df[sel_df.BlockRange.isnull()])

123

In [17]:
sel_df[sel_df.BlockRange.isnull()]

,Date,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
743,2007-07-01,1A10,NaN,LITTLE YORK RD,Theft,No label,1.0,10.0,1,Sunday,Jul,2007
450007,2013-06-11,1A10,NaN,HAYES,Theft,No label,1.0,11.0,11,Tuesday,Jun,2013
456821,2013-06-29,1A10,NaN,RUSK,Theft,No label,1.0,15.0,29,Saturday,Jun,2013
510402,2013-11-23,1A10,NaN,METROPOLITAN,Theft,No label,1.0,8.0,23,Saturday,Nov,2013
523954,2014-01-01,1A10,NaN,TIDWELL RD,Theft,No label,1.0,13.0,1,Wednesday,Jan,2014
561982,2014-04-21,1A10,NaN,HUNTINGTON VENTURE DR,Theft,No label,1.0,14.0,21,Monday,Apr,2014
563663,2014-04-26,1A10,NaN,JENSEN DR / SAUNDERS,Theft,No label,1.0,11.0,26,Saturday,Apr,2014
567756,2014-05-08,1A10,NaN,LOCKWOOD,Theft,No label,1.0,12.0,8,Thursday,May,2014
570691,2014-05-16,1A10,NaN,HOLLY HALL,Theft,No label,1.0,8.0,16,Friday,May,2014
570706,2014-05-16,1A10,NaN,W SAM HOUSTON PKWY OB TO SOUTH,Theft,No label,1.0,12.0,16,Friday,May,2014
573977,2014-05-26,1A10,NaN,HOMESTEAD,Theft,No label,1.0,12.0,26,Monday,May,2014
574777,2014-05-29,1A10,NaN,AIRLINE DR / WEST,Theft,No label,1.0,12.0,29,Thursday,May,2014
575451,2014-05-31,1A10,NaN,TIDWELL,Theft,No label,1.0,16.0,31,Saturday,May,2014
576433,2014-06-03,1A10,NaN,SAM HOUSTON PKWY / POST OAK RD,Theft,No label,1.0,11.0,3,Tuesday,Jun,2014
576448,2014-06-03,1A10,NaN,26TH ST / BEVIS ST,Theft,No label,1.0,17.0,3,Tuesday,Jun,2014
576478,2014-06-04,1A10,NaN,RICHMOND AVE #112,Theft,No label,1.0,14.0,4,Wednesday,Jun,2014
576493,2014-06-05,1A10,NaN,RECORD / TREMONT,Theft,No label,1.0,22.0,5,Thursday,Jun,2014
576522,2014-06-06,1A10,NaN,EL CAMINO REAL / RESEDA,Theft,No label,1.0,14.0,6,Friday,Jun,2014
576524,2014-06-07,1A10,NaN,WEAVER / LOCKWOOD DR,Theft,No label,1.0,12.0,7,Saturday,Jun,2014
576534,2014-06-07,1A10,NaN,MCKINNEY ST / BAGBY ST,Theft,No label,1.0,12.0,7,Saturday,Jun,2014
576565,2014-06-08,1A10,NaN,DEL RIO ST / DIXIE DR,Theft,No label,1.0,22.0,8,Sunday,Jun,2014
576566,2014-06-08,1A10,NaN,DEL RIO ST / DIXIE DR,Theft,No label,1.0,15.0,8,Sunday,Jun,2014
576633,2014-06-10,1A10,NaN,JENSEN,Theft,No label,1.0,13.0,10,Tuesday,Jun,2014
576706,2014-06-10,1A10,NaN,CAMDEN #2030,Theft,No label,1.0,5.0,10,Tuesday,Jun,2014
576709,2014-06-10,1A10,NaN,KATY FWY IB TO BLALOCK UTURN,Theft,No label,1.0,13.0,10,Tuesday,Jun,2014
576956,2014-06-11,1A10,NaN,MAIN ST / CAPITOL ST,Theft,No label,1.0,16.0,11,Wednesday,Jun,2014
576997,2014-06-11,1A10,NaN,CUMMINS ST,Theft,No label,1.0,19.0,11,Wednesday,Jun,2014
577018,2014-06-12,1A10,NaN,WEST LANE,Theft,No label,1.0,13.0,12,Thursday,Jun,2014
577061,2014-06-12,1A10,NaN,N LOOP E EXIT,Theft,No label,1.0,21.0,12,Thursday,Jun,2014
577220,2014-06-12,1A10,NaN,WESTPARK ENT,Theft,No label,1.0,13.0,12,Thursday,Jun,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
587080,2014-07-12,1A10,NaN,BUFFALO SPEEDWAY,Burglary,No label,1.0,13.0,12,Saturday,Jul,2014
587081,2014-07-12,1A10,NaN,FARGO,Burglary,No label,1.0,1.0,12,Saturday,Jul,2014
587190,2014-07-13,1A10,NaN,WEBSTER,Theft,No label,1.0,10.0,13,Sunday,Jul,2014
587290,2014-07-13,1A10,NaN,BAGBY,Theft,No label,1.0,8.0,13,Sunday,Jul,2014
587529,2014-07-14,1A10,NaN,SOUTHWEST FWY,Theft,No label,1.0,19.0,14,Monday,Jul,2014
587578,2014-07-14,1A10,NaN,N MAIN ST,Theft,No label,1.0,10.0,14,Monday,Jul,2014
587591,2014-07-14,1A10,NaN,BARKER CYPRESS,Theft,No label,1.0,11.0,14,Monday,Jul,2014
587660,2014-07-14,1A10,NaN,RICHMOND,Theft,No label,1.0,16.0,14,Monday,Jul,2014
587935,2014-07-15,1A10,NaN,MAIN,Theft,No label,1.0,9.0,15,Tuesday,Jul,2014
587946,2014-07-15,1A10,NaN,SAGE,Theft,No label,1.0,19.0,15,Tuesday,Jul,2014
588475,2014-07-17,1A10,NaN,AIRPORT BLVD,Theft,No label,1.0,10.0,17,Thursday,Jul,2014
588584,2014-07-17,1A10,NaN,AIRPORT,Theft,No label,1.0,10.0,17,Thursday,Jul,2014
588925,2014-07-18,1A10,NaN,LEDWICKE,Theft,No label,1.0,20.0,18,Friday,Jul,2014
589358,2014-07-19,1A10,NaN,WASHINGTON AVE,Theft,No label,1.0,6.0,19,Saturday,Jul,2014
589424,2014-07-19,1A10,NaN,SOUTHWEST FWY,Theft,No label,1.0,15.0,19,Saturday,Jul,2014
589579,2014-07-20,1A10,NaN,WASHINGTON AVE,Theft,No label,1.0,13.0,20,Sunday,Jul,2014
589674,2014-07-20,1A10,NaN,BAGBY,Theft,No label,1.0,18.0,20,Sunday,Jul,2014
589767,2014-07-20,1A10,NaN,DYNA DR,Theft,No label,1.0,0.0,20,Sunday,Jul,2014
589919,2014-07-21,1A10,NaN,GESSNER,Theft,No label,1.0,16.0,21,Monday,Jul,2014
590337,2014-07-22,1A10,NaN,DICKSON,Theft,No label,1.0,19.0,22,Tuesday,Jul,2014
590413,2014-07-22,1A10,NaN,RICHMOND,Burglary,No label,1.0,18.0,22,Tuesday,Jul,2014
590414,2014-07-22,1A10,NaN,34TH,Theft,No label,1.0,11.0,22,Tuesday,Jul,2014
590415,2014-07-22,1A10,NaN,CAMBRIDGE,Theft,No label,1.0,9.0,22,Tuesday,Jul,2014
590431,2014-07-22,1A10,NaN,AIRLINE,Theft,No label,1.0,12.0,22,Tuesday,Jul,2014
590465,2014-07-22,1A10,NaN,POST OAK,Theft,No label,1.0,9.0,22,Tuesday,Jul,2014
590506,2014-07-23,1A10,NaN,HAYES #614,Burglary,No label,1.0,22.0,23,Wednesday,Jul,2014
590841,2014-07-24,1A10,NaN,USENER,Theft,No label,1.0,7.0,24,Thursday,Jul,2014
592133,2014-07-28,1A10,NaN,STELLA LINK,Theft,No label,1.0,11.0,28,Monday,Jul,2014
592739,2014-07-29,1A10,NaN,JFK TO NBW8 UTURN,Theft,No label,1.0,21.0,29,Tuesday,Jul,2014
593283,2014-07-31,1A10,NaN,BEECHNUT,Theft,No label,1.0,22.0,31,Thursday,Jul,2014

----

# Save Final Clean Data

In [19]:
sel_df.to_csv('crime_data_clean/beats_filter_10_17.csv')