In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import glob, os
import numpy as np
import matplotlib.pyplot as plt
import datetime  as dt
import seaborn as sns

## Data directory

In [3]:
data_folder = 'merge_data'

In [4]:
# data folder path
data_directory = os.path.join('..','data','clean_data/{}/crime_clean_03.csv'.format(data_folder))
data_directory_saves = os.path.join( '..','data','clean_data','merge_data/')

In [5]:
df = pd.read_csv(data_directory)
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006227 entries, 0 to 1006226
Data columns (total 7 columns):
date                   1006227 non-null object
hour                   1006227 non-null int64
beat                   1006227 non-null object
offense_type           1006227 non-null object
premise                1006227 non-null object
num_offenses           1006227 non-null int64
full_street_address    1006227 non-null object
dtypes: int64(2), object(5)
memory usage: 53.7+ MB

In [7]:
df.head()

,date,hour,beat,offense_type,premise,num_offenses,full_street_address
0,1914-09-08,7,24C60,Burglary,restaurant,1,12750 HOUSTON PKWY
1,1914-11-02,3,18F60,Burglary,business,1,8850 BELLAIRE BLVD
2,1914-12-03,19,12D20,Auto Theft,unknown,1,12850 GULF FWY
3,1915-01-05,22,3B10,Theft,other_parking,1,3250 MANGUM RD 180
4,1915-01-14,23,5F10,Auto Theft,apartment_parking,1,7050 WESTVIEW DR

In [8]:
df.apply(lambda x: sum(x.isnull()))

date                   0
hour                   0
beat                   0
offense_type           0
premise                0
num_offenses           0
full_street_address    0
dtype: int64

In [9]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [date, hour, beat, offense_type, premise, num_offenses, full_street_address]
Index: []

## Select Beats

In [10]:
beats = ['10H10','10H30', '10H40', '10H50', '10H60','10H70', '10H80', '15E40', '1A10']

In [11]:
selected_beats = df.beat.isin(beats)

In [12]:
data = df[selected_beats]

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85578 entries, 11 to 1006224
Data columns (total 7 columns):
date                   85578 non-null object
hour                   85578 non-null int64
beat                   85578 non-null object
offense_type           85578 non-null object
premise                85578 non-null object
num_offenses           85578 non-null int64
full_street_address    85578 non-null object
dtypes: int64(2), object(5)
memory usage: 5.2+ MB

In [14]:
data.head()

,date,hour,beat,offense_type,premise,num_offenses,full_street_address
11,1916-05-23,19,10H70,Aggravated Assault,house,1,LIBERTY ROAD
19,1917-02-20,16,10H70,Theft,other_parking,1,7550 ARDMORE ST
34,1963-02-02,13,10H40,Theft,rehab_center,1,3850 MAIN ST
40,1966-01-01,0,10H50,Rape,apartment,1,3350 ALABAMA ST
47,1971-02-03,6,1A10,Theft,house,1,1250 TRAVIS

In [15]:
data.reset_index(inplace=True)
data.drop(['index'],axis=1,inplace=True)

In [16]:
data.head()

,date,hour,beat,offense_type,premise,num_offenses,full_street_address
0,1916-05-23,19,10H70,Aggravated Assault,house,1,LIBERTY ROAD
1,1917-02-20,16,10H70,Theft,other_parking,1,7550 ARDMORE ST
2,1963-02-02,13,10H40,Theft,rehab_center,1,3850 MAIN ST
3,1966-01-01,0,10H50,Rape,apartment,1,3350 ALABAMA ST
4,1971-02-03,6,1A10,Theft,house,1,1250 TRAVIS

## Beats

In [17]:
data.beat.value_counts()

15E40    16433
1A10     15451
10H70    11455
10H40    10485
10H50     8041
10H60     7717
10H80     7504
10H30     4409
10H10     4083
Name: beat, dtype: int64

## save data

In [19]:
data.to_csv(data_directory_saves+"crime_beats_04.csv")